<template>
  <div class="mx-2">
    <b-breadcrumb :items="reportPath" id="breadcrum-team"></b-breadcrumb>

    <b-card>
      <b-row class="my-2">
        <b-col lg="7" md="6" sm="12">
          <b-button
            variant="primary"
            @click="addTeamModal"
            id="team-add-button"
            v-if="actions.hasAdd"
          >Add Teams</b-button>
        </b-col>
        <b-col lg="3" sm="12" md="12">
          <b-input-group prepend="Departments">
            <b-form-select
              v-model="selectedDepartmentforFilter"
              style="z-index:0"
              id="selected-department"
            >
              <option slot="first" :value="``">All</option>
              <option
                v-for="(department,i) in departmentsData"
                :key="i"
                :value="department.name"
              >{{department.name}}</option>
            </b-form-select>
          </b-input-group>
        </b-col>
        <b-col lg="2" md="6" sm="12">
          <b-input-group prepend="Items">
            <b-form-select style="z-index:0" v-model="perPage">
              <option v-for="value in values" :key="value" :value="value">{{value}}</option>
            </b-form-select>
          </b-input-group>
        </b-col>
        <b-col lg="12" sm="10" md="10" class="d-flex my-2">
          <b-input-group>
            <b-form-input
              style="z-index:0"
              v-model="filter"
              placeholder="Search Teams"
              id="team-search"
              class="mb-2"
            ></b-form-input>
            <b-input-group-append>
              <b-button class="mb-2" :disabled="!filter" id="team-clear" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>
        <b-col lg="2" sm="4" md="3">
          <b-input-group prepend="Items" class="mb-2">
            <b-form-select style="z-index:0" v-model="perPage">
              <option v-for="value in values" :key="value" :value="value">{{value}}</option>
            </b-form-select>
          </b-input-group>
        </b-col>
        <b-col lg="3" sm="9" md="9">
          <b-input-group prepend="Departments" class="mb-2">
            <b-form-select
              v-model="selectedDepartmentforFilter"
              style="z-index:0"
              id="selected-department"
            >
              <option slot="first" :value="``">All</option>
              <option
                v-for="(department,i) in departmentsData"
                :key="i"
                :value="department.name"
              >{{department.name}}</option>
            </b-form-select>
          </b-input-group>
        </b-col>
        <b-col lg="2" md="3" sm="3" class="text-right">
          <b-button
            variant="primary"
            @click="addTeamModal"
            id="team-add-button"
            v-if="actions.hasAdd"
            style="width:145px"
            class="mb-2"
          >
            <div style="margin:auto">
              <v-icon size="15" color="#FFFFFF">fa-plus</v-icon>Add Teams
            </div>
          </b-button>
        </b-col>
      </b-row>
      <b-row>
        <b-col sm="12" md="1" lg="3"></b-col>
      </b-row>
      <div class="text-center" v-if="loadTeams.length === 0">
        <b-spinner variant="primary"></b-spinner>
      </div>
      <b-table
        v-if="loadTeams.length !== 0"
        id="team-table"
        responsive
        :filter="filter"
        :per-page="perPage"
        :current-page="currentPage"
        show-empty
        empty-text="There are no teams to display"
        :empty-filtered-text="`No search for ${filter} `"
        :items="loadTeams"
        :fields="fields"
        sort-by="name"
      >
        <template slot="name" slot-scope="row">
          <div @click="updateTeamModal(row.item)">{{row.item.name}}</div>
        </template>
        <template slot="employee" slot-scope="row">
          <div @click="updateTeamModal(row.item)">{{row.item.employee}}</div>
        </template>
        <template slot="department" slot-scope="row">
          <div @click="updateTeamModal(row.item)">{{row.item.department}}</div>
        </template>
        <template slot="status" slot-scope="row">
          <div @click="updateTeamModal(row.item)">{{row.item.status}}</div>
        </template>

        <template slot="action" slot-scope="row">
          <div @click="updateTeamModal(row.item)">
            <b-button title="Edit Team" size="sm" id="team-edit-button" class="mr-1">
              <v-icon size="15" color="#FFFFFF">fa-edit</v-icon>
            </b-button>
          </div>
        </template>
        <!-- <template slot="action" slot-scope="row">
          <b-button id="team-edit-button" size="md" @click="updateTeamModal(row.item)" class="mr-1">
            <div style="margin:auto">
              <v-icon size="15" color="#FFFFFF">fa-edit</v-icon>Edit
            </div>
          </b-button>
        </template>-->
      </b-table>
      <div>
        <b-pagination
          v-if="loadTeams.length !== 0"
          id="teams-pagination"
          align="center"
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          class="my-0"
        ></b-pagination>
      </div>
    </b-card>
    <b-modal
      no-fade
      ref="modal"
      id="team-create-modal"
      v-model="createModal"
      title="Add Team"
      :hide-footer="true"
    >
      <b-form @submit.stop.prevent="addTeam" id="team-add-form">
        <label for="team-add-select-department">Department</label>
        <b-form-select v-model="teamFields.department_id" id="team-add-select-department" required>
          <option :value="null" disabled>Select Team</option>
          <option
            v-for="(department,i) in departmentsData"
            :value="department.id"
            :key="i"
          >{{department.name}}</option>
        </b-form-select>
        <label for="team-add-input-name">Team</label>
        <b-form-input
          placeholder="Team name"
          class="my-2"
          v-model="teamFields.name"
          id="team-add-input-name"
          required
        ></b-form-input>
        <hr />
        <div align="right">
          <b-button @click="cancel()" id="team-add-cancel-modal">Cancel</b-button>
          <b-button type="submit" variant="primary" id="team-add-ok-modal">Ok</b-button>
        </div>
      </b-form>
      <v-snackbar
        color="red"
        :bottom="true"
        :right="true"
        v-model="errorMsg"
        id="team-add-error-snackbar"
      >
        <v-icon color="white" class="mr-3">mdi-error</v-icon>
        <div>{{addingError}}</div>
        <v-icon size="16" @click="errorMsg = false" id="team-error-close">mdi-close-circle</v-icon>
      </v-snackbar>
    </b-modal>
    <b-modal
      no-fade
      ref="editModal"
      v-model="editModal"
      title="Edit Team"
      id="team-edit-modal"
      :hide-footer="true"
    >
      <b-form @submit.stop.prevent="updateTeam" id="team-edit-form">
        <b-form-group for="team-edit-select-department" label="Department Name:">
          <b-form-select
            v-model="teamFields.department_id"
            required
            id="team-edit-select-department"
          >
            <option :value="null" disabled>Select Department</option>
            <option
              v-for="(department,i) in departmentsData"
              :value="department.id"
              :key="i"
            >{{department.name}}</option>
          </b-form-select>
        </b-form-group>

        <b-form-group for="team-edit-input-name" label="Team Name:">
          <b-form-input
            placeholder="Team name"
            v-model="teamFields.name"
            required
            id="team-edit-input-name"
          ></b-form-input>
        </b-form-group>

        <b-form-group label="Status:">
          <b-form-select v-model="teamFields.status" id="team-edit-select-status" required>
            <option :value="null" disabled>Select Status</option>
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
          </b-form-select>
        </b-form-group>

        <b-row>
          <b-col cols="10">
            <b-form-group for="team-edit-select-teamhead" label="Add Team Head:">
              <b-form-select id="team-edit-select-teamhead" v-model="teamFields.newHead">
                <option :value="null" disabled>Team Head</option>
                <option :value="null">None</option>
                <option
                  v-for="(employee,i) in employeesData"
                  :value="{id:employee.id, first_name:employee.first_name, last_name:employee.last_name}"
                  :key="i"
                >{{employee.first_name}} {{employee.middle_name ? employee.middle_name:""}} {{employee.last_name}}</option>
              </b-form-select>
            </b-form-group>
          </b-col>

          <b-col cols="2" class="mt-4">
            <b-button
              pill
              id="team-edit-button"
              size="sm"
              variant="primary"
              @click="AddTeamHead()"
            >Add</b-button>
          </b-col>
        </b-row>

        <b-table
          v-if="loadTeams.length !== 0"
          id="team-table"
          responsive
          :filter="filter"
          show-empty
          empty-text="There are no teams to display"
          :empty-filtered-text="`No search for ${filter} `"
          :items="teamFields.heads"
          :fields="teamheadFields"
        >
          <template slot="action" slot-scope="row2">
            <b-button
              id="team-edit-button"
              size="sm"
              @click="removeTeamhead(row2.item, row2.index)"
              class="mr-1"
            >Remove</b-button>
          </template>
        </b-table>

        <hr />
        <div align="right">
          <b-button @click="cancel()" id="team-edit-cancel-button">Cancel</b-button>
          <b-button type="submit" variant="primary" id="team-edit-ok-button">Ok</b-button>
        </div>
      </b-form>
      <v-snackbar
        color="red"
        :bottom="true"
        :right="true"
        v-model="errorMsg"
        id="team-edit-error-snackbar"
      >
        <v-icon color="white" class="mr-3">mdi-error</v-icon>
        <div>{{addingError}}</div>
        <v-icon size="16" @click="errorMsg = false" id="team-edit-error-close">mdi-close-circle</v-icon>
      </v-snackbar>
    </b-modal>
  </div>
</template>

<script>
import axios from "axios";
import { isArray } from "util";
export default {
  head() {
    return {
      titleTemplate: "%s - GatePassType",
    };
  },
  data() {
    return {
      errorMsg: false,
      perPage: 10,
      values: ["5", "10", "25", "50", "100"],
      addingError: null,
      selectedDepartmentforFilter: "",
      teamheadsData: [],
      currentPage: 1,
      totalRows: 1,
      teamsData: [],
      departmentsData: [],
      employeesData: [],
      actions: { hasAdd: false, hasEdit: false },
      teamFields: {
        id: null,
        name: null,
        department_id: null,
        employee_id: null,
        status: null,
        employee: null,
        newHead: null,
        heads: [
          {
            employee_id: null,
            team_id: null,
            first_name: null,
            last_name: null,
          },
        ],
      },
      fields: [
        {
          key: "name",
          label: "Team Name",
        },
        {
          key: "employee",
          label: "Team Head",
        },
        {
          key: "department",
          label: "Department Name",
        },
        {
          key: "status",
          label: "Status",
        },
        {
          key: "action",
          label: "Action",
        },
      ],
      teamheadFields: [
        {
          key: "employee_id",
          label: "Team Head",
        },
        {
          key: "first_name",
          label: "",
        },
        {
          key: "last_name",
          label: "",
        },
        {
          key: "action",
          label: "Action",
        },
      ],
      createModal: false,
      editModal: false,
      filter: "",

      reportPath: [
        {
          text: "Home",
          to: "/dashboard/",
        },
        {
          text: "Admin Dashboard",
          to: "/dashboard/admin-dashboard",
        },
        {
          text: "Teams",
          to: "/dashboard/admin-dashboard/teams",
          active: true,
        },
      ],
    };
  },
  created() {
    this.getTeam();
    const employeeModules = JSON.parse(localStorage.employee).modules;
    employeeModules.forEach((employeeModule) => {
      if (employeeModule.status.toLowerCase() === "active") {
        employeeModule.actions.forEach((action) => {
          if (action.status.toLowerCase() === "active") {
            if (action.description.toLowerCase() === "add team") {
              this.actions.hasAdd = true;
            } else if (action.description.toLowerCase() === "edit team") {
              this.actions.hasEdit = true;
            }
          }
        });
      }
    });

    if (!this.actions.hasEdit) {
      const actionFieldIndex = this.fields.findIndex(
        (field) => field.key === "action"
      );
      this.fields.splice(actionFieldIndex, 1);
    }
  },
  computed: {
    loadTeams() {
      const teams = this.teamsData.filter((team) => {
        const department = team.department;

        const result =
          (team.name.match(this.filter) ||
            team.name.toUpperCase().match(this.filter) ||
            team.name.toLowerCase().match(this.filter)) &&
          department.match(this.selectedDepartmentforFilter);

        return result;
      });
      this.totalRows = teams.length;

      return teams;
    },
  },
  methods: {
    displayToast(action, data) {
      this.$bvToast.toast(`${action} ${data} team`, {
        id: "toast-display-team",
        title: `Successfully ${action}`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "primary",
        toaster: "b-toaster-bottom-right",
        solid: false,
      });
    },
    displayToast2(action, data) {
      this.$bvToast.toast(`${action}`, {
        id: "toast-display-departmnet",
        title: `Warning`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "danger",
        toaster: "b-toaster-bottom-right",
        solid: false,
      });
    },
    clearFormData() {
      this.teamFields = {
        id: null,
        name: null,
        department_id: null,
        employee_id: null,
        status: null,
      };
    },
    cancel() {
      this.clearFormData();
      this.editModal = false;
      this.createModal = false;
    },

    async AddTeamHead(index) {
      const employeeData = JSON.parse(localStorage.employee);
      let duplicate = false;
      const toAdd = {
        employee_id: this.teamFields.newHead.id,
        first_name: this.teamFields.newHead.first_name,
        last_name: this.teamFields.newHead.last_name,
        team_id: this.teamFields.id,
      };

      for (let index = 0; index < this.teamheadsData.length; index++) {
        if (this.teamheadsData[index].employee_id === toAdd.employee_id) {
          duplicate = true;
          return this.displayToast2("Employee already added as Team head");
        }
      }

      if (!duplicate) {
        this.teamheadsData.push(toAdd);
      }
    },
    async removeTeamhead(item, index) {
      const employeeData = JSON.parse(localStorage.employee);
      this.teamheadsData.splice(index, 1);
    },

    addTeamModal() {
      this.clearFormData();
      this.createModal = true;
    },
    updateTeamModal(teamData) {
      let array = [];
      teamData.teamheads.map((emp) => {
        array.push({
          employee_id: emp.id,
          team_id: teamData.id,
          first_name: emp.first_name,
          last_name: emp.last_name,
        });
      });
      this.teamheadsData = array;
      this.teamFields = {
        id: teamData.id,
        name: teamData.name,
        department_id: teamData.department_id,
        employee_id: teamData.id,
        status: teamData.status,
        heads: this.teamheadsData,
      };
      this.editModal = true;
    },

    updateTeam() {
      const employeeData = JSON.parse(localStorage.employee);
      let array = [];
      this.teamheadsData.map((emp) => {
        array.push(emp.employee_id);
      });
      axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/admin/teams/update_team`,
        headers: { Authorization: "Bearer " + employeeData.token },
        data: {
          id: this.teamFields.id,
          name: this.teamFields.name,
          department_id: this.teamFields.department_id,
          employee_id: this.teamFields.employee_id,
          status: this.teamFields.status,
          updated_by: employeeData.id,
          modules: employeeData.modules,
          team_heads: this.teamheadsData,
        },
      })
        .then((res) => {
          this.getTeam();
          this.clearFormData();
          this.displayToast("Updated", res.data.name);
          this.editModal = false;
        })
        .catch((err) => {
          this.addingError = err.response.data;
          this.errorMsg = true;
        });
    },

    async getTeam(role, employee_id, token) {
      const employeeData = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/teams`,
        data: {
          employee_id: employeeData.id,
          modules: employeeData.modules,
        },

        headers: {
          authorization: "Bearer " + employeeData.token,
        },
      })
        .then((res) => {
          if (isArray(res.data.teams)) {
            this.teamsData = [];
            res.data.teams.map((team) => {
              let ths = "";
              const teamHeads = team.employees;
              for (let index = 0; index < teamHeads.length; index++) {
                if (index > 0) {
                  ths +=
                    "/ " +
                    teamHeads[index].first_name +
                    " " +
                    (teamHeads[index].middle_name
                      ? teamHeads[index].middle_name
                      : " ") +
                    " " +
                    teamHeads[index].last_name +
                    " ";
                } else {
                  ths +=
                    teamHeads[index].first_name +
                    " " +
                    (teamHeads[index].middle_name
                      ? teamHeads[index].middle_name
                      : " ") +
                    " " +
                    teamHeads[index].last_name +
                    " ";
                }
              }

              this.teamsData.push({
                id: team.id,
                name: team.name,
                employee_id: team.employee_id,
                department_id: team.department_id,
                employee: ths,
                department: team.department.name,
                status: team.status,
                teamheads: teamHeads,
              });
            });
          }

          if (isArray(res.data.departments)) {
            this.departmentsData = [];
            this.departmentsData = res.data.departments.filter(
              (department) => department.status === "Active"
            );

            function compareDept(a, b) {
              if (a.name < b.name) {
                return -1;
              }
              if (a.name > b.name) {
                return 1;
              }
              return 0;
            }
            this.departmentsData.sort(compareDept);
          }

          if (isArray(res.data.employees)) {
            this.employeesData = [];
            this.employeesData = res.data.employees.filter(
              (employee) => employee.status === "Active"
            );

            function compare(a, b) {
              if (a.first_name < b.first_name) {
                return -1;
              }
              if (a.first_name > b.first_name) {
                return 1;
              }
              return 0;
            }
            this.employeesData.sort(compare);
          }

          this.totalRows = this.teamsData.length;
        })
        .catch((err) => {});
    },
    addTeam() {
      const employeeData = JSON.parse(localStorage.employee);
      axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/teams/add_team`,
        headers: { Authorization: "Bearer " + employeeData.token },
        data: {
          name: this.teamFields.name,
          department_id: this.teamFields.department_id,
          employee_id: this.teamFields.employee_id,
          created_by: employeeData.id,
          modules: employeeData.modules,
        },
      })
        .then((res) => {
          if (typeof res.data === "object") {
            const department = this.departmentsData.find(
              (department) => department.id === res.data.department_id
            );
            let teamHead = null;
            if (res.data.employee_id) {
              teamHead = this.employeesData.find(
                (employee) => employee.id === res.data.employee_id
              );
            }

            this.teamsData.push({
              id: res.data.id,
              name: res.data.name,
              department_id: department.id,
              department: department.name,
              employee: teamHead
                ? `${teamHead.first_name} ${
                    teamHead.middle_name ? teamHead.middle_name : ""
                  } ${teamHead.last_name}`
                : null,
              status: res.data.status,
            });

            this.displayToast("Updated", res.data.name);
            this.clearFormData();

            this.createModal = false;
          }
        })
        .catch((err) => {
          this.addingError = err.response.data;
          this.errorMsg = true;
        });
    },
  },
};
</script>

<style>
.date_width {
  width: 100%;
  font-size: 1rem;
}
#team-table tbody tr:hover {
  background-color: #e9ecef;
}
</style>
