<template>
  <div>
    <TeamTable />
  </div>
</template>

<script>
import TeamTable from "@/components/AdminDashboard/Teams/TeamTable";
export default {
  middleware: "authAdmin",
  layout: "sidebar",
  components: {
    TeamTable
  }
};
</script>

<style>
</style>
