<template>
  <div class="mx-2">
    <b-breadcrumb :items="reportPath" id="breadcrumb-path"></b-breadcrumb>

    <b-card>
      <b-row class="my-2">
        <b-col lg="10" md="6" sm="12">
          <b-button
            variant="primary"
            @click="addActionModal"
            v-if="actions.hasAdd"
            id="add-action-modal"
          >Add action</b-button>
        </b-col>
        <b-col lg="2" md="6" sm="12">
          <b-input-group prepend="Items">
            <b-form-select style="z-index:0" v-model="perPage">
              <option v-for="value in values" :key="value" :value="value">{{value}}</option>
            </b-form-select>
          </b-input-group>
        </b-col>
        <b-col lg="12" sm="10" md="10" class="d-flex my-2">
          <b-input-group>
            <b-form-input
              style="z-index:0"
              v-model="filter"
              placeholder="Search"
              id="action-search"
            ></b-form-input>
            <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''" id="action-clear">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col lg="3" md="1" sm="0"></b-col>
      </b-row>

      <div class="text-center" v-if="filterActions.length === 0">
        <b-spinner label="action-spinner" variant="primary"></b-spinner>
      </div>
      <b-table
        v-if="filterActions.length !== 0"
        id="action-table"
        responsive
        :filter="filter"
        show-empty
        empty-text="There are no action to display"
        :empty-filtered-text="`No search for ${filter} `"
        :items="actionsData"
        :per-page="perPage"
        :current-page="currentPage"
        :fields="fields"
        sort-by="description"
      >
        <template slot="description" slot-scope="row">
          <div @click="updateActionModal(row.item)">{{row.item.description}}</div>
        </template>
        <template slot="module" slot-scope="row">
          <div @click="updateActionModal(row.item)">{{row.item.module}}</div>
        </template>
        <template slot="status" slot-scope="row">
          <div @click="updateActionModal(row.item)">{{row.item.status}}</div>
        </template>
        <template slot="action" slot-scope="row">
          <div @click="updateActionModal(row.item)">
            <b-button
              title="Edit Action"
              size="sm"
              @click="updateActionModal(row.item)"
              class="mr-1"
              id="action-edit-button"
            >
              <v-icon size="15" color="#FFFFFF">fa-edit</v-icon>
            </b-button>
          </div>
        </template>
      </b-table>
      <div>
        <b-pagination
          v-if="filterActions.length !== 0"
          id="schedule-pagination"
          align="center"
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          class="my-0"
        ></b-pagination>
      </div>
    </b-card>
    <b-modal
      no-fade
      ref="modal"
      v-model="createModal"
      title="Create action"
      :hide-footer="true"
      id="action-create-modal"
    >
      <b-form @submit.stop.prevent="createAction" id="action-add-form">
        <b-form-select v-model="actionFields.module_id" required id="action-select-module">
          <option :value="null" disabled>Select Module</option>
          <option
            v-for="(modules,i) in modulesData"
            :value="modules.id"
            :key="i"
            required
          >{{modules.description}}</option>
        </b-form-select>
        <b-form-input
          id="action-input-description"
          placeholder="Action Description"
          class="my-2"
          v-model="actionFields.description"
          required
        ></b-form-input>

        <hr />
        <div align="right">
          <b-button @click="cancel()" id="action-add-button-cancel">Cancel</b-button>
          <b-button type="submit" variant="primary" id="action-add-button-ok">Ok</b-button>
        </div>
      </b-form>
      <v-snackbar
        color="red"
        :bottom="true"
        :right="true"
        v-model="errorMsg"
        id="action-snackbar-add-error"
      >
        <v-icon color="white" class="mr-3">mdi-error</v-icon>
        <div>{{addingError}}</div>
        <v-icon size="16" @click="errorMsg = false">mdi-close-circle</v-icon>
      </v-snackbar>
    </b-modal>
    <b-modal
      id="action-update-modal"
      no-fade
      ref="editModal"
      v-model="editModal"
      title="Edit Action"
      :hide-footer="true"
    >
      <b-form @submit.stop.prevent="updateAction" id="action-update-form">
        <b-form-select v-model="actionFields.module_id" id="action-update-select-module" disabled>
          <option :value="null" disabled>Select Module</option>
          <option
            v-for="(modules,i) in modulesData"
            :value="modules.id"
            :key="i"
          >{{modules.description}}</option>
        </b-form-select>
        <b-form-input
          id="action-update-input-description"
          placeholder="Action Description"
          class="my-2"
          v-model="actionFields.description"
          disabled
        ></b-form-input>
        <b-form-group label="Status:">
          <b-form-select v-model="actionFields.status" required id="action-update-select-status">
            <option :value="null" disabled>Select Status</option>
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
          </b-form-select>
        </b-form-group>
        <hr />
        <div align="right">
          <b-button @click="cancel()" id="action-update-modal-cancel">Cancel</b-button>
          <b-button type="submit" variant="primary" id="action-update-modal-ok">Ok</b-button>
        </div>
      </b-form>
      <v-snackbar
        color="red"
        :bottom="true"
        :right="true"
        v-model="errorMsg"
        id="action-update-snackbar-error"
      >
        <v-icon color="white" class="mr-3">mdi-error</v-icon>
        <div>{{addingError}}</div>
        <v-icon size="16" @click="errorMsg = false">mdi-close-circle</v-icon>
      </v-snackbar>
    </b-modal>
  </div>
</template>


<script>
import axios from "axios";
import moment from "moment";
import { isArray } from "util";
export default {
  head() {
    return {
      titleTemplate: "%s - Actions",
    };
  },
  data() {
    return {
      errorMsg: false,
      addingError: null,
      modules: null,
      perPage: 10,
      currentPage: 1,
      totalRows: 1,
      values: ["5", "10", "25", "50", "100"],
      actionsData: [],
      modulesData: [],
      selectedModuleforFilter: "",
      actionFields: {
        description: null,
        id: null,
        status: null,
        module_id: null,
      },
      actions: {
        hasAdd: false,
        hasEdit: false,
      },
      fields: [
        {
          key: "description",
          label: "Action Name",
        },
        {
          key: "module",
          label: "Module Name",
        },
        {
          key: "status",
          label: "Status",
        },
        {
          key: "action",
          label: "Action",
        },
      ],
      createModal: false,
      editModal: false,
      filter: "",

      reportPath: [
        {
          text: "Home",
          to: "/dashboard/",
        },
        {
          text: "Admin Dashboard",
          to: "/dashboard/admin-dashboard",
        },
        {
          text: "Actions",
          to: "/dashboard/admin-dashboard/action",
          active: true,
        },
      ],
    };
  },
  updated() {
    this.totalRows = this.filterActions.length;
  },
  created() {
    this.getActions();
    const employeeModules = JSON.parse(localStorage.employee).modules;
    employeeModules.forEach((employeeModule) => {
      if (employeeModule.status.toLowerCase() === "active") {
        employeeModule.actions.forEach((action) => {
          if (action.status.toLowerCase() === "active") {
            if (action.description.toLowerCase() === "add action") {
              this.actions.hasAdd = true;
            } else if (action.description.toLowerCase() === "edit action") {
              this.actions.hasEdit = true;
            }
          }
        });
      }
    });

    if (!this.actions.hasEdit) {
      const actionFieldIndex = this.fields.findIndex(
        (field) => field.key === "action"
      );
      this.fields.splice(actionFieldIndex, 1);
    }
  },
  computed: {
    getModulesData() {
      this.selectedModuleforFilter = ``;
      const employeeModules = JSON.parse(localStorage.employee).modules;

      let modules = employeeModules.filter(
        (empModule) => empModule.status === "Active"
      );
      return modules;
    },
    filterActions() {
      const actions = this.actionsData.filter((action) => {
        const result =
          (action.description.toLowerCase().match(this.filter) ||
            action.description.toUpperCase().match(this.filter) ||
            action.description.match(this.filter)) &&
          action.module.match(this.selectedModuleforFilter);
        return result;
      });
      this.totalRows = actions.length;

      return actions;
    },
  },
  methods: {
    addActionModal() {
      this.clearFormData();
      this.createModal = true;
    },
    updateActionModal(actionData) {
      this.actionFields = {
        description: actionData.description,
        id: actionData.id,
        status: actionData.status,
        module_id: actionData.module_id,
      };
      this.editModal = true;
    },
    displayToast(action, data) {
      this.$bvToast.toast(`${action} ${data} `, {
        id: "toast-display-action",
        title: `Successfully ${action}`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "primary",
        toaster: "b-toaster-bottom-right",
        solid: false,
      });
    },

    clearFormData() {
      this.actionFields = {
        description: null,
        id: null,
        status: null,
        module_id: null,
      };
    },
    cancel() {
      this.clearFormData();
      this.createModal = false;
      this.editModal = false;
    },
    async getActions() {
      const employeeData = JSON.parse(localStorage.employee);
      this.modules = employeeData.modules.map((modules) => ({
        id: modules.id,
        description: modules.description,
      }));
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/actions`,
        data: {
          employee_id: employeeData.id,
          modules: employeeData.modules,
        },

        headers: {
          authorization: "Bearer " + employeeData.token,
        },
      })
        .then((res) => {
          if (isArray(res.data.actions)) {
            this.actionsData = [];
            res.data.actions.map((action) =>
              this.actionsData.push({
                ...action,
                module: action.module.description,
              })
            );
          }
          if (isArray(res.data.modules)) {
            this.modulesData = [];
            this.modulesData = res.data.modules.filter(
              (modules) => modules.status === "Active"
            );
          }

          this.totalRows = this.actionsData.length;
        })
        .catch((err) => {});
    },

    async createAction() {
      const employeeData = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/actions/add_action`,
        data: {
          description: this.actionFields.description,
          module_id: this.actionFields.module_id,
          created_by: employeeData.id,
          modules: employeeData.modules,
        },

        headers: {
          authorization: "Bearer " + employeeData.token,
        },
      })
        .then((res) => {
          if (res.status === 201) {
            const moduleDescription = this.modulesData.find(
              (moduleData) => moduleData.id === res.data.module_id
            );
            this.actionsData.push({
              ...res.data,
              module: moduleDescription.description,
            });

            this.clearFormData();
            this.displayToast("Added", res.data.description);
            this.createModal = false;
          }
        })
        .catch((err) => {
          this.addingError = err.response.data;
          this.errorMsg = true;
        });
    },
    updateAction() {
      const employeeData = JSON.parse(localStorage.employee);
      const actionRowData = this.actionsData.find(
        (action) => action.id === this.actionFields.id
      );

      axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/admin/actions/update_action`,
        headers: {
          Authorization: "Bearer " + employeeData.token,
        },
        data: {
          id: this.actionFields.id,
          description: this.actionFields.description,
          module_id: this.actionFields.module_id,
          status: this.actionFields.status,
          updated_by: employeeData.id,
          modules: employeeData.modules,
        },
      })
        .then((res) => {
          if (typeof res.data === "object") {
            const moduleDescription = this.modulesData.find(
              (modules) => modules.id === res.data.module_id
            );

            const actionIndex = this.actionsData.findIndex(
              (action) => action.id === res.data.id
            );

            this.actionsData.splice(actionIndex, 1);
            this.actionsData.push({
              ...res.data,
              module: moduleDescription.description,
            });

            this.clearFormData();
            this.displayToast("Updated", res.data.description);
            this.editModal = false;
          }
        })
        .catch((err) => {
          this.addingError = err.response.data;
          this.errorMsg = true;
        });
    },
  },
};
</script>

<style>
.date_width {
  width: 100%;
  font-size: 1rem;
}
#action-table tbody tr:hover {
  background-color: #e9ecef;
}
</style>
