<template>
  <div class="mx-2">
    <b-card>
      <b-row class="my-2">
        <b-col lg="12" md="12" sm="12" class="mb-1">
          <b-input-group>
            <b-form-input v-model="filter" placeholder="Search " id="report-search"></b-form-input>
            <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''" id="report-clear">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>
      </b-row>
      <b-table
        responsive
         
        id="personal-report-table"
        :filter="filter"
        show-empty
        :per-page="perPage"
        :current-page="currentPage"
        empty-text="There are no reports to display"
        :empty-filtered-text="`No search for ${filter} `"
        :items="gatepass"
        :fields="fields"
      ></b-table>

      <div>
        <b-pagination
          align="center"
          id="approve-pagination"
          v-model="currentPage"
          :total-rows="getTotalRows"
          :per-page="perPage"
          class="my-0"
        ></b-pagination>
      </div>
    </b-card>
  </div>
</template>

<script>
import ReportExportButton from "@/components/Reports/ReportExportButton";
import { mapGetters } from "vuex";
import moment from "moment";
import axios from "axios";
import { parse } from "path";
import { isArray } from "util";
export default {
  components: {
    ReportExportButton
  },
  props: {
    employeeProfile: {
      required: true,
      default: []
    },
    gatepass: {
      required: true,
      default: []
    }
  },
  data() {
    return {
      currentPage: 1,
      totalRows: 1,
      perPage: 5,
      filter: "",
      role: null,
      fields:[
        {
          key:"request_type",
          label:"Request Type",
          sortable:true,
        },
        {
          key:"requested_time",
          label:"Requested Time",
          sortable:true,
        },
        {
          key:"actual_time_out",
          label:"Actual Time Out",
          sortable:true,
        },
        {
          key:"actual_time_in",
          label:"Actual Time In",
          sortable:true,
        },
        {
          key:"status",
          label:"Status",
          sortable:true,
        },
        {
          key:"reason",
          label:"Reason",
          sortable:true,
        },
        {
          key:"note",
          label:"Note",
          sortable:true,
        },
      ]
    };
  },
  computed: {
    getAllActiveFields() {
      return this.fields.filter(field => field.isActive === true);
    },
    getTotalRows() {
      this.totalRows = this.gatepass.length;
      return this.totalRows;
    }
  }
};
</script>

<style>
.date_width {
  width: 100%;
  font-size: 1rem;
}
</style>
