<template>
  <div class="body-pg">
    <!-- <b-card-group deck>
      <b-card no-body class="fixed-top time" align="right">
        <h3 class="text-center font-weight-bold" style="text-transform:uppercase">{{serverTime}}</h3>
      </b-card>
      <b-card no-body class="fixed-top search" align="right">
        <b-input-group>
          <b-form-input
            id="search-employee"
            autocomplete="off"
            type="search"
            placeholder="Search Employee"
            v-model="searchNewEmployee"
            class="form-control"
          ></b-form-input>
          <b-input-group-append>
            <b-button
              :disabled="!searchNewEmployee"
              @click="searchNewEmployee = ''"
              id="search-clear"
            >Clear</b-button>
          </b-input-group-append>
        </b-input-group>
      </b-card>
    </b-card-group>-->

    <b-container>
      <b-row class>
        <b-col lg="12" md="12" sm="12" align-self="center">
          <b-input-group size="lg">
            <b-form-input
              id="search-employee"
              autocomplete="off"
              type="search"
              placeholder="Search Employee"
              v-model="searchNewEmployee"
              class="form-control-lg"
            ></b-form-input>
          </b-input-group>
        </b-col>
      </b-row>
      <div
        id="no_results"
        class="text-center display-1 mt-2 overflow-auto"
        v-show="noResults()"
      >{{emptyText}}</div>
      <b-row class v-show="filterSearchFound">
        <b-col lg="6" md="6" align-self="start">
          <h1 class="text-center mt-2">Approved Request</h1>
          <div id="approved-container">
            <b-row
              class="mt-2 justify-center"
              v-for="employee in filterApprovedGatePass"
              :key="employee.id"
              :id="employee.id"
            >
              <b-col lg="12" md="12" align-self="center">
                <b-card v-bind:style="`background-color:${employee.gate_pass_color}`">
                  <b-row>
                    <img
                      style="margin-left: 40px; width: 25%; height: 25%"
                      :src="employee.img_profile_path"
                      alt="Employee"
                      class="avatar"
                      id="employee_img"
                    />
                    <b-col lg="8" md="8" class="text-center text-stroke-md" align-self="center">
                      <b-card-title>{{employee.name}}</b-card-title>
                      <b-card-text class>{{employee.gate_pass_type}}</b-card-text>
                      <b-card-text class="title">{{employee.time}}</b-card-text>
                      <b-card-text class="title">{{employee.reason}}</b-card-text>

                      <!-- Request Type -->
                    </b-col>
                  </b-row>
                </b-card>
              </b-col>
            </b-row>
          </div>
        </b-col>
        <b-col lg="6" md="6" sm="12" align-self="start">
          <h1 class="text-center mt-2">Time In</h1>

          <div id="timeIn-container">
            <b-row
              class="mt-2 justify-center"
              v-for="(employee,i) in filterTimeInGatePass"
              :key="i"
            >
              <b-col lg="12" md="12" align-self="center">
                <b-card v-bind:style="`background-color:${employee.gate_pass_color}`">
                  <b-row>
                    <img
                      style="margin-left: 40px; width: 25%; height: 25%"
                      :src="employee.img_profile_path"
                      alt="Employee"
                      class="avatar"
                      id="employee_img"
                    />
                    <b-col lg="8" md="8" class="text-center" align-self="center">
                      <b-card-title>{{employee.name}}</b-card-title>
                      <!-- Full Name -->
                      <!-- Department -->
                      <b-card-text>{{employee.gate_pass_type}}</b-card-text>
                      <b-card-text class="title">{{employee.time}}</b-card-text>
                      <b-card-text class="title">{{employee.reason}}</b-card-text>
                      <!-- Request Type -->
                    </b-col>
                  </b-row>
                </b-card>
              </b-col>
            </b-row>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import imgUser from "@/assets/user.svg";
import axios from "axios";
import moment from "moment-timezone";
import { mapGetters } from "vuex";
import { setInterval, clearInterval } from "timers";
import { isArray } from "util";
export default {
  middleware: "authPgMonitor",
  layout: "dashboard",
  beforeDestroy() {
    clearInterval(this.monitorInterval);
    clearInterval(this.clockInterval);
  },
  data() {
    return {
      monitorInterval: null,
      imgUser: imgUser,
      listOfEmployees: [],
      listOfOutEmployees: [],
      searchEmployee: "",
      searchNewEmployee: "",
      isSearching: false,
      emptyText: "Loading...",
      emptyTimeOut: null,
      emptyTimeIn: null,
      serverTime: moment().format("hh:mm:ss A"),
      clockInterval: null,
    };
  },
  watch: {
    searchNewEmployee: function (query) {
      this.searchEmployeeGatePass();
    },
  },
  computed: {
    filterSearchFound() {
      return (
        this.listOfEmployees.filter(
          (employee) =>
            employee.name
              .toLowerCase()
              .match(this.searchNewEmployee.toLowerCase()) ||
            employee.employee_id.toString().match(this.searchNewEmployee)
        ).length ||
        this.listOfOutEmployees.filter(
          (employee) =>
            employee.name
              .toLowerCase()
              .match(this.searchNewEmployee.toLowerCase()) ||
            employee.employee_id.toString().match(this.searchNewEmployee)
        ).length
      );
    },
    filterApprovedGatePass() {
      const Employee = JSON.parse(localStorage.employee);

      return this.listOfEmployees.filter((employee) => {
        const result =
          employee.name
            .toLowerCase()
            .match(this.searchNewEmployee.toLowerCase()) ||
          employee.employee_id.toString().match(this.searchNewEmployee);
        if (!result) {
          this.emptyText = `${this.searchNewEmployee} not found`;
        }
        return result;
      });
    },
    filterTimeInGatePass() {
      console.log(this.listOfOutEmployees);
      return this.listOfOutEmployees.filter((employee) => {
        const result =
          employee.name
            .toLowerCase()
            .match(this.searchNewEmployee.toLowerCase()) ||
          employee.employee_id.toString().match(this.searchNewEmployee);
        if (!result) {
          this.emptyText = `${this.searchNewEmployee} not found`;
        }
        return result;
      });
    },
  },
  created() {
    this.emptyText = "Loading...";
    this.startMonitoring();
    this.getServerTime();
  },
  mounted() {
    this.getTimeInGatePass();

    this.clockInterval = setInterval(this.getTimeInterval, 1000);
    this.getApprovedGatePass();
  },
  methods: {
    textCollapse(type) {
      // console.log(`textCollapse(${type})`);
      let btnText, moreText, dots;

      btnText = document.getElementById("text" + type);
      moreText = document.getElementById("more" + type);
      dots = document.getElementById("dots" + type);

      if (dots.style.display === "none") {
        dots.style.display = "inline";
        btnText.innerHTML = "Read more";
        moreText.style.display = "none";
      } else {
        dots.style.display = "none";
        btnText.innerHTML = "Read less";
        moreText.style.display = "inline";
      }
    },
    sliceReason(reason, number) {
      // console.log(`sliceReason(${reason}, ${number})`);
      if (number == 0) {
        return reason.slice(0, 60);
      } else {
        return reason.slice(59, reason.length);
      }
    },
    getServerTime() {
      axios({
        method: "GET",
        url: `${this.$axios.defaults.baseURL}/securityguard/time`,
      })
        .then((response) => {
          clearInterval(this.clockInterval);
          this.serverTime = moment(response.data.time)
            .tz("Asia/Manila")
            .format("hh:mm:ss A");
          this.getTimeInterval(
            moment(response.data.time).tz("Asia/Manila").format("hh:mm:ss A")
          );

          this.clockInterval = setInterval(this.getTimeInterval, 1000);
        })
        .catch((error) => {});
    },
    getTimeInterval() {
      this.serverTime = moment(this.serverTime, "hh:mm:ss A")
        .add(1, "seconds")
        .format("hh:mm:ss A");
    },
    startMonitoring() {
      this.monitorInterval = setInterval(() => {
        if (
          this.$route.name === "monitor-employees" &&
          !this.searchNewEmployee
        ) {
          this.getApprovedGatePass();
          this.getTimeInGatePass();
        }
      }, 5000);
    },
    noResults() {
      return (
        this.listOfEmployees.filter(
          (employee) =>
            employee.name
              .toLowerCase()
              .match(this.searchNewEmployee.toLowerCase()) ||
            employee.employee_id.toString().match(this.searchNewEmployee)
        ).length === 0 &&
        this.listOfOutEmployees.filter(
          (employee) =>
            employee.name
              .toLowerCase()
              .match(this.searchNewEmployee.toLowerCase()) ||
            employee.employee_id.toString().match(this.searchNewEmployee)
        ).length === 0
      );
    },

    async getApprovedGatePass() {
      this.searchNewEmployee = "";
      const employee = JSON.parse(localStorage.employee);
      const securityAccess = employee.modules.find(
        (gatepass) => gatepass.description === "Gate Pass"
      );
      const viewApprovedAccess = securityAccess.actions.find(
        (viewApproved) => viewApproved.description === "View approved gate pass"
      );

      if (viewApprovedAccess) {
        await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/securityguard/viewApproved`,
          data: {
            employee_id: employee.id,
            modules: employee.modules,
          },
          headers: {
            authorization: "Bearer " + employee.token,
          },
        })
          .then((res) => {
            if (Array.isArray(res.data)) {
              this.listOfEmployees = [];
              res.data.forEach((emp) => {
                emp.gate_passes.forEach((gate_pass) => {
                  const exist = this.listOfEmployees.find(
                    (gatepass) => gatepass.id === gate_pass.id
                  );

                  if (!exist) {
                    this.listOfEmployees.push({
                      employee_id: gate_pass.employeeId,
                      position: emp.position,
                      img_profile_path: emp.img_profile_path
                        ? `${this.$axios.defaults.baseURL}/${emp.img_profile_path}`
                        : this.imgUser,
                      gate_pass_id: gate_pass.id,
                      name: `${emp.first_name} ${emp.last_name}`,
                      gate_pass_type: gate_pass.request_type.name,
                      gate_pass_color: gate_pass.request_type.color
                        ? gate_pass.request_type.color
                        : "white",
                      reason: gate_pass.reason,
                      time: gate_pass.request_time_in
                        ? moment(
                            `${gate_pass.request_time_out}`,
                            "h:mm a"
                          ).format("h:mm a") +
                          "-" +
                          moment(
                            `${gate_pass.request_time_in}`,
                            "h:mm a"
                          ).format("h:mm a")
                        : moment(
                            `${gate_pass.request_time_out}`,
                            "h:mm a"
                          ).format("h:mm a"),
                    });
                  }
                });
              });
            } else {
              this.emptyText = res.data;
              this.listOfEmployees = [];
            }
          })
          .catch((e) => {
            this.emptyText = "No search found";
          });
      }
    },
    async getTimeInGatePass() {
      this.searchNewEmployee = "";
      const employee = JSON.parse(localStorage.employee);
      const securityAccess = employee.modules.find(
        (gatepass) => gatepass.description === "Gate Pass"
      );
      const viewTimeIn = securityAccess.actions.find(
        (timeIn) => timeIn.description === "View time out gate pass"
      );
      if (viewTimeIn) {
        await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/securityguard/viewTimeOut`,
          data: {
            employee_id: employee.id,
            modules: employee.modules,
          },
          headers: {
            authorization: "Bearer " + employee.token,
          },
        })
          .then((res) => {
            if (Array.isArray(res.data)) {
              this.listOfOutEmployees = [];
              res.data.forEach((gate_pass) => {
                const exist = this.listOfOutEmployees.find(
                  (gatepass) => gatepass.id === gate_pass.id
                );
                if (!exist) {
                  this.listOfOutEmployees.push({
                    employee_id: gate_pass.employee_id,
                    position: gate_pass.employee.position,
                    img_profile_path: gate_pass.employee.img_profile_path
                      ? `${this.$axios.defaults.baseURL}/${gate_pass.employee.img_profile_path}`
                      : this.imgUser,
                    gate_pass_id: gate_pass.id,
                    name: `${gate_pass.employee.first_name} ${gate_pass.employee.last_name}`,
                    gate_pass_type: gate_pass.request_type.name,
                    gate_pass_color: gate_pass.request_type.color
                      ? gate_pass.request_type.color
                      : "white",
                    reason: gate_pass.reason,
                    time: gate_pass.request_time_in
                      ? moment(
                          `${gate_pass.request_time_out}`,
                          "h:mm a"
                        ).format("h:mm a") +
                        "-" +
                        moment(`${gate_pass.request_time_in}`, "h:mm a").format(
                          "h:mm a"
                        )
                      : moment(
                          `${gate_pass.request_time_out}`,
                          "h:mm a"
                        ).format("h:mm a"),
                  });
                }
              });
            } else {
              this.emptyText = res.data;
              this.listOfOutEmployees = [];
            }
          })
          .catch((e) => {
            this.emptyText = "No employees found";
          });
      }
    },

    searchEmployeeGatePass: function () {
      if (!this.searchNewEmployee) {
        this.getApprovedGatePass();
        this.getTimeInGatePass();
        this.emptyText = "Loading...";
      }
    },

    async markTimeOutGatePass(gatepass_id) {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/securityguard/gatepass/time_out`,
        data: {
          modules: employee.modules,
          id: gatepass_id,
          status: "Time Out",
          employee_id: employee.id,
          actual_time_out: moment(),
        },
        headers: {
          authorization: "Bearer " + employee.token,
        },
      })
        .then((res) => {
          this.listOfEmployees = [];
          this.getApprovedGatePass();
          this.listOfOutEmployees = [];
          this.getTimeInGatePass();
        })
        .catch((e) => {});
    },
    async markTimeInGatePass(gate_pass) {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/securityguard/gatepass/time_in`,
        data: {
          modules: employee.modules,
          id: gate_pass.gate_pass_id,
          status: "Time In",
          employee_id: employee.id,
          actual_time_in: moment(),
        },
        headers: {
          authorization: "Bearer " + employee.token,
        },
      })
        .then((res) => {
          this.listOfOutEmployees = [];
          this.getTimeInGatePass();
        })
        .catch((e) => {});
    },
  },
};
</script>

<style scoped>
.body-pg {
  background-color: white;
}
html {
  background-color: white;
}
.avatar {
  display: auto;
  width: 8rem;
  height: 8rem;

  color: #000;
  margin-left: auto;
  margin-right: auto;
}
.avatar-tile {
  border-radius: 0%;
}
.time {
  width: 17rem;
  float: right;
  margin-block-start: 5rem;
  margin-left: 1rem;
  margin-right: auto;
  background-color: #dfdfdf;
}
.search {
  width: 20rem;
  float: left;
  margin-block-start: 5rem;
  margin-left: auto;
  margin-right: 1rem;
}
b-form-input {
  line-height: 10em;
}
</style>
