<template>
  <div ref="formDisapprove">
    <b-row>
      <b-col lg="12" md="6" sm="12" class="mb-1">
        <b-input-group>
          <b-form-input
            v-model="filter"
            type="search"
            maxlength="10"
            placeholder="Type to search"
            id="search-disapproved"
          ></b-form-input>
          <b-input-group-append>
            <b-button :disabled="!filter" @click="filter = ''" id="search-clear">Clear</b-button>
          </b-input-group-append>
        </b-input-group>
      </b-col>
      <b-form-checkbox
        class="mt-2 ml-3"
        @change="selectAll"
        :disabled="getReports.length === 0"
        :checked="selectedItems.length === getReports.length && getReports.length !== 0"
      >Select All</b-form-checkbox>

      <b-col lg="3" sm="12" md="12" class="mb-1">
        <b-input-group prepend="Show">
          <b-form-select v-model="filterActive" id="selected-department">
            <option slot="first" :value="``" id="select-department">All</option>
            <optgroup label="Department" v-show="userRole === 'pg' || userRole ==='admin'">
              <option
                v-for="(department,i) in allDepartments"
                :key="i"
                :value="department"
                id="select-department"
              >{{department}}</option>
            </optgroup>

            <optgroup label="Request Type">
              <option
                v-for="(type,i) in allRequestTypes"
                :key="i"
                :value="type"
                id="request-type"
              >{{type}}</option>
            </optgroup>
          </b-form-select>
        </b-input-group>
      </b-col>
      <b-col lg="3" md="4" sm="12" class="mb-2">
        <b-input-group prepend="From">
          <b-form-input
            id="date-from"
            type="date"
            placeholder="Date From"
            v-model="dateRange.request_date_from"
            class="date_width"
          ></b-form-input>
        </b-input-group>
      </b-col>

      <b-col lg="3" md="4" sm="12" class="mb-2">
        <b-input-group prepend="To">
          <b-form-input
            id="date-to"
            type="date"
            placeholder="Date To"
            v-model="dateRange.request_date_to"
            class="date_width"
          ></b-form-input>
          <b-input-group-append>
            <b-button id="pending-set-range" variant="success" @click="setDateRange">Search</b-button>
          </b-input-group-append>
        </b-input-group>
      </b-col>

      <b-col lg="2">
        <b-input-group prepend="Items">
          <b-form-select v-model="perPage">
            <option v-for="value in values" :key="value" :value="value">{{value}}</option>
          </b-form-select>
        </b-input-group>
      </b-col>
    </b-row>
    <b-table
      id="approved-table"
      :borderless="false"
      :items="getReports"
      :fields="fields"
      selectedVariant="primary"
      :tbody-tr-class="rowClass"
      :per-page="perPage"
      :current-page="currentPage"
      :total-rows="totalRows"
      responsive
      :empty-text="`No ${filterActive ? filterActive: filter ? 'Employee Name: '+ filter + ' found':'approved requests'} found`"
      show-empty
    >
      <template v-slot:table-caption>{{ bottomLabel }}</template>
      <template slot="HEAD_index">
        <b-form-checkbox v-show="getReports.length <0" id="select-all-disappr"></b-form-checkbox>
      </template>

      <template slot="index" id="select-item" slot-scope="data">
        <b-form-checkbox name="selected-items" v-model="selectedItems" :value="data.item"></b-form-checkbox>
      </template>

      <template slot="location" id="select-item" slot-scope="data">{{getLocation(data.item)}}</template>

      <template slot="name" slot-scope="data">
        <b-link :to="`/employees/${data.value.id}`" id="employee-profile">{{data.value.name}}</b-link>
      </template>
    </b-table>

    <b-pagination
      v-if="getReports.length > 0"
      id="disapproved-pagination"
      align="center"
      v-model="currentPage"
      :total-rows="totalRows"
      :per-page="perPage"
      aria-controls="my-table"
    ></b-pagination>
    <div>
      <b-row v-show="selectedItems.length > 0">
        <b-button id="disapprove-button-approve" class="ml-3 mr-3" @click="editModal">Disapprove</b-button>
      </b-row>
    </div>

    <b-modal id="status-approve-modal" ref="edit-modal" centered @ok="changeStatus">
      <div class="d-block">
        <h3
          class="text-center"
        >Are you sure you want to disapprove {{selectedItems.length}} requests?</h3>

        <div class="form-group" id="form-group-reason">
          <label id="reason-label">Reason</label>
          <input
            type="textarea"
            name="reason-disapprove"
            id="reason-disapproved"
            class="form-control"
            rows="3"
            v-model="reason"
            placeholder="Enter valid reason...."
            required
          />
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import { isArray } from "util";
import { mapGetters } from "vuex";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";

export default {
  beforeDestroy() {
    this.$store.commit("requests/CLEAR_REQUESTS");
  },
  beforeCreate() {
    this.$store.commit("requests/CLEAR_REQUESTS");
    this.$store.dispatch("requests/FETCH_APPROVED_REQUESTS", {
      dateFrom: moment().format("YYYY-MM-DD"),
      dateTo: moment().format("YYYY-MM-DD"),
    });
  },
  data() {
    return {
      values: ["5", "10", "25", "50", "100"],
      userRole: null,
      reason: null,
      dateRange: {
        request_date_from: moment().format("YYYY-MM-DD"),
        request_date_to: moment().format("YYYY-MM-DD"),
      },
      filter: "",
      selectedItems: [],
      totalRows: 1,
      requests: [],
      fields: [
        {
          key: "index",
          label: "",
        },
        {
          key: "name",
          label: "Name",
          sortable: true,
          sortDirection: "desc",
          sortable: true,
        },
        {
          key: "request_type",
          label: "Request Type",
          sortable: true,
        },
        {
          key: "reason",
          label: "Reason",
          sortable: true,
        },
        {
          key: "time",
          label: "Time",
          sortable: true,
        },
        {
          key: "date",
          label: "Date",
          sortable: true,
        },
        {
          key: "approved_by",
          label: "Approved by",
          sortable: true,
        },
        {
          key: "team",
          label: "Team",
          sortable: true,
        },
        {
          key: "department",
          label: "Department",
          sortable: true,
        },
        {
          key: "location",
          label: "Location",
          sortable: true,
        },
      ],
      requestTypes: [],
      perPage: 5,

      currentPage: 1,
      departments: [],
      filterActive: "",
    };
  },

  computed: {
    ...mapGetters({
      approvedLists: "requests/getApprovedLists",
      allDepartments: "requests/getAllDepartments",
      allRequestTypes: "requests/getAllRequestTypes",
    }),
    getReports() {
      return this.approvedLists.filter((employee) => {
        const name = employee.name.name;
        const results =
          (employee.department
            .toLowerCase()
            .match(this.filterActive.toLowerCase()) ||
            employee.request_type
              .toLowerCase()
              .match(this.filterActive.toLowerCase())) &&
          (name.toLowerCase().match(this.filter) ||
            name.toUpperCase().match(this.filter) ||
            name.match(this.filter));

        return results;
      });
    },
    bottomLabel() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.getReports.length) {
        end = this.getReports.length;
      }

      if (this.getReports.length === 0) {
        start = 0;
      }

      return `Showing ${start} to ${end} of ${this.getReports.length} entries`;
    },
  },
  created() {
    this.totalRows = this.getReports.length;
    const employee = JSON.parse(localStorage.employee);
    this.userRole = employee.roleParam;
    if (employee.roleParam === "dh" || employee.roleParam === "th") {
      const deptIndex = this.fields.findIndex(
        (data) => data.key === "department"
      );
      this.fields.splice(deptIndex, 1);
    }
  },
  updated() {
    this.totalRows = this.getReports.length;
  },
  methods: {
    getLocation(item) {
      try {
        if (item.name.is_offsite) {
          return "OFF-SITE";
        } else {
          return "ON-SITE";
        }
      } catch (error) {
        console.log(error);
        return "";
      }
    },
    async setDateRange() {
      let loader = this.$loading.show({
        // Pass props by their camelCased names
        container: this.$refs.formDisapprove,

        color: "#0052cc",
        loader: "spinner",
        width: 128,
        height: 128,
        backgroundColor: "#ffffff",
        opacity: 0.5,
        zIndex: 999,
      });
      await this.$store
        .dispatch("requests/FETCH_APPROVED_REQUESTS", {
          dateFrom: this.dateRange.request_date_from,
          dateTo: this.dateRange.request_date_to,
        })
        .then((res) => {
          loader.hide();
        })
        .catch((err) => {
          loader.hide();
        });
      this.totalRows = this.getReports.length;
    },

    async changeStatus() {
      let loader = this.$loading.show({
        // Pass props by their camelCased names
        container: this.$refs.formDisapprove,

        color: "#0052cc",
        loader: "spinner",
        width: 128,
        height: 128,
        backgroundColor: "#ffffff",
        opacity: 0.5,
        zIndex: 999,
      });
      const employee = JSON.parse(localStorage.employee);
      this.selectedItems.forEach((items) => {
        axios({
          method: "PUT",
          url: `${this.$axios.defaults.baseURL}/gatepass/requests/validate_request/disapprove`,
          data: {
            employee_id: employee.id,
            role: employee.role,
            modules: employee.modules,
            id: items.id,
            note: this.reason,
            status: "Disapproved",
          },
          headers: {
            authorization: "Bearer " + employee.token,
          },
        }).then((e) => {
          loader.hide();
          this.requests = [];
          this.reason = null;
          this.selectedItems = [];
          this.refreshRequestActions();
        });
      });
    },
    refreshRequestActions() {
      this.$store.dispatch("requests/FETCH_PENDING_REQUESTS", {
        dateFrom: moment().format("YYYY-MM-DD"),
        dateTo: moment().format("YYYY-MM-DD"),
      });
      this.$store.dispatch("requests/FETCH_APPROVED_REQUESTS", {
        dateFrom: moment().format("YYYY-MM-DD"),
        dateTo: moment().format("YYYY-MM-DD"),
      });
      this.$store.dispatch("requests/FETCH_DISAPPROVED_REQUESTS", {
        dateFrom: moment().format("YYYY-MM-DD"),
        dateTo: moment().format("YYYY-MM-DD"),
      });
    },
    selectAll() {
      if (this.selectedItems.length === this.getReports.length) {
        this.selectedItems = [];
      } else {
        this.selectedItems = this.getReports.slice();
      }
    },
    editModal() {
      this.$refs["edit-modal"].show();
    },
    showEditModal() {
      this.$refs["status-approve-modal"].show();
    },
    rowClass(item, type) {
      return this.selectedItems.indexOf(item) > -1 ? "table-primary" : "";
    },
  },
};
</script>

<style>
</style>
