<template>
  <!-- TODO: Refactor to SFC(Single File Components) -->

  <div class="mr-2 ml-2" id="requests-view">
    <div>
      <b-card id="card-search" class="mb-3 sticky-top">
        <!-- <RequestHeader /> -->

        <b-row>
          <b-col lg="10" md="6" sm="12" class="mb-3">
            <b-input-group>
              <b-form-input
                maxlength="100"
                type="search"
                v-model="filter"
                placeholder="Search Requests"
                id="search-pending"
              ></b-form-input>
              <b-input-group-append>
                <b-button :disabled="!filter" @click="filter = ''" id="search-clear">Clear</b-button>
              </b-input-group-append>
            </b-input-group>
          </b-col>

          <b-col lg="2" md="6" sm="12">
            <b-input-group prepend="Items">
              <b-form-select v-model="perPage">
                <option v-for="value in values" :key="value" :value="value">{{value}}</option>
              </b-form-select>
            </b-input-group>
          </b-col>

          <b-col lg="3" sm="12" md="12" class="mb-1">
            <b-input-group prepend="Show">
              <b-form-select v-model="filterActive" id="selected-department">
                <option slot="first" :value="``" id="select-department">All</option>
                <optgroup label="Department" v-show="userRole === 'pg' || userRole ==='admin'">
                  <option
                    v-for="(department,i) in allDepartments"
                    :key="i"
                    :value="department"
                    id="select-department"
                  >{{department}}</option>
                </optgroup>

                <optgroup label="Request Type">
                  <option
                    v-for="(type,i) in allRequestTypes"
                    :key="i"
                    :value="type"
                    id="request-type"
                  >{{type}}</option>
                </optgroup>
              </b-form-select>
            </b-input-group>
          </b-col>

          <b-col lg="3" sm="12" md="12" class="mb-1">
            <b-input-group prepend="Filter">
              <b-form-select v-model="filterDeductions" id="selected-deduction">
                <option :value="``" id="select-deduction">All</option>
                <option value="withdeduction" id="with-deduction">With Deductions</option>
                <option value="withoutdeduction" id="without-deductions">Without Deductions</option>
              </b-form-select>
            </b-input-group>
          </b-col>

          <b-col lg="3" md="4" sm="12" class="mb-2">
            <b-input-group prepend="From">
              <b-form-input
                id="date-from"
                type="date"
                placeholder="Date From"
                v-model="dateRange.request_date_from"
                class="date_width"
              ></b-form-input>
            </b-input-group>
          </b-col>

          <b-col lg="3" md="4" sm="12" class="mb-2">
            <b-input-group prepend="To">
              <b-form-input
                id="date-to"
                type="date"
                placeholder="Date To"
                v-model="dateRange.request_date_to"
                class="date_width"
              ></b-form-input>
              <b-input-group-append>
                <b-button id="pending-set-range" variant="success" @click="setDateRange">Search</b-button>
              </b-input-group-append>
            </b-input-group>
          </b-col>
        </b-row>
        <hr />

        <!-- Pending -->

        <b-modal id="modal-approve-requests" ref="approve-modal" @ok="approveRequest" centered>
          <div class="d-block text-center">
            <h3>Are you sure you want to approve {{selectedRows()}} requests?</h3>
          </div>
        </b-modal>
        <b-modal
          id="modal-disapprove-requests"
          ref="disapprove-modal"
          centered
          @ok="disapproveRequest"
        >
          <div class="d-block">
            <h3 class="text-center">Are you sure you want to disapprove {{selectedRows()}} requests?</h3>

            <div class="form-group" id="form-group-reason">
              <label id="reason-label">Reason</label>
              <input
                type="textarea"
                name="reason-disapprove"
                id="reason-disapproved"
                class="form-control"
                rows="3"
                v-model="reason"
                placeholder="Enter valid reason...."
                required
              />
            </div>
          </div>
        </b-modal>

        <b-row>
          <b-col cols="4">
            <b-row>
              <b-col cols="5">
                <b-row>
                  <b-form-checkbox
                    id="pending-checkbox-all"
                    class="mt-1 ml-3 mr-3"
                    @change="selectAllPending"
                    :disabled="getPending.length === 0"
                    :checked="selectedPendingRows() === getPending.length && getPending.length !== 0"
                  >All</b-form-checkbox>
                  <h5 style="margin-top:3px">
                    Pending
                    <small>
                      <b-badge
                        pill
                        variant="primary"
                        v-if="selectedPendingRows() != 0"
                      >{{selectedPendingRows()}}</b-badge>
                    </small>
                  </h5>
                </b-row>
              </b-col>

              <b-col cols="7" class="mt-1">
                <small>
                  <div v-show="selectedPendingRows() > 0">
                    <b-button
                      variant="primary"
                      class="ml-5"
                      @click="approveModal"
                      size="sm"
                      id="pending-approve-request"
                      style="padding-left:15px;padding-right:15px;font-size: 11px;"
                    >Approve</b-button>

                    <b-button
                      variant="secondary"
                      @click="disapproveModal"
                      id="pending-disapprove-request"
                      size="sm"
                      style="font-size: 11px;"
                    >Disapprove</b-button>
                  </div>
                </small>
              </b-col>
            </b-row>
          </b-col>

          <!-- End of Pending -->

          <!-- Approve -->

          <b-col cols="4">
            <b-row>
              <b-col cols="5">
                <b-row>
                  <b-form-checkbox
                    id="approve-checkbox-all"
                    class="mt-1 ml-4 mr-3"
                    :disabled="getApprove.length === 0"
                    @change="selectAllApprove"
                    :checked="selectedApprove.length !== 0"
                  >All</b-form-checkbox>
                  <h5 style="margin-top:3px">
                    Approve
                    <small>
                      <b-badge
                        pill
                        variant="primary"
                        v-if="selectedApproveRows() != 0"
                      >{{selectedApproveRows()}}</b-badge>
                    </small>
                  </h5>
                </b-row>
              </b-col>

              <b-col cols="7" class="mt-1">
                <small>
                  <div v-show="selectedApproveRows() > 0">
                    <div>
                      <b-button
                        variant="secondary"
                        @click="disapproveModal"
                        id="pending-disapprove-request"
                        class="mr-3"
                        size="sm"
                        style="font-size: 11px;float:right"
                      >Disapprove</b-button>
                    </div>
                  </div>
                </small>
              </b-col>
            </b-row>
          </b-col>

          <!-- End of Approve -->

          <!-- Disapprove -->

          <b-col cols="4">
            <b-row>
              <b-col cols="6">
                <b-row>
                  <b-form-checkbox
                    id="Disapprove-checkbox-all"
                    class="mt-1 ml-4 mr-3"
                    :disabled="getDisapprove.length === 0"
                    @change="selectAllDisapprove"
                    :checked="selectedDisapprove.length !== 0"
                  >All</b-form-checkbox>
                  <h5 style="margin-top:3px">
                    Disapprove
                    <small>
                      <b-badge
                        pill
                        variant="primary"
                        v-if="selectedDisapproveRows() != 0"
                      >{{selectedDisapproveRows()}}</b-badge>
                    </small>
                  </h5>
                </b-row>
              </b-col>

              <b-col cols="6" class="mt-1">
                <small>
                  <div v-show="selectedDisapproveRows() > 0">
                    <div>
                      <b-button
                        variant="primary"
                        @click="approveModal"
                        size="sm"
                        id="pending-approve-request"
                        style="padding-left:15px;padding-right:15px;font-size: 11px;float:right"
                      >Approve</b-button>
                    </div>
                  </div>
                </small>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
      </b-card>

      <!-- End of Disapprove -->

      <!-- Pending Table -->

      <b-row>
        <b-col md="4">
          <b-card @click="clear('Pending')">
            <b-table
              ref="pendingTable"
              id="pending-table"
              :filter="filter"
              selectable
              :borderless="false"
              :fields="fields"
              :items="getPending"
              selectedVariant="primary"
              :tbody-tr-class="rowClass"
              :per-page="perPage"
              :current-page="currentPagePending"
              :total-rows="totalPendingRows"
              hover
              @row-selected="onRowPendingSelected"
              :empty-text="`No ${filterActive ? filterActive: filter ? 'Employee Name: '+ filter + ' found':'approved requests'} found`"
              show-empty
              thead-class="d-none"
            >
              <template slot="name" id="select-item" slot-scope="data">
                <b-row>
                  <b-col cols="2">
                    <h6>&nbsp;</h6>
                    <img
                      :src="getEmpImage(data.item.name.profile)"
                      alt
                      width="50"
                      height="50"
                      class="rounded-circle"
                    />
                  </b-col>
                  <b-col cols="6">
                    <h6
                      name="Name"
                      :value="data.item.name.name"
                      class="mb-1"
                    >{{data.item.name.name}}</h6>
                    <small
                      name="Position"
                      :value="data.item.name.position"
                    >{{data.item.name.position}}</small>
                    <br />
                    <small name="Time" :value="data.item.time">{{data.item.time}}</small>
                    <br />
                    <small name="Date" :value="data.item.date">{{data.item.date}}</small>
                  </b-col>

                  <b-col cols="4" class="text-right">
                    <b-row align-h="end">
                      <h5
                        v-if="data.item.request_type == 'Lunch Out' && data.item.name.payroll_group != 'manager_payroll'"
                      >
                        <b-badge
                          variant="secondary"
                          style="font-size:11px"
                        >{{data.item.request_type}}</b-badge>
                      </h5>
                      <h5
                        v-if="data.item.request_type == 'Lunch Out' && data.item.name.payroll_group == 'manager_payroll'"
                        title="With Deductions"
                      >
                        <b-badge variant="success" style="font-size:11px">{{data.item.request_type}}</b-badge>
                      </h5>
                      <h5
                        v-else-if="data.item.request_type == 'Personal Out'"
                        title="With Deductions"
                      >
                        <b-badge variant="success" style="font-size:11px">{{data.item.request_type}}</b-badge>
                      </h5>
                      <h5 v-else-if="data.item.request_type == 'Half Day'">
                        <b-badge
                          variant="secondary"
                          style="font-size:11px"
                        >{{data.item.request_type}}</b-badge>
                      </h5>
                      <h5 v-else-if="data.item.request_type == 'Official Business'">
                        <b-badge
                          variant="secondary"
                          style="font-size:11px"
                        >{{data.item.request_type}}</b-badge>
                      </h5>
                      <h5 v-else-if="data.item.request_type == 'Undertime'">
                        <b-badge
                          variant="secondary"
                          style="font-size:11px"
                        >{{data.item.request_type}}</b-badge>
                      </h5>
                    </b-row>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col cols="2">
                    <h6>&nbsp;</h6>
                  </b-col>
                  <b-col cols="10" v-if="data.item.reason.length > 40">
                    <small>
                      Reason:
                      {{sliceReason(data.item.reason, 0)}}
                      <span
                        v-bind:id="'dots'+data.item.name.id"
                      >...</span>
                      <span
                        v-bind:id="'more'+data.item.name.id"
                        class="reason"
                      >{{sliceReason(data.item.reason, 1)}}</span>
                    </small>
                    <h6>
                      <b-link
                        @click="textCollapse(data.item.name.id)"
                        v-bind:id="'text'+data.item.name.id"
                        style="font-size:11px"
                      >Read More</b-link>
                    </h6>
                  </b-col>
                  <b-col cols="10" v-else>
                    <small>Reason: {{data.item.reason}}</small>
                  </b-col>
                </b-row>
                <b-row
                  align-h="end"
                  class="text-right"
                  v-if="data.item.preapproved_by != '' && data.item.preapproved_by"
                >
                  <b-col cols="11">
                    <b-row align-h="end">
                      <small>{{data.item.preapproved_by}}</small>
                    </b-row>
                    <b-row align-h="end">
                      <small style="font-size: 8px;">
                        <strong>PRE-APPROVED</strong>
                      </small>
                    </b-row>
                  </b-col>
                  <b-col cols="0" class="ml-1">
                    <v-icon color="#FFD500" small>fa-minus-circle</v-icon>
                  </b-col>
                </b-row>
              </template>
            </b-table>
          </b-card>
        </b-col>

        <!------------------------------------------------------------------------ End of Pending Table --------------------------------------------------------------------------------------------- -->

        <!-- Approve Table -->

        <b-col md="4">
          <b-card @click="clear('Approve')">
            <b-table
              ref="approveTable"
              id="approve-table"
              :filter="filter"
              selectable
              :borderless="false"
              :fields="fields"
              :items="getApprove"
              selectedVariant="primary"
              :tbody-tr-class="rowClass"
              :per-page="perPage"
              :current-page="currentPageApprove"
              :total-rows="totalApproveRows"
              hover
              @row-selected="onRowApproveSelected"
              :empty-text="`No ${filterActive ? filterActive: filter ? 'Employee Name: '+ filter + ' found':'approved requests'} found`"
              show-empty
              thead-class="d-none"
            >
              <template slot="name" id="select-item" slot-scope="data">
                <div>
                  <b-row>
                    <b-col cols="2">
                      <h6>&nbsp;</h6>
                      <img
                        :src="getEmpImage(data.item.name.profile)"
                        alt
                        width="50"
                        height="50"
                        class="rounded-circle"
                      />
                    </b-col>

                    <b-col cols="6">
                      <h6
                        name="Name"
                        :value="data.item.name.name"
                        class="mb-1"
                      >{{data.item.name.name}}</h6>
                      <small
                        name="Position"
                        :value="data.item.name.position"
                      >{{data.item.name.position}}</small>
                      <br />
                      <small name="Time" :value="data.item.time">{{data.item.time}}</small>
                      <br />
                      <small name="Date" :value="data.item.date">{{data.item.date}}</small>
                    </b-col>

                    <b-col cols="4" class="text-right">
                      <b-row align-h="end">
                        <h5
                          v-if="data.item.request_type == 'Lunch Out' && data.item.name.payroll_group != 'manager_payroll'"
                        >
                          <b-badge
                            variant="secondary"
                            style="font-size:11px"
                          >{{data.item.request_type}}</b-badge>
                        </h5>
                        <h5
                          v-if="data.item.request_type == 'Lunch Out' && data.item.name.payroll_group == 'manager_payroll'"
                          title="With Deductions"
                        >
                          <b-badge
                            variant="success"
                            style="font-size:11px"
                          >{{data.item.request_type}}</b-badge>
                        </h5>
                        <h5
                          v-else-if="data.item.request_type == 'Personal Out'"
                          title="With Deductions"
                        >
                          <b-badge
                            variant="success"
                            style="font-size:11px"
                          >{{data.item.request_type}}</b-badge>
                        </h5>
                        <h5 v-else-if="data.item.request_type == 'Half Day'">
                          <b-badge
                            variant="secondary"
                            style="font-size:11px"
                          >{{data.item.request_type}}</b-badge>
                        </h5>
                        <h5 v-else-if="data.item.request_type == 'Official Business'">
                          <b-badge
                            variant="secondary"
                            style="font-size:11px"
                          >{{data.item.request_type}}</b-badge>
                        </h5>
                        <h5 v-else-if="data.item.request_type == 'Undertime'">
                          <b-badge
                            variant="secondary"
                            style="font-size:11px"
                          >{{data.item.request_type}}</b-badge>
                        </h5>
                      </b-row>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col cols="2">
                      <h6>&nbsp;</h6>
                    </b-col>
                    <b-col cols="10" v-if="data.item.reason.length > 40">
                      <small>
                        Reason:
                        {{sliceReason(data.item.reason, 0)}}
                        <span
                          v-bind:id="'dots'+data.item.name.id"
                        >...</span>
                        <span
                          v-bind:id="'more'+data.item.name.id"
                          class="reason"
                        >{{sliceReason(data.item.reason, 1)}}</span>
                      </small>
                      <h6>
                        <b-link
                          @click="textCollapse(data.item.name.id)"
                          v-bind:id="'text'+data.item.name.id"
                          style="font-size:11px"
                        >Read More</b-link>
                      </h6>
                    </b-col>
                    <b-col cols="10" v-else>
                      <small>Reason: {{data.item.reason}}</small>
                    </b-col>
                  </b-row>
                  <b-row align-h="end" class="text-right" v-if="data.item.approved_by != ''">
                    <b-col cols="11">
                      <b-row align-h="end">
                        <small>{{data.item.approved_by}}</small>
                      </b-row>
                      <b-row align-h="end">
                        <small style="font-size: 8px;">
                          <strong>APPROVED</strong>
                        </small>
                      </b-row>
                    </b-col>
                    <b-col cols="0" class="ml-1">
                      <v-icon color="green" small>fa-check-circle</v-icon>
                    </b-col>
                  </b-row>
                </div>
              </template>
            </b-table>
          </b-card>
        </b-col>

        <!-- End of Approve Table -->

        <!-- Disapprove Table -->

        <b-col md="4">
          <b-card @click="clear('Disapprove')">
            <b-table
              ref="disapproveTable"
              id="disapprove-table"
              :filter="filter"
              selectable
              :borderless="false"
              :fields="fields"
              :items="getDisapprove"
              selectedVariant="primary"
              :tbody-tr-class="rowClass"
              :per-page="perPage"
              :current-page="currentPageDisapprove"
              :total-rows="totalDisapproveRows"
              hover
              @row-selected="onRowDisapproveSelected"
              :empty-text="`No ${filterActive ? filterActive: filter ? 'Employee Name: '+ filter + ' found':'approved requests'} found`"
              show-empty
              thead-class="d-none"
            >
              <template slot="index" id="select-item" slot-scope="data">
                <b-form-checkbox
                  name="selected-items"
                  v-model="selectedDisapprove"
                  :value="data.item"
                ></b-form-checkbox>
              </template>

              <template slot="name" id="select-item" slot-scope="data">
                <div>
                  <b-row>
                    <b-col cols="2">
                      <h6>&nbsp;</h6>
                      <img
                        :src="getEmpImage(data.item.name.profile)"
                        alt
                        width="50"
                        height="50"
                        class="rounded-circle"
                      />
                    </b-col>

                    <b-col cols="6">
                      <h6
                        name="Name"
                        :value="data.item.name.name"
                        class="mb-1"
                      >{{data.item.name.name}}</h6>
                      <small
                        name="Position"
                        :value="data.item.name.position"
                      >{{data.item.name.position}}</small>
                      <br />
                      <small name="Time" :value="data.item.time">{{data.item.time}}</small>
                      <br />
                      <small name="Date" :value="data.item.date">{{data.item.date}}</small>
                    </b-col>

                    <b-col cols="4">
                      <b-row class="mr-1" align-h="end">
                        <h5
                          v-if="data.item.request_type == 'Lunch Out' && data.item.name.payroll_group != 'manager_payroll'"
                        >
                          <b-badge
                            variant="secondary"
                            style="font-size:11px"
                          >{{data.item.request_type}}</b-badge>
                        </h5>
                        <h5
                          v-if="data.item.request_type == 'Lunch Out' && data.item.name.payroll_group == 'manager_payroll'"
                          title="With Deductions"
                        >
                          <b-badge
                            variant="success"
                            style="font-size:11px"
                          >{{data.item.request_type}}</b-badge>
                        </h5>
                        <h5
                          v-else-if="data.item.request_type == 'Personal Out'"
                          title="With Deductions"
                        >
                          <b-badge
                            variant="success"
                            style="font-size:11px"
                          >{{data.item.request_type}}</b-badge>
                        </h5>
                        <h5 v-else-if="data.item.request_type == 'Half Day'">
                          <b-badge
                            variant="secondary"
                            style="font-size:11px"
                          >{{data.item.request_type}}</b-badge>
                        </h5>
                        <h5 v-else-if="data.item.request_type == 'Official Business'">
                          <b-badge
                            variant="secondary"
                            style="font-size:11px"
                          >{{data.item.request_type}}</b-badge>
                        </h5>
                        <h5 v-else-if="data.item.request_type == 'Undertime'">
                          <b-badge
                            variant="secondary"
                            style="font-size:11px"
                          >{{data.item.request_type}}</b-badge>
                        </h5>
                      </b-row>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col cols="2">
                      <h6>&nbsp;</h6>
                    </b-col>
                    <b-col cols="10" v-if="data.item.reason.length > 40">
                      <small>
                        Reason:
                        {{sliceReason(data.item.reason, 0)}}
                        <span
                          v-bind:id="'dots'+data.item.name.id"
                        >...</span>
                        <span
                          v-bind:id="'more'+data.item.name.id"
                          class="reason"
                        >{{sliceReason(data.item.reason, 1)}}</span>
                      </small>
                      <h6>
                        <b-link
                          @click="textCollapse(data.item.name.id)"
                          v-bind:id="'text'+data.item.name.id"
                          style="font-size:11px"
                        >Read More</b-link>
                      </h6>
                    </b-col>
                    <b-col cols="10" v-else>
                      <small>Reason: {{data.item.reason}}</small>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col cols="2">
                      <h6>&nbsp;</h6>
                    </b-col>
                    <b-col cols="10" v-if="data.item.note.length > 40">
                      <small>
                        Remarks:
                        {{sliceReason(data.item.note, 0)}}
                        <span
                          v-bind:id="'dots'+data.item.name.id+'remarks'"
                        >...</span>
                        <span
                          v-bind:id="'more'+data.item.name.id+'remarks'"
                          class="reason"
                        >{{sliceReason(data.item.note, 1)}}</span>
                      </small>
                      <h6>
                        <b-link
                          @click="textCollapse(data.item.name.id+'remarks')"
                          v-bind:id="'text'+data.item.name.id+'remarks'"
                          style="font-size:11px"
                        >Read More</b-link>
                      </h6>
                    </b-col>
                    <b-col cols="10" v-else>
                      <small>Remarks: {{data.item.note}}</small>
                    </b-col>
                  </b-row>
                  <b-row class="mr-1" align-h="end" v-if="data.item.disapproved_by != ''">
                    <b-col cols="11">
                      <b-row align-h="end">
                        <small>{{data.item.disapproved_by}}</small>
                      </b-row>
                      <b-row align-h="end">
                        <small style="font-size: 8px;">
                          <strong>DISAPPROVED</strong>
                        </small>
                      </b-row>
                    </b-col>
                    <b-col cols="1">
                      <v-icon color="red" small>fa-times-circle</v-icon>
                    </b-col>
                  </b-row>
                </div>
              </template>
            </b-table>
          </b-card>
        </b-col>

        <!-- End of Disapprove Table -->
      </b-row>
    </div>
    <div class="fixed-bottom" style="background-color: white; border-top: 1px solid #DFDFDF;">
      <b-row class="mt-1 mb-1">
        <b-col cols="4" style="border-right: 1px solid #DFDFDF;">
          <b-pagination
            size="sm"
            v-if="getPending.length !== 0"
            id="pendingTable-pagination"
            align="center"
            v-model="currentPagePending"
            :total-rows="totalPendingRows"
            :per-page="perPage"
            class="my-0 sticky-footer"
          ></b-pagination>
        </b-col>
        <b-col cols="4" style="border-right: 1px solid #DFDFDF;">
          <b-pagination
            size="sm"
            v-if="getApprove.length !== 0"
            id="pendingTable-pagination"
            align="center"
            v-model="currentPageApprove"
            :total-rows="totalApproveRows"
            :per-page="perPage"
            class="my-0 sticky-footer"
          ></b-pagination>
        </b-col>
        <b-col cols="4">
          <b-pagination
            size="sm"
            v-if="getDisapprove.length !== 0"
            id="pendingTable-pagination"
            align="center"
            v-model="currentPageDisapprove"
            :total-rows="totalDisapproveRows"
            :per-page="perPage"
            class="my-0 sticky-footer"
          ></b-pagination>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import { mapGetters } from "vuex";
import { setInterval, clearInterval } from "timers";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
export default {
  data() {
    return {
      values: ["5", "10", "25", "50", "100"],
      userRole: null,
      pendingInterval: null,
      reason: "",
      pendingStatus: false,
      totalPendingRows: 1,
      totalApproveRows: 1,
      totalDisapproveRows: 1,
      perPage: 5,
      currentRowIndex: -1,
      currentPagePending: 1,
      currentPageApprove: 1,
      currentPageDisapprove: 1,
      dateRange: {
        request_date_from: moment().format("YYYY-MM-DD"),
        request_date_to: moment().format("YYYY-MM-DD")
      },
      sortDesc: false,
      filter: "",
      requests: [],
      departments: [],
      requestTypes: [],
      filterActive: "",
      filterDeductions: "",
      tabIndex: 0,
      currentItem: "tab-Pending",
      tabReports: ["Pending", "Approved", "Disapproved"],
      tabPendingReports: ["Without Deductions", "With Deductions"],
      filter: "",
      test: [],
      selectedPending: [],
      selectedApprove: [],
      selectedDisapprove: [],
      selectedItems: [],
      employees: [],
      fields: [
        {
          key: "name",
          label: ""
        },
        {
          key: "action",
          label: ""
        }
      ]
    };
  },

  computed: {
    ...mapGetters({
      pendingLists: "requests/getPendingLists",
      pendingListsWD: "requests/getPendingWithDeductionsLists",
      approvedLists: "requests/getApprovedLists",
      disapprovedLists: "requests/getDisapprovedLists",
      allDepartments: "requests/getAllDepartments",
      allRequestTypes: "requests/getAllRequestTypes"
    }),

    // Pending Data
    getPending() {
      // console.log("getPending()");
      if (this.filterDeductions == "") {
        const pendingwod = this.pendingLists.filter(employee => {
          const name = employee.name.name;
          const results =
            ((employee.department.match(this.filterActive) ||
              employee.request_type.match(this.filterActive)) &&
              name.toLowerCase().match(this.filter)) ||
            name.toUpperCase().match(this.filter) ||
            name.match(this.filter);

          return results;
        });

        const pendingwd = this.pendingListsWD.filter(employee => {
          const name = employee.name.name;
          const results =
            (employee.department
              .toLowerCase()
              .match(this.filterActive.toLowerCase()) ||
              employee.request_type
                .toLowerCase()
                .match(this.filterActive.toLowerCase())) &&
            (name.toLowerCase().match(this.filter) ||
              name.toUpperCase().match(this.filter) ||
              name.match(this.filter));

          return results;
        });

        const pendingGP = pendingwd.concat(pendingwod);

        return pendingGP;
      } else if (this.filterDeductions == "withdeduction") {
        return this.pendingListsWD.filter(employee => {
          const name = employee.name.name;
          const results =
            (employee.department
              .toLowerCase()
              .match(this.filterActive.toLowerCase()) ||
              employee.request_type
                .toLowerCase()
                .match(this.filterActive.toLowerCase())) &&
            (name.toLowerCase().match(this.filter) ||
              name.toUpperCase().match(this.filter) ||
              name.match(this.filter));
          return results;
        });
      } else if (this.filterDeductions == "withoutdeduction") {
        return this.pendingLists.filter(employee => {
          const name = employee.name.name;
          const results =
            (employee.department
              .toLowerCase()
              .match(this.filterActive.toLowerCase()) ||
              employee.request_type
                .toLowerCase()
                .match(this.filterActive.toLowerCase())) &&
            (name.toLowerCase().match(this.filter) ||
              name.toUpperCase().match(this.filter) ||
              name.match(this.filter));

          return results;
        });
      }
    },

    // Approve Data
    getApprove() {
      // console.log("getApprove()");
      return this.approvedLists.filter(employee => {
        const name = employee.name.name;
        const results =
          ((employee.department.match(this.filterActive) ||
            employee.request_type.match(this.filterActive)) &&
            name.toLowerCase().match(this.filter)) ||
          name.toUpperCase().match(this.filter) ||
          name.match(this.filter);

        return results;
      });
    },

    // Disapprove Data
    getDisapprove() {
      // console.log("getDisapprove()");
      return this.disapprovedLists.filter(employee => {
        const name = employee.name.name;
        const results =
          (employee.department.match(this.filterActive) ||
            employee.request_type.match(this.filterActive)) &&
          name.toLowerCase().match(this.filter);
        return results;
      });
    },

    rows() {
      // console.log("rows()");
      return this.requests.length;
    },

    allSelected(isChecked) {
      // console.log(`allSelected(${isChecked})`);
      if (isChecked) return;
      this.selected = reports;

      return (this.selected = []);
    },
    bottomLabel() {
      // console.log("bottomLabel()");
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.getPending.length) {
        end = this.getPending.length;
      }

      if (this.getPending.length === 0) {
        start = 0;
      }

      return `Showing ${start} to ${end} of ${this.getPending.length} entries`;
    }
  },
  beforeCreate() {
    // console.log("beforeCreate()");
    // Pending
    this.$store.commit("requests/CLEAR_REQUESTS");
    this.$store.dispatch("requests/FETCH_PENDING_REQUESTS", {
      dateFrom: moment().format("YYYY-MM-DD"),
      dateTo: moment().format("YYYY-MM-DD")
    });
    //Approve
    this.$store.dispatch("requests/FETCH_APPROVED_REQUESTS", {
      dateFrom: moment().format("YYYY-MM-DD"),
      dateTo: moment().format("YYYY-MM-DD")
    });
    //Disapprove
    this.$store.dispatch("requests/FETCH_DISAPPROVED_REQUESTS", {
      dateFrom: moment().format("YYYY-MM-DD"),
      dateTo: moment().format("YYYY-MM-DD")
    });
  },
  created() {
    // console.log("created()");
    this.monitorPending();
    const employee = JSON.parse(localStorage.employee);
    this.userRole = employee.roleParam;
    if (employee.roleParam === "dh" || employee.roleParam === "th") {
      const deptIndex = this.fields.findIndex(
        data => data.key === "department"
      );
      this.fields.splice(deptIndex, 1);
    }
  },
  updated() {
    // console.log("updated()");
    this.totalPendingRows = this.getPending.length;
    this.totalApproveRows = this.getApprove.length;
    this.totalDisapproveRows = this.getDisapprove.length;
  },
  methods: {
    clear(type) {
      // console.log(`clear(${type})`);
      if (type === "Pending") {
        this.$refs.approveTable.clearSelected();
        this.$refs.disapproveTable.clearSelected();
      } else if (type === "Approve") {
        this.$refs.pendingTable.clearSelected();
        this.$refs.disapproveTable.clearSelected();
      } else if (type === "Disapprove") {
        this.$refs.approveTable.clearSelected();
        this.$refs.pendingTable.clearSelected();
      }
    },
    sliceReason(reason, number) {
      // console.log(`sliceReason(${reason}, ${number})`);
      if (number == 0) {
        return reason.slice(0, 39);
      } else {
        return reason.slice(40, reason.length);
      }
    },
    monitorPending() {
      // console.log("monitorPending()");
      this.pendingInterval = setInterval(
        () =>
          this.selectedItems < 1 &&
          this.currentPage < 2 &&
          this.dateRange.request_date_from === moment().format("YYYY-MM-DD") &&
          this.dateRange.request_date_to === moment().format("YYYY-MM-DD")
            ? this.fetchNewRequests()
            : null,
        10000
      );
    },
    fetchNewRequests() {
      // console.log("fetchNewRequests()");
      this.$store.commit("requests/CLEAR_REQUESTS");
      this.$store.dispatch("requests/FETCH_PENDING_REQUESTS", {
        dateFrom: moment().format("YYYY-MM-DD"),
        dateTo: moment().format("YYYY-MM-DD")
      });
      this.$store.dispatch("requests/FETCH_APPROVED_REQUESTS", {
        dateFrom: moment().format("YYYY-MM-DD"),
        dateTo: moment().format("YYYY-MM-DD")
      });
      this.$store.dispatch("requests/FETCH_DISAPPROVED_REQUESTS", {
        dateFrom: moment().format("YYYY-MM-DD"),
        dateTo: moment().format("YYYY-MM-DD")
      });
    },
    selectedPage() {
      // console.log("selectedPage()");
      if (this.selectedItems.length === 5) {
        this.selectedItems = [];
      } else {
        this.selectedItems = this.getPending.slice(
          (this.currentPage - 1) * this.perPage,
          this.perPage * this.currentPage
        );
      }
    },

    async approveRequest() {
      // console.log("approveRequest()");
      let loader = this.$loading.show({
        // Pass props by their camelCased names
        container: this.$refs.formApprove,

        color: "#0052cc",
        loader: "spinner",
        width: 128,
        height: 128,
        backgroundColor: "#ffffff",
        opacity: 0.5,
        zIndex: 999
      });

      const employee = JSON.parse(localStorage.employee);

      if (this.selectedPending.length != 0) {
        this.selectedItems = this.selectedPending;
      } else if (this.selectedDisapprove.length != 0) {
        this.selectedItems = this.selectedDisapprove;
      }

      this.selectedItems.forEach(items => {
        axios({
          method: "PUT",
          url: `${this.$axios.defaults.baseURL}/gatepass/requests/validate_request/approve`,
          data: {
            employee_id: employee.id,
            role: employee.role,
            modules: employee.modules,
            id: items.id,
            roleParam: employee.roleParam
          },
          headers: {
            authorization: "Bearer " + employee.token
          }
        })
          .then(e => {
            loader.hide();
            this.selectedItems = [];
            this.refreshPendingActions();
            this.refreshApproveActions();
            this.refreshDisapproveActions();
          })
          .catch(e => {
            loader.hide();
          });
      });
    },
    async refreshPendingActions() {
      // console.log("refreshPendingActions()");
      await this.$store.dispatch("requests/FETCH_PENDING_REQUESTS", {
        dateFrom: moment(this.dateRange.request_date_from).format("YYYY-MM-DD"),
        dateTo: moment(this.dateRange.request_date_to).format("YYYY-MM-DD")
      });
    },
    async refreshApproveActions() {
      // console.log("refreshApproveActions()");
      await this.$store.dispatch("requests/FETCH_APPROVED_REQUESTS", {
        dateFrom: moment(this.dateRange.request_date_from).format("YYYY-MM-DD"),
        dateTo: moment(this.dateRange.request_date_to).format("YYYY-MM-DD")
      });
    },
    async refreshDisapproveActions() {
      // console.log("refreshDisapproveActions()");
      await this.$store.dispatch("requests/FETCH_DISAPPROVED_REQUESTS", {
        dateFrom: moment(this.dateRange.request_date_from).format("YYYY-MM-DD"),
        dateTo: moment(this.dateRange.request_date_to).format("YYYY-MM-DD")
      });
    },
    async disapproveRequest() {
      // console.log("disapproveRequest()");
      let loader = this.$loading.show({
        // Pass props by their camelCased names
        container: this.$refs.formApprove,

        color: "#0052cc",
        loader: "spinner",
        width: 128,
        height: 128,
        backgroundColor: "#ffffff",
        opacity: 0.5,
        zIndex: 999
      });

      if (this.selectedPending.length != 0) {
        this.selectedItems = this.selectedPending;
      } else if (this.selectedApprove.length != 0) {
        this.selectedItems = this.selectedApprove;
      }

      const employee = JSON.parse(localStorage.employee);
      this.selectedItems.forEach(items => {
        axios({
          method: "PUT",
          url: `${this.$axios.defaults.baseURL}/gatepass/requests/validate_request/disapprove`,
          data: {
            employee_id: employee.id,
            role: employee.role,
            modules: employee.modules,
            id: items.id,
            note: this.reason,
            status: "Disapproved"
          },
          headers: {
            authorization: "Bearer " + employee.token
          }
        })
          .then(res => {
            loader.hide();
            this.reason = null;

            this.selectedItems = [];

            this.refreshPendingActions();
            this.refreshApproveActions();
            this.refreshDisapproveActions();
          })
          .catch(e => {
            loader.hide();
          });
      });
    },
    setDateRange() {
      // console.log("setDateRange()");
      let loader = this.$loading.show({
        // Pass props by their camelCased names
        container: this.$refs.formApprove,

        color: "#0052cc",
        loader: "spinner",
        width: 128,
        height: 128,
        backgroundColor: "#ffffff",
        opacity: 0.5,
        zIndex: 999
      });

      this.$store.commit("requests/CLEAR_REQUESTS");

      this.refreshPendingActions();
      this.refreshApproveActions();
      this.refreshDisapproveActions();

      this.totalPendingRows = this.getPending.length;
      this.totalApproveRows = this.getApprove.length;
      this.totalDisapproveRows = this.getDisapprove.length;

      loader.hide();
    },
    rowClass(item, type) {
      // console.log(`rowClass(${item}, ${type}) `);
      return this.selectedItems.indexOf(item) > -1 ? "table-primary" : "";
    },
    approveModal() {
      // console.log("approveModal()");
      this.$refs["approve-modal"].show();
    },
    disapproveModal() {
      // console.log("disapproveModal()");
      this.$refs["disapprove-modal"].show();
    },
    selectAll() {
      // console.log("selectAll()");
      if (this.selectedItems.length === this.getPending.length) {
        this.selectedItems = [];
      } else {
        this.selectedItems = this.getPending.slice();
      }
    },

    selectedRows() {
      // console.log("selectedRows()");
      if (this.selectedPending.length != 0) {
        return this.selectedPending.length;
      } else if (this.selectedApprove.length != 0) {
        return this.selectedApprove.length;
      } else if (this.selectedDisapprove.length != 0) {
        return this.selectedDisapprove.length;
      }
    },

    // Pending

    onRowPendingSelected(items) {
      // console.log(`onRowPendingSelected(${items})`);
      this.selectedPending = items;
    },
    selectedPendingRows() {
      // console.log("selectedPendingRows()");
      return this.selectedPending.length;
    },

    // Approve

    onRowApproveSelected(items) {
      // console.log(`onRowApproveSelected(${items})`);
      this.selectedApprove = items;
    },
    selectedApproveRows() {
      // console.log("selectedApproveRows()");
      return this.selectedApprove.length;
    },

    // Disapprove

    onRowDisapproveSelected(items) {
      // console.log(`onRowDisapproveSelected(${items})`);
      this.selectedDisapprove = items;
    },
    selectedDisapproveRows() {
      // console.log("selectedDisapproveRows()");
      return this.selectedDisapprove.length;
    },

    textCollapse(type) {
      // console.log(`textCollapse(${type})`);
      let btnText, moreText, dots;

      btnText = document.getElementById("text" + type);
      moreText = document.getElementById("more" + type);
      dots = document.getElementById("dots" + type);

      if (dots.style.display === "none") {
        dots.style.display = "inline";
        btnText.innerHTML = "Read more";
        moreText.style.display = "none";
      } else {
        dots.style.display = "none";
        btnText.innerHTML = "Read less";
        moreText.style.display = "inline";
      }
    },
    getEmpImage(imagePath) {
      // console.log(`getEmpImage(${imagePath})`);
      // const image = imagePath.split('localhost:3001/')
      return `${this.$axios.defaults.baseURL}/${imagePath}`;
    },
    getUser() {
      // console.log("getUser()");
      const employee = JSON.parse(localStorage.employee);
      this.role = employee.roleParam
        ? employee.roleParam
        : employee.role.split("-")[0];
    },

    async getEmployees() {
      // console.log("getEmployees()");
      let loader = this.$loading.show({
        container: this.$refs.formEmployees,

        color: "#0052cc",
        loader: "spinner",
        width: 128,
        height: 128,
        backgroundColor: "#ffffff",
        opacity: 0.5,
        zIndex: 999
      });
      const employeeData = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/employees/proxyemployees`,
        data: {
          employee_id: employeeData.id,
          body: employeeData,
          modules: employeeData.modules
        },

        headers: {
          authorization: "Bearer " + employeeData.token
        }
      })
        .then(res => {
          loader.hide();
          if (isArray(res.data.employees)) {
            this.employees = [];
            for (let ind = 0; ind < res.data.employees[0].length; ind++) {
              const employee = res.data.employees[0][ind];
              this.employees.push({
                id: employee.id,
                fullname:
                  employee.first_name +
                  " " +
                  employee.middle_name +
                  " " +
                  employee.last_name,
                email: employee.email,
                position: employee.position
                  ? { id: employee.position.id, name: employee.position }
                  : ``,
                team: employee.position
                  ? {
                      id: employee.position.team.id,
                      name: employee.position.team
                    }
                  : ``,
                department: employee.position
                  ? {
                      id: employee.position.team.department.id,
                      name: employee.position.team.department
                    }
                  : ``,
                payroll_group: employee.payroll_group,
                status: employee.status,
                position_id: employee.position_id,
                role_id: employee.role_id,
                img_profile_path: employee.img_profile_path,
                isApprover: employee.approver,
                isHead: employee.isHead
              });
            }
          }
        })
        .catch(err => {
          loader.hide();
          this.addingError = err.response.data;
          this.errorMsg = true;
        });
    },

    selectAllPending() {
      // console.log("selectAllPending()");
      this.$refs.approveTable.clearSelected();
      this.$refs.disapproveTable.clearSelected();

      if (this.selectedPending.length === this.getPending.length) {
        this.$refs.pendingTable.clearSelected();
        this.selectedPending = [];
      } else {
        this.$refs.pendingTable.selectAllRows();
        this.selectedPending = this.getPending.slice();
      }
    },

    selectAllApprove() {
      // console.log("selectAllApprove()");
      this.$refs.pendingTable.clearSelected();
      this.$refs.disapproveTable.clearSelected();

      if (this.selectedApprove.length === this.getApprove.length) {
        this.$refs.approveTable.clearSelected();
        this.selectedApprove = [];
      } else {
        this.$refs.approveTable.selectAllRows();
        this.selectedApprove = this.getApprove.slice();
      }
    },

    selectAllDisapprove() {
      // console.log("selectAllDisapprove()");
      this.$refs.approveTable.clearSelected();
      this.$refs.pendingTable.clearSelected();

      if (this.selectedDisapprove.length === this.getDisapprove.length) {
        this.$refs.disapproveTable.clearSelected();
        this.selectedDisapprove = [];
      } else {
        this.$refs.disapproveTable.selectAllRows();
        this.selectedDisapprove = this.getDisapprove.slice();
      }
    }
  },
  beforeDestroy() {
    // console.log("beforeDestroy()");
    clearInterval(this.pendingInterval);
  }
};
</script>

<style>
.reason {
  display: none;
}
</style>
