<template>
  <div ref="formApprove">
    <b-row>
      <b-form-checkbox
        id="pending-without-checkbox-all"
        class="mt-2 ml-3"
        @change="selectAll"
        :disabled="getReports.length === 0"
        :checked="selectedItems.length === getReports.length && getReports.length !== 0"
      >Select All</b-form-checkbox>

      <b-col lg="2" sm="12" md="12" class="mb-1">
        <b-input-group prepend="Show">
          <b-form-select v-model="filterActive" id="pending-select-department">
            <option slot="first" :value="``" id="select-department">All</option>
            <optgroup label="Department" v-show="userRole === 'pg' || userRole ==='admin'">
              <option
                v-for="(department,i) in allDepartments"
                :key="i"
                :value="department"
                id="select-department"
              >{{department}}</option>
            </optgroup>

            <optgroup label="Request Type">
              <option
                v-for="(type,i)  in allRequestTypes"
                id="listType"
                :key="i"
                :value="type"
              >{{type}}</option>
            </optgroup>
          </b-form-select>
        </b-input-group>
      </b-col>
      <b-col lg="3" md="4" sm="12" class="mb-2">
        <b-input-group prepend="From">
          <b-form-input
            id="date-from"
            type="date"
            placeholder="Date From"
            v-model="dateRange.request_date_from"
            class="date_width"
          ></b-form-input>
        </b-input-group>
      </b-col>

      <b-col lg="4" md="4" sm="12" class="mb-2">
        <b-input-group prepend="To">
          <b-form-input
            id="date-to"
            type="date"
            placeholder="Date To"
            v-model="dateRange.request_date_to"
            class="date_width"
          ></b-form-input>
          <b-input-group-append>
            <b-button id="pending-set-range" variant="success" @click="setDateRange">Search</b-button>
          </b-input-group-append>
        </b-input-group>
      </b-col>

      <b-col lg="2">
        <b-input-group prepend="Items">
          <b-form-select v-model="perPage">
            <option v-for="value in values" :key="value" :value="value">{{value}}</option>
          </b-form-select>
        </b-input-group>
      </b-col>
    </b-row>
    <b-table
      ref="pending-request-Table"
      id="pending-request-table"
      :borderless="false"
      :items="getReports"
      :fields="fields"
      selectedVariant="danger"
      :tbody-tr-class="rowClass"
      :per-page="perPage"
      :current-page="currentPage"
      responsive
      show-empty
      :empty-text="`No ${filterActive ? filterActive: searching ? 'Employee Name: '+ searching + ' found':'requests'} found`"
    >
      <template v-slot:table-caption>{{ bottomLabel }}</template>
      <template slot="HEAD_index">
        <b-form-checkbox v-if="getReports.length < 0" id="select-all-disapproved"></b-form-checkbox>
      </template>

      <template slot="index" id="select-item" slot-scope="data">
        <b-form-checkbox name="selected-items" v-model="selectedItems" :value="data.item"></b-form-checkbox>
      </template>

      <template slot="location" id="select-item" slot-scope="data">{{getLocation(data.item)}}</template>

      <template slot="name" slot-scope="data">
        <b-link id="pending-link-profile" :to="`/employees/${data.value.id}`">{{data.value.name}}</b-link>
      </template>
    </b-table>
    <b-pagination
      v-if="getReports.length > 0"
      id="pending-pagination"
      align="center"
      v-model="currentPage"
      :total-rows="totalRows"
      :per-page="perPage"
      aria-controls="my-table"
    ></b-pagination>
    <div>
      <b-row v-show="selectedItems.length > 0">
        <b-button
          variant="primary"
          class="ml-3 mr-3"
          @click="approveModal"
          id="pending-approve-request"
        >Approve</b-button>

        <b-button
          variant="secondary"
          @click="disapproveModal"
          id="pending-disapprove-request"
        >Disapprove</b-button>
      </b-row>
    </div>
    <b-modal id="modal-approve-requests" ref="approve-modal" @ok="approveRequest" centered>
      <div class="d-block text-center">
        <h3>Are you sure you want to approve {{selectedItems.length}} requests?</h3>
      </div>
    </b-modal>
    <b-modal id="modal-disapprove-requests" ref="disapprove-modal" centered @ok="disapproveRequest">
      <div class="d-block">
        <h3
          class="text-center"
        >Are you sure you want to disapprove {{selectedItems.length}} requests?</h3>

        <div class="form-group" id="form-group-reason">
          <label id="reason-label">Reason</label>
          <input
            type="textarea"
            name="reason-disapprove"
            id="reason-disapproved"
            class="form-control"
            rows="3"
            v-model="reason"
            placeholder="Enter valid reason...."
            required
          />
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import { mapGetters } from "vuex";
import { setInterval, clearInterval } from "timers";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
export default {
  props: ["searching"],

  data() {
    return {
      values: ["5", "10", "25", "50", "100"],
      userRole: null,
      pendingInterval: null,
      reason: "",
      pendingStatus: false,
      totalRows: 1,
      perPage: 5,
      currentRowIndex: -1,
      currentPage: 1,
      dateRange: {
        request_date_from: moment().format("YYYY-MM-DD"),
        request_date_to: moment().format("YYYY-MM-DD"),
      },
      sortDesc: false,
      filter: "",
      requests: [],
      selectedItems: [],
      fields: [
        {
          key: "index",
          label: "",
        },
        {
          key: "name",
          label: "Name",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "request_type",
          label: "Request Type",
          sortable: true,
        },
        {
          key: "reason",
          label: "Reason",
          sortable: true,
        },
        {
          key: "time",
          label: "Time",
          sortable: true,
        },
        {
          key: "date",
          label: "Date",
          sortable: true,
        },
        {
          key: "team",
          label: "Team",
          sortable: true,
        },
        {
          key: "department",
          label: "Department",
          sortable: true,
        },
        {
          key: "status",
          label: "Status",
          sortable: true,
          isActive: true,
        },
        {
          key: "preapproved_by",
          label: "Pre-Approved by",
          sortable: true,
          isActive: true,
        },
        {
          key: "location",
          label: "Location",
          sortable: true,
        },
      ],
      departments: [],
      requestTypes: [],
      filterActive: "",
      isLoaded: false,
    };
  },

  computed: {
    ...mapGetters({
      pendingLists: "requests/getPendingLists",
      allDepartments: "requests/getAllDepartments",
      allRequestTypes: "requests/getAllRequestTypes",
    }),
    getReports() {
      let res = this.pendingLists.filter((employee) => {
        const name = employee.name.name;
        const results =
          (employee.department
            .toLowerCase()
            .match(this.filterActive.toLowerCase()) ||
            employee.request_type
              .toLowerCase()
              .match(this.filterActive.toLowerCase())) &&
          (name.toLowerCase().match(this.searching) ||
            name.toUpperCase().match(this.searching) ||
            name.match(this.searching));
        return results;
      });

      if (res) {
        this.$emit("changeTab", res.length, 1);
      }
      return res;
    },

    bottomLabel() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.getReports.length) {
        end = this.getReports.length;
      }

      return `Showing ${start} to ${end} of ${this.getReports.length} entries`;
    },

    rows() {
      return this.requests.length;
    },

    allSelected(isChecked) {
      if (isChecked) return;
      this.selected = reports;

      return (this.selected = []);
    },
    selectedRows() {
      this.selectedItems.length === this.getReports.length;
      return this.selectedItems.length;
    },
  },
  beforeCreate() {
    this.$store.commit("requests/CLEAR_REQUESTS");
    this.$store.dispatch("requests/FETCH_PENDING_REQUESTS", {
      dateFrom: moment().format("YYYY-MM-DD"),
      dateTo: moment().format("YYYY-MM-DD"),
    });
  },
  created() {
    this.monitorPending();
    const employee = JSON.parse(localStorage.employee);
    this.userRole = employee.roleParam;
    if (employee.roleParam === "dh" || employee.roleParam === "th") {
      const deptIndex = this.fields.findIndex(
        (data) => data.key === "department"
      );
      this.fields.splice(deptIndex, 1);
    }
  },
  updated() {
    this.totalRows = this.getReports.length;
  },
  methods: {
    getLocation(item) {
      try {
        if (item.name.is_offsite) {
          return "OFF-SITE";
        } else {
          return "ON-SITE";
        }
      } catch (error) {
        console.log(error);
        return "";
      }
    },
    rowClass(item, type) {
      if (!item) return;
      if (item.status === "Pre-Approved") return "table-warning";
    },
    fetchPendingRequests() {
      this.$store.commit("requests/CLEAR_REQUESTS");
      this.$store.dispatch("requests/FETCH_PENDING_REQUESTS", {
        dateFrom: moment().format("YYYY-MM-DD"),
        dateTo: moment().format("YYYY-MM-DD"),
      });
    },
    monitorPending() {
      this.pendingInterval = setInterval(
        () =>
          this.selectedItems < 1 &&
          this.currentPage < 2 &&
          this.dateRange.request_date_from === moment().format("YYYY-MM-DD") &&
          this.dateRange.request_date_to === moment().format("YYYY-MM-DD")
            ? this.fetchNewRequests()
            : null,
        10000
      );
    },
    fetchNewRequests() {
      this.$store.dispatch("requests/FETCH_PENDING_REQUESTS", {
        dateFrom: moment().format("YYYY-MM-DD"),
        dateTo: moment().format("YYYY-MM-DD"),
      });
    },
    selectedPage() {
      if (this.selectedItems.length === 5) {
        this.selectedItems = [];
      } else {
        this.selectedItems = this.getReports.slice(
          (this.currentPage - 1) * this.perPage,
          this.perPage * this.currentPage
        );
      }
    },

    async approveRequest() {
      let loader = this.$loading.show({
        // Pass props by their camelCased names
        container: this.$refs.formApprove,

        color: "#0052cc",
        loader: "spinner",
        width: 128,
        height: 128,
        backgroundColor: "#ffffff",
        opacity: 0.5,
        zIndex: 999,
      });
      const employee = JSON.parse(localStorage.employee);

      this.selectedItems.forEach((items) => {
        axios({
          method: "PUT",
          url: `${this.$axios.defaults.baseURL}/gatepass/requests/validate_request/approve`,
          data: {
            employee_id: employee.id,
            role: employee.role,
            modules: employee.modules,
            id: items.id,
            roleParam: employee.roleParam,
          },
          headers: {
            authorization: "Bearer " + employee.token,
          },
        })
          .then((e) => {
            loader.hide();
            this.selectedItems = [];
            this.refreshPendingActions();
          })
          .catch((e) => {
            loader.hide();
          });
      });
    },
    refreshPendingActions() {
      this.$store.dispatch("requests/FETCH_APPROVED_REQUESTS", {
        dateFrom: this.request_date_from,
        dateTo: this.request_date_to,
      });
      this.$store.dispatch("requests/FETCH_DISAPPROVED_REQUESTS", {
        dateFrom: this.request_date_from,
        dateTo: this.request_date_to,
      });
      this.$store.dispatch("requests/FETCH_PENDING_REQUESTS", {
        dateFrom: this.request_date_from,
        dateTo: this.request_date_to,
      });
    },
    async disapproveRequest() {
      let loader = this.$loading.show({
        // Pass props by their camelCased names
        container: this.$refs.formApprove,

        color: "#0052cc",
        loader: "spinner",
        width: 128,
        height: 128,
        backgroundColor: "#ffffff",
        opacity: 0.5,
        zIndex: 999,
      });
      const employee = JSON.parse(localStorage.employee);
      this.selectedItems.forEach((items) => {
        axios({
          method: "PUT",
          url: `${this.$axios.defaults.baseURL}/gatepass/requests/validate_request/disapprove`,
          data: {
            employee_id: employee.id,
            role: employee.role,
            modules: employee.modules,
            id: items.id,
            note: this.reason,
            status: "Disapproved",
          },
          headers: {
            authorization: "Bearer " + employee.token,
          },
        })
          .then((res) => {
            loader.hide();
            this.reason = null;

            this.selectedItems = [];

            this.$store.dispatch("requests/FETCH_APPROVED_REQUESTS", {
              dateFrom: this.dateRange.request_date_from,
              dateTo: this.dateRange.request_date_to,
            });
            this.$store.dispatch("requests/FETCH_DISAPPROVED_REQUESTS", {
              dateFrom: this.dateRange.request_date_from,
              dateTo: this.dateRange.request_date_to,
            });
            this.$store.dispatch("requests/FETCH_PENDING_REQUESTS", {
              dateFrom: this.dateRange.request_date_from,
              dateTo: this.dateRange.request_date_to,
            });
          })
          .catch((e) => {
            loader.hide();
          });
      });
    },
    async setDateRange() {
      let loader = this.$loading.show({
        // Pass props by their camelCased names
        container: this.$refs.formApprove,

        color: "#0052cc",
        loader: "spinner",
        width: 128,
        height: 128,
        backgroundColor: "#ffffff",
        opacity: 0.5,
        zIndex: 999,
      });
      await this.$store
        .dispatch("requests/FETCH_PENDING_REQUESTS", {
          dateFrom: this.dateRange.request_date_from,
          dateTo: this.dateRange.request_date_to,
        })
        .then((res) => {
          loader.hide();
        })
        .catch((err) => {
          loader.hide();
        });

      this.totalRows = this.getReports.length;
    },
    rowClass(item, type) {
      if (!item) return;
      if (item.status === "Pre-Approved") return "table-warning";
    },
    approveModal() {
      this.$refs["approve-modal"].show();
    },
    disapproveModal() {
      this.$refs["disapprove-modal"].show();
    },
    selectAll() {
      if (this.selectedItems.length === this.getReports.length) {
        this.selectedItems = [];
      } else {
        this.selectedItems = this.getReports.slice();
      }
    },
  },
  beforeDestroy() {
    clearInterval(this.pendingInterval);
  },
};
</script>

<style>
</style>
