<template>
  <div>
    <ModulesTable v-if="userRole ==='admin'" />
    <DepartmentTable v-else-if="userRole ==='pg'" />
  </div>
</template>

<script>
import ModulesTable from "@/components/AdminDashboard/Modules/ModuleTable";
import DepartmentTable from "@/components/AdminDashboard/Departments/DepartmentTable";
export default {
  layout: "sidebar",
  middleware: "authAdmin",
  components: {
    ModulesTable,
    DepartmentTable
  },
  data() {
    return {
      userRole: null
    };
  },
  created() {
    this.userRole = JSON.parse(localStorage.employee).role.name.split("-")[0];
  }
};
</script>

<style>
html {
  background-color: white;
}
</style>
