<template>
  <ModuleTable />
</template>

<script>
import ModuleTable from "@/components/AdminDashboard/Modules/ModuleTable";
export default {
  middleware: "authAdmin",
  components: {
    ModuleTable
  },
  layout: "sidebar"
};
</script>

<style>
</style>
