<template>
  <div class="mx-2">
    <b-breadcrumb :items="reportPath"></b-breadcrumb>

    <b-card>
      <b-row class="my-2">
        <b-col lg="10" md="6" sm="12">
          <b-button
            variant="primary"
            id="department-add-button"
            @click="addDepartmentModal"
            v-if="actions.hasAdd"
          >Add Department</b-button>
        </b-col>
        <b-col lg="2" md="6" sm="12">
          <b-input-group prepend="Items">
            <b-form-select style="z-index:0" v-model="perPage">
              <option v-for="value in values" :key="value" :value="value">{{value}}</option>
            </b-form-select>
          </b-input-group>
        </b-col>

        <b-col lg="12" sm="10" md="10" class="d-flex my-2">
          <b-input-group>
            <b-form-input
              style="z-index:0"
              v-model="filter"
              placeholder="Search Departments"
              id="department-search"
            ></b-form-input>
            <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''" id="department-clear">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>
        <b-col lg="2" md="3" sm="4" class="mb-2">
          <b-input-group prepend="Items">
            <b-form-select style="z-index:0" v-model="perPage">
              <option v-for="value in values" :key="value" :value="value">{{value}}</option>
            </b-form-select>
          </b-input-group>
        </b-col>
        <b-col lg="3" md="2" sm="8"></b-col>
        <b-col lg="2" md="3" sm="4" class="text-right">
          <b-button
            variant="primary"
            id="department-add-button"
            @click="addDepartmentModal"
            v-if="actions.hasAdd"
            style="width:149px"
            class="mb-2"
          >
            <div style="margin:auto">
              <v-icon size="15" color="#FFFFFF">fa-plus</v-icon>Add Department
            </div>
          </b-button>
        </b-col>
      </b-row>

      <div class="text-center" v-if="loadDepartments.length ===0">
        <b-spinner variant="primary"></b-spinner>
      </div>
      <b-table
        v-if="loadDepartments.length !== 0"
        id="department-table"
        responsive
        :filter="filter"
        show-empty
        :current-page="currentPage"
        :per-page="perPage"
        empty-text="There are no departments to display"
        :empty-filtered-text="`No search for ${filter} `"
        :items="departments"
        :fields="fields"
        sort-by="name"
      >
        <template slot="name" slot-scope="row">
          <div @click="updateDepartmentModal(row.item)">{{row.item.name}}</div>
        </template>
        <template slot="employee" slot-scope="row">
          <div @click="updateDepartmentModal(row.item)">{{row.item.employee}}</div>
        </template>
        <template slot="status" slot-scope="row">
          <div @click="updateDepartmentModal(row.item)">{{row.item.status}}</div>
        </template>

        <template slot="action" slot-scope="row">
          <div @click="updateDepartmentModal(row.item)">
            <b-button title="Edit Department" size="sm" id="department-edit-button" class="mr-1">
              <v-icon size="15" color="#FFFFFF">fa-edit</v-icon>
            </b-button>
          </div>
        </template>
      </b-table>
      <div>
        <b-pagination
          v-if="loadDepartments.length !== 0"
          id="schedule-pagination"
          align="center"
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          class="my-0"
        ></b-pagination>
      </div>
    </b-card>
    <b-modal
      no-fade
      ref="modal"
      id="department-form"
      v-model="createModal"
      title="Create Department"
      :hide-footer="true"
    >
      <b-form @submit.stop.prevent="createDepartment" id="department-add-form">
        <b-form-group label="Department Name" id="department-name-form-group">
          <b-form-input
            id="department-input-name"
            placeholder="Department Name"
            class="my-2"
            v-model="departmentFields.name"
            required
          ></b-form-input>
        </b-form-group>
        <!-- <b-form-group label="Department Head" id="department-add-form-group"> -->
        <!-- <b-form-select
            v-model="departmentFields.employee_id"
            id="department-select-departmenthead"
          >
            <option :value="null" disabled>Department Head</option>
            <option :value="null">None</option>
            <option
              v-for="(employee,i) in employees"
              :value="employee.id"
              :key="i"
            >{{employee.first_name}}{{employee.middle_name ? employee.middle_name:""}} {{employee.last_name}}</option>
        </b-form-select>-->

        <hr />
        <div align="right">
          <b-button @click="cancel()" id="department-add-cancel-button">Cancel</b-button>
          <b-button id="department-add-ok-button" type="submit" variant="primary">Ok</b-button>
        </div>
        <!-- </b-form-group> -->
      </b-form>

      <v-snackbar
        color="red"
        :bottom="true"
        :right="true"
        id="role-snackbar-edit-error"
        v-model="errorMsg"
      >
        <v-icon color="white" class="mr-3">mdi-error</v-icon>
        <div>{{addingError}}</div>
        <v-icon size="16" @click="errorMsg = false" id="role-error-close">mdi-close-circle</v-icon>
      </v-snackbar>
    </b-modal>
    <b-modal
      no-fade
      ref="editModal"
      id="department-edit-modal"
      v-model="editModal"
      title="Edit Department"
      :hide-footer="true"
    >
      <b-form @submit.stop.prevent="updateDeparment" id="department-form-edit">
        <b-form-group id="department-form-edit-department-name" label="Department Name:">
          <b-form-input
            id="department-edit-name"
            placeholder="Department Name"
            class="my-2"
            v-model="departmentFields.name"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group id="department-form-edit-status" label="Status:">
          <b-form-select
            v-model="departmentFields.status"
            id="department-edit-select-status"
            required
          >
            <option :value="null" disabled>Select status</option>
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
          </b-form-select>
        </b-form-group>

        <b-row>
          <b-col cols="10">
            <b-form-group for="team-edit-select-teamhead" label="Add Department Head:">
              <b-form-select id="team-edit-select-teamhead" v-model="departmentFields.newHead">
                <option :value="null" disabled>Department Head</option>
                <option :value="null">None</option>
                <option
                  v-for="(employee,i) in employees"
                  :value="{id:employee.id, first_name:employee.first_name, last_name:employee.last_name}"
                  :key="i"
                >{{employee.first_name}} {{employee.middle_name ? employee.middle_name:""}} {{employee.last_name}}</option>
              </b-form-select>
            </b-form-group>
          </b-col>

          <b-col cols="2" class="mt-4">
            <b-button
              pill
              id="department-edit-button"
              size="sm"
              variant="primary"
              @click="AddDepartmentHead()"
            >Add</b-button>
          </b-col>
        </b-row>

        <b-table
          v-if="loadDepartments.length !== 0"
          id="team-table"
          responsive
          :filter="filter"
          show-empty
          :per-page="perPage"
          empty-text="There are no teams to display"
          :empty-filtered-text="`No search for ${filter} `"
          :items="departmentFields.heads"
          :fields="departmentheadFields"
        >
          <template slot="action" slot-scope="row2">
            <b-button
              id="team-edit-button"
              size="sm"
              @click="removeDepartmenthead(row2.item, row2.index)"
              class="mr-1"
            >Remove</b-button>
          </template>
        </b-table>

        <hr />
        <div align="right">
          <b-button @click="cancel()" id="department-edit-cancel-button">Cancel</b-button>
          <b-button type="submit" variant="primary" id="department-edit-ok-button">Ok</b-button>
        </div>
      </b-form>
      <v-snackbar
        color="red"
        id="department-snackbar-error"
        :bottom="true"
        :right="true"
        v-model="errorMsg"
      >
        <v-icon color="white" class="mr-3">mdi-error</v-icon>
        <div>{{addingError}}</div>
        <v-icon size="16" @click="errorMsg = false" id="snackbar-close-error">mdi-close-circle</v-icon>
      </v-snackbar>
    </b-modal>
  </div>
</template>

<script>
import axios from "axios";
import { isArray } from "util";
export default {
  head() {
    return {
      titleTemplate: "%s - Departments",
    };
  },
  data() {
    return {
      errorMsg: false,
      perPage: 10,
      values: ["5", "10", "25", "50", "100"],
      addingError: null,
      departments: [],
      currentPage: 1,
      totalRows: 1,
      departmentData: [],
      employees: [],
      departmentFields: {
        id: null,
        name: null,
        employee_id: null,
        status: null,
        employee: null,
        newHead: null,
        heads: [
          {
            employee_id: null,
            first_name: null,
            last_name: null,
          },
        ],
      },
      actions: { hasAdd: false, hasEdit: false },
      fields: [
        {
          key: "name",
          label: "Department Name",
        },
        {
          key: "employee",
          label: "Department Head",
        },
        {
          key: "status",
          label: "Status",
        },
        {
          key: "action",
          label: "Action",
        },
      ],
      departmentheadFields: [
        {
          key: "employee_id",
          label: "Department Head",
        },
        {
          key: "first_name",
          label: "",
        },
        {
          key: "last_name",
          label: "",
        },
        {
          key: "action",
          label: "Action",
        },
      ],
      createModal: false,
      editModal: false,
      filter: "",

      reportPath: [
        {
          text: "Home",
          to: "/dashboard/",
        },
        {
          text: "Admin Dashboard",
          to: "/dashboard/admin-dashboard",
        },
        {
          text: "Department",
          to: "/dashboard/admin-dashboard/department",
          active: true,
        },
      ],
    };
  },
  created() {
    this.getDepartment();
    const employeeModules = JSON.parse(localStorage.employee).modules;
    employeeModules.forEach((employeeModule) => {
      if (employeeModule.status.toLowerCase() === "active") {
        employeeModule.actions.forEach((action) => {
          if (action.status.toLowerCase() === "active") {
            if (action.description.toLowerCase() === "add department") {
              this.actions.hasAdd = true;
            } else if (action.description.toLowerCase() === "edit department") {
              this.actions.hasEdit = true;
            }
          }
        });
      }
    });

    if (!this.actions.hasEdit) {
      const actionFieldIndex = this.fields.findIndex(
        (field) => field.key === "action"
      );
      this.fields.splice(actionFieldIndex, 1);
    }
  },
  computed: {
    loadDepartments() {
      const departmentRole = this.departments.filter((deptFilter) => {
        const result =
          deptFilter.name.toLowerCase().match(this.filter) ||
          deptFilter.name.toUpperCase().match(this.filter) ||
          deptFilter.name.match(this.filter);
        return result;
      });
      this.totalRows = departmentRole.length;
      return departmentRole;
    },
  },
  methods: {
    clearFormData() {
      this.departmentFields = {
        id: null,
        name: null,
        employee_id: null,
        status: null,
      };
    },
    displayToast(action, data) {
      this.$bvToast.toast(`${action} ${data} department`, {
        id: "toast-display-departmnet",
        title: `Successfully ${action}`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "primary",
        toaster: "b-toaster-bottom-right",
        solid: false,
      });
    },
    displayToast2(action, data) {
      this.$bvToast.toast(`${action}`, {
        id: "toast-display-department",
        title: `Successfully ${action}`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "primary",
        toaster: "b-toaster-bottom-right",
        solid: false,
      });
    },
    displayToast3(action, data) {
      this.$bvToast.toast(`${action}`, {
        id: "toast-display-departmnet",
        title: `Warning`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "danger",
        toaster: "b-toaster-bottom-right",
        solid: false,
      });
    },
    async updateDeparment() {
      const employeeData = JSON.parse(localStorage.employee);
      let array = [];
      this.departmentheadsData.map((emp) => {
        array.push(emp.employee_id);
      });
      axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/admin/departments/update_department`,
        headers: { Authorization: "Bearer " + employeeData.token },
        data: {
          id: this.departmentFields.id,
          name: this.departmentFields.name,
          employees: array,
          status: this.departmentFields.status,
          updated_by: employeeData.id,
          modules: employeeData.modules,
          department_heads: this.departmentheadsData,
        },
      })
        .then((res) => {
          this.getDepartment();
          this.clearFormData();
          this.displayToast2("Updated Department");
          this.editModal = false;
        })
        .catch((err) => {
          this.addingError = err.response.data;
          this.errorMsg = true;
        });
    },
    cancel() {
      this.clearFormData();
      this.editModal = false;
      this.createModal = false;
    },
    async AddDepartmentHead() {
      const employeeData = JSON.parse(localStorage.employee);
      let duplicate = false;
      const toAdd = {
        employee_id: this.departmentFields.newHead.id,
        first_name: this.departmentFields.newHead.first_name,
        last_name: this.departmentFields.newHead.last_name,
      };
      for (let index = 0; index < this.departmentheadsData.length; index++) {
        if (this.departmentheadsData[index].employee_id === toAdd.employee_id) {
          duplicate = true;
          return this.displayToast3(
            "Employee already added as Department head"
          );
        }
      }

      if (!duplicate) {
        this.departmentheadsData.push(toAdd);
      }
    },
    async removeDepartmenthead(item, index) {
      const employeeData = JSON.parse(localStorage.employee);
      this.departmentheadsData.splice(index, 1);
    },
    addDepartmentModal() {
      this.clearFormData();
      this.createModal = true;
    },
    updateDepartmentModal(departmentData) {
      let array = [];
      departmentData.departmentheads.map((emp) => {
        array.push({
          employee_id: emp.id,
          first_name: emp.first_name,
          last_name: emp.last_name,
        });
      });

      this.departmentheadsData = array;
      this.departmentFields = {
        id: departmentData.id,
        name: departmentData.name,
        employee_id: departmentData.id,
        status: departmentData.status,
        heads: this.departmentheadsData,
      };

      this.editModal = true;
    },

    async getDepartment(role, employee_id, token) {
      const employeeData = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/departments`,
        data: {
          employee_id: employeeData.id,
          modules: employeeData.modules,
        },

        headers: {
          authorization: "Bearer " + employeeData.token,
        },
      })
        .then((res) => {
          if (isArray(res.data.departments)) {
            this.departments = [];
            res.data.departments.map((department) => {
              let dhs = "";
              const departmentHeads = department.employees;
              for (let index = 0; index < departmentHeads.length; index++) {
                if (index > 0) {
                  dhs +=
                    "/ " +
                    departmentHeads[index].first_name +
                    " " +
                    (departmentHeads[index].middle_name
                      ? departmentHeads[index].middle_name
                      : " ") +
                    " " +
                    departmentHeads[index].last_name +
                    " ";
                } else {
                  dhs +=
                    departmentHeads[index].first_name +
                    " " +
                    (departmentHeads[index].middle_name
                      ? departmentHeads[index].middle_name
                      : " ") +
                    " " +
                    departmentHeads[index].last_name +
                    " ";
                }
              }
              this.departments.push({
                id: department.id,
                name: department.name,
                status: department.status,
                employee_id: department.employee_id,
                employee: dhs,
                departmentheads: departmentHeads,
              });
              this.totalRows = this.departments.length;
            });
          }
          if (isArray(res.data.employees)) {
            this.employees = [];
            this.employees = res.data.employees.filter(
              (employee) => employee.status === "Active"
            );

            function compare(a, b) {
              if (a.first_name < b.first_name) {
                return -1;
              }
              if (a.first_name > b.first_name) {
                return 1;
              }
              return 0;
            }
            this.employees.sort(compare);
          }
        })
        .catch((err) => {});
    },

    createDepartment() {
      const employeeData = JSON.parse(localStorage.employee);
      axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/departments/add_department`,
        data: {
          name: this.departmentFields.name,
          employee_id: this.departmentFields.employee_id,
          created_by: employeeData.id,
          modules: employeeData.modules,
        },
        headers: { Authorization: "Bearer " + employeeData.token },
      })
        .then((res) => {
          if (res.status === 201) {
            let departmentHead = null;
            if (res.data.employee_id) {
              departmentHead = this.employees.find(
                (employee) => employee.id === res.data.employee_id
              );
            }
            this.departments.push({
              ...res.data,
              employee: departmentHead
                ? departmentHead.first_name +
                  " " +
                  departmentHead.middle_name +
                  " " +
                  departmentHead.last_name
                : null,
            });

            this.clearFormData();
            this.displayToast("Added", res.data.name);
            this.createModal = false;
            this.getDepartment();
          }
        })
        .catch((err) => {
          this.addingError = err.response.data;
          this.errorMsg = true;
        });
    },
  },
};
</script>

<style>
.date_width {
  width: 100%;
  font-size: 1rem;
}
#department-table tbody tr:hover {
  background-color: #e9ecef;
}
</style>
