<template>
  <div class="mx-4">
    <div class="text-center" v-show="!employeeProfile">
      <b-spinner label="spinning-profile" variant="primary"></b-spinner>
    </div>
    <div v-show="employeeProfile.length !== 0">
      <b-button
        @click="$router.back()"
        class="mt-2"
      >Go back</b-button>
      <div>
        <img :src="imgUser" class="avatar mx-auto" />
        <b-row class="justify-center" align-h="center">
          <b-col>
            <h1 class="text-center">{{fullName}}</h1>

            <h2 class="text-center">{{getPosition ? getPosition: position}}</h2>
          </b-col>
        </b-row>
      </div>
      <div>
        <div>
          <b-row>
            <b-col></b-col>
          </b-row>
        </div>
        <b-card>
          <b-tabs card pills fixed fill active-nav-item-class="font-weight-bold text-uppercase">
            <b-tab v-for="(tab,index) in tabReports" :key="index" :title="tab.name">
              <b-card-text v-if="tab.name==='Recent Gate Pass'">
                <ReportTable :employeeProfile="employeeProfile" :gatepass="gatepass" />
              </b-card-text>
            </b-tab>
          </b-tabs>
        </b-card>
      </div>
    </div>
  </div>
</template>

<script>
import ReportTable from "@/components/EmployeeProfile/ReportTable";
import axios from "axios";
import imgUser from "@/assets/user.svg";
import moment from "moment";
export default {
  middleware: "notAuthenticated",
  validate({ params }) {
    // Must be a number
    return /^\d+$/.test(params.id);
  },
  layout: "dashboard",
  components: {
    ReportTable
  },

  props: ["name"],
  beforeMount() {},
  created() {
    this.getEmployeeProfile();
  },
  data() {
    return {
      imgUser: imgUser,
      employeeProfile: "",
      gatepass: [],
      position: "",
      path: [
        {
          text: "Home",
          to: "/dashboard"
        },
        {
          text: "Request",
          to: "/Request"
        }
      ],
      tabReports: [
        {
          name: "Recent Gate Pass",
          icon: ""
        }
      ]
    };
  },

  computed: {
    fullName() {
      return `${this.employeeProfile.first_name} ${this.employeeProfile.middle_name} ${this.employeeProfile.last_name}`;
    },
    getPosition() {
      if (this.employeeProfile.team) {
        const team = this.employeeProfile.team.name;
        if (this.employeeProfile.team.department) {
          return this.employeeProfile.team.department.name;
        }
        return team;
      }
      return this.position;
    }
  },
  methods: {
    getEmployeeProfile() {
      const employee = JSON.parse(localStorage.employee);

      axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/employees/${this.$route.params.id}`,
        headers: { Authorization: "Bearer " + employee.token },
        data: {
          employee_id: employee.id,
          modules: employee.modules
        }
      })
        .then(res => {
          
          if (res.data.position) {
            this.position = res.data.position.name;
          }

          this.employeeProfile = res.data;
          this.imgUser = res.data.img_profile_path
            ? `${this.$axios.defaults.baseURL}/${res.data.img_profile_path}`
            : this.imgUser;
          this.gatepass = res.data.gate_passes.map(gate_pass => {
            let requested_time_in,
              requested_time_out = null;
            if (gate_pass.request_time_in) {
              requested_time_in = moment(
                `${gate_pass.request_time_in} ${gate_pass.request_date}`,
                "HH:mm A"
              ).format("hh:mm A");
            }
            if (gate_pass.request_time_out) {
              requested_time_out = moment(
                `${gate_pass.request_time_out} ${gate_pass.request_date}`,
                "hh:mm A"
              ).format("hh:mm A");
            }
            return {
              request_type: gate_pass.request_type.name,
              requested_time: gate_pass.request_time_in
                ? `${requested_time_out} - ${requested_time_in}`
                :requested_time_out? `${requested_time_out}`:"",
              actual_time_out: gate_pass.actual_time_out
                ? moment(gate_pass.actual_time_out, "hh:mm a").format("hh:mm a")
                : "Not set",
              actual_time_in: gate_pass.actual_time_in
                ? moment(gate_pass.actual_time_in, "hh:mm a").format("hh:mm a")
                : "Not set",
              status: gate_pass.status,
              reason: gate_pass.reason,
              note: gate_pass.note ? gate_pass.note : ""
            };
          });
        })
        .catch(e => {
          {};
        });
    },
    getLazyImg(path) {
      return `${this.$axios.defaults.baseURL}/${path}`;
    }
  }
};
</script>

<style scoped>
.avatar {
  display: block;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  color: #000;
  margin-left: auto;
  margin-right: auto;
}
.inner {
  width: 50%;
  margin: 0 auto;
}
</style>
