<template>
  <div>
    <div>
      <b-button variant="primary" id="add-request_button" @click="openModal">
        <v-icon color="white" small class="mr-2">fa-plus</v-icon>New Gate Pass
      </b-button>

      <b-modal
        id="request_modal"
        no-fade
        v-model="requestModal"
        hide-footer
        okTitle="Create request"
        cancelTitle="Discard"
        ref="modalRequest"
        @hidden="closeModal"
        @hide="closeModal"
        @shown="resetModal"
      >
        <b-card id="card_requests" ref="formRequest">
          <b-card-title>New Gate Pass request</b-card-title>
          <form id="form_requests" inline @submit.prevent="addScheduleOut">
            <b-form-group id="form_group_requests">
              <label class="mb-2 mr-sm-2 mb-sm-0">Request Type:</label>
              <select class="custom-select" id="request_gate_pass" v-model="selectType" required>
                <option
                  id="listofRequest"
                  v-for="(request,i) in listOfRequestTypes"
                  :value="request"
                  :key="i"
                >{{request.name}}</option>
              </select>
              <div v-if="selectType.name !== null">
                <label class="mb-2 mb-sm-1">Request Time Out:</label>
                <b-row lg="1">
                  <b-col>
                    <b-form-input
                      required
                      type="time"
                      name="t-out"
                      v-model="request.time_out"
                      :value="request.time_out"
                      id="req-time-out"
                    ></b-form-input>
                  </b-col>
                </b-row>
              </div>
              <div
                v-if="selectType.name === 'Personal Out' || selectType.name === 'Official Business'"
              >
                <label class="mb-2 mb-sm-1">Request Time In:</label>
                <b-row lg="1">
                  <b-col sm="12">
                    <b-form-input
                      id="request_time_in"
                      :type="`time`"
                      :value="request.time_in"
                      v-model="request.time_in"
                      :required="selectType.name === 'Personal Out' || selectType.name === 'Official Business'"
                    ></b-form-input>
                  </b-col>
                </b-row>
              </div>
              <div v-if="selectType.name !== null">
                <label class="mb-2 mr-sm-2 mb-sm-0">Request Date</label>
                <b-form-input
                  type="date"
                  v-model="request.date"
                  id="request_date"
                  :required=" selectType.name !== null"
                ></b-form-input>
              </div>
              <div v-if="selectType.name !== null && selectType.name !== 'Lunch Out'">
                <div v-if="selectType.name !== null">
                  <label>Reason</label>
                  <b-form-textarea
                    type="textarea"
                    id="reason"
                    v-model="request.reason"
                    :required=" selectType.name !== null && selectType.name !== 'Lunch Out'"
                  ></b-form-textarea>
                </div>
              </div>
            </b-form-group>

            <div
              v-if="error !== null && error !== `Cannot request gate pass before the time today (+8 GMT)`"
              class="mx-2"
              style="color:red"
              id="error-text"
            >{{error}}</div>
            <b-row>
              <b-col align-self="end">
                <b-button
                  id="cancel-request"
                  v-show="selectType.name != null"
                  variant="secondary"
                  @click="closeModal"
                >Discard</b-button>
                <b-button
                  id="create-request"
                  v-show="selectType.name != null"
                  variant="primary"
                  type="submit"
                >Create Request</b-button>
              </b-col>
            </b-row>
          </form>
        </b-card>
      </b-modal>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";

export default {
  name: "ActionButtons",
  data() {
    return {
      time: "",
      selectType: { id: null, name: null, has_time_in: null },
      request: {
        time_out: moment().format("H:mm"),
        time_in: moment()
          .add(1, "hour")
          .format("H:mm"),
        date: moment().format("YYYY-MM-DD"),
        reason: ""
      },

      listOfRequestTypes: [],

      requestModal: false,
      error: null
    };
  },
  watch: {
    /**
     * The watch property allows us to monitor any changes to the value and
     * have its own tasks
     *
     * @param {string=} query - The parameter is optional and may not need to
     * call this function
     */
    selectType: function(query) {
      this.error = "";
    },
    /**
     * @param {string=} query
     */
    request: function(query) {
      this.error = "";
    }
  },
  methods: {
    openModal() {
      this.resetModal();
      this.requestModal = true;
      this.request.time_out = moment()
        .add(6, "minutes")
        .format("HH:mm");
      this.request.time_in = moment()
        .add(1, "hour")
        .add(6, "minutes")
        .format("HH:mm");
    },
    closeModal() {
      this.resetModal();
      this.request = {};
      this.selectType = { id: null, name: null, has_time_in: null };
      this.$refs["modalRequest"].hide();
    },
    resetModal() {
      // this.request.time_out = null;
      // this.request.time_in = null;
      this.request.date = moment().format("YYYY-MM-DD");
      // this.request.reason = "";
      this.error = null;
    },

    /**
     * @async
     * @method
     * Add Schedule to the API and will refresh the dashboard.
     */
    addScheduleOut() {
      const employee = JSON.parse(localStorage.employee);
      const selectedType = this.listOfRequestTypes.filter(
        type => type.name === this.selectType.name
      )[0];
      let request_time_in = null;
      if (selectedType.name.toLowerCase() === "lunch out") {
        request_time_in = moment(
          `${this.request.time_out} ${this.request.date}`,
          "H:mm"
        )
          .add(moment.duration(1, "hours"))
          .format("HH:mm");
        this.request.reason = "Lunch out";
      } else {
        if (selectedType.has_time_in) {
          request_time_in = moment(
            `${this.request.time_in} ${this.request.date}`,
            "H:mm"
          ).format("HH:mm");
        }
      }

      const request_date = moment(this.request.date).format("YYYY-MM-DD");
      const request_time_out = moment(
        `${this.request.time_out} ${this.request.date}`,
        "H:mm"
      ).format("HH:mm");
      this.sendScheduleRequests(
        request_time_out,
        request_time_in,
        request_date,
        employee
      );
    },
    /**
     * Sends the formatted requests date schedule to the API
     *
     *
     * @param {Date} request_time_out
     * @param {Date} request_time_in
     * @param {Date} request_date
     * @param {Object} employee
     */
    async sendScheduleRequests(
      request_time_out,
      request_time_in,
      request_date,
      employee
    ) {
      let loader = this.$loading.show({
        // Pass props by their camelCased names
        container: this.$refs.formRequest,

        color: "#0052cc",
        loader: "spinner",
        width: 128,
        height: 128,
        backgroundColor: "#ffffff",
        opacity: 0.5,
        zIndex: 999
      });
      const res = await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/gatepass/file_request`,
        data: {
          employee_id: employee.id,
          request_type_id: this.selectType.id,
          request_time_out,
          request_time_in,
          request_date,
          reason: this.request.reason,
          modules: employee.modules
        },
        headers: {
          authorization: "Bearer " + employee.token
        }
      })
        .then(res => {
          loader.hide();
          this.$store.dispatch("gatepass/GET_SCHEDULE_OUT");
          this.$bvToast.toast("Request added", {
            id: "toast-display-request-added",
            title: `Gatepass Request`,
            variant: "success",
            toaster: "b-toaster-bottom-right",
            solid: false,
            autoHideDelay: 3000
          });

          this.resetModal();
          this.$refs["modalRequest"].hide();
        })
        .catch(e => {
          loader.hide();
          this.$bvModal.hide("modal-center");
          this.error = e.response.data;
        });
    },
    /**
     * #### Fetch Request types from the server. These includes the following.
     * - Lunch Out
     * - Official Business
     * - Half day
     * - Personal Out
     * - Undertime
     */
    async getRequestTypes() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/gatepass/requests/`,
        data: {
          employee_id: employee.id,
          role: employee.role,
          modules: employee.modules
        },
        headers: {
          authorization: "Bearer " + employee.token
        }
      })
        .then(res => {
          if (Array.isArray(res.data)) {
            this.listOfRequestTypes = res.data.filter(
              requestType => requestType.status === "Active"
            );
          } else {
            this.listOfRequestTypes = [];
          }
        })
        .catch(e => {
          this.error = e.response;
        });
    }
  },
  created() {
    this.getRequestTypes();
  }
};
</script>

<style>
</style>
