<template>
  <div class="mx-2">
    <b-card>
      <b-row class="my-2 mx-2">
        <b-row>
          <b-col lg="5" md="4" sm="12" class="mb-2">
            <b-input-group prepend="From">
              <b-form-input
                id="acct-date-from"
                type="date"
                placeholder="Date From"
                v-model="dateRange.request_date_from"
                class="date_width"
              ></b-form-input>
            </b-input-group>
          </b-col>

          <b-col lg="7" md="4" sm="12" class="mb-2">
            <b-input-group prepend="To">
              <b-form-input
                id="acct-date-to"
                type="date"
                placeholder="Date To"
                v-model="dateRange.request_date_to"
                class="date_width"
              ></b-form-input>

              <b-input-group-append>
                <b-button id="acct-date-range" @click="getGatePassReport">Set Date Range</b-button>
              </b-input-group-append>
            </b-input-group>
          </b-col>
        </b-row>
        <b-col lg="2" sm="6" md="6">
          <b-input-group prepend="Show">
            <b-form-select v-model="filterActive" id="acct-filter">
              <option slot="first" :value="``">All</option>
              <optgroup label="Department">
                <option
                  v-for="(department,i) in departments"
                  :key="i"
                  :value="department.name"
                >{{department.name}}</option>
              </optgroup>

              <optgroup label="Request Type">
                <option v-for="(type,i) in requestTypes" :key="i" :value="type.name">{{type.name}}</option>
              </optgroup>
            </b-form-select>
          </b-input-group>
        </b-col>
        <b-col lg="2" sm="6" md="6">
          <div>
            <b-dropdown id="acct-dropdown-fields" text="Filter Table" ref="dropdown-fields">
              <b-dropdown-form>
                <b-dropdown-header id="acct-dropdown-header-1">
                  <b>Fields</b>
                </b-dropdown-header>
                <b-form-checkbox
                  style="width:10rem"
                  v-for="(field,i) in getFilter"
                  :key="i"
                  v-model="field.isActive"
                  @change="field.isActive = !field.isActive"
                >{{field.label}}</b-form-checkbox>
              </b-dropdown-form>
            </b-dropdown>
          </div>
        </b-col>
      </b-row>
      <b-row>
        <b-col lg="12" md="6" sm="12" class="mb-1">
          <b-input-group>
            <b-form-input id="acct-search" v-model="filter" placeholder="Type to search"></b-form-input>
            <b-input-group-append>
              <b-button id="acct-clear" :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>
      </b-row>

      <b-table
        responsive
        show-empty
        :empty-text="`There are no ${filter ? filter: 'reports'} to display`"
        :empty-filtered-text="`No search for ${filter} `"
        :items="getAllActiveFields.length === 0 ? [] :getReports"
        :fields="getAllActiveFields"
      ></b-table>
      <b-row align-h="end">
        <b-col lg="2" md="2" align-self="right" v-if="getReports.length > 1">
          <ReportExportButton
            :block="false"
            :reports="getReports"
            :report_type="`Accountant`"
            :checked_filter="getAllActiveFields"
            :employee="employee"
          />
        </b-col>
      </b-row>
    </b-card>
  </div>
</template>

<script>
import ReportExportButton from "@/components/Reports/ReportExportButton";
import { mapGetters } from "vuex";
import moment from "moment";
import axios from "axios";
import { parse } from "path";
import { isArray } from "util";
export default {
  components: {
    ReportExportButton
  },
  data() {
    return {
      employee: [],
      filter: "",
      filterActive: "",
      gatePasses: [],
      dateRange: {
        request_date_from: moment().format("YYYY-MM-DD"),
        request_date_to: moment().format("YYYY-MM-DD")
      },
      fields: [
        {
          key: "name",
          label: "Name",
          sortable: true,
          sortDirection: "desc",
          isActive: true
        },
        {
          key: "request_type",
          label: "Request Type",
          isActive: true,
          sortable: true
        },
        {
          key: "requested_time",
          label: "Requested Time",
          isActive: true,
          sortable: true
        },
        {
          key: "approval_time",
          label: "Approval Time",
          sortable: true,
          isActive: true
        },
        {
          key: "actual_time",
          label: "Actual Time",
          isActive: true,
          sortable: true
        },
        {
          key: "time_out",
          label: "Time Out",
          isActive: true,
          sortable: true
        },
        {
          key: "time_in",
          label: "Time In",
          isActive: true,
          sortable: true
        },
        {
          key: "elapsed_time",
          label: "Time Spent",
          isActive: true,
          sortable: true
        },
        {
          key: "date",
          label: "Date",
          isActive: true,
          sortable: true
        },
        {
          key: "team",
          label: "Team",
          isActive: false,
          sortable: true
        },
        {
          key: "department",
          label: "Department",
          isActive: false,
          sortable: true
        }
      ],
      departments: [],
      requestTypes: [],
      reportPath: [
        {
          text: "Home",
          to: "/Dashboard"
        },
        {
          text: "Reports",
          to: "/reports",
          active: true
        }
      ],
      role: null
    };
  },
  computed: {
    getFilter() {
      return this.fields.filter(field => field.key !== "index");
    },
    getAllActiveFields() {
      return this.fields.filter(field => field.isActive === true);
    },
    getReports() {
      return this.gatePasses.filter(employee => {
        const name = employee.name;
        const results =
          (employee.department
            .toLowerCase()
            .match(this.filterActive.toLowerCase()) ||
            employee.request_type
              .toLowerCase()
              .match(this.filterActive.toLowerCase())) &&
          (name.toLowerCase().match(this.filter) ||
            name.toUpperCase().match(this.filter) ||
            name.match(this.filter));

        return results;
      });
    }
  },
  methods: {
    async dateRangeSchedule() {
      const employee = JSON.parse(localStorage.employee);
      this.role = employee.role.name;

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/reports/view_verified_personal_out/`,
        data: {
          employee_id: employee.id,
          modules: employee.modules,
          request_date_from: this.dateRange.request_date_from,
          request_date_to: this.dateRange.request_date_to
        },
        headers: {
          authorization: "Bearer " + employee.token
        }
      })
        .then(res => {
          this.gatePasses = [];
          if (isArray(res.data.listGatePass)) {
            res.data.listGatePass.map(employee =>
              employee.gate_passes.map(gatepass => {
                let time_out = null;
                let time_in = null;

                if (gatepass.actual_time_out) {
                  time_out = moment(
                    `${gatepass.actual_time_out} ${gatepass.request_date}`,
                    "hh:mm a"
                  ).format("hh:mm a");
                }

                if (gatepass.actual_time_in) {
                  time_in = moment(
                    `${gatepass.actual_time_in} ${gatepass.request_date}`,
                    "hh:mm a"
                  ).format("hh:mm a");
                }

                this.gatePasses.push({
                  employee_id: employee.id,
                  id: gatepass.id,
                  name: `${employee.first_name} ${
                    employee.middle_name ? employee.middle_name : ""
                  } ${employee.last_name}`,
                  request_type: gatepass.request_type.name,
                  time_in,
                  time_out,
                  date: moment(gatepass.request_date).format("MM/DD/YYYY"),
                  elapsed_time:
                    gatepass.elapsed_time > 0
                      ? gatepass.elapsed_time + " Hour(s)"
                      : "",
                  department: employee.position
                    ? employee.position.team
                      ? employee.position.team.department
                        ? employee.position.team.department.name
                        : ""
                      : ""
                    : "",
                  team: employee.position
                    ? employee.position.team
                      ? employee.position.team.name
                      : ""
                    : ""
                });
              })
            );

            if (isArray(res.data.listDepartments)) {
              this.departments = [];
              res.data.listDepartments.filter(
                department => department.status === "Active"
              );
              this.departments = res.data.listDepartments;
            }
            if (isArray(res.data.listRequestTypes)) {
              this.requestTypes = [];
              res.data.listRequestTypes.filter(
                requestType => requestType.status === "Active"
              );
              this.requestTypes = res.data.listRequestTypes;
            }
          }
        })
        .catch(err => {});
    },
    async getDepartmentHeadReports() {
      await axios({
        method: "POST",
        url: ""
      });
    },

    async processVerifiedGatePass() {
      // await axios({
      //   method: "PUT",
      //   url: `${this.$axios.defaults.baseURL}/gatepass/requests/validate_request/verify_personal_out`,
      //   data: {
      //     employee_id: employee.id,
      //     modules: employee.modules,
      //     request_date_from: this.dateRange.request_date_from,
      //     request_date_to: this.dateRange.request_date_to
      //   },
      //   headers: {
      //     authorization: "Bearer " + employee.token
      //   }
      // })
    },

    async getGatePassReport() {
      const employee = JSON.parse(localStorage.employee);
      this.role = employee.role.name;
      let url = null;

      url = `${this.$axios.defaults.baseURL}/reports/view_verified_personal_out/`;

      await axios({
        method: "POST",
        url,
        data: {
          employee_id: employee.id,
          modules: employee.modules,
          request_date_from: this.dateRange.request_date_from,
          request_date_to: this.dateRange.request_date_to
        },
        headers: {
          authorization: "Bearer " + employee.token
        }
      })
        .then(res => {
          if (isArray(res.data.listGatePass)) {
            this.gatePasses = [];

            res.data.listGatePass.map(employee =>
              employee.gate_passes.map(gatepass => {
                let time_out = null;
                let time_in = null;
                let approval_time = null;
                let requested_time_in,
                  requested_time_out = null;
                if (gatepass.actual_time_out) {
                  time_out = moment(
                    `${gatepass.actual_time_out} ${gatepass.request_date}`,
                    "hh:mm a"
                  ).format("hh:mm a");
                }
                if (gatepass.approval_time) {
                  approval_time = moment(
                    `${gatepass.approval_time} ${gatepass.request_date}`,
                    "hh:mm a"
                  ).format("hh:mm a");
                }

                if (gatepass.actual_time_in) {
                  time_in = moment(
                    `${gatepass.actual_time_in} ${gatepass.request_date}`,
                    "hh:mm a"
                  ).format("hh:mm a");
                }
                if (gatepass.request_time_in) {
                  requested_time_in = moment(
                    `${gatepass.request_time_in} ${gatepass.request_date}`,
                    "HH:mm a"
                  ).format("hh:mm a");
                }
                if (gatepass.request_time_out) {
                  requested_time_out = moment(
                    `${gatepass.request_time_out} ${gatepass.request_date}`,
                    "hh:mm a"
                  ).format("hh:mm a");
                }
                this.employee.push({
                  first_name: employee.first_name,
                  middle_name: employee.middle_name ? employee.middle_name : "",
                  last_name: employee.last_name
                });
                this.gatePasses.push({
                  employee_id: employee.id,
                  id: gatepass.id,
                  name: `${employee.first_name} ${
                    employee.middle_name ? employee.middle_name : ""
                  } ${employee.last_name}`,
                  request_type: gatepass.request_type.name,
                  request_type: gatepass.request_type.name,
                  requested_time: gatepass.request_time_in
                    ? `${requested_time_out} - ${requested_time_in}`
                    : requested_time_out,
                  actual_time: gatepass.actual_time_in
                    ? `${time_out} - ${time_in}`
                    : `${time_out}`,
                  time_in,
                  time_out,
                  approval_time,
                  date: moment(gatepass.request_date).format("MM-DD-YYYY"),
                  elapsed_time:
                    gatepass.elapsed_time > 0
                      ? gatepass.elapsed_time + " Hour(s)"
                      : "",
                  department: employee.position
                    ? employee.position.team
                      ? employee.position.team.department
                        ? employee.position.team.department.name
                        : ""
                      : ""
                    : "",
                  team: employee.position
                    ? employee.position.team
                      ? employee.position.team.name
                      : ""
                    : ""
                });
              })
            );
          }
          if (isArray(res.data.listDepartments)) {
            this.departments = [];
            res.data.listDepartments = res.data.listDepartments.filter(
              department => department.status === "Active"
            );
            this.departments = res.data.listDepartments;
          }
          if (isArray(res.data.listRequestTypes)) {
            this.requestTypes = [];
            res.data.listRequestTypes = res.data.listRequestTypes.filter(
              requestType => requestType.status === "Active"
            );
            this.requestTypes = res.data.listRequestTypes;
          }
        })
        .catch(err => {});
    }
  },
  created() {
    this.getGatePassReport();
  }
};
</script>

<style>
.date_width {
  width: 100%;
  font-size: 1rem;
}
</style>
