<template>
  <div>
    <DepartmentTable />
  </div>
</template>

<script>
import DepartmentTable from "@/components/AdminDashboard/Departments/DepartmentTable";
export default {
  middleware: "authAdmin",
  layout: "sidebar",
  components: { DepartmentTable }
};
</script>

<style>
</style>
