<template>
  <div class="mx-2">
    <b-card ref="formUpdate">
      <b-row class="my-2 mx-1">
        <b-row>
          <b-col lg="5" md="4" sm="12" class="mb-2">
            <b-input-group prepend="From">
              <b-form-input
                id="verified-date-from"
                type="date"
                placeholder="Date From"
                v-model="dateRange.request_date_from"
                class="date_width"
              ></b-form-input>
            </b-input-group>
          </b-col>

          <b-col lg="7" md="4" sm="12" class="mb-2">
            <b-input-group prepend="To">
              <b-form-input
                id="verified-date-to"
                type="date"
                placeholder="Date To"
                v-model="dateRange.request_date_to"
                class="date_width"
              ></b-form-input>

              <b-input-group-append>
                <b-button
                  id="verified-date-range"
                  variant="success"
                  @click="getGatePassReport"
                >Search</b-button>
              </b-input-group-append>
            </b-input-group>
          </b-col>
        </b-row>
        <b-col lg="3" sm="6" md="6">
          <b-input-group prepend="Show">
            <b-form-select v-model="filterActive" id="verified-filter">
              <option :value="``">All</option>

              <optgroup label="Request Type">
                <option v-for="(type,i) in requestTypes" :key="i" :value="type.name">{{type.name}}</option>
              </optgroup>
            </b-form-select>
          </b-input-group>
        </b-col>
        <b-col lg="2">
          <b-input-group prepend="Items">
            <b-form-select v-model="perPage" @change="changePerpage">
              <option v-for="value in values" :key="value" :value="value">{{value}}</option>
            </b-form-select>
          </b-input-group>
        </b-col>
        <b-col lg="1" sm="6" md="6">
          <div>
            <b-dropdown id="dropdown-fields" text="Filter Table" ref="dropdown-fields">
              <b-dropdown-form>
                <b-dropdown-header id="dropdown-header-1">
                  <b>Fields</b>
                </b-dropdown-header>
                <b-form-checkbox
                  style="width:15rem"
                  v-for="(field,i) in getFilter"
                  :key="i"
                  v-model="field.isActive"
                  @change="field.isActive = !field.isActive"
                >{{field.label}}</b-form-checkbox>
              </b-dropdown-form>
            </b-dropdown>
          </div>
        </b-col>
      </b-row>

      <b-row>
        <b-col lg="12" md="6" sm="12" class="mb-1">
          <b-input-group>
            <b-form-input id="verified-search" v-model="filter" placeholder="Type to search"></b-form-input>
            <b-input-group-append>
              <b-button id="verified-clear" :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>
      </b-row>
      <b-table
        id="personal_report"
        :filter="filter"
        show-empty
        empty-text="There are no reports to display"
        :empty-filtered-text="`No search for ${filter} `"
        :items="getAllActiveFields.length === 0 ? [] :getReports"
        :fields="getAllActiveFields"
        :current-page="currentPage"
        :per-page="perPage"
        responsive
      >
        <template v-slot:table-caption>{{ bottomLabel }}</template>
        <template slot="index" slot-scope="data">
          <b-form-checkbox
            id="check-item-selected"
            name="selected-items"
            v-model="selectedItems"
            :value="data.item"
          ></b-form-checkbox>
        </template>
      </b-table>

      <b-pagination
        v-if="getReports.length > 0"
        id="personal-report-pagination"
        align="center"
        v-model="currentPage"
        :total-rows="totalRows"
        :per-page="perPage"
        aria-controls="my-table"
      ></b-pagination>
    </b-card>
  </div>
</template>

<script>
import ReportExportButton from "@/components/Reports/ReportExportButton";
import { mapGetters } from "vuex";
import moment from "moment";
import axios from "axios";
import { parse } from "path";
import { isArray } from "util";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
import VueCookies from "vue-cookies";

export default {
  components: {
    ReportExportButton,
    VueCookies,
  },
  data() {
    return {
      values: ["5", "10", "25", "50", "100"],
      currentPage: 1,
      perPage: 5,
      totalRows: 1,
      filter: "",
      filterActive: "",
      gatePasses: [],
      dateRange: {
        request_date_from: moment().format("YYYY-MM-DD"),
        request_date_to: moment().format("YYYY-MM-DD"),
      },
      selectedItems: [],
      fields: [
        {
          key: "request_type",
          label: "Request Type",
          isActive: true,
          sortable: true,
        },
        {
          key: "requested_time",
          label: "Requested Time",
          isActive: true,
          sortable: true,
        },
        {
          key: "approval_time",
          label: "Approval Time",
          sortable: true,
          isActive: true,
        },
        {
          key: "time_out",
          label: "Actual Time Out",
          isActive: true,
          sortable: true,
        },
        {
          key: "time_in",
          label: "Actual Time In",
          isActive: true,
          sortable: true,
        },
        {
          key: "elapsed_time",
          label: "Time Spent",
          isActive: true,
          sortable: true,
        },
        {
          key: "date",
          label: "Date",
          isActive: true,
          sortable: true,
        },
        {
          key: "validated_by",
          label: "Approved/Disapproved By",
          isActive: true,
          sortable: true,
        },
        {
          key: "status",
          label: "Status",
          isActive: true,
          sortable: true,
        },
        {
          key: "note",
          label: "Remarks",
          isActive: true,
          sortable: true,
        },
      ],
      departments: [],
      requestTypes: [],
      reportPath: [
        {
          text: "Home",
          to: "/Dashboard",
        },
        {
          text: "Reports",
          to: "/reports",
          active: true,
        },
      ],
      role: null,
    };
  },
  computed: {
    getFilter() {
      return this.fields.filter((field) => field.key !== "index");
    },
    getAllActiveFields() {
      return this.fields.filter((field) => field.isActive === true);
    },
    getReports() {
      VueCookies.set("filterActive", this.filterActive);
      VueCookies.set("filter", this.filter);
      return this.gatePasses.filter((employee) => {
        const results = employee.request_type
          .toLowerCase()
          .match(this.filterActive.toLowerCase());

        return results;
      });
    },
    bottomLabel() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.getReports.length) {
        end = this.getReports.length;
      }

      if (this.getReports.length === 0) {
        start = 0;
      }

      return `Showing ${start} to ${end} of ${this.getReports.length} entries`;
    },
  },
  methods: {
    changePerpage() {
      VueCookies.set("perPage", this.perPage);
    },
    async getDepartmentHeadReports() {
      await axios({
        method: "POST",
        url: "",
      });
    },

    async getGatePassReport() {
      let loader = this.$loading.show({
        // Pass props by their camelCased names
        container: this.$refs.formUpdate,

        color: "#0052cc",
        loader: "spinner",
        width: 128,
        height: 128,
        backgroundColor: "#ffffff",
        opacity: 0.5,
        zIndex: 999,
      });
      const employee = JSON.parse(localStorage.employee);
      this.role = employee.role.name;
      let url = null;
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/employees/employee_report`,
        data: {
          employee_id: employee.id,
          modules: employee.modules,
          request_date_from: this.dateRange.request_date_from,
          request_date_to: this.dateRange.request_date_to,
        },
        headers: {
          authorization: "Bearer " + employee.token,
        },
      })
        .then((res) => {
          VueCookies.set("request_date_from", this.dateRange.request_date_from);
          VueCookies.set("request_date_to", this.dateRange.request_date_to);
          loader.hide();
          if (isArray(res.data.listGatePass)) {
            this.gatePasses = [];
            res.data.listGatePass.map((gatepass) => {
              let time_out = null;
              let time_in = null;
              let approval_time = null;
              let requested_time_in,
                requested_time_out = null;
              if (gatepass.actual_time_out) {
                time_out = moment(
                  `${gatepass.actual_time_out} ${gatepass.request_date}`,
                  "hh:mm a"
                ).format("hh:mm a");
              }
              if (gatepass.approval_time) {
                approval_time = moment(
                  `${gatepass.approval_time} ${gatepass.request_date}`,
                  "hh:mm a"
                ).format("hh:mm a");
              }
              if (gatepass.actual_time_in) {
                time_in = moment(
                  `${gatepass.actual_time_in} ${gatepass.request_date}`,
                  "hh:mm a"
                ).format("hh:mm a");
              }
              if (gatepass.request_time_in) {
                requested_time_in = moment(
                  `${gatepass.request_time_in} ${gatepass.request_date}`,
                  "HH:mm A"
                ).format("hh:mm A");
              }
              if (gatepass.request_time_out) {
                requested_time_out = moment(
                  `${gatepass.request_time_out} ${gatepass.request_date}`,
                  "hh:mm A"
                ).format("hh:mm A");
              }

              let gatePassStatus;
              if (
                gatepass.status === "Approved" ||
                gatepass.status === "Time Out" ||
                gatepass.status === "Time In" ||
                gatepass.status === "Verified"
              ) {
                gatePassStatus = "Approved";
              } else if (gatepass.status === "Disapproved") {
                gatePassStatus = "Disapproved";
              }

              let filterLogs;
              let getLog;
              if (gatePassStatus) {
                filterLogs = gatepass.gate_pass_status_logs.filter(
                  (log) => log.status === gatePassStatus
                );

                getLog = filterLogs.reduce((prev, current) => {
                  if (+current.id > +prev.id) {
                    return current;
                  } else {
                    return prev;
                  }
                });
              }

              if (getLog) {
              }

              this.gatePasses.push({
                request_type: gatepass.request_type.name,
                requested_time: gatepass.request_time_in
                  ? `${requested_time_out} - ${requested_time_in}`
                  : requested_time_out
                  ? `${requested_time_out}`
                  : "",

                time_out,
                time_in,
                approval_time,
                elapsed_time:
                  gatepass.elapsed_time > 0
                    ? gatepass.elapsed_time + " Hour(s)"
                    : null,

                date: moment(gatepass.request_date).format("MM/DD/YYYY"),
                validated_by:
                  getLog && getLog.employee
                    ? `${getLog.employee.last_name}, ${
                        getLog.employee.first_name
                      } ${
                        getLog.employee.middle_name
                          ? getLog.employee.middle_name
                          : ""
                      }`
                    : "",
                status: gatepass.status,
                note: gatepass.note,
              });
            });
          } else {
            this.gatePasses = [];
          }

          this.totalRows = this.gatePasses.length;

          if (isArray(res.data.listDepartments)) {
            this.departments = [];
            res.data.listDepartments = res.data.listDepartments.filter(
              (department) => department.status === "Active"
            );
            this.departments = res.data.listDepartments;
          }
          if (isArray(res.data.listRequestTypes)) {
            this.requestTypes = [];
            res.data.listRequestTypes = res.data.listRequestTypes.filter(
              (requestType) => requestType.status === "Active"
            );
            this.requestTypes = res.data.listRequestTypes;
          }
        })
        .catch((e) => {
          {
          }
        });
    },
  },
  created() {
    if (VueCookies.get("filter")) {
      this.filter = VueCookies.get("filter");
    }
    if (VueCookies.get("perPage")) {
      this.perPage = VueCookies.get("perPage");
    }
    if (VueCookies.get("filterActive")) {
      this.filterActive = VueCookies.get("filterActive");
    }
    if (VueCookies.get("request_date_from")) {
      this.dateRange.request_date_from = VueCookies.get("request_date_from");
      this.dateRange.request_date_to = VueCookies.get("request_date_to");
    }
    this.getGatePassReport();
  },
  updated() {
    this.totalRows = this.getReports.length;
  },
};
</script>

<style>
.date_width {
  width: 100%;
  font-size: 1rem;
}
.dropdown-md {
  width: 4rem;
}
</style>
