<template>
  <div class="mx-2">
    <b-card ref="formVerify">
      <b-row class="my-2 mx-1">
        <b-row>
          <b-col lg="5" md="4" sm="12" class="mb-2">
            <b-input-group prepend="From">
              <b-form-input
                id="verified-date-from"
                type="date"
                placeholder="Date From"
                v-model="dateRange.request_date_from"
                class="date_width"
              ></b-form-input>
            </b-input-group>
          </b-col>

          <b-col lg="7" md="4" sm="12" class="mb-2">
            <b-input-group prepend="To">
              <b-form-input
                id="verified-date-to"
                type="date"
                placeholder="Date To"
                v-model="dateRange.request_date_to"
                class="date_width"
              ></b-form-input>

              <b-input-group-append>
                <b-button
                  id="verified-date-range"
                  variant="success"
                  @click="getGatePassReport"
                >Search</b-button>
              </b-input-group-append>
            </b-input-group>
          </b-col>
        </b-row>
        <b-col lg="3" sm="6" md="6">
          <b-input-group prepend="Show">
            <b-form-select v-model="filterActive" id="verified-filter">
              <option :value="``">All</option>
              <optgroup label="Department">
                <option
                  v-for="(department,i) in departments"
                  :key="i"
                  :value="department.name"
                >{{department.name}}</option>
              </optgroup>

              <optgroup label="Request Type">
                <option v-for="(type,i) in requestTypes" :key="i" :value="type.name">{{type.name}}</option>
              </optgroup>
            </b-form-select>
          </b-input-group>
        </b-col>
        <b-col lg="2">
          <b-input-group prepend="Items">
            <b-form-select v-model="perPage" @change="changePerpage">
              <option v-for="value in values" :key="value" :value="value">{{value}}</option>
            </b-form-select>
          </b-input-group>
        </b-col>
        <b-col lg="1" sm="6" md="6">
          <div>
            <b-dropdown id="dropdown-fields" text="Filter Table" ref="dropdown-fields">
              <b-dropdown-form>
                <b-dropdown-header id="dropdown-header-1">
                  <b>Fields</b>
                </b-dropdown-header>
                <b-form-checkbox
                  style="width:10rem"
                  v-for="(field,i) in getFilter"
                  :key="i"
                  v-model="field.isActive"
                  @change="field.isActive = !field.isActive"
                >{{field.label}}</b-form-checkbox>
              </b-dropdown-form>
            </b-dropdown>
          </div>
        </b-col>
      </b-row>
      <b-row>
        <b-col lg="12" md="6" sm="12" class="mb-1">
          <b-input-group>
            <b-form-input id="verified-search" v-model="filter" placeholder="Type to search"></b-form-input>
            <b-input-group-append>
              <b-button id="verified-clear" :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>

          <b-row>
            <b-col cols="8">
              <b-form-checkbox
                id="pending-checkbox-all"
                class="mt-2 ml-2"
                v-show="getReports.length > 0"
                @change="selectAll"
                :disabled="getReports.length === 0"
                :checked="selectedItems.length === getReports.length && getReports.length !== 0"
                v-if="VerifyAccessRights"
              >Select All</b-form-checkbox>
            </b-col>
            <!-- <b-col cols="4">
              <p
                id="poWithError"
                v-show="poWithError != 0"
                class="span-right mt-2"
                style="color:red"
              >There are {{poWithError}} gatepasses without Time in/ Time Out</p>
            </b-col>-->
          </b-row>
        </b-col>
        <b-col lg="3" sm="6" md="6" class="text-right mb-2">
          <div>
            <b-dropdown
              id="dropdown-fields"
              text="Filter Table"
              ref="dropdown-fields"
              style="width:185px"
            >
              <b-dropdown-form>
                <b-dropdown-header id="dropdown-header-1">
                  <b>Fields</b>
                </b-dropdown-header>
                <b-form-checkbox
                  style="width:10rem"
                  v-for="(field,i) in getFilter"
                  :key="i"
                  v-model="field.isActive"
                  @change="field.isActive = !field.isActive"
                >{{field.label}}</b-form-checkbox>
              </b-dropdown-form>
            </b-dropdown>
          </div>
        </b-col>
        <!-- <b-col cols="4">
              <p
                id="poWithError"
                v-show="poWithError != 0"
                class="span-right mt-2"
                style="color:red"
              >There are {{poWithError}} gatepasses without Time in/ Time Out</p>
        </b-col>-->
      </b-row>
      <b-table
        :filter="filter"
        show-empty
        responsive
        :tbody-tr-class="rowClass"
        :empty-text="`There are no ${filterActive ? filterActive : 'reports'} to display`"
        :empty-filtered-text="`No search for ${filter} `"
        :items="getAllActiveFields.length === 0 ? [] :getReports"
        :fields="getAllActiveFields"
        :per-page="perPage"
        :current-page="currentPage"
      >
        <template v-slot:table-caption>{{ bottomLabel }}</template>
        <template slot="HEAD_index">
          <b-form-checkbox
            v-show="selectedItems.length <0"
            @change="selectedPage"
            id="select-all-disappr"
            :checked="selectedItems.length === 5"
          ></b-form-checkbox>
        </template>

        <template
          slot="index"
          id="select-item"
          slot-scope="data"
          v-if="VerifyAccessRights && data.item.time_in !== null"
        >
          <b-form-checkbox name="selected-items" v-model="selectedItems" :value="data.item"></b-form-checkbox>
        </template>

        <template slot="name" slot-scope="data">
          <b-link :to="`/employees/${data.value.id}`" id="verified-employee">{{data.value.name}}</b-link>
        </template>
      </b-table>

      <b-pagination
        v-if="getReports.length > 0"
        id="disapproved-pagination"
        align="center"
        v-model="currentPage"
        :total-rows="totalRows"
        :per-page="perPage"
        aria-controls="my-table"
      ></b-pagination>
      <b-row v-show="selectedItems.length > 0">
        <b-button
          id="verified-button"
          variant="primary"
          class="ml-3 mr-3"
          @click="verifyModal"
        >Verify</b-button>
      </b-row>
    </b-card>
    <b-modal id="verify-modal-personal-out" ref="verify-modal" centered @ok="verifyPersonalOut">
      <div class="d-block text-center">
        <h3>Are you sure you want to verify {{selectedItems.length}} gate pass?</h3>
      </div>
    </b-modal>
  </div>
</template>

<script>
import ReportExportButton from "@/components/Reports/ReportExportButton";
import { mapGetters } from "vuex";
import moment from "moment";
import axios from "axios";
import { parse } from "path";
import { isArray } from "util";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
import VueCookies from "vue-cookies";

export default {
  components: {
    ReportExportButton,
    VueCookies,
  },
  data() {
    return {
      values: ["5", "10", "25", "50", "100"],
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      sortDesc: false,
      filter: "",
      filterActive: "",
      gatePasses: [],
      poWithError: 0,
      dateRange: {
        request_date_from: moment().format("YYYY-MM-DD"),
        request_date_to: moment().format("YYYY-MM-DD"),
      },
      localeData: {
        direction: "ltr",
        format: moment().format("mmm dd, yyyy"),
        separator: " - ",
      },
      selectedItems: [],
      fields: [
        {
          key: "index",
          label: "",
          isActive: true,
        },
        {
          key: "name",
          label: "Name",
          sortable: true,
          sortDirection: "desc",
          isActive: true,
        },
        {
          key: "request_type",
          label: "Request Type",
          sortable: true,
          isActive: true,
        },
        {
          key: "requested_time",
          label: "Requested Time",
          sortable: true,
          isActive: true,
        },
        {
          key: "approval_time",
          label: "Approval Time",
          sortable: true,
          isActive: true,
        },
        {
          key: "time_out",
          label: "Actual Time Out",
          sortable: true,
          isActive: true,
        },
        {
          key: "time_in",
          label: "Actual Time In",
          sortable: true,
          isActive: true,
        },
        {
          key: "elapsed_time",
          label: "Time Spent",
          sortable: true,
          isActive: true,
        },
        {
          key: "date",
          label: "Date",
          isActive: true,
        },
        {
          key: "team",
          label: "Team",
          sortable: true,
          isActive: false,
        },
        {
          key: "department",
          label: "Department",
          sortable: true,
          isActive: false,
        },
      ],
      departments: [],
      requestTypes: [],
      reportPath: [
        {
          text: "Home",
          to: "/Dashboard",
        },
        {
          text: "Reports",
          to: "/reports",
          active: true,
        },
      ],
      role: null,
    };
  },
  computed: {
    VerifyAccessRights() {
      const employee = JSON.parse(localStorage.employee);
      const mapReport = employee.modules.find(
        (element) => element.description === "Request"
      );
      const mapPersonaOutReport = mapReport.actions.find(
        (action) => action.description === "Verify personal out gate pass"
      );

      return mapPersonaOutReport;
    },
    getFilter() {
      return this.fields.filter((field) => field.key !== "index");
    },
    getAllActiveFields() {
      return this.fields.filter((field) => field.isActive === true);
    },
    getReports() {
      VueCookies.set("filterActive", this.filterActive);
      VueCookies.set("filter", this.filter);

      for (let index = 0; index < this.gatePasses.length; index++) {
        const gatePass = this.gatePasses[index];

        if (
          gatePass.request_type == "Personal Out" &&
          (!gatePass.time_in || !gatePass.time_out)
        ) {
          this.poWithError++;
        }
      }

      return this.gatePasses.filter((employee) => {
        const name = employee.name.name;
        const results =
          (employee.department
            .toLowerCase()
            .match(this.filterActive.toLowerCase()) ||
            employee.request_type
              .toLowerCase()
              .match(this.filterActive.toLowerCase())) &&
          (name.toLowerCase().match(this.filter) ||
            name.toUpperCase().match(this.filter) ||
            name.match(this.filter));
        return results;
      });
    },
    bottomLabel() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.getReports.length) {
        end = this.getReports.length;
      }

      if (this.getReports.length === 0) {
        start = 0;
      }

      return `Showing ${start} to ${end} of ${this.getReports.length} entries`;
    },
  },
  methods: {
    rowClass(item, type) {
      if (!item) return;
      if (item.time_in === null) return "table-danger";
    },
    changePerpage() {
      VueCookies.set("perPage", this.perPage);
    },
    selectedPage() {
      if (this.selectedItems.length === 5) {
        this.selectedItems = [];
      } else {
        this.selectedItems = this.getReports.slice(
          (this.currentPage - 1) * this.perPage,
          this.perPage * this.currentPage
        );
      }
    },
    selectAll() {
      if (this.selectedItems.length === this.gatePasses.length) {
        this.selectedItems = [];
      } else {
        this.selectedItems = this.gatePasses.slice();
      }
    },
    verifyModal() {
      this.$refs["verify-modal"].show();
    },
    async verifyPersonalOut() {
      let loader = this.$loading.show({
        // Pass props by their camelCased names
        container: this.$refs.formVerify,

        color: "#0052cc",
        loader: "spinner",
        width: 128,
        height: 128,
        backgroundColor: "#ffffff",
        opacity: 0.5,
        zIndex: 999,
      });
      const loginData = JSON.parse(localStorage.employee);
      this.selectedItems.forEach((item) => {
        if (item.time_in !== null) {
          axios({
            method: "PUT",
            url: `${this.$axios.defaults.baseURL}/gatepass/requests/validate_request/verify_personal_out`,
            data: {
              employee_id: loginData.id,
              role: loginData.role,
              modules: loginData.modules,
              id: item.id,
              status: "Verified",
            },
            headers: { Authorization: "Bearer " + loginData.token },
          })
            .then((res) => {
              loader.hide();
              const gatePassIndex = this.gatePasses.findIndex(
                (gate_pass) => gate_pass.id === res.data.gate_pass_id
              );
              this.gatePasses.splice(gatePassIndex, 1);

              this.$emit("reload");
            })
            .catch((err) => {
              loader.hide();
            });
        } else {
          loader.hide();
        }
      });
    },
    async getGatePassReport() {
      let loader = this.$loading.show({
        // Pass props by their camelCased names
        container: this.$refs.formVerify,

        color: "#0052cc",
        loader: "spinner",
        width: 128,
        height: 128,
        backgroundColor: "#ffffff",
        opacity: 0.5,
        zIndex: 999,
      });

      const employee = JSON.parse(localStorage.employee);
      this.role = employee.role.name;

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/reports/view_personal_out`,
        data: {
          employee_id: employee.id,
          modules: employee.modules,
          request_date_from: moment(this.dateRange.request_date_from).format(
            "YYYY-MM-DD"
          ),
          request_date_to: moment(this.dateRange.request_date_to).format(
            "YYYY-MM-DD"
          ),
        },
        headers: {
          authorization: "Bearer " + employee.token,
        },
      })
        .then((res) => {
          VueCookies.set("request_date_from", this.dateRange.request_date_from);
          VueCookies.set("request_date_to", this.dateRange.request_date_to);
          loader.hide();
          this.gatePasses = [];

          if (isArray(res.data.listGatePass)) {
            res.data.listGatePass.map((employee) => {
              if (employee.gate_passes.length) {
                employee.gate_passes.map((gatepass) => {
                  let time_out = null;
                  let time_in = null;
                  let approval_time = null;

                  let requested_time_in,
                    requested_time_out = null;
                  if (gatepass.actual_time_out) {
                    time_out = moment(
                      `${gatepass.actual_time_out} ${gatepass.request_date}`,
                      "hh:mm a"
                    ).format("hh:mm a");
                  }
                  if (gatepass.approval_time) {
                    approval_time = moment(
                      `${gatepass.approval_time} ${gatepass.request_date}`,
                      "hh:mm a"
                    ).format("hh:mm a");
                  }

                  if (gatepass.actual_time_in) {
                    time_in = moment(
                      `${gatepass.actual_time_in} ${gatepass.request_date}`,
                      "hh:mm a"
                    ).format("hh:mm a");
                  }

                  if (gatepass.request_time_in) {
                    requested_time_in = moment(
                      `${gatepass.request_time_in} ${gatepass.request_date}`,
                      "HH:mm a"
                    ).format("hh:mm a");
                  }
                  if (gatepass.request_time_out) {
                    requested_time_out = moment(
                      `${gatepass.request_time_out} ${gatepass.request_date}`,
                      "hh:mm a"
                    ).format("hh:mm a");
                  }
                  this.gatePasses.push({
                    employee_id: employee.id,
                    id: gatepass.id,
                    emp_name: `${employee.last_name}, ${employee.first_name}${
                      employee.middle_name ? employee.middle_name : ""
                    }`,
                    name: {
                      name: `${employee.last_name}, ${employee.first_name} ${
                        employee.middle_name ? employee.middle_name : ""
                      }`,
                      id: employee.id,
                    },
                    request_type: gatepass.request_type.name,
                    requested_time: gatepass.request_time_in
                      ? `${requested_time_out} - ${requested_time_in}`
                      : requested_time_out,
                    time_in,
                    time_out,
                    approval_time,
                    date: moment(gatepass.request_date).format("MM/DD/YYYY"),
                    elapsed_time:
                      gatepass.elapsed_time > 0
                        ? gatepass.elapsed_time + " Hour(s)"
                        : "",
                    department: employee.position
                      ? employee.position.team
                        ? employee.position.team.department
                          ? employee.position.team.department.name
                          : ""
                        : ""
                      : "",
                    team: employee.position
                      ? employee.position.team
                        ? employee.position.team.name
                        : ""
                      : "",
                  });
                });
              }
            });
          }
          if (isArray(res.data.listLunchOutRequests)) {
            res.data.listLunchOutRequests.map((employee) => {
              if (employee.gate_passes.length) {
                employee.gate_passes.map((gatepass) => {
                  let requested_time_in,
                    requested_time_out = null;
                  let time_out = null;
                  let time_in = null;
                  let approval_time = null;
                  if (gatepass.actual_time_out) {
                    time_out = moment(
                      `${gatepass.actual_time_out} ${gatepass.request_date}`,
                      "hh:mm a"
                    ).format("hh:mm a");
                  }
                  if (gatepass.approval_time) {
                    approval_time = moment(
                      `${gatepass.approval_time} ${gatepass.request_date}`,
                      "hh:mm a"
                    ).format("hh:mm a");
                  }

                  if (gatepass.actual_time_in) {
                    time_in = moment(
                      `${gatepass.actual_time_in} ${gatepass.request_date}`,
                      "hh:mm a"
                    ).format("hh:mm a");
                  }

                  if (gatepass.request_time_in) {
                    requested_time_in = moment(
                      `${gatepass.request_time_in} ${gatepass.request_date}`,
                      "HH:mm a"
                    ).format("hh:mm a");
                  }
                  if (gatepass.request_time_out) {
                    requested_time_out = moment(
                      `${gatepass.request_time_out} ${gatepass.request_date}`,
                      "hh:mm a"
                    ).format("hh:mm a");
                  }
                  this.gatePasses.push({
                    employee_id: employee.id,
                    id: gatepass.id,
                    emp_name: `${employee.last_name}, ${employee.first_name} ${
                      employee.middle_name ? employee.middle_name : ""
                    }`,
                    name: {
                      name: `${employee.last_name}, ${employee.first_name} ${
                        employee.middle_name ? employee.middle_name : ""
                      }`,
                      id: employee.id,
                    },
                    request_type: gatepass.request_type.name,
                    requested_time: gatepass.request_time_in
                      ? `${requested_time_out} - ${requested_time_in}`
                      : `${requested_time_out}`,

                    time_in,
                    time_out,
                    approval_time,
                    date: moment(gatepass.request_date).format("MM/DD/YYYY"),
                    elapsed_time:
                      gatepass.elapsed_time > 0
                        ? gatepass.elapsed_time + " Hour(s)"
                        : "",
                    department: employee.position
                      ? employee.position.team
                        ? employee.position.team.department
                          ? employee.position.team.department.name
                          : ""
                        : ""
                      : "",
                    team: employee.position
                      ? employee.position.team
                        ? employee.position.team.name
                        : ""
                      : "",
                  });
                });
              }
            });
          }

          if (isArray(res.data.listDepartments)) {
            this.departments = [];
            res.data.listDepartments = res.data.listDepartments.filter(
              (department) => department.status === "Active"
            );
            this.departments = res.data.listDepartments;
          }
          if (isArray(res.data.listRequestTypes)) {
            this.requestTypes = [];
            res.data.listRequestTypes = res.data.listRequestTypes.filter(
              (requestType) => requestType.status === "Active"
            );
            this.requestTypes = res.data.listRequestTypes;
          }
        })
        .catch((err) => loader.hide());
    },
  },
  created() {
    if (VueCookies.get("filter")) {
      this.filter = VueCookies.get("filter");
    }
    if (VueCookies.get("perPage")) {
      this.perPage = VueCookies.get("perPage");
    }
    if (VueCookies.get("filterActive")) {
      this.filterActive = VueCookies.get("filterActive");
    }
    if (VueCookies.get("request_date_from")) {
      this.dateRange.request_date_from = VueCookies.get("request_date_from");
      this.dateRange.request_date_to = VueCookies.get("request_date_to");
    }
    this.getGatePassReport();
  },
  updated() {
    this.totalRows = this.getReports.length;
  },
};
</script>

<style>
.date_width {
  width: 100%;
  font-size: 1rem;
}
</style>
