<template>
  <div class="mx-2">
    <b-card>
      <b-row class="my-2 mx-1">
        <b-row>
          <b-col lg="5" md="4" sm="12" class="mb-2">
            <b-input-group prepend="From">
              <b-form-input
                id="verified-date-from"
                type="date"
                placeholder="Date From"
                v-model="dateRange.request_date_from"
                class="date_width"
              ></b-form-input>
            </b-input-group>
          </b-col>

          <b-col lg="7" md="4" sm="12" class="mb-2">
            <b-input-group prepend="To">
              <b-form-input
                id="verified-date-to"
                type="date"
                placeholder="Date To"
                v-model="dateRange.request_date_to"
                class="date_width"
              ></b-form-input>

              <b-input-group-append>
                <b-button
                  id="verified-date-range"
                  variant="success"
                  @click="getGatePassReport"
                >Search</b-button>
              </b-input-group-append>
            </b-input-group>
          </b-col>
        </b-row>
        <b-col lg="3" sm="6" md="6">
          <b-input-group prepend="Show">
            <b-form-select v-model="filterActive" id="verified-filter">
              <option :value="``">All</option>
              <optgroup label="Department" v-show="userRole === 'pg' || userRole === 'admin'">
                <option
                  v-for="(department,i) in departments"
                  :key="i"
                  :value="department.name"
                >{{department.name}}</option>
              </optgroup>

              <optgroup label="Request Type">
                <option v-for="(type,i) in requestTypes" :key="i" :value="type.name">{{type.name}}</option>
              </optgroup>
            </b-form-select>
          </b-input-group>
        </b-col>
        <b-col lg="2">
          <b-input-group prepend="Items">
            <b-form-select v-model="perPage" @change="changePerpage">
              <option v-for="value in values" :key="value" :value="value">{{value}}</option>
            </b-form-select>
          </b-input-group>
        </b-col>
        <b-col lg="1" sm="6" md="6">
          <div>
            <b-dropdown id="dropdown-fields" text="Filter Table" ref="dropdown-fields">
              <b-dropdown-form>
                <b-dropdown-header id="dropdown-header-1">
                  <b>Fields</b>
                </b-dropdown-header>
                <b-form-checkbox
                  style="width:10rem"
                  v-for="(field,i) in getFilter"
                  :key="i"
                  v-model="field.isActive"
                  @change="field.isActive = !field.isActive"
                >{{field.label}}</b-form-checkbox>
              </b-dropdown-form>
            </b-dropdown>
          </div>
        </b-col>
      </b-row>
      <b-row class="my-2">
        <b-col lg="7" md="6" sm="12" class="mb-1">
          <b-input-group>
            <b-form-input id="verified-search" v-model="filter" placeholder="Type to search"></b-form-input>
            <b-input-group-append>
              <b-button id="verified-clear" :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>
        <b-col lg="3" md="6" sm="12" v-show="getImportAccess">
          <b-form-file
            v-model="file"
            placeholder="Import Excel File(.xlsx)"
            drop-placeholder="Drop file here"
            @change="onFileChange"
            accept=".xlsx"
            id="employee-excel-file"
          ></b-form-file>
        </b-col>
        <b-col lg="2" md="6" sm="12" v-show="file !== null">
          <b-button variant="primary" @click="uploadExcelFile">
            <div v-if="loading === false">
              <v-icon dark small class="mr-2" size="10">fa-file-upload</v-icon>Import
            </div>
            <div v-if="loading===true">
              <b-spinner variant="light" small></b-spinner>
            </div>
          </b-button>
        </b-col>
      </b-row>
      <b-table
        id="report-table"
        :tbody-tr-class="rowClass"
        responsive
        show-empty
        :empty-text="`There are no ${filterActive ? filterActive:'reports'} to display`"
        :empty-filtered-text="`No search for ${filter } `"
        :items="getAllActiveFields.length === 0 ? [] :getReports"
        :per-page="perPage"
        :current-page="currentPage"
        :fields="getAllActiveFields"
      >
        <template v-slot:table-caption>{{ bottomLabel }}</template>
        <template slot="name" slot-scope="data">
          <b-link :to="`/employees/${data.value.id}`" id="employee-link">{{data.value.name}}</b-link>
        </template>
        <template slot="action" slot-scope="data">
          <b-button
            @click="editGatePass(data.item)"
            variant="primary"
            v-if="data.item.status !== `Processed`"
          >Edit</b-button>
        </template>
      </b-table>

      <b-row align-h="end" v-if="getReports.length > 0">
        <b-col lg="5" md="5">
          <b-pagination
            id="employees-report-pagination"
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            aria-controls="my-table"
          ></b-pagination>
        </b-col>
        <b-col lg="2" md="2">
          <ReportExportButton
            :block="false"
            :reports="getReports"
            :report_type="`reports`"
            :checked_filter="getAllActiveFields"
          />
        </b-col>
      </b-row>
    </b-card>
    <b-modal scrollable center ref="modal-employees" :hide-footer="true">
      <b-card ref="formEdit">
        <b-card-title>Edit Employee Gate Pass</b-card-title>
        <b-form @submit.stop.prevent="submitActualTime">
          <b-form-group label="Name">
            <b-form-input id="employee-report-name" disabled :value="employee_report.name"></b-form-input>
          </b-form-group>

          <b-form-group>
            <label for="select-request-edit-gatepass">Request Type</label>
            <b-form-select id="select-request-edit-gatepass" v-model="employee_report.request_type">
              <option
                v-for="(request,i) in requestTypes"
                :required="true"
                :key="i"
                :value="request"
              >{{request.name}}</option>
            </b-form-select>
          </b-form-group>

          <b-form-group label="Approval Time">
            <b-form-input
              :type="`time`"
              placeholder="Approval Time"
              id="approval-time"
              v-model="employee_report.approval_time"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group label="Actual Time Out">
            <b-form-input
              :type="`time`"
              placeholder="Actual Time Out"
              id="actual-time-out"
              v-model="employee_report.time_out"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group
            label="Actual Time In"
            v-show="employee_report.request_type.has_time_in === true"
          >
            <b-form-input
              id="actual-time-in"
              placeholder="Actual Time In"
              :type="`time`"
              v-model="employee_report.time_in"
              v-show="employee_report.request_type.has_time_in === true"
              :required="employee_report.request_type.has_time_in === true"
            ></b-form-input>
          </b-form-group>
          <hr />
          <div align="right">
            <b-button @click="cancel()" id="edit-cancel-modal">Cancel</b-button>
            <b-button type="submit" variant="primary" id="edit-ok-modal">Ok</b-button>
          </div>
        </b-form>
      </b-card>
      <b-toast
        id="error-toast"
        title="Error"
        auto-hide-delay="4000"
        variant="danger"
        toaster="b-toaster-bottom-right"
        :solid="false"
        v-model="errorMsg"
      >{{addingError}}</b-toast>
    </b-modal>
  </div>
</template>

<script>
import ReportExportButton from "@/components/Reports/ReportExportButton";
import { mapGetters, mapMutations } from "vuex";
import moment from "moment";
import axios from "axios";
import { parse } from "path";
import { isArray } from "util";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
import VueCookies from "vue-cookies";

export default {
  components: {
    ReportExportButton,
    VueCookies,
  },

  // mounted() {
  //   this.getGatePassReport();
  // },
  data() {
    return {
      loading: false,
      file: null,
      excelFile: null,
      values: ["5", "10", "25", "50", "100"],
      errorMsg: false,
      addingError: null,
      userRole: null,
      currentPage: 1,
      employee_report: {
        gatepass_id: null,
        id: null,
        name: "",
        time_in: null,
        time_out: null,
        status: null,
        request_type: {
          id: null,
          has_time_in: true,
        },
        date: moment().format("YYYY-MM-DD"),
      },
      perPage: 5,
      totalRows: 1,
      filter: "",
      filterActive: "",
      gatePasses: [],
      opens: "center",
      datePicker: {
        startDate: moment().format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY"),
      },
      dateRange: {
        request_date_from: moment().format("YYYY-MM-DD"),
        request_date_to: moment().format("YYYY-MM-DD"),
      },
      localeData: {
        direction: "ltr",
        format: moment().format("mmm dd, yyyy"),
        separator: " - ",
      },

      fields: [
        {
          key: "name",
          label: "Name",
          sortable: true,
          isActive: true,
        },
        {
          key: "request_type.name",
          label: "Request Type",
          sortable: true,
          isActive: true,
        },
        {
          key: "requested_time",
          label: "Requested Time",
          sortable: true,
          isActive: true,
        },
        {
          key: "approval_time",
          label: "Approval Time",
          sortable: true,
          isActive: true,
        },
        {
          key: "time_out",
          label: "Actual Time Out",
          sortable: true,
          isActive: true,
        },
        {
          key: "time_in",
          label: "Actual Time In",
          sortable: true,
          isActive: true,
        },
        {
          key: "elapsed_time",
          label: "Time Spent",
          sortable: true,
          isActive: true,
        },
        {
          key: "date",
          label: "Date",
          isActive: true,
          sortable: true,
        },
        {
          key: "status",
          label: "Status",
          sortable: true,
          isActive: true,
        },
        {
          key: "approved_by",
          label: "Approved by",
          sortable: true,
          isActive: true,
        },
        {
          key: "team",
          label: "Team",
          sortable: true,
          isActive: false,
        },
        {
          key: "department",
          label: "Department",
          sortable: true,
          isActive: false,
        },
        {
          key: "reason",
          label: "Reason",
          sortable: true,
          isActive: true,
        },
        {
          key: "action",
          label: "Action",
          isActive: true,
        },
      ],
      departments: [],
      requestTypes: [],
      reportPath: [
        {
          text: "Home",
          to: "/Dashboard",
        },
        {
          text: "Reports",
          to: "/reports",
          active: true,
        },
      ],
      role: null,
    };
  },
  computed: {
    getAccessRights() {
      const employee = JSON.parse(localStorage.employee);

      const mapReports = employee.modules.find(
        (element) => element.description === "Report"
      );
      if (mapReports) {
        const canCorrectTime = mapReports.actions.find(
          (action) => action.description === "Correct gate pass report"
        );
        return canCorrectTime;
      }
    },

    bottomLabel() {
      // if(this.getReports.length <= this.perPage){
      //   return `Showing ${this.getReports.length} to ${this.getReports.length}`
      // }

      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.getReports.length) {
        end = this.getReports.length;
      }

      if (this.getReports.length === 0) {
        start = 0;
      }

      return `Showing ${start} to ${end} of ${this.getReports.length} entries`;
    },
    getFilter() {
      const employee = JSON.parse(localStorage.employee);
      const mapReports = employee.modules.find(
        (element) => element.description === "Report"
      );
      let filterAcitveFields = this.fields;
      let canCorrectTime;

      if (mapReports) {
        canCorrectTime = mapReports.actions.find(
          (action) => action.description === "Correct gate pass report"
        );
        if (!canCorrectTime) {
          filterAcitveFields = this.fields.filter(
            (field) => field.label !== "Action"
          );
        }

        if (this.userRole === "th") {
          return filterAcitveFields.filter(
            (field) =>
              field.key !== "index" &&
              field.key !== "department" &&
              field.key !== "team"
          );
        } else if (this.userRole === "mng" || this.userRole === "dh") {
          return filterAcitveFields.filter(
            (field) => field.key !== "index" && field.key !== "department"
          );
        } else {
          return filterAcitveFields.filter((field) => field.key !== "index");
        }
      }
    },
    getAllActiveFields() {
      const employee = JSON.parse(localStorage.employee);
      const mapReports = employee.modules.find(
        (element) => element.description === "Report"
      );
      let filterAcitveFields = this.fields;
      let canCorrectTime;
      if (mapReports) {
        canCorrectTime = mapReports.actions.find(
          (action) => action.description === "Correct gate pass report"
        );
        if (canCorrectTime) {
          return filterAcitveFields.filter((field) => field.isActive === true);
        } else {
          return filterAcitveFields
            .filter((field) => field.isActive === true)
            .filter((field) => field.label !== "Action");
        }
      }
    },
    getReports() {
      VueCookies.set("filterActive", this.filterActive);
      VueCookies.set("filter", this.filter);

      return this.gatePasses.filter((employee) => {
        const name = employee.name.name ? employee.name.name : "";
        let department = employee.department;
        let request_type = employee.request_type.name;
        if (!request_type) {
          request_type = "";
        }
        if (!department) {
          department = "";
        }
        const results =
          (department.match(this.filterActive) ||
            request_type.match(this.filterActive)) &&
          (name.toLowerCase().match(this.filter) ||
            name.toUpperCase().match(this.filter) ||
            name.match(this.filter));
        return results;
      });
    },
    getImportAccess() {
      const employee = JSON.parse(localStorage.employee);
      const mapGatePass = employee.modules.find(
        (element) => element.description === "Report"
      );
      const importGatePass = mapGatePass.actions.find(
        (action) => action.description === "Import gate pass"
      );

      return importGatePass;
    },
  },
  methods: {
    changePerpage() {
      VueCookies.set("perPage", this.perPage);
    },
    rowClass(item, type) {
      if (!item) return;
      if (item.time_in === null && item.request_type.has_time_in === true)
        return "table-danger";
    },
    onFileChange(evt) {
      const files = evt.target.files || evt.dataTransfer.files;
      if (!files.length) return;
      this.createExcel(files[0]);
    },
    createExcel(file) {
      const reader = new FileReader();

      reader.onload = (evt) => {
        this.excelFile = evt.target.result;
      };
      reader.readAsDataURL(file);
    },
    async uploadExcelFile() {
      this.loading = true;
      const formData = new FormData();
      if (this.file) {
        formData.append("xlxs", this.file);
        const employee = JSON.parse(localStorage.employee);
        await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/gatepass/upload_file`,
          data: formData,
          headers: {
            Authorization: `Bearer ${employee.token}`,
          },
        })
          .then((response) => {
            this.sendExcelFile(response.data);
          })
          .catch((error) => {});
      }
      this.file = null;
    },
    async sendExcelFile(data) {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/gatepass/requests/import`,
        headers: { Authorization: `Bearer ${employee.token}` },
        data: {
          employee_id: employee.id,
          path: data.path,
          modules: employee.modules,
        },
      })
        .then((response) => {
          this.loading = false;
          this.getGatePassReport();
          this.displayToast("Imported", response.data);
        })
        .catch((err) => {
          this.loading = false;
          this.$bvToast.toast(`${err}`, {
            title: `Error`,
            variant: "danger",
            toaster: "b-toaster-bottom-right",
            solid: false,
            autoHideDelay: 5000,
            noCloseButton: true,
          });
        });
    },
    displayToast(action, data) {
      this.$bvToast.toast(`${data} `, {
        id: "toast-display-action",
        title: `File ${action}`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "primary",
        toaster: "b-toaster-bottom-right",
        solid: false,
      });
    },

    cancel() {
      this.clearCorrectedGatePass();
      this.$refs["modal-employees"].hide();
    },
    async submitActualTime() {
      let loader = this.$loading.show({
        // Pass props by their camelCased names
        container: this.$refs.formEdit,

        color: "#0052cc",
        loader: "spinner",
        width: 128,
        height: 128,
        backgroundColor: "#ffffff",
        opacity: 0.5,
        zIndex: 999,
      });
      const employee = JSON.parse(localStorage.employee);
      const report_date = moment(this.employee_report.date).format(
        "YYYY-MM-DD"
      );
      let request_type = this.employee_report.request_type.id;
      let actual_time_in = null;
      let actual_time_out = null;
      let approval_time = null;

      if (this.employee_report.time_out) {
        actual_time_out = this.employee_report.time_out;
      }
      if (this.employee_report.approval_time) {
        approval_time = this.employee_report.approval_time;
      }

      if (this.employee_report.time_in) {
        actual_time_in = this.employee_report.time_in;
      }
      if (!this.employee_report.request_type.has_time_in) {
        actual_time_in = null;
      }

      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/gatepass/reports/update_gate_pass`,
        data: {
          employee_id: employee.id,
          id: this.employee_report.gatepass_id,
          actual_time_out,
          actual_time_in,
          request_date: report_date,
          request_type_id: request_type,
          status: this.employee_report.status,
          modules: employee.modules,
          approval_time,
        },
        headers: {
          authorization: `Bearer ${employee.token}`,
        },
      })
        .then((response) => {
          loader.hide();
          this.$bvToast.toast(`Successfully updated`, {
            id: "toast-edit-actual-time",
            title: `Update`,
            autoHideDelay: 4000,
            variant: "primary",
            toaster: "b-toaster-bottom-right",
            solid: false,
          });
          this.clearCorrectedGatePass();
          this.getGatePassReport();
          this.$emit("reload");
          this.$refs["modal-employees"].hide();
        })
        .catch((error) => {
          loader.hide();
          if (error.response.status === 400) {
            this.addingError = error.response.data;
            this.errorMsg = true;
          }
        });
    },
    clearCorrectedGatePass() {
      this.employee_report = {
        gatepass_id: null,
        id: null,
        name: "",
        time_in: null,
        time_out: null,
        request_type: {
          id: null,
          has_time_in: true,
        },
        status: null,
        date: moment().format("YYYY-MM-DD"),
      };
    },
    async getGatePassReport() {
      let loader = this.$loading.show({
        // Pass props by their camelCased names
        container: this.$refs.formEdit,

        color: "#0052cc",
        loader: "spinner",
        width: 128,
        height: 128,
        backgroundColor: "#ffffff",
        opacity: 0.5,
        zIndex: 999,
      });
      const employee = JSON.parse(localStorage.employee);
      this.role = employee.role.name;
      let url = null;

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/reports/employees_report/${employee.roleParam}`,
        data: {
          employee_id: employee.id,
          modules: employee.modules,
          request_date_from: this.dateRange.request_date_from,
          request_date_to: this.dateRange.request_date_to,
        },
        headers: {
          authorization: "Bearer " + employee.token,
        },
      })
        .then((res) => {
          VueCookies.set("request_date_from", this.dateRange.request_date_from);
          VueCookies.set("request_date_to", this.dateRange.request_date_to);
          loader.hide();
          if (isArray(res.data.listGatePass)) {
            this.gatePasses = [];
            res.data.listGatePass.map((employee) =>
              employee.gate_passes.map((gatepass) => {
                let time_out = null;
                let time_in = null;
                let requested_time_in,
                  requested_time_out = null;

                let approval_time = null;
                if (gatepass.actual_time_out) {
                  time_out = moment(
                    `${gatepass.actual_time_out} ${gatepass.request_date}`,
                    "hh:mm a"
                  ).format("hh:mm a");
                }
                if (gatepass.approval_time) {
                  approval_time = moment(
                    `${gatepass.approval_time} ${gatepass.request_date}`,
                    "hh:mm a"
                  ).format("hh:mm a");
                }

                if (gatepass.actual_time_in) {
                  time_in = moment(
                    `${gatepass.actual_time_in} ${gatepass.request_date}`,
                    "hh:mm a"
                  ).format("hh:mm a");
                }

                if (gatepass.request_time_in) {
                  requested_time_in = moment(
                    `${gatepass.request_time_in} ${gatepass.request_date}`,
                    "hh:mm a"
                  ).format("hh:mm a");
                }
                if (gatepass.request_time_out) {
                  requested_time_out = moment(
                    `${gatepass.request_time_out} ${gatepass.request_date}`,
                    "hh:mm a"
                  ).format("hh:mm a");
                }
                const filterByApproved = gatepass.gate_pass_status_logs.filter(
                  (log) => log.status === "Approved"
                );
                let getApproved;
                if (filterByApproved.length > 0) {
                  getApproved = filterByApproved.reduce((prev, current) => {
                    if (+current.id > +prev.id) {
                      return current;
                    } else {
                      return prev;
                    }
                  });
                }

                this.gatePasses.push({
                  name: {
                    name: `${employee.last_name}, ${employee.first_name} ${
                      employee.middle_name ? employee.middle_name : ""
                    } `,
                    id: `${employee.id}`,
                  },
                  is_offsite: employee.is_offsite,
                  gate_pass_id: gatepass.id,
                  request_type: gatepass.request_type,
                  request_type_id: gatepass.request_type.id,
                  requested_time: gatepass.request_time_in
                    ? `${requested_time_out} - ${requested_time_in}`
                    : requested_time_out
                    ? `${requested_time_out}`
                    : "",
                  time_in,
                  time_out,
                  approval_time,
                  status: gatepass.status,
                  date: moment(gatepass.request_date).format("MM/DD/YYYY"),
                  approved_by: getApproved
                    ? getApproved.employee
                      ? `${getApproved.employee.last_name}, ${
                          getApproved.employee.first_name
                        } ${
                          getApproved.employee.middle_name
                            ? getApproved.employee.middle_name
                            : ""
                        } `
                      : ""
                    : "",

                  elapsed_time:
                    gatepass.elapsed_time && gatepass.elapsed_time > 0
                      ? gatepass.elapsed_time + " Hour(s)"
                      : "",
                  department: employee.position
                    ? employee.position.team
                      ? employee.position.team.department
                        ? employee.position.team.department.name
                        : ""
                      : ""
                    : "",
                  team: employee.position
                    ? employee.position.team
                      ? employee.position.team.name
                      : ""
                    : "",
                  reason: gatepass.reason,
                });
              })
            );
          } else {
            this.gatePasses = [];
          }
          if (isArray(res.data.listDepartments)) {
            this.departments = [];
            res.data.listDepartments = res.data.listDepartments.filter(
              (department) => department.status === "Active"
            );
            this.departments = res.data.listDepartments;
          }
          if (isArray(res.data.listRequestTypes)) {
            this.requestTypes = [];
            res.data.listRequestTypes = res.data.listRequestTypes.filter(
              (requestType) => requestType.status === "Active"
            );
            this.requestTypes = res.data.listRequestTypes;
          }
        })
        .catch();
    },
    editGatePass(item) {
      this.employee_report.gatepass_id = item.gate_pass_id;
      this.employee_report.id = item.name.id;
      this.employee_report.name = item.name.name;
      this.employee_report.date = item.date;
      this.employee_report.status = item.status;
      this.employee_report.approval_time = item.approval_time
        ? moment(`${item.date} ${item.approval_time}`).format("HH:mm")
        : null;
      this.employee_report.request_type = item.request_type;
      this.employee_report.time_in = item.time_in
        ? moment(`${item.date} ${item.time_in}`).format("HH:mm")
        : null;
      this.employee_report.time_out = item.time_out
        ? moment(`${item.date} ${item.time_out}`).format("HH:mm")
        : null;
      this.$refs["modal-employees"].show();
    },
    modalAddGatePass() {},
  },
  async created() {
    if (VueCookies.get("filter")) {
      this.filter = VueCookies.get("filter");
    }
    if (VueCookies.get("perPage")) {
      this.perPage = VueCookies.get("perPage");
    }
    if (VueCookies.get("filterActive")) {
      this.filterActive = VueCookies.get("filterActive");
    }
    if (VueCookies.get("request_date_from")) {
      this.dateRange.request_date_from = VueCookies.get("request_date_from");
      this.dateRange.request_date_to = VueCookies.get("request_date_to");
    }
    const employee = JSON.parse(localStorage.employee);
    this.userRole = employee.roleParam;
    await this.getGatePassReport();
  },
  updated() {
    this.totalRows = this.getReports.length;
  },
};
</script>

<style>
.date_width {
  width: 100%;
  font-size: 1rem;
}
</style>

