<template>
  <div ref="formExport">
    <b-button id="process-button" :block="block" variant="info" size="lg" @click="processModal">
      <v-icon dark small class="mr-2">fa-file-excel</v-icon>Export and Process
    </b-button>
    <div>
      <b-modal ref="process-modal" id="process-process-modal" @ok="exportReports">
        <p class="my-4">Warning: Proceeding will make the data uneditable.</p>
      </b-modal>
    </div>
  </div>
</template>

<script>
import Papa from "papaparse";
import moment from "moment";
import JSZip from "jszip";
import axios from "axios";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";

export default {
  props: {
    employee: {
      Type: Array,
      required: false,
      note:
        "The employee prop is used to separate the first,middle and last name of a person,"
    },
    block: {
      Type: Boolean,
      required: true,
      default: true
    },
    reports: {
      Type: Array,
      required: true
    },
    report_type: {
      note: "Type of Reports to be exported",
      type: String,
      required: false
    },
    checked_filter: {
      note:
        "Type of an Array that displays the name of the column of the table",
      type: [Array, Object],
      required: false,
      default: []
    }
  },

  methods: {
    /**  TODO : Make the `key` dynamic, depending on the columns fields the user has set.
     * CC: sir **Luis**, sir **Alvin**
     *
     *
     */
    processModal() {
      this.$refs["process-modal"].show();
    },
    async exportReports() {
      let loader = this.$loading.show({
        // Pass props by their camelCased names
        container: this.$refs.formEdit,

        color: "#0052cc",
        loader: "spinner",
        width: 128,
        height: 128,
        backgroundColor: "#ffffff",
        opacity: 0.5,
        zIndex: 999
      });
      this.$refs["process-modal"].hide();
      const loginData = JSON.parse(localStorage.employee);

      for (let counter = 0; counter < this.reports.length; counter++) {
        let holder = await axios({
          method: "PUT",
          url: `${this.$axios.defaults.baseURL}/gatepass/requests/validate_request/process`,
          data: {
            employee_id: loginData.id,
            role: loginData.role,
            modules: loginData.modules,
            id: this.reports[counter].id,
            status: "Processed"
          },
          headers: { Authorization: "Bearer " + loginData.token }
        });
      }

      //
      //   this.reports.forEach(item => {
      //     axios({
      //       method: "PUT",
      //       url: `${this.$axios.defaults.baseURL}/gatepass/requests/validate_request/process`,
      //       data: {
      //         employee_id: loginData.id,
      //         role: loginData.role,
      //         modules: loginData.modules,
      //         id: item.id,
      //         status: "Processed"
      //       },
      //       headers: { Authorization: "Bearer " + loginData.token }
      //     })
      //       .then(res => {

      //         // const gatePassIndex = this.gatePasses.findIndex(
      //         //   gate_pass => gate_pass.id === res.data.gate_pass_id
      //         // );
      //         // this.gatePasses.splice(gatePassIndex, 1);

      //       })
      //       .catch(err => console.log(err.res.data));
      //   })

      loader.hide();

      let data;
      const reports = this.reports;
      let employee_reports = [];

      let columns = [];
      let columnKey = [];
      this.checked_filter.map(filter => columns.push(filter.label));
      this.checked_filter.map(filter => columnKey.push(filter.key));
      const columnEmployee = columnKey.find(key => key === "name");
      const columnReqTime = columnKey.find(key => key === "requested_time");
      const columnDate = columnKey.find(key => key === "date");
      const columnReqType = columnKey.find(
        key => key === "request_type.name" || key === "request_type"
      );
      const columnApprovalTime = columnKey.find(key => key === "approval_time");
      const columnTimeIn = columnKey.find(key => key === "time_in");
      const columnTimeOut = columnKey.find(key => key === "time_out");
      const columnDepartment = columnKey.find(key => key === "department");
      const columnTeam = columnKey.find(key => key === "team");
      const columnApprovedBy = columnKey.find(
        key => key === "approved_by" || key === "verified_by"
      );
      const columnReason = columnKey.find(key => key === "reason");

      const columnStatus = columnKey.find(key => key === "status");
      const columnElapsed = columnKey.find(key => key === "elapsed_time");
      const columnGateID = columnKey.find(key => key === "id");
      let mapEmployee = [];

      if (this.report_type === "Accountant") {
        this.reports.map((employee, index) => {
          employee_reports.push({
            EmployeeCode: `${employee.employee_id}`,
            EmployeeName: `${employee.emp_name.last_name}, ${
              employee.emp_name.first_name
            } ${
              employee.emp_name.middle_name
                ? employee.emp_name.middle_name.substring(0, 1) + "."
                : ""
            }`.toUpperCase(),
            PayElementCode:
              employee.employee_id.toString().substring(0, 3) == "315"
                ? "PERSONAL OUT"
                : "PERSONAL-OUT",
            Amount: "",
            Adjustment: "0",
            Remarks: "",
            PayoutNo: "",
            LoanNumber: "",
            Quantity: employee.elapsed_time
              ? `-${parseFloat(employee.elapsed_time.replace(" Hour(s)", ""))}`
              : "0",
            ConstantValue: "",
            RateType: "Hourly Rate",
            PositionPayElementCode: "",
            PositionPayMonth: "",
            PositionPayYear: "",
            PositionPayPeriodId: "",
            DateOfLeave: "",
            LeaveQty: "",
            LeaveType: ""
          });
          employee_reports.push({
            EmployeeCode: employee.name.id
              ? employee.name.id
              : `${employee.employee_id}`,
            EmployeeName: `${employee.emp_name.last_name}, ${
              employee.emp_name.first_name
            } ${
              employee.emp_name.middle_name
                ? employee.emp_name.middle_name.substring(0, 1) + "."
                : ""
            }`.toUpperCase(),
            PayElementCode:
              employee.employee_id.toString().substring(0, 3) == "154"
                ? "PERSONAL-OUT"
                : "PERSONAL OUT",
            Amount: "",
            Adjustment: "0",
            Remarks: "",
            PayoutNo: "",
            LoanNumber: "",
            Quantity: employee.elapsed_time
              ? `-${parseFloat(employee.elapsed_time.replace(" Hour(s)", ""))}`
              : "0",
            ConstantValue: "",
            RateType: "Hourly Allowance",
            PositionPayElementCode: "",
            PositionPayMonth: "",
            PositionPayYear: "",
            PositionPayPeriodId: "",
            DateOfLeave: "",
            LeaveQty: "",
            LeaveType: ""
          });
        });
      }
      if (this.report_type === "reports") {
        this.reports.map(employee => {
          let objectEmployee = {};
          if (columnEmployee) {
            objectEmployee = Object.assign(objectEmployee, {
              "Employee Code": employee.name.id,
              "Employee Name": employee.name.name
            });
          }
          if (columnReqType) {
            objectEmployee = Object.assign(objectEmployee, {
              "Request Type": employee.request_type.name
                ? employee.request_type.name
                : employee.request_type
            });
          }
          if (columnReqTime) {
            objectEmployee = Object.assign(objectEmployee, {
              "Requested Time": employee.requested_time
            });
          }
          if (columnApprovalTime) {
            objectEmployee = Object.assign(objectEmployee, {
              "Approval Time": employee.approval_time
                ? employee.approval_time
                : ""
            });
          }
          if (columnTimeOut) {
            objectEmployee = Object.assign(objectEmployee, {
              "Actual Time Out": employee.time_out ? employee.time_out : ""
            });
          }
          if (columnTimeIn) {
            objectEmployee = Object.assign(objectEmployee, {
              "Actual Time In": employee.time_in ? employee.time_in : ""
            });
          }
          if (columnElapsed) {
            objectEmployee = Object.assign(objectEmployee, {
              "Time Spent": employee.elapsed_time ? employee.elapsed_time : ""
            });
          }
          if (columnDate) {
            objectEmployee = Object.assign(objectEmployee, {
              Date: moment(employee.date).format("YYYY-MM-DD")
            });
          }
          if (columnTeam) {
            objectEmployee = Object.assign(objectEmployee, {
              Team: employee.team ? employee.team : ""
            });
          }
          if (columnDepartment) {
            objectEmployee = Object.assign(objectEmployee, {
              Department: employee.department ? employee.department : ""
            });
          }
          if (columnApprovedBy === "approved_by") {
            objectEmployee = Object.assign(objectEmployee, {
              "Approved By": employee.approved_by
            });
          }
          if (columnReason === "reason") {
            objectEmployee = Object.assign(objectEmployee, {
              Reason: employee.reason
            });
          }
          if (columnApprovedBy === "verified_by") {
            objectEmployee = Object.assign(objectEmployee, {
              "Verified By": employee.verified_by
            });
          }
          mapEmployee.push(objectEmployee);

          return employee;
        });
      }
      const csv = Papa.unparse(
        mapEmployee.length > 0 ? mapEmployee : employee_reports,
        {
          header: true,
          encoding: "UTF-8"
        }
      );

      let csvData = new Blob(["\ufeff", csv]);
      let csvURL = null;
      if (navigator.msSaveBlob) {
        csvURL = navigator.msSaveBlob(csvData, `PayAdjustment.csv`);
      } else {
        csvURL = window.URL.createObjectURL(csvData);
      }

      if (this.report_type === "reports") {
        let tempLink = document.createElement("a");
        tempLink.href = csvURL;

        tempLink.download = `${moment().format("MMDDYYYY")}.csv`;

        document.body.appendChild(tempLink);
        tempLink.click();

        document.body.removeChild(tempLink);
      } else if (this.report_type === "Accountant") {
        //Compress to zip
        var zip = new JSZip();
        let zipURL = null;
        zip.file("PayAdjustment.csv", csvData);

        zip.generateAsync({ type: "blob" }).then(function(content) {
          if (navigator.msSaveBlob) {
            zipURL = navigator.msSaveBlob(
              content,
              `${moment().format("MMDDYYYY")}.zip`
            );
          } else {
            zipURL = window.URL.createObjectURL(content);
          }
          let tempLink = document.createElement("a");
          tempLink.href = zipURL;

          tempLink.download = `${moment().format("MMDDYYYY")}.zip`;

          document.body.appendChild(tempLink);
          tempLink.click();

          document.body.removeChild(tempLink);
        });
      }
      this.$emit("reload");
    }
  }
};
</script>

<style>
</style>
