
<template>
  <div class="mx-2">
    <b-breadcrumb :items="reportPath" id="breadcrumb-header"></b-breadcrumb>
  </div>
</template>

<script>
export default {
  data() {
    return {
      reportPath: [
        {
          text: "Home",
          to: "/Dashboard"
        },
        {
          text: "Reports",
          to: "/Reports",
          active: true
        }
      ]
    };
  }
};
</script>

<style>
</style>
