<template>
  <div class="mx-2">
    <b-card ref="formUnverify">
      <b-row class="my-2 mx-1">
        <b-row>
          <b-col lg="5" md="4" sm="12" class="mb-2">
            <b-input-group prepend="From">
              <b-form-input
                id="verified-date-from"
                type="date"
                placeholder="Date From"
                v-model="dateRange.request_date_from"
                class="date_width"
              ></b-form-input>
            </b-input-group>
          </b-col>

          <b-col lg="7" md="4" sm="12" class="mb-2">
            <b-input-group prepend="To">
              <b-form-input
                id="verified-date-to"
                type="date"
                placeholder="Date To"
                v-model="dateRange.request_date_to"
                class="date_width"
              ></b-form-input>

              <b-input-group-append>
                <b-button
                  id="verified-date-range"
                  variant="success"
                  @click="getGatePassReport"
                >Search</b-button>
              </b-input-group-append>
            </b-input-group>
          </b-col>
        </b-row>
        <b-col lg="3" sm="6" md="6">
          <b-input-group prepend="Show">
            <b-form-select v-model="filterActive" id="verified-filter">
              <option :value="``">All</option>
              <optgroup label="Department">
                <option
                  v-for="(department,i) in departments"
                  :key="i"
                  :value="department.name"
                >{{department.name}}</option>
              </optgroup>

              <optgroup label="Request Type">
                <option v-for="(type,i) in requestTypes" :key="i" :value="type.name">{{type.name}}</option>
              </optgroup>
            </b-form-select>
          </b-input-group>
        </b-col>
        <b-col lg="2">
          <b-input-group prepend="Items">
            <b-form-select v-model="perPage">
              <option v-for="value in values" :key="value" :value="value">{{value}}</option>
            </b-form-select>
          </b-input-group>
        </b-col>
        <b-col lg="1" sm="6" md="6">
          <div>
            <b-dropdown
              id="dropdown-fields"
              text="Filter Table"
              ref="dropdown-fields"
              style="width:185px"
            >
              <b-dropdown-form>
                <b-dropdown-header id="dropdown-header-1">
                  <b>Fields</b>
                </b-dropdown-header>
                <b-form-checkbox
                  style="width:10rem"
                  v-for="(field,i) in getFilter"
                  :key="i"
                  v-model="field.isActive"
                  @change="field.isActive = !field.isActive"
                >{{field.label}}</b-form-checkbox>
              </b-dropdown-form>
            </b-dropdown>
          </div>
        </b-col>
      </b-row>
      <b-row>
        <b-col lg="12" md="6" sm="12" class="mb-1">
          <b-input-group>
            <b-form-input id="verified-search" v-model="filter" placeholder="Type to search"></b-form-input>
            <b-input-group-append>
              <b-button id="verified-clear" :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>
      </b-row>
      <b-table
        id="verified-table"
        responsive
        :filter="filter"
        show-empty
        :empty-text="`There are no ${filterActive ? filterActive : 'verified reports'} found`"
        :empty-filtered-text="`No search for ${filter} `"
        :items="getAllActiveFields.length === 0 ? [] :getReports"
        :fields="getAllActiveFields"
        :per-page="perPage"
        :tbody-tr-class="rowClass"
        :current-page="currentPage"
      >
        <template v-slot:table-caption>{{ bottomLabel }}</template>
        <template slot="HEAD_index">
          <b-form-checkbox
            v-show="gatePasses.length <0"
            id="select-all-verified"
            @change="selectAll()"
          ></b-form-checkbox>
        </template>

        <template slot="index" id="select-item" slot-scope="data" v-if="unverifyAccessRights">
          <b-form-checkbox
            name="selected-items"
            v-if="data.item.status !== `Processed`"
            v-model="selectedItems"
            :value="data.item"
          ></b-form-checkbox>
        </template>

        <template slot="name" slot-scope="data">
          <b-link :to="`/employees/${data.value.id}`" id="verified-employee">{{data.value.name}}</b-link>
        </template>
      </b-table>

      <b-row align-h="end" v-if="getReports.length > 0">
        <b-col lg="5" md="5" align-self="center">
          <b-pagination
            id="employees-report-pagination"
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            aria-controls="my-table"
          ></b-pagination>
        </b-col>
        <b-col lg="2" md="2" align-self="right">
          <ReportExportButton
            v-show="role === `pg` || role === `admin` ? true:false"
            :block="false"
            :reports="getReports"
            :report_type="role === `pg` || role === `admin` ? `reports`:`Accountant`"
            :checked_filter="getAllActiveFields"
          />
        </b-col>
      </b-row>

      <b-row id="unverify-button" align-h="between">
        <b-col lg="2">
          <b-button
            variant="danger"
            id="verifiy-unverify-btn"
            v-show="selectedItems.length > 0"
            @click="unverifyModal"
          >Unverify</b-button>
        </b-col>
        <b-col lg="2" md="2" v-show="getReports.length > 0">
          <b-button variant="info" size="lg" v-if="processAccessRights" @click="processModal">
            <i class="fas fa-spinner"></i>
            Process
          </b-button>
        </b-col>
      </b-row>
    </b-card>

    <b-modal ref="unverify-modal" centered @ok="unverifyPersonalOut" id="verify-unverify-modal">
      <div class="d-block text-center">
        <h3>Are you sure you want to unverify {{selectedItems.length}} gate pass?</h3>
      </div>
    </b-modal>

    <b-modal ref="process-btn-modal" id="process-process-modal" hide-footer>
      <h5>Select Transaction:</h5>
      <b-row v-if="getReports.length > 0 ">
        <b-col lg="4" md="4">
          <ReportExportButton
            :block="false"
            :reports="getReports"
            :report_type="role === `pg` || role === `admin` ? `reports`:`Accountant`"
            :checked_filter="getAllActiveFields"
          />
        </b-col>
        <b-col lg="4" md="4">
          <ReportProcessButton
            @reload="getGatePassReport"
            :block="false"
            :reports="getReports"
            :report_type="role === `pg` || role === `admin` ? `reports`:`Accountant`"
            :checked_filter="getAllActiveFields"
          />
        </b-col>
      </b-row>
    </b-modal>
  </div>
</template>

<script>
import ReportExportButton from "@/components/Reports/ReportExportButton";
import ReportProcessButton from "@/components/Reports/ReportProcessButton";
import { mapGetters } from "vuex";
import moment from "moment";
import axios from "axios";
import { isArray } from "util";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
import VueCookies from "vue-cookies";

export default {
  components: {
    ReportExportButton,
    ReportProcessButton,
    VueCookies,
  },

  data() {
    return {
      values: ["5", "10", "25", "50", "100"],
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      filter: "",
      filterActive: "",
      gatePasses: [],
      selectedItems: [],
      opens: "center",
      datePicker: {
        startDate: moment().format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY"),
      },
      dateRange: {
        request_date_from: moment().format("YYYY-MM-DD"),
        request_date_to: moment().format("YYYY-MM-DD"),
      },
      localeData: {
        direction: "ltr",
        format: moment().format("mmm dd, yyyy"),
        separator: " - ",
      },
      fields: [
        {
          key: "index",
          label: "",
          isActive: true,
        },

        {
          key: "name",
          label: "Name",
          sortable: true,
          sortDirection: "desc",
          isActive: true,
          sortable: true,
        },
        {
          key: "request_type",
          label: "Request Type",
          isActive: true,
          sortable: true,
        },
        {
          key: "requested_time",
          label: "Requested Time",
          isActive: true,
          sortable: true,
        },
        {
          key: "approval_time",
          label: "Approval Time",
          sortable: true,
          isActive: true,
        },
        {
          key: "time_out",
          label: "Actual Time Out",
          isActive: true,
          sortable: true,
        },
        {
          key: "time_in",
          label: "Actual Time In",
          isActive: true,
          sortable: true,
        },
        {
          key: "elapsed_time",
          label: "Time Spent",
          isActive: true,
          sortable: true,
        },
        {
          key: "verified_by",
          label: "Verified By",
          isActive: true,
          sortable: true,
        },
        {
          key: "date",
          label: "Date",
          isActive: true,
          sortable: true,
        },
        {
          key: "team",
          label: "Team",
          isActive: false,
          sortable: true,
        },
        {
          key: "department",
          label: "Department",
          isActive: false,
          sortable: true,
        },
        {
          key: "id",
          label: "Gate Pass ID",
          isActive: false,
          sortable: true,
        },
        {
          key: "status",
          label: "Status",
          isActive: true,
          sortable: true,
        },
      ],
      departments: [],
      requestTypes: [],
      reportPath: [
        {
          text: "Home",
          to: "/Dashboard",
        },
        {
          text: "Reports",
          to: "/reports",
          active: true,
        },
      ],
      role: null,
    };
  },
  watch: {
    filter: function (query) {
      this.totalRows = this.getReports.length;
    },
  },
  computed: {
    unverifyAccessRights() {
      const employee = JSON.parse(localStorage.employee);
      const mapReport = employee.modules.find(
        (element) => element.description === "Request"
      );
      const mapVerifiedReport = mapReport.actions.find(
        (action) => action.description === "Unverify personal out gate pass"
      );

      return mapVerifiedReport;
    },
    processAccessRights() {
      const employee = JSON.parse(localStorage.employee);
      const mapReport = employee.modules.find(
        (element) => element.description === "Request"
      );
      const mapVerifiedReport = mapReport.actions.find(
        (action) => action.description === "Process verified gate pass"
      );
      return mapVerifiedReport;
    },
    getSelectedReports() {
      return this.selectedItems;
    },
    getFilter() {
      return this.fields.filter((field) => field.key !== "index");
    },
    getAllActiveFields() {
      return this.fields.filter((field) => field.isActive === true);
    },
    getReports() {
      VueCookies.set("filterActive", this.filterActive);
      VueCookies.set("filter", this.filter);
      return this.gatePasses.filter((employee) => {
        const name = employee.name.name;
        const results =
          (employee.department
            .toLowerCase()
            .match(this.filterActive.toLowerCase()) ||
            employee.request_type
              .toLowerCase()
              .match(this.filterActive.toLowerCase())) &&
          (name.toLowerCase().match(this.filter) ||
            name.toUpperCase().match(this.filter) ||
            name.match(this.filter));
        return results;
      });
    },
    bottomLabel() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.getReports.length) {
        end = this.getReports.length;
      }

      if (this.getReports.length === 0) {
        start = 0;
      }

      return `Showing ${start} to ${end} of ${this.getReports.length} entries`;
    },
  },

  methods: {
    changePerpage() {
      VueCookies.set("perPage", this.perPage);
    },
    selectAll() {
      if (this.selectedItems.length === getReports.length) {
        this.selectedItems = [];
      } else {
        this.selectedItems = this.getReports.slice();
      }
    },
    unverifyModal() {
      this.$refs["unverify-modal"].show();
    },
    processModal() {
      this.$refs["process-btn-modal"].show();
    },
    processModalHide() {
      this.$refs["process-modal"].hide();
    },

    unverifyPersonalOut() {
      let loader = this.$loading.show({
        // Pass props by their camelCased names
        container: this.$refs.formUnverify,

        color: "#0052cc",
        loader: "spinner",
        width: 128,
        height: 128,
        backgroundColor: "#ffffff",
        opacity: 0.5,
        zIndex: 999,
      });
      const loginData = JSON.parse(localStorage.employee);
      this.selectedItems.forEach((item) => {
        axios({
          method: "PUT",
          url: `${this.$axios.defaults.baseURL}/gatepass/requests/validate_request/unverify_personal_out`,
          data: {
            employee_id: loginData.id,
            role: loginData.role,
            modules: loginData.modules,
            id: item.id,
            status: "Time In",
          },
          headers: { Authorization: "Bearer " + loginData.token },
        })
          .then((res) => {
            loader.hide();
            const gatePassIndex = this.gatePasses.findIndex(
              (gate_pass) => gate_pass.id === res.data.gate_pass_id
            );
            this.gatePasses.splice(gatePassIndex, 1);
            this.$emit("reload");
            this.getGatePassReport();
          })
          .catch((err) => {
            loader.hide();
            {
            }
          });
      });
    },

    async dateRangeSchedule() {
      const employee = JSON.parse(localStorage.employee);
      this.role = employee.role.name;

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/reports/view_verified_personal_out`,
        data: {
          employee_id: employee.id,
          modules: employee.modules,
          request_date_from: this.dateRange.request_date_from,
          request_date_to: this.dateRange.request_date_to,
        },
        headers: {
          authorization: "Bearer " + employee.token,
        },
      })
        .then((res) => {
          if (isArray(res.data.listGatePass)) {
            this.gatePasses = [];
            res.data.listGatePass.map((employee) =>
              employee.gate_passes.map((gatepass) => {
                let time_out = null;
                let time_in = null;
                let approval_time = null;

                let requested_time_in,
                  requested_time_out = null;
                if (gatepass.actual_time_out) {
                  time_out = moment(
                    `${gatepass.actual_time_out} ${gatepass.request_date}`,
                    "hh:mm a"
                  ).format("hh:mm a");
                }
                if (gatepass.approval_time) {
                  approval_time = moment(
                    `${gatepass.approval_time} ${gatepass.request_date}`,
                    "hh:mm a"
                  ).format("hh:mm a");
                }

                if (gatepass.actual_time_in) {
                  time_in = moment(
                    `${gatepass.actual_time_in} ${gatepass.request_date}`,
                    "hh:mm a"
                  ).format("hh:mm a");
                }

                if (gatepass.request_time_in) {
                  requested_time_in = moment(
                    `${gatepass.request_time_in} ${gatepass.request_date}`,
                    "HH:mm a"
                  ).format("hh:mm a");
                }
                if (gatepass.request_time_out) {
                  requested_time_out = moment(
                    `${gatepass.request_time_out} ${gatepass.request_date}`,
                    "hh:mm a"
                  ).format("hh:mm a");
                }
                const filterByVerified = gatepass.gate_pass_status_logs.filter(
                  (log) => log.status === "Verified"
                );
                const getVerified = filterByVerified.reduce((prev, current) => {
                  if (+current.id > +prev.id) {
                    return current;
                  } else {
                    return prev;
                  }
                });

                this.gatePasses.push({
                  employee_id: employee.id,
                  id: gatepass.id,
                  emp_name: {
                    last_name: employee.last_name,
                    middle_name: employee.middle_name,
                    first_name: employee.first_name,
                  },
                  name: {
                    name: `${employee.last_name}, ${employee.first_name} ${
                      employee.middle_name ? employee.middle_name : ""
                    } `,
                    id: employee.id,
                  },
                  request_type: gatepass.request_type.name,
                  requested_time: gatepass.request_time_in
                    ? `${requested_time_out} - ${requested_time_in}`
                    : requested_time_out,
                  actual_time: gatepass.actual_time_in
                    ? `${time_out} - ${time_in}`
                    : `${time_out}`,
                  time_in,
                  time_out,
                  approval_time,
                  status: gatepass.status,
                  date: moment(gatepass.request_date).format("MM/DD/YYYY"),
                  verified_by: `${getVerified.employee.last_name}, ${
                    getVerified.employee.first_name
                  } ${
                    getVerified.employee.middle_name
                      ? getVerified.employee.middle_name
                      : ""
                  } `,
                  elapsed_time:
                    gatepass.elapsed_time > 0
                      ? gatepass.elapsed_time + " Hour(s)"
                      : "",
                  department: employee.position
                    ? employee.position.team
                      ? employee.position.team.department
                        ? employee.position.team.department.name
                        : ""
                      : ""
                    : "",
                  team: employee.position
                    ? employee.position.team
                      ? employee.position.team.name
                      : ""
                    : "",
                });
              })
            );
          } else {
            this.gatePasses = [];
          }
          if (isArray(res.data.listDepartments)) {
            this.departments = [];
            res.data.listDepartments.filter(
              (department) => department.status === "Active"
            );
            this.departments = res.data.listDepartments;
          }
          if (isArray(res.data.listRequestTypes)) {
            this.requestTypes = [];
            res.data.listRequestTypes.filter(
              (requestType) => requestType.status === "Active"
            );
            this.requestTypes = res.data.listRequestTypes;
          }
        })
        .catch((err) => {});
    },
    rowClass(item, type) {
      if (!item) return;
      if (item.status === "Processed") return "table-info";
    },

    async getGatePassReport() {
      let loader = this.$loading.show({
        // Pass props by their camelCased names
        container: this.$refs.formUnverify,

        color: "#0052cc",
        loader: "spinner",
        width: 128,
        height: 128,
        backgroundColor: "#ffffff",
        opacity: 0.5,
        zIndex: 999,
      });

      const employee = JSON.parse(localStorage.employee);
      this.role = employee.roleParam;
      let url = null;

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/reports/view_verified_personal_out`,
        data: {
          employee_id: employee.id,
          modules: employee.modules,
          request_date_from: this.dateRange.request_date_from,
          request_date_to: this.dateRange.request_date_to,
        },
        headers: {
          authorization: "Bearer " + employee.token,
        },
      })
        .then((res) => {
          VueCookies.set("request_date_from", this.dateRange.request_date_from);
          VueCookies.set("request_date_to", this.dateRange.request_date_to);
          loader.hide();
          if (isArray(res.data.listGatePass)) {
            this.gatePasses = [];
            res.data.listGatePass.map((employee) =>
              employee.gate_passes.map((gatepass) => {
                let time_out = null;
                let time_in = null;
                let approval_time = null;

                let requested_time_in,
                  requested_time_out = null;
                if (gatepass.actual_time_out) {
                  time_out = moment(
                    `${gatepass.actual_time_out} ${gatepass.request_date}`,
                    "hh:mm a"
                  ).format("hh:mm a");
                }
                if (gatepass.approval_time) {
                  approval_time = moment(
                    `${gatepass.approval_time} ${gatepass.request_date}`,
                    "hh:mm a"
                  ).format("hh:mm a");
                }

                if (gatepass.actual_time_in) {
                  time_in = moment(
                    `${gatepass.actual_time_in} ${gatepass.request_date}`,
                    "hh:mm a"
                  ).format("hh:mm a");
                }

                if (gatepass.request_time_in) {
                  requested_time_in = moment(
                    `${gatepass.request_time_in} ${gatepass.request_date}`,
                    "HH:mm a"
                  ).format("hh:mm a");
                }
                if (gatepass.request_time_out) {
                  requested_time_out = moment(
                    `${gatepass.request_time_out} ${gatepass.request_date}`,
                    "hh:mm a"
                  ).format("hh:mm a");
                }
                const filterByVerified = gatepass.gate_pass_status_logs.filter(
                  (log) => log.status === "Verified"
                );
                const getVerified = filterByVerified.reduce((prev, current) => {
                  if (+current.id > +prev.id) {
                    return current;
                  } else {
                    return prev;
                  }
                });

                this.gatePasses.push({
                  employee_id: employee.id,
                  id: gatepass.id,
                  emp_name: {
                    last_name: employee.last_name,
                    middle_name: employee.middle_name,
                    first_name: employee.first_name,
                  },
                  name: {
                    name: `${employee.last_name}, ${employee.first_name} ${
                      employee.middle_name ? employee.middle_name : ""
                    } `,
                    id: employee.id,
                  },
                  request_type: gatepass.request_type.name,
                  requested_time: gatepass.request_time_in
                    ? `${requested_time_out} - ${requested_time_in}`
                    : requested_time_out,

                  time_in,
                  time_out,
                  approval_time,
                  status: gatepass.status,
                  date: moment(gatepass.request_date).format("MM/DD/YYYY"),
                  verified_by: `${getVerified.employee.last_name}, ${
                    getVerified.employee.first_name
                  } ${
                    getVerified.employee.middle_name
                      ? getVerified.employee.middle_name
                      : ""
                  } `,
                  elapsed_time:
                    gatepass.elapsed_time > 0
                      ? gatepass.elapsed_time + " Hour(s)"
                      : "",
                  department: employee.position
                    ? employee.position.team
                      ? employee.position.team.department
                        ? employee.position.team.department.name
                        : ""
                      : ""
                    : "",
                  team: employee.position
                    ? employee.position.team
                      ? employee.position.team.name
                      : ""
                    : "",
                });
              })
            );
          } else {
            this.gatePasses = [];
          }
          if (isArray(res.data.listDepartments)) {
            this.departments = [];
            res.data.listDepartments = res.data.listDepartments.filter(
              (department) => department.status === "Active"
            );
            this.departments = res.data.listDepartments;
          }
          if (isArray(res.data.listRequestTypes)) {
            this.requestTypes = [];
            res.data.listRequestTypes = res.data.listRequestTypes.filter(
              (requestType) => requestType.status === "Active"
            );
            this.requestTypes = res.data.listRequestTypes;
          }
        })
        .catch((err) => {});
    },
  },
  created() {
    if (VueCookies.get("filter")) {
      this.filter = VueCookies.get("filter");
    }
    if (VueCookies.get("perPage")) {
      this.perPage = VueCookies.get("perPage");
    }
    if (VueCookies.get("filterActive")) {
      this.filterActive = VueCookies.get("filterActive");
    }
    if (VueCookies.get("request_date_from")) {
      this.dateRange.request_date_from = VueCookies.get("request_date_from");
      this.dateRange.request_date_to = VueCookies.get("request_date_to");
    }
    const employee = JSON.parse(localStorage.employee);
    this.role = employee.roleParam;
    this.getGatePassReport();
  },
  updated() {
    this.totalRows = this.getReports.length;
  },
};
</script>

<style>
.date_width {
  width: 100%;
  font-size: 1rem;
}
</style>
