<template>
  <b-card id="update-password">
    <b-card-title class="text-left">EMPLOYEE ID: {{employee_id}}</b-card-title>
    <b-form @submit.prevent="changePassword" id="new_login_form">
      <b-form-group id="new_login_form_group">
        <div class="mt-2 font-weight-bold">New Password</div>
        <b-form-input
          class="input-left-align"
          id="new_login_pass"
          v-model="user.newPassword"
          required
          type="password"
          placeholder="New password"
          :autofocus="true"
          size="lg"
        ></b-form-input>
        <div class="mt-2 font-weight-bold">Retype Password:</div>
        <b-form-input
          class="input-left-align"
          id="new_login_repass"
          placeholder="Retype password"
          v-model="user.reTypePassword"
          :state="inputValidation"
          type="password"
          size="lg"
          required
        ></b-form-input>
        <div v-if="error != null" style="color:red">{{error}}</div>
      </b-form-group>
      <b-button
        id="new_login_button"
        class="mx-auto"
        block
        type="submit"
        variant="primary"
        :disabled="!inputValidation"
      >Login</b-button>
    </b-form>
  </b-card>
</template>

<script>
import axios from "axios";
import { isArray } from "util";
export default {
  name: "LoginForm",
  layout: "loginLayout",
  props: {
    employee_id: {
      type: String,
      default: "",
      required: true
    }
  },
  data() {
    return {
      error: null,
      user: {
        newPassword: null,
        reTypePassword: null
      }
    };
  },
  computed: {
    inputValidation() {
      return this.user.newPassword === this.user.reTypePassword &&
        this.user.reTypePassword !== null &&
        this.user.newPassword !== null
        ? true
        : false;
    }
  },
  methods: {
    async changePassword() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/employees/update_password`,
        data: {
          id: this.employee_id,
          password: this.user.newPassword
        },
        headers: {
          authorization: `Bearer ${employee.token}`
        }
      })
        .then(() => {
          const employee = JSON.parse(localStorage.employee);

          if (employee.roleParam === "sec" && localStorage.token) {
            this.$router.push("/monitor-dashboard");
          }
          if (employee.roleParam !== "sec" && localStorage.token) {
            this.$router.push("/Dashboard");
          }
        })
        .catch(e => {
          if (e.response.status === 500) {
          } else if (typeof e === "object") {
            this.error = e.response.data;
          } else if (e.response.status === 401) {
            this.error = e.response.data;
          }
          if (isArray(e)) {
            if (e.response.status === 403) {
              localStorage.clear();
              this.$router.push("/");
            } else {
              this.error = e.response.data;
            }
          }
        });
    }
  }
};
</script>

<style>
.login-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}
.login-button {
  display: block;
}

.input-left-align {
  text-align: left;
}
</style>
