<template>
  <div>
     <center>
    <b-card-header></b-card-header>
    <b-card-title>
      You are seeing this page because you are using unsupported browser.<br><br>
      Currently we support the following browsers:
    </b-card-title><br>
    <b-row>
      <b-col lg="6" align-self="center">
     
      <img :src="Chrome" style="width: 15%; height: 15%" />
      
      <b-card-text>
        <i>Google Chrome</i>
      </b-card-text>
      </b-col> 
      <b-col lg="6" align-self="center">
      
      <img :src="Firefox" style="width: 15%; height: 15%" />
     
      <b-card-text>
        <i>Firefox version 57 to current version</i>
      </b-card-text>
      </b-col>      
    </b-row> 
    <br>
      <b-card-footer>Please contact the system administrator at its Local Number 1000</b-card-footer>
      </center>
  </div>
</template>

<script>
import axios from "axios";
import { isArray } from "util";
import Chrome from "@/assets/chrome.png"
import Firefox from "@/assets/firefox.png"

export default {
  name: "LoginForm",
  layout: "loginLayout",

  data() {
    return {
      Chrome : Chrome,
      Firefox : Firefox,
      error: null
    };
  },
  methods: {}
};
</script>

<style>

.body {
  background-color: #0052cc;
}
/* .body {
  background-image: linear-gradient(dodgerblue, #1c1c1c);
  background-attachment: fixed;
} */
.login-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}
.login-button {
  display: block;
}

.input-left-align {
  text-align: left;
}
</style>
