<template>
  <div class="body" id="login-form-component" ref="formContainer">
    <b-container class="login-card" id="login-container">
      <!--This will show if the user has the same ID and password as a default login-->

      <b-card id="semi-solid-card" v-show="!isNewAccount">
        <div v-if="validVersion">
          <b-card-title class="text-center">
            <h1 style="font-family:Helvetica; letter-spacing: 1px;">Employee Gate Pass System</h1>
            <b-row align-h="end">
              <b-col lg="3" md="12" sm="12">
                <span class="badge badge-pill badge-primary">v2.4.0</span>
              </b-col>
            </b-row>
            <br />
          </b-card-title>
          <b-form @submit.prevent="login" id="login_form">
            <b-form-group id="login_form_group">
              <!-- <div class="mt-2 font-weight-bold">Employee ID:</div> -->
              <b-input-group-prepend>
                <span class="input-group-text">
                  <i class="fa fa-user" style="color: #007bff"></i>
                </span>
                <b-form-input
                  class="input-left-align"
                  id="login_id"
                  v-model="user.id"
                  :state="inputValidation"
                  required
                  placeholder="Employee ID"
                  :autofocus="true"
                  size="lg"
                ></b-form-input>
              </b-input-group-prepend>
              <br />
              <!-- <div class="mt-2 font-weight-bold">Password:</div> -->
              <b-input-group-prepend>
                <span class="input-group-text">
                  <i class="fa fa-unlock-alt" style="color:#007bff"></i>
                </span>
                <b-form-input
                  class="input-left-align"
                  id="login_pass"
                  placeholder="Password"
                  v-model="user.password"
                  type="password"
                  size="lg"
                  required
                ></b-form-input>
              </b-input-group-prepend>
              <div v-if="error != null" style="color:red">{{error}}</div>
            </b-form-group>
            <b-button
              id="login_button"
              class="mx-auto"
              block
              ref="LoginFormButton"
              type="submit"
              variant="primary"
              :disabled="!inputValidation"
            >Login</b-button>
            <hr />
          </b-form>
        </div>

        <CheckVersion v-if="!validVersion" />
      </b-card>
      <!--This component will show if the user is new to EGPS -->
      <ChangePassword v-show="isNewAccount" :employee_id="user.id" />
    </b-container>
  </div>
</template>

<script>
import axios from "axios";
import ChangePassword from "@/components/Login/ChangePassword";
import Logo from "@/assets/logo.png";
import { isArray } from "util";
import Bowser from "bowser";
import CheckVersion from "@/components/Login/CheckVersion";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";

export default {
  name: "LoginForm",
  layout: "loginLayout",
  created() {
    const browser = Bowser.getParser(window.navigator.userAgent);
    this.browser.name = browser.getBrowserName();
    this.browser.version = parseInt(browser.getBrowserVersion());

    localStorage.clear();
  },
  data() {
    return {
      loading: false,
      browser: {
        name: "",
        version: "",
      },
      logo: Logo,
      error: null,
      user: {
        id: "",
        password: "",
      },
      isNewAccount: false,
      name: "",
    };
  },
  components: {
    ChangePassword,
    CheckVersion,
    Loading,
  },
  computed: {
    validVersion() {
      return (
        (this.browser.name === "Chrome" && this.browser.version > 5) ||
        (this.browser.name === "Firefox" && this.browser.version > 56) ||
        (this.browser.name === "Chromium" && this.browser.version > 5)
      );
    },
    /**
     * Input Validation
     *
     * @returns {bool} ID - Returns if the length is less than 20
     *
     */
    inputValidation() {
      if (this.user.id.length > 0 && this.user.id.length <= 20) {
        return true;
      } else {
        return false;
      }
    },
  },
  methods: {
    /** **Login Function**
     * - Login function for the EGPS application.
     * @async
     * @method
     * @param {string} ID - Username of the employee
     * @param {string} password - Password of the employee
     */
    async login() {
      let loader = this.$loading.show({
        // Pass props by their camelCased names
        container: this.$refs.formContainer,
        color: "#0052cc",
        loader: "spinner",
        width: 128,
        height: 128,
        backgroundColor: "#ffffff",
        opacity: 0.5,
        zIndex: 999,
      });

      await axios({
        method: "POST",

        url: `${this.$axios.defaults.baseURL}/login`,
        data: {
          id: this.user.id,
          password: this.user.password,
        },
      })
        .then((res) => {
          this.loading = true;

          localStorage.token = res.data.token;
          localStorage.employee = JSON.stringify(res.data);
        })
        .then(() => {
          loader.hide();
          const employee = JSON.parse(localStorage.employee);
          if (this.user.id === this.user.password) {
            this.isNewAccount = true;
          } else if (employee.roleParam === "sec" && localStorage.token) {
            this.$router.push("/monitor-dashboard");
          } else if (employee.roleParam !== "sec" && localStorage.token) {
            this.$router.push("/Dashboard");
          }
        })
        .catch((e) => {
          loader.hide();
          if (e.response.status === 500) {
          } else if (typeof e === "object") {
            this.error = e.response.data;
          } else if (e.response.status === 401) {
            this.error = e.response.data;
          }
          if (isArray(e)) {
            if (e.response.status === 403) {
              localStorage.clear();
              this.$router.push("/");
            } else {
              this.error = e.response.data;
            }
          }
        });
    },
  },
};
</script>

<style>
.login-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.login-button {
  display: block;
}

#login_button:hover {
  transition: 1s;
  background-color: rgba(0, 49, 102, 0.911);
}

.input-left-align {
  text-align: left;
}
.version-badge {
  background-color: #0052cc;
  color: white;
  border: 1px;
  border-top-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  font-size: 1rem;
  width: 90%;
}

#semi-solid-card {
  background-color: rgb(255, 255, 255);
}
</style>
