<template>
  <div>
    <PositionTable />
  </div>
</template>

<script>
import PositionTable from "@/components/AdminDashboard/Positions/PositionTable";
export default {
  middleware: "authAdmin",
  layout: "sidebar",
  components: {
    PositionTable
  }
};
</script>

<style>
</style>
