<template>
  <ActionTable />
</template>

<script>
import ActionTable from "@/components/AdminDashboard/Actions/ActionTable";
export default {
  middleware: "authAdmin",
  components: {
    ActionTable
  },
  layout: "sidebar"
};
</script>

<style>
</style>
