<template>
  <div class="body-pg pd-1">
    <b-card>
      <b-row>
        <b-col lg="3" md="6" sm="12">
          <b-card>Department here...</b-card>
        </b-col>
        <b-col lg="3" md="6" sm="12">
          <b-card>Teams here...</b-card>
        </b-col>
        <b-col lg="3" md="6" sm="12">
          <b-card>Positions here....</b-card>
        </b-col>
        <b-col lg="3" md="6" sm="12">
          <b-card>Employee here...</b-card>
        </b-col>
      </b-row>
    </b-card>
  </div>
</template>

<script>
import imgUser from "@/assets/user.svg";
import axios from "axios";
import moment from "moment-timezone";
import { mapGetters } from "vuex";
import { setInterval, clearInterval } from "timers";
import { isArray } from "util";
export default {
  middleware: "authPgMonitor",
  layout: "dashboard",

  data() {
    return {};
  },

  computed: {},
  created() {},

  methods: {}
};
</script>

<style scoped>
.pd-1 {
  padding: 1rem;
}
.body-pg {
  background-color: white;
}
</style>
