<template>
  <div class="mx-2">
    <b-breadcrumb id="path-breadcrumb" :items="reportPath"></b-breadcrumb>
    <b-card>
      <b-row class="my-2">
        <b-col lg="4" md="6" sm="12">
          <b-button
            id="access-add"
            variant="primary"
            @click="addAccessRightModal"
            v-if="actions.hasAdd"
          >Add access right</b-button>
        </b-col>
        <b-col lg="12" sm="10" md="10" class="d-flex my-2">
          <b-input-group>
            <b-form-input
              style="z-index:0"
              v-model="filter"
              placeholder="Type to search"
              id="access-search"
            ></b-form-input>
            <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''" id="access-clear">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>
      </b-row>
      <div class="text-center" v-if="filterAccessRights.length ===0">
        <b-spinner variant="primary" label="access-right-spinner"></b-spinner>
      </div>
      <b-table
        v-if="filterAccessRights.length !== 0"
        id="access-table"
        :filter="filter"
        responsive
        show-empty
        empty-text="There are no access right to display"
        :empty-filtered-text="`No search for ${filter} `"
        :items="accessRightsData"
        :fields="fields"
      >
        <template slot="action" slot-scope="row">
          <b-button
            id="access-edit"
            size="md"
            @click="updateAccessRightModal(row.item)"
            class="mr-1"
          >Edit</b-button>
        </template>
      </b-table>
    </b-card>
    <b-modal
      id="access-modal"
      no-fade
      ref="modal"
      v-model="createModal"
      title="Create Access Right"
      :hide-footer="true"
    >
      <b-form @submit.stop.prevent="createAccessRight">
        <b-form-group label="Role:">
          <b-form-select id="access-select-role" v-model="accessRightsField.role_id" required>
            <option :value="null">Select Role</option>
            <option v-for="(role,i) in rolesData" :value="role.id" :key="i">{{role.name}}</option>
          </b-form-select>
        </b-form-group>
        <b-form-group label="Action:">
          <b-form-select id="access-select-action" v-model="accessRightsField.action_id" required>
            <option :value="null">Select Action</option>
            <option
              v-for="(action,i) in actionsData"
              :value="action.id"
              :key="i"
            >{{action.description}}</option>
          </b-form-select>
        </b-form-group>
        <!-- <b-form-group label="Modules:">
          <b-form-select id="access-select-module" v-model="modulesField.description" required>
            <option :value="null">Select Module</option>
            <option v-for="(modules,i) in modulesData" :value="modules.id" :key="i">{{modules.description}}</option>
          </b-form-select>
        </b-form-group>-->
        <!-- <b-form-group label="Action:">
          <b-form-select id="access-select-role" v-model="accessRightsField.role_id" required>
            <option :value="null">Select Role</option>
            <option v-for="(role,i) in rolesData" :value="role.id" :key="i">{{role.name}}</option>
          </b-form-select>
        </b-form-group>
        <hr />-->
        <div align="right">
          <b-button @click="cancel()" id="access-cancel-modal">Cancel</b-button>
          <b-button type="submit" variant="primary" id="access-ok-modal">Ok</b-button>
        </div>
      </b-form>
      <v-snackbar color="red" :bottom="true" :right="true" v-model="errorMsg" id="snackbar-error">
        <v-icon color="white" class="mr-3">mdi-error</v-icon>
        <div>{{addingError}}</div>
        <v-icon size="16" @click="errorMsg = false" id="snackbar-close-icon">mdi-close-circle</v-icon>
      </v-snackbar>
    </b-modal>
    <b-modal
      no-fade
      id="access-edit-modal"
      ref="editModal"
      v-model="editModal"
      title="Edit Access right"
      :hide-footer="true"
    >
      <b-form @submit.stop.prevent="updateAccessRight" id="access-update-form">
        <b-form-group label="Role:">
          <b-form-select
            id="access-update-select-role"
            v-model="accessRightsField.role_id"
            required
          >
            <option :value="null" disabled>Select Role</option>
            <option v-for="(role,i) in rolesData" :value="role.id" :key="i">{{role.name}}</option>
          </b-form-select>
        </b-form-group>
        <b-form-group label="Action:">
          <b-form-select
            id="access-update-select-action"
            v-model="accessRightsField.action_id"
            required
          >
            <option :value="null" disabled>Select Action</option>
            <option
              v-for="(action,i) in actionsData"
              :value="action.id"
              :key="i"
            >{{action.description}}</option>
          </b-form-select>
        </b-form-group>
        <b-form-group label="Status:">
          <b-form-select v-model="accessRightsField.status" required id="access-select-status">
            <option :value="null" disabled>Select Status</option>
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
          </b-form-select>
        </b-form-group>
        <hr />
        <div align="right">
          <b-button @click="cancel()" id="cancel-update-modal">Cancel</b-button>
          <b-button type="submit" variant="primary" id="ok-update-modal">Ok</b-button>
        </div>
      </b-form>
      <v-snackbar
        color="red"
        :bottom="true"
        :right="true"
        v-model="errorMsg"
        id="snackbar-update-error"
      >
        <v-icon color="white" class="mr-3">mdi-error</v-icon>
        <div>{{addingError}}</div>
        <v-icon
          size="16"
          @click="errorMsg = false"
          id="snackbar-error-update-close"
        >mdi-close-circle</v-icon>
      </v-snackbar>
    </b-modal>
  </div>
</template>

<script>
import axios from "axios";
import { isArray } from "util";
export default {
  head() {
    return {
      titleTemplate: "%s - Access rights",
    };
  },
  data() {
    return {
      errorMsg: false,
      addingError: null,
      actionsData: [],
      rolesData: [],
      modulesData: [],
      accessRightsData: [],
      actions: { hasAdd: false, hasEdit: false },
      modulesField: {
        id: null,
        description: null,
      },
      accessRightsField: {
        id: null,
        role_id: null,
        action_id: null,
        status: null,
      },
      fields: [
        {
          key: "action_description",
          label: "Action Name",
          sortable: true,
        },
        {
          key: "role_name",
          label: "Role Name",
          sortable: true,
        },
        {
          key: "status",
          label: "Status",
          sortable: true,
        },
        {
          key: "action",
          label: "Action",
          sortable: true,
        },
      ],
      createModal: false,
      editModal: false,
      filter: null,

      reportPath: [
        {
          text: "Home",
          to: "/dashboard/",
        },
        {
          text: "Admin Dashboard",
          to: "/dashboard/admin-dashboard",
        },
        {
          text: "Access rights",
          to: "/dashboard/admin-dashboard/acces-right",
          active: true,
        },
      ],
    };
  },
  created() {
    this.getAccessRights();
    const employeeModules = JSON.parse(localStorage.employee).modules;
    employeeModules.forEach((employeeModule) => {
      if (employeeModule.status.toLowerCase() === "active") {
        employeeModule.actions.forEach((action) => {
          if (action.status.toLowerCase() === "active") {
            if (action.description.toLowerCase() === "add access right") {
              this.actions.hasAdd = true;
            } else if (
              action.description.toLowerCase() === "edit access right"
            ) {
              this.actions.hasEdit = true;
            }
          }
        });
      }
    });

    if (!this.actions.hasEdit) {
      const actionFieldIndex = this.fields.findIndex(
        (field) => field.key === "action"
      );
      this.fields.splice(actionFieldIndex, 1);
    }
  },
  computed: {
    filterAccessRights() {
      return this.accessRightsData;
    },
  },
  methods: {
    async getModules() {
      const employeeData = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/modules`,
        data: {
          employee_id: employeeData.id,
          modules: employeeData.modules,
        },

        headers: {
          authorization: "Bearer " + employeeData.token,
        },
      }).then((res) => {
        this.modulesData = res.data.map((data) => {
          return {
            id: data.id,
            description: data.description,
          };
        });
      });
    },
    updateAccessRightModal(accessRightsRowData) {
      this.accessRightsField = {
        id: accessRightsRowData.id,
        role_id: accessRightsRowData.role_id,
        action_id: accessRightsRowData.action_id,
        status: accessRightsRowData.status,
      };

      this.editModal = true;
    },
    addAccessRightModal() {
      this.clearFormData();
      this.createModal = true;
    },
    clearFormData() {
      this.accessRightsField = {
        id: null,
        role_id: null,
        action_id: null,
        status: null,
      };
    },

    cancel() {
      this.clearFormData();
      this.editModal = false;
      this.createModal = false;
    },

    displayToast(action, data) {
      this.$bvToast.toast(`${action} ${data}`, {
        id: "toast-display-access-rights",
        title: `Successfully ${action}`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "primary",
        toaster: "b-toaster-bottom-right",
        solid: false,
      });
    },

    async getAccessRights(role, employee_id, token) {
      const employeeData = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/access_rights`,
        data: {
          employee_id: employeeData.id,
          modules: employeeData.modules,
        },

        headers: {
          authorization: "Bearer " + employeeData.token,
        },
      })
        .then((res) => {
          if (isArray(res.data.access_rights)) {
            this.accessRightsData = [];
            res.data.access_rights.map((access_rights) =>
              this.accessRightsData.push({
                ...access_rights,
                action_description: access_rights.action.description,
                role_name: access_rights.role.name,
              })
            );
          }

          if (isArray(res.data.actions)) {
            this.actionsData = [];
            this.actionsData = res.data.actions.filter(
              (action) => action.status === "Active"
            );
            function compareActions(a, b) {
              if (a.description < b.description) {
                return -1;
              }
              if (a.description > b.description) {
                return 1;
              }
              return 0;
            }
            this.actionsData.sort(compareActions);
          }
          if (isArray(res.data.roles)) {
            this.rolesData = [];
            this.rolesData = res.data.roles.filter(
              (role) => role.status === "Active"
            );
            function compareRole(a, b) {
              if (a.name < b.name) {
                return -1;
              }
              if (a.name > b.name) {
                return 1;
              }
              return 0;
            }
            this.rolesData.sort(compareRole);
          }
        })
        .catch((err) => {});
    },
    createAccessRight() {
      const employeeData = JSON.parse(localStorage.employee);

      axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/access_rights/add_access_right`,
        headers: {
          Authorization: "Bearer " + employeeData.token,
        },
        data: {
          action_id: this.accessRightsField.action_id,
          role_id: this.accessRightsField.role_id,
          created_by: employeeData.id,
          modules: employeeData.modules,
        },
      })
        .then((res) => {
          if (res.status === 201) {
            const roleName = this.rolesData.find(
              (role) => role.id === res.data.role_id
            );
            const actionDescription = this.actionsData.find(
              (action) => action.id === res.data.action_id
            );
            this.accessRightsData.push({
              ...res.data,
              action_description: actionDescription.description,
              role_name: roleName.name,
            });

            this.clearFormData();
            this.createModal = false;
            this.displayToast(
              "Added",
              actionDescription.description + "access right to " + roleName.name
            );
          }
        })
        .catch((err) => {
          this.addingError = err.response.data;
          this.errorMsg = true;
        });
    },
    updateAccessRight() {
      const employeeData = JSON.parse(localStorage.employee);

      axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/admin/access_rights/update_access_right`,
        headers: {
          Authorization: "Bearer " + employeeData.token,
        },
        data: {
          id: this.accessRightsField.id,
          action_id: this.accessRightsField.action_id,
          role_id: this.accessRightsField.role_id,
          status: this.accessRightsField.status,
          updated_by: employeeData.id,
          modules: employeeData.modules,
        },
      })
        .then((res) => {
          if (typeof res.data === "object") {
            const roleName = this.rolesData.find(
              (role) => role.id === res.data.role_id
            );
            const actionDescription = this.actionsData.find(
              (action) => action.id === res.data.action_id
            );

            const accessRightIndex = this.accessRightsData.findIndex(
              (accessRight) => accessRight.id === res.data.id
            );

            this.accessRightsData.splice(accessRightIndex, 1);
            this.accessRightsData.push({
              ...res.data,
              role_name: roleName.name,
              action_description: actionDescription.description,
            });

            this.clearFormData();
            this.editModal = false;
            this.displayToast("Updated", roleName.name + " access right");
          }
        })
        .catch((err) => {
          this.addingError = err.response.data;
          this.errorMsg = true;
        });
    },
  },
};
</script>

<style>
.date_width {
  width: 100%;
  font-size: 1rem;
}
</style>
