<template>
  <AccessRightTable />
</template>

<script>
import AccessRightTable from "@/components/AdminDashboard/AccessRights/AccessRightTable";
export default {
  middleware: "authAdmin",
  components: {
    AccessRightTable
  },
  layout: "sidebar"
};
</script>

<style>
</style>
