<template>
  <div class="mx-2">
    <b-breadcrumb :items="reportPath" id="activity-log-breadcrumb"></b-breadcrumb>

    <b-card>
      <b-row class="mb-2">
        <b-col lg="5" sm="10" md="10" class="d-flex my-0">
          <b-input-group>
            <b-form-input
              style="z-index:0"
              v-model="filter"
              placeholder="Search Activity Logs"
              id="activity-log-search"
            ></b-form-input>
            <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''" id="activity-log-clear">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>

        <b-col lg="4" md="4" sm="12">
          <b-input-group prepend="Date">
            <!-- <b-input-group-prepend>
              <div style="background-color: green">
                <v-icon color="#ffffff" small>fa-calendar-week</v-icon>
              </div>
            </b-input-group-prepend>-->
            <date-range-picker
              ref="picker"
              :opens="opens"
              :locale-data="localeData"
              :autoApply="true"
              :singleDatePicker="false"
              :showWeekNumbers="true"
              v-model="datePicker"
              @update="updateValues"
            >
              <div
                slot="input"
                style="min-width: 150px; "
              >{{ datePicker.startDate }} - {{ datePicker.endDate }}</div>
            </date-range-picker>
            <b-input-group-append>
              <b-button @click="resetDate" id="date-reset">Reset</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>

        <b-col lg="1" md="1" sm="12"></b-col>

        <b-col lg="2" md="6" sm="12">
          <b-input-group prepend="Items">
            <b-form-select style="z-index:0" v-model="perPage">
              <option v-for="value in values" :key="value" :value="value">{{value}}</option>
            </b-form-select>
          </b-input-group>
        </b-col>
      </b-row>
      <div v-if="filterActivityLogs.length === 0" class="text-center">
        <b-spinner variant="primary"></b-spinner>
      </div>
      <b-table
        v-if="filterActivityLogs.length !== 0"
        id="activity-log-table"
        responsive
        :per-page="perPage"
        :current-page="currentPage"
        :filter="filter"
        show-empty
        empty-text="There are no activity log to display"
        :empty-filtered-text="`No search for ${filter} `"
        :items="activitylogsData"
        :fields="fields"
      >
        <template slot="employee_name" slot-scope="row">
          <div @click="row.toggleDetails">{{row.item.employee_name}}</div>
        </template>
        <template slot="action_type" slot-scope="row">
          <div @click="row.toggleDetails">{{row.item.action_type}}</div>
        </template>
        <template slot="table" slot-scope="row">
          <div @click="row.toggleDetails">{{row.item.table}}</div>
        </template>
        <template slot="date" slot-scope="row">
          <div @click="row.toggleDetails">{{row.item.date}}</div>
        </template>

        <template slot="show_details" slot-scope="row">
          <b-button id="activity-log-details" size="sm" @click="row.toggleDetails" class="mr-2">
            <v-icon size="15" color="#FFFFFF">{{ row.detailsShowing ? 'fa-eye-slash' : 'fa-eye'}}</v-icon>
          </b-button>
        </template>
        <template slot="row-details" slot-scope="row">
          <b-card>
            <b-container class="bv-example-row">
              <b-row>
                <b-col cols="6">
                  <label>Previous</label>
                  <b-card class="card-logs">
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].id"
                      v-if="isChanged('id', row.item.prev_values[0].id, row.item.new_values[0].id)"
                      :style="styles.id"
                    >
                      <strong class="key">ID:</strong>
                      &nbsp;
                      {{getData(row.item.prev_values[0].id)}}
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].employee_id"
                      v-if="isChanged('employeeid', row.item.prev_values[0].employee_id, row.item.new_values[0].employee_id)"
                      :style="styles.employeeid"
                    >
                      <strong class="key">Employee ID:</strong>
                      &nbsp;
                      {{getData(row.item.prev_values[0].employee_id)}}
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].request_type_id"
                      v-if="isChanged('requesttype', row.item.prev_values[0].request_type_id, row.item.new_values[0].request_type_id)"
                      :style="styles.requesttype"
                    >
                      <strong class="key">Request Type:</strong>
                      &nbsp;
                      {{getRequestName(getData(row.item.prev_values[0].request_type_id))}}
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].reason"
                      v-if="isChanged('reason', row.item.prev_values[0].reason, row.item.new_values[0].reason)"
                      :style="styles.reason"
                    >
                      <strong class="key">Reason:</strong>
                      <div class="token">{{getData(row.item.prev_values[0].reason)}}</div>
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].note"
                      v-if="isChanged('note', row.item.prev_values[0].note, row.item.new_values[0].note)"
                      :style="styles.note"
                    >
                      <strong class="key">Note:</strong>
                      <div class="token">{{getData(row.item.prev_values[0].note)}}</div>
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].role_id"
                      v-if="isChanged('role', row.item.prev_values[0].role_id, row.item.new_values[0].role_id)"
                      :style="styles.role"
                    >
                      <strong class="key">Role:</strong>
                      &nbsp; {{getRoleName(getData(row.item.prev_values[0].role_id))}}
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].position_id"
                      v-if="isChanged('position', row.item.prev_values[0].position_id, row.item.new_values[0].position_id)"
                      :style="styles.position"
                    >
                      <strong class="key">Position:</strong>
                      &nbsp; {{getPositionName(getData(row.item.prev_values[0].position_id))}}
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].first_name"
                      v-if="isChanged('name', row.item.prev_values[0], row.item.new_values[0])"
                      :style="styles.name"
                    >
                      <strong class="key">Name:</strong>
                      &nbsp; {{getName(getData(row.item.prev_values[0].first_name),getData(row.item.prev_values[0].middle_name), getData(row.item.prev_values[0].last_name))}}
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].payroll_group"
                      v-if="isChanged('payroll', row.item.prev_values[0].payroll_group, row.item.new_values[0].payroll_group)"
                      :style="styles.payroll"
                    >
                      <strong class="key">Payroll Group:</strong>
                      &nbsp; {{getData(row.item.prev_values[0].payroll_group)}}
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].status"
                      v-if="isChanged('status', row.item.prev_values[0].status, row.item.new_values[0].status)"
                      :style="styles.status"
                    >
                      <strong class="key">Status:</strong>
                      &nbsp; {{getData(row.item.prev_values[0].status)}}
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].img_profile_path"
                      v-if="isChanged('img_profile_path', row.item.prev_values[0].img_profile_path, row.item.new_values[0].img_profile_path)"
                      :style="styles.img_profile_path"
                    >
                      <strong class="key">Employee image:</strong>
                      &nbsp; {{getData(row.item.prev_values[0].img_profile_path)}}
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].request_date"
                      v-if="isChanged('reqdate', row.item.prev_values[0].request_date, row.item.new_values[0].request_date)"
                      :style="styles.reqdate"
                    >
                      <strong class="key">Request Date:</strong>
                      &nbsp; {{getDateOnly(getData(row.item.prev_values[0].request_date))}}
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].request_time_out"
                      v-if="isChanged('reqto', row.item.prev_values[0].request_time_out, row.item.new_values[0].request_time_out)"
                      :style="styles.reqto"
                    >
                      <strong class="key">Request Time Out:</strong>
                      &nbsp; {{getTime(getData(row.item.prev_values[0].request_time_out))}}
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].request_time_in"
                      v-if="isChanged('reqti', row.item.prev_values[0].request_time_in, row.item.new_values[0].request_time_in)"
                      :style="styles.reqti"
                    >
                      <strong class="key">Request Time In:</strong>
                      &nbsp; {{getTime(getData(row.item.prev_values[0].request_time_in))}}
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].approval_time"
                      v-if="isChanged('apptime', row.item.prev_values[0].approval_time, row.item.new_values[0].approval_time)"
                      :style="styles.apptime"
                    >
                      <strong class="key">Approval Time:</strong>
                      &nbsp; {{getTime(getData(row.item.prev_values[0].approval_time))}}
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].is_read != undefined"
                      v-if="isChanged('isread', row.item.prev_values[0].is_read, row.item.new_values[0].is_read)"
                      :style="styles.isread"
                    >
                      <strong class="key">isRead:</strong>
                      &nbsp; {{getData(row.item.prev_values[0].is_read)}}
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].request_type_id"
                      v-if="isChanged('acto', row.item.prev_values[0].actual_time_out, row.item.new_values[0].actual_time_out)"
                      :style="styles.acto"
                    >
                      <strong class="key">Actual Time Out:</strong>
                      &nbsp; {{getTime(getData(row.item.prev_values[0].actual_time_out))}}
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].request_type_id"
                      v-if="isChanged('acti', row.item.prev_values[0].actual_time_in, row.item.new_values[0].actual_time_in)"
                      :style="styles.acti"
                    >
                      <strong class="key">Actual Time In:</strong>
                      &nbsp; {{getTime(getData(row.item.prev_values[0].actual_time_in))}}
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].token"
                      v-if="isChanged('token', row.item.prev_values[0].token, row.item.new_values[0].token)"
                      :style="styles.token"
                    >
                      <strong class="key">Token:</strong>
                      <div class="token">{{getData(row.item.prev_values[0].token)}}</div>
                    </b-row>
                    <!-- <b-row class="ml-1 mr-1 keyText" v-show="row.item.new_values[0].token" v-else>
                      <strong class="key">Token:</strong>
                      <div class="token">{{getData(row.item.prev_values[0].token)}}</div>
                    </b-row>-->
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].created_by"
                      v-if="isChanged('createdby', row.item.prev_values[0].created_by, row.item.new_values[0].created_by)"
                      :style="styles.createdby"
                    >
                      <strong class="key">Created by:</strong>
                      &nbsp; {{getData(row.item.prev_values[0].created_by)}}
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].updated_by"
                      v-if="isChanged('updatedby', row.item.prev_values[0].updated_by, row.item.new_values[0].updated_by)"
                      :style="styles.updatedby"
                    >
                      <strong class="key">Updated by:</strong>
                      &nbsp; {{getData(row.item.prev_values[0].updated_by)}}
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].email"
                      v-if="isChanged('email', row.item.prev_values[0].email, row.item.new_values[0].email)"
                      :style="styles.email"
                    >
                      <strong class="key">Email:</strong>
                      &nbsp; {{getData(row.item.prev_values[0].email)}}
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].createdAt"
                      v-if="isChanged('createdat', row.item.prev_values[0].createdAt, row.item.new_values[0].createdAt)"
                      :style="styles.createdat"
                    >
                      <strong class="key">Created At:</strong>
                      &nbsp; {{getDate(getData(row.item.prev_values[0].createdAt))}}
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].updatedAt"
                      v-if="isChanged('updatedat', row.item.prev_values[0].updatedAt, row.item.new_values[0].updatedAt)"
                      :style="styles.updatedat"
                    >
                      <strong class="key">Updated At:</strong>
                      &nbsp; {{getDate(getData(row.item.prev_values[0].updatedAt))}}
                    </b-row>

                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].gatepass_error"
                      v-if="isChanged('gatepass_error', row.item.prev_values[0].gateoass_error, row.item.new_values[0].gatepass_error)"
                      :style="styles.gatepass_error"
                    >
                      <strong class="key">Gatepass Error:</strong>
                      &nbsp; {{getData(row.item.prev_values[0].gatepass_error)}}
                    </b-row>
                  </b-card>
                  <!-- <vue-json-compare :oldData="row.item.new_values" :newData="row.item.prev_values"></vue-json-compare> -->
                </b-col>
                <b-col cols="6">
                  <label>Updated</label>
                  <b-card class="card-logs">
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].id"
                      v-if="isChanged('id', row.item.prev_values[0].id, row.item.new_values[0].id)"
                      :style="styles.id"
                    >
                      <strong class="key">ID:</strong>
                      &nbsp;
                      {{getData(row.item.new_values[0].id)}}
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].employee_id"
                      v-if="isChanged('employeeid', row.item.prev_values[0].employee_id, row.item.new_values[0].employee_id)"
                      :style="styles.employeeid"
                    >
                      <strong class="key">Employee ID:</strong>
                      &nbsp;
                      {{getData(row.item.new_values[0].employee_id)}}
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].request_type_id"
                      v-if="isChanged('requesttype', row.item.prev_values[0].request_type_id, row.item.new_values[0].request_type_id)"
                      :style="styles.requesttype"
                    >
                      <strong class="key">Request Type:</strong>
                      &nbsp;
                      {{getRequestName(getData(row.item.new_values[0].request_type_id))}}
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].reason"
                      v-if="isChanged('reason', row.item.prev_values[0].reason, row.item.new_values[0].reason)"
                      :style="styles.reason"
                    >
                      <strong class="key">Reason:</strong>
                      <div class="token">{{getData(row.item.new_values[0].reason)}}</div>
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].note"
                      v-if="isChanged('note', row.item.prev_values[0].note, row.item.new_values[0].note)"
                      :style="styles.note"
                    >
                      <strong class="key">Note:</strong>
                      <div class="token">{{getData(row.item.new_values[0].note)}}</div>
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].role_id"
                      v-if="isChanged('role', row.item.prev_values[0].role_id, row.item.new_values[0].role_id)"
                      :style="styles.role"
                    >
                      <strong class="key">Role:</strong>
                      &nbsp; {{getRoleName(getData(row.item.new_values[0].role_id))}}
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].position_id"
                      v-if="isChanged('position', row.item.prev_values[0].position_id, row.item.new_values[0].position_id)"
                      :style="styles.position"
                    >
                      <strong class="key">Position:</strong>
                      &nbsp; {{getPositionName(getData(row.item.new_values[0].position_id))}}
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].first_name"
                      v-if="isChanged('name', row.item.prev_values[0], row.item.new_values[0])"
                      :style="styles.name"
                    >
                      <strong class="key">Name:</strong>
                      &nbsp; {{getName(getData(row.item.new_values[0].first_name),getData(row.item.new_values[0].middle_name), getData(row.item.new_values[0].last_name))}}
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].payroll_group"
                      v-if="isChanged('payroll', row.item.prev_values[0].payroll_group, row.item.new_values[0].payroll_group)"
                      :style="styles.payroll"
                    >
                      <strong class="key">Payroll Group:</strong>
                      &nbsp; {{getData(row.item.new_values[0].payroll_group)}}
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].status"
                      v-if="isChanged('status', row.item.prev_values[0].status, row.item.new_values[0].status)"
                      :style="styles.status"
                    >
                      <strong class="key">Status:</strong>
                      &nbsp; {{getData(row.item.new_values[0].status)}}
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].img_profile_path"
                      v-if="isChanged('img_profile_path', row.item.prev_values[0].img_profile_path, row.item.new_values[0].img_profile_path)"
                      :style="styles.img_profile_path"
                    >
                      <strong class="key">Employee image:</strong>
                      &nbsp; {{getData(row.item.new_values[0].img_profile_path)}}
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].request_date"
                      v-if="isChanged('reqdate', row.item.prev_values[0].request_date, row.item.new_values[0].request_date)"
                      :style="styles.reqdate"
                    >
                      <strong class="key">Request Date:</strong>
                      &nbsp; {{getDateOnly(getData(row.item.new_values[0].request_date))}}
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].request_time_out"
                      v-if="isChanged('reqto', row.item.prev_values[0].request_time_out, row.item.new_values[0].request_time_out)"
                      :style="styles.reqto"
                    >
                      <strong class="key">Request Time Out:</strong>
                      &nbsp; {{getTime(getData(row.item.new_values[0].request_time_out))}}
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].request_time_in"
                      v-if="isChanged('reqti', row.item.prev_values[0].request_time_in, row.item.new_values[0].request_time_in)"
                      :style="styles.reqti"
                    >
                      <strong class="key">Request Time In:</strong>
                      &nbsp; {{getTime(getData(row.item.new_values[0].request_time_in))}}
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].approval_time"
                      v-if="isChanged('apptime', row.item.prev_values[0].approval_time, row.item.new_values[0].approval_time)"
                      :style="styles.apptime"
                    >
                      <strong class="key">Approval Time:</strong>
                      &nbsp; {{getTime(getData(row.item.new_values[0].approval_time))}}
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].is_read != undefined"
                      v-if="isChanged('isread', row.item.prev_values[0].is_read, row.item.new_values[0].is_read)"
                      :style="styles.isread"
                    >
                      <strong class="key">isRead:</strong>
                      &nbsp; {{getData(row.item.new_values[0].is_read)}}
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].request_type_id"
                      v-if="isChanged('acto', row.item.prev_values[0].actual_time_out, row.item.new_values[0].actual_time_out)"
                      :style="styles.acto"
                    >
                      <strong class="key">Actual Time Out:</strong>
                      &nbsp; {{getTime(getData(row.item.new_values[0].actual_time_out))}}
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].request_type_id"
                      v-if="isChanged('acti', row.item.prev_values[0].actual_time_in, row.item.new_values[0].actual_time_in)"
                      :style="styles.acti"
                    >
                      <strong class="key">Actual Time In:</strong>
                      &nbsp; {{getTime(getData(row.item.new_values[0].actual_time_in))}}
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].token"
                      v-if="isChanged('token', row.item.prev_values[0].token, row.item.new_values[0].token)"
                      :style="styles.token"
                    >
                      <strong class="key">Token:</strong>
                      <div class="token">{{getData(row.item.new_values[0].token)}}</div>
                    </b-row>
                    <!-- <b-row class="ml-1 mr-1 keyText" v-show="row.item.new_values[0].token" v-else>
                      <strong class="key">Token:</strong>
                      <div class="token">{{getData(row.item.new_values[0].token)}}</div>
                    </b-row>-->
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].created_by"
                      v-if="isChanged('createdby', row.item.prev_values[0].created_by, row.item.new_values[0].created_by)"
                      :style="styles.createdby"
                    >
                      <strong class="key">Created by:</strong>
                      &nbsp; {{getData(row.item.new_values[0].created_by)}}
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].updated_by"
                      v-if="isChanged('updatedby', row.item.prev_values[0].updated_by, row.item.new_values[0].updated_by)"
                      :style="styles.updatedby"
                    >
                      <strong class="key">Updated by:</strong>
                      &nbsp; {{getData(row.item.new_values[0].updated_by)}}
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].email"
                      v-if="isChanged('email', row.item.prev_values[0].email, row.item.new_values[0].email)"
                      :style="styles.email"
                    >
                      <strong class="key">Email:</strong>
                      &nbsp; {{getData(row.item.new_values[0].email)}}
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].createdAt"
                      v-if="isChanged('createdat', row.item.prev_values[0].createdAt, row.item.new_values[0].createdAt)"
                      :style="styles.createdat"
                    >
                      <strong class="key">Created At:</strong>
                      &nbsp; {{getDate(getData(row.item.new_values[0].createdAt))}}
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].updatedAt"
                      v-if="isChanged('updatedat', row.item.prev_values[0].updatedAt, row.item.new_values[0].updatedAt)"
                      :style="styles.updatedat"
                    >
                      <strong class="key">Updated At:</strong>
                      &nbsp; {{getDate(getData(row.item.new_values[0].updatedAt))}}
                    </b-row>
                    <b-row
                      class="ml-1 mr-1 keyText"
                      v-show="row.item.new_values[0].gatepass_error"
                      v-if="isChanged('gatepass_error', row.item.prev_values[0].gatepass_error, row.item.new_values[0].gatepass_error)"
                      :style="styles.gatepass_error"
                    >
                      <strong class="key">Gatepass Error:</strong>
                      &nbsp; {{getData(row.item.new_values[0].gatepass_error)}}
                    </b-row>
                  </b-card>
                  <!-- <vue-json-compare :oldData="row.item.prev_values" :newData="row.item.new_values"></vue-json-compare> -->
                </b-col>
              </b-row>
            </b-container>
          </b-card>
        </template>
      </b-table>

      <div>
        <b-pagination
          v-if="filterActivityLogs.length !== 0"
          id="schedule-pagination"
          align="center"
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          class="my-0"
        ></b-pagination>
      </div>
    </b-card>
  </div>
</template>

<script>
import axios from "axios";
import { isArray } from "util";
import moment from "moment";
import vueJsonCompare from "vue-json-compare";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import { format } from "path";
export default {
  components: {
    vueJsonCompare,
    DateRangePicker,
  },
  head() {
    return {
      titleTemplate: "%s - Activity Log",
    };
  },
  data() {
    return {
      activitylogsData: [],
      positions: [],
      roles: [],
      requestTypesData: [],
      styles: {},

      totalRows: 1,
      currentPage: 1,
      perPage: 10,
      values: ["5", "10", "25", "50", "100"],
      filter: "",
      createModal: false,
      editModal: false,

      previousvalues: [],
      newvalues: [],
      prevfields: [],
      newfields: [],

      opens: "center",
      datePicker: {
        startDate: moment().format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY"),
      },
      dateRange: {
        request_date_from: moment().format("YYYY-MM-DD"),
        request_date_to: moment().format("YYYY-MM-DD"),
      },
      localeData: {
        direction: "ltr",
        format: moment().format("mmm dd, yyyy"),
        separator: " - ",
      },

      fields: [
        {
          key: "employee_name",
          label: "Employee",
        },
        {
          key: "action_type",
          label: "Action",
        },
        {
          key: "table",
          label: "Table",
        },
        {
          key: "date",
          label: "Date",
        },
        {
          key: "show_details",
          label: "Show Details",
        },
      ],
      reportPath: [
        {
          text: "Home",
          to: "/dashboard/",
        },
        {
          text: "Admin Dashboard",
          to: "/dashboard/admin-dashboard",
        },
        {
          text: "Activity log",
          to: "/dashboard/admin-dashboard/activity-log",
          active: true,
        },
      ],
    };
  },
  async created() {
    await this.getActivityLogs();
    await this.getRoles();
    await this.getPosition();
    await this.getRequestType();
  },
  computed: {
    filterActivityLogs() {
      const activityLogs = this.activitylogsData.filter((alFilter) => {
        const employee = alFilter.employee_name;
        const action = alFilter.action_type;
        const table = alFilter.table;
        const date = alFilter.date;

        const result =
          employee.toLowerCase().match(this.filter) ||
          employee.toUpperCase().match(this.filter) ||
          employee.match(this.filter) ||
          action.toLowerCase().match(this.filter) ||
          action.toUpperCase().match(this.filter) ||
          action.match(this.filter) ||
          table.toLowerCase().match(this.filter) ||
          table.toUpperCase().match(this.filter) ||
          table.match(this.filter);

        return result;
      });
      this.totalRows = activityLogs.length;
      return activityLogs;
    },
  },
  methods: {
    isChanged(key, oldValue, newValue) {
      if (key == "name") {
        oldValue =
          oldValue.first_name +
          " " +
          (oldValue.middle_name ? oldValue.middle_name + " " : " ") +
          oldValue.last_name;
        newValue =
          newValue.first_name +
          " " +
          (newValue.middle_name ? newValue.middle_name + " " : " ") +
          newValue.last_name;
      }
      if (oldValue != newValue) {
        this.styles[key] = "background-color: #fff6e1";
      } else {
        this.styles[key] = "";
      }
      return true;
    },
    getTime(time) {
      console.log(time);
      if (time) {
        return moment(time, [moment.ISO_8601, "hh:mm A"]).format("hh:mm A");
      } else {
        return "";
      }
    },
    getDate(date) {
      if (date) {
        return moment(date).format("MMM DD, YYYY hh:mm A");
      } else {
        return "";
      }
    },
    getDateOnly(date) {
      if (date) {
        return moment(date).format("MMM DD, YYYY");
      } else {
        return "";
      }
    },
    getName(first_name, middle_name, last_name) {
      return (
        first_name + " " + (middle_name ? middle_name + " " : " ") + last_name
      );
    },
    getPositionName(position_id) {
      let pos_name = "";
      for (let i = 0; i < this.positions.length; i++) {
        if (position_id == this.positions[i].id) {
          pos_name = this.positions[i].name;
          break;
        }
      }
      return pos_name;
    },
    getRequestName(request_type_id) {
      let req_name = "";
      for (let i = 0; i < this.requestTypesData.length; i++) {
        if (request_type_id == this.requestTypesData[i].id) {
          req_name = this.requestTypesData[i].name;
          break;
        }
      }
      return req_name;
    },
    getRoleName(role_id) {
      let role_name = "";
      for (let i = 0; i < this.roles.length; i++) {
        if (role_id == this.roles[i].id) {
          role_name = this.roles[i].name;
          break;
        }
      }
      return role_name;
    },
    getData(item) {
      if (item != null) {
        return item;
      } else {
        return null;
      }
    },
    async getRequestType(role, employee_id, token) {
      const employeeData = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/request_types`,
        data: {
          employee_id: employeeData.id,
          modules: employeeData.modules,
        },

        headers: {
          authorization: "Bearer " + employeeData.token,
        },
      })
        .then((res) => {
          if (isArray(res.data)) {
            this.requestTypesData = [];
            res.data.map((request_type) =>
              this.requestTypesData.push({
                id: request_type.id,
                name: request_type.name,
                has_time_in: request_type.has_time_in,
                time_in:
                  request_type.has_time_in === true ? "Enabled" : "Disabled",
                color: request_type.color,
                status: request_type.status,
              })
            );
          }
        })
        .catch((err) => {});
    },
    async getPosition(role, employee_id, token) {
      const employeeData = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/positions`,
        data: {
          employee_id: employeeData.id,
          modules: employeeData.modules,
        },

        headers: {
          authorization: "Bearer " + employeeData.token,
        },
      })
        .then((res) => {
          this.positions = [];
          this.teamsData = [];
          this.departmentsData = [];

          if (isArray(res.data.departments)) {
            this.departmentsData = [];
            this.departmentsData = res.data.departments.filter(
              (department) => department.status === "Active"
            );
          }

          if (isArray(res.data.positions)) {
            res.data.positions.map((position) =>
              this.positions.push({
                id: position.id,
                name: position.name,
                team: position.team.name,
                team_id: position.team.id,
                status: position.status,
                department_id: position.team.department.id,
                department: position.team.department.name,
              })
            );
          }
          if (isArray(res.data.teams)) {
            this.teamsData = [];
            this.teamsData = res.data.teams.filter(
              (team) => team.status === "Active"
            );
            function compareTeam(a, b) {
              if (a.name < b.name) {
                return -1;
              }
              if (a.name > b.name) {
                return 1;
              }
              return 0;
            }
            this.teamsData.sort(compareTeam);
          }

          if (isArray(res.data.departments)) {
            this.departmentsData = [];
            this.departmentsData = res.data.departments.filter(
              (department) => department.status === "Active"
            );
            function compareDept(a, b) {
              if (a.name < b.name) {
                return -1;
              }
              if (a.name > b.name) {
                return 1;
              }
              return 0;
            }
            this.departmentsData.sort(compareDept);
          }
        })
        .catch((err) => {});
    },
    async getRoles(role, employee_id, token) {
      const employeeData = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/roles/`,
        data: {
          employee_id: employeeData.id,
          modules: employeeData.modules,
        },

        headers: {
          authorization: "Bearer " + employeeData.token,
        },
      })
        .then((res) => {
          if (isArray(res.data)) {
            this.roles = [];
            res.data.map((role) =>
              this.roles.push({
                id: role.id,
                name: role.name,
                status: role.status,
              })
            );
          }
        })
        .catch((err) => {});
    },
    resetDate() {
      this.datePicker.startDate = moment().format("MMM DD, YYYY");
      this.datePicker.endDate = moment().format("MMM DD, YYYY");
    },
    updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      (this.dateRange.request_date_from = moment(
        this.datePicker.startDate
      ).format("YYYY-MM-DD")),
        (this.dateRange.request_date_to = moment(
          this.datePicker.endDate
        ).format("YYYY-MM-DD"));

      this.getActivityLogs();
    },
    async getActivityLogs(role, employee_id, token) {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/activity_logs`,
        data: {
          modules: employee.modules,
          employee_id: employee.id,
          request_date_from: this.dateRange.request_date_from,
          request_date_to: this.dateRange.request_date_to,
        },

        headers: {
          authorization: "Bearer " + employee.token,
        },
      })
        .then((res) => {
          if (isArray(res.data)) {
            this.activitylogsData = [];

            res.data.map((activitylogs) => {
              this.activitylogsData.push({
                id: activitylogs.id,
                employee_name: activitylogs.employee
                  ? `${activitylogs.employee.first_name} ${activitylogs.employee.middle_name} ${activitylogs.employee.last_name}`
                  : "",
                action_type: activitylogs.action_type,
                table: activitylogs.table,
                date: moment(activitylogs.createdAt).format("MM/DD/YYYY"),
                prev_values: [activitylogs.prev_values],
                new_values: [activitylogs.new_values],
                _showDetails: false,
              });
            });
          }
        })
        .catch((err) => {});
      this.totalRows = this.activitylogsData.length;
    },
  },
};
</script>

<style>
.date_width {
  width: 100%;
  font-size: 1rem;
}
.card-logs {
  /* background-color: #fafbfc; */
  background-color: #f8fcff;
  border: none;
  color: #292929;
}
.keycolor {
  color: #9eadff;
}
.keyText {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #00af00;
}
.token {
  margin-left: 1rem;
  width: 380px;
}

#activity-log-table tbody tr:hover {
  background-color: #e9ecef;
}
.key {
  color: #5cadff;
}
</style>

 <!-- <b-input-group prepend="From">
            <b-form-input
              id="date-from"
              type="date"
              placeholder="Date From"
              v-model="dateRange.request_date_from"
              class="date_width"
            ></b-form-input>
          </b-input-group>
        </b-col>

        <b-col lg="3" md="4" sm="12" class="mb-2">
          <b-input-group prepend="To">
            <b-form-input
              id="date-to"
              type="date"
              placeholder="Date To"
              v-model="dateRange.request_date_to"
              class="date_width"
            ></b-form-input>
            <b-input-group-append>
              <b-button id="pending-set-range" variant="success" @click="getActivityLogs">Search</b-button>
            </b-input-group-append>
          </b-input-group>-->