<template>
  <div class="mx-2">
    <b-breadcrumb :items="reportPath" id="breadcrumb-module"></b-breadcrumb>

    <b-card>
      <b-row class="my-2">
        <b-col lg="10" md="6" sm="12">
          <b-button
            variant="primary"
            @click="addModuleModal"
            id="module-add-button"
            v-if="actions.hasAdd"
          >Add module</b-button>
        </b-col>
        <b-col lg="2" md="6" sm="12">
          <b-input-group prepend="Items">
            <b-form-select style="z-index:0" v-model="perPage">
              <option v-for="value in values" :key="value" :value="value">{{value}}</option>
            </b-form-select>
          </b-input-group>
        </b-col>

        <b-col lg="12" sm="10" md="10" class="d-flex my-2">
          <b-input-group>
            <b-form-input
              style="z-index:0"
              v-model="filter"
              placeholder="Search Module"
              id="module-search"
            ></b-form-input>
            <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''" id="module-clear">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col lg="6" md="3" sm="1"></b-col>
      </b-row>
      <div class="text-center" v-if="loadModules.length === 0">
        <b-spinner variant="primary"></b-spinner>
      </div>
      <b-table
        v-if="loadModules.length !== 0"
        id="module-table"
        responsive
        :filter="filter"
        show-empty
        :per-page="perPage"
        :current-page="currentPage"
        empty-text="There are no modules to display"
        :empty-filtered-text="`No search for ${filter} `"
        :items="modules"
        :fields="fields"
        style="height: auto"
      >
        <template slot="description" slot-scope="row">
          <div @click="updateModuleModal(row.item)">{{row.item.description}}</div>
        </template>
        <template slot="status" slot-scope="row">
          <div @click="updateModuleModal(row.item)">{{row.item.status}}</div>
        </template>
        <template slot="action" slot-scope="row">
          <div @click="updateModuleModal(row.item)">
            <b-button title="Edit Module" size="sm" class id="module-edit-button">
              <v-icon size="15" color="#FFFFFF">fa-edit</v-icon>
            </b-button>
          </div>
        </template>
      </b-table>
      <div>
        <b-pagination
          v-if="loadModules.length !== 0"
          id="schedule-pagination"
          align="center"
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          class="my-0"
        ></b-pagination>
      </div>
    </b-card>
    <b-modal
      no-fade
      ref="modal"
      v-model="createModal"
      title="Create module"
      id="module-add-modal"
      :hide-footer="true"
    >
      <b-form @submit.stop.prevent="createModule" id="module-add-form">
        <label for="module-input-name">Module Name:</label>
        <b-form-input
          id="module-input-name"
          placeholder="Module Name"
          class="my-2"
          v-model="moduleFields.description"
          required
        ></b-form-input>

        <hr />
        <div align="right">
          <b-button @click="cancel()" id="module-cancel-modal">Cancel</b-button>
          <b-button type="submit" variant="primary" id="module-ok-modal">Ok</b-button>
        </div>
      </b-form>
      <v-snackbar
        color="red"
        :bottom="true"
        :right="true"
        v-model="errorMsg"
        id="module-snackbar-add-error"
      >
        <v-icon color="white" class="mr-3">mdi-error</v-icon>
        <div>{{addingError}}</div>
        <v-icon size="16" @click="errorMsg = false" id="module-add-error-close">mdi-close-circle</v-icon>
      </v-snackbar>
    </b-modal>
    <b-modal
      no-fade
      ref="editModal"
      id="module-edit-modal"
      v-model="editModal"
      title="Edit Module"
      :hide-footer="true"
    >
      <b-form @submit.stop.prevent="updateModule" id="module-edit-form">
        <label for="module-edit-name">Module Name:</label>
        <b-form-input
          id="module-edit-name"
          placeholder="Module Name"
          class="my-2"
          v-model="moduleFields.description"
          disabled
        ></b-form-input>
        <b-form-select v-model="moduleFields.status" required id="module-edit-status">
          <option :value="null" disabled>Select Status</option>
          <option value="Active">Active</option>
          <option value="Inactive">Inactive</option>
        </b-form-select>
        <hr />
        <div align="right">
          <b-button @click="cancel()" id="module-cancel-modal">Cancel</b-button>
          <b-button type="submit" variant="primary" id="module-ok-modal">Ok</b-button>
        </div>
      </b-form>

      <v-snackbar
        color="red"
        :bottom="true"
        id="module-snackbar-error"
        :right="true"
        v-model="errorMsg"
      >
        <v-icon color="white" class="mr-3">mdi-error</v-icon>
        <div>{{addingError}}</div>
        <v-icon size="16" @click="errorMsg = false" id="module-error-close">mdi-close-circle</v-icon>
      </v-snackbar>
    </b-modal>
  </div>
</template>

<script>
import axios from "axios";
import { isArray } from "util";
export default {
  head() {
    return {
      titleTemplate: "%s - module",
    };
  },
  data() {
    return {
      errorMsg: false,
      addingError: null,
      status: ["Active", "Inactive"],
      modules: [],
      currentPage: 1,
      totalRows: 1,
      perPage: 10,
      values: ["5", "10", "25", "50", "100"],
      moduleFields: {
        id: null,
        description: null,
        status: null,
      },
      actions: { hasAdd: false, hasEdit: false },
      fields: [
        {
          key: "description",
          label: "Module",
        },
        {
          key: "status",
          label: "Status",
        },

        {
          key: "action",
          label: "Action",
        },
      ],
      createModal: false,
      editModal: false,
      filter: "",

      reportPath: [
        {
          text: "Home",
          to: "/dashboard/",
        },
        {
          text: "Admin Dashboard",
          to: "/dashboard/admin-dashboard",
        },
        {
          text: "Module",
          to: "/dashboard/admin-dashboard/module",
          active: true,
        },
      ],
    };
  },
  created() {
    this.getModule();
    const employeeModules = JSON.parse(localStorage.employee).modules;
    employeeModules.forEach((employeeModule) => {
      if (employeeModule.status.toLowerCase() === "active") {
        employeeModule.actions.forEach((action) => {
          if (action.status.toLowerCase() === "active") {
            if (action.description.toLowerCase() === "add module") {
              this.actions.hasAdd = true;
            } else if (action.description.toLowerCase() === "edit module") {
              this.actions.hasEdit = true;
            }
          }
        });
      }
    });

    if (!this.actions.hasEdit) {
      const actionFieldIndex = this.fields.findIndex(
        (field) => field.key === "action"
      );
      this.fields.splice(actionFieldIndex, 1);
    }
  },
  computed: {
    loadModules() {
      const moduleReturn = this.modules.filter((moduleFilter) => {
        const result =
          moduleFilter.description.toLowerCase().match(this.filter) ||
          moduleFilter.description.toUpperCase().match(this.filter) ||
          moduleFilter.description.match(this.filter);
        return result;
      });
      return moduleReturn;
    },
  },
  methods: {
    displayToast(action, data) {
      this.$bvToast.toast(`${action} ${data} module`, {
        id: "toast-display-module",
        title: `Successfully ${action}`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "primary",
        toaster: "b-toaster-bottom-right",
        solid: false,
      });
    },
    updateModuleModal(moduleData) {
      this.moduleFields = {
        description: moduleData.description,
        status: moduleData.status,
        id: moduleData.id,
      };

      this.editModal = true;
    },
    clearFormData() {
      this.moduleFields = {
        id: null,
        description: null,
        status: null,
      };
    },
    cancel() {
      this.clearFormData();
      this.editModal = false;
      this.createModal = false;
    },
    addModuleModal() {
      this.clearFormData();
      this.createModal = true;
    },
    async getModule(role, employee_id, token) {
      const employeeData = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/modules`,
        data: {
          employee_id: employeeData.id,
          modules: employeeData.modules,
        },

        headers: {
          authorization: "Bearer " + employeeData.token,
        },
      })
        .then((res) => {
          if (isArray(res.data)) {
            this.modules = [];
            res.data.map((modules) =>
              this.modules.push({
                id: modules.id,
                description: modules.description,
                status: modules.status,
              })
            );
          }

          this.totalRows = this.modules.length;
        })
        .catch((err) => {});
    },

    createModule() {
      const employeeData = JSON.parse(localStorage.employee);

      axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/modules/add_module`,
        headers: { Authorization: "Bearer " + employeeData.token },
        data: {
          description: this.moduleFields.description,
          created_by: employeeData.id,
          modules: employeeData.modules,
        },
      })
        .then((res) => {
          if (res.status === 201) {
            this.modules.push({ ...res.data });

            this.createModal = false;
            this.clearFormData();
            this.displayToast("Added", res.data.name);
          }
        })
        .catch((err) => {
          this.addingError = err.response.data;
          this.errorMsg = true;
        });
    },
    updateModule() {
      const employeeData = JSON.parse(localStorage.employee);

      axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/admin/modules/update_module`,
        headers: { Authorization: "Bearer " + employeeData.token },
        data: {
          id: this.moduleFields.id,
          description: this.moduleFields.description,
          status: this.moduleFields.status,
          updated_by: employeeData.id,
          modules: employeeData.modules,
        },
      })
        .then((res) => {
          if (typeof res.data === "object") {
            const moduleIndex = this.modules.findIndex(
              (modules) => modules.id === res.data.id
            );
            this.modules.splice(moduleIndex, 1);
            this.modules.push({ ...res.data });

            this.editModal = false;
            this.clearFormData(),
              this.displayToast("Updated", res.data.description);
          }
        })
        .catch((err) => {
          this.addingError = err.response.data;
          this.errorMsg = true;
        });
    },
  },
};
</script>

<style>
.date_width {
  width: 100%;
  font-size: 1rem;
}
#module-table tbody tr:hover {
  background-color: #e9ecef;
}
</style>
