<template>
  <ActivityLogTable />
</template>

<script>
import ActivityLogTable from "@/components/AdminDashboard/ActivityLogs/ActivityLogTable";
export default {
  middleware: "authAdmin",
  components: {
    ActivityLogTable
  },
  layout: "sidebar"
};
</script>

<style>
</style>
