<template>
  <div class="body-security">
    <h1
      class="text-center display-3 white--text font-weight-bold"
      style="text-transform:uppercase"
    >{{serverTime}}</h1>
    <b-container>
      <b-row class>
        <b-col lg="12" md="12" sm="12" align-self="center">
          <b-form @submit.prevent="Barcode()">
            <b-input-group size="lg">
              <b-form-input
                @blur="searchFocus"
                id="search-employee"
                autocomplete="off"
                type="search"
                autofocus
                ref="search-focus-employee"
                placeholder="Search Employee"
                v-model="searchNewEmployee"
                class="form-control-lg"
                required
              ></b-form-input>

              <b-input-group-append>
                <b-button
                  size="lg"
                  text="Button"
                  type="submit"
                  variant="primary"
                  :disabled="Disabled"
                  v-show="false"
                ></b-button>
              </b-input-group-append>
            </b-input-group>
            <!-- Code -->
          </b-form>
        </b-col>
      </b-row>
      <br />

      <div
        id="no_results"
        class="text-center display-1 white--text mt-2 overflow-auto"
        v-show="emptyText"
      >{{emptyText}}</div>

      <b-row
        class="mt-2 justify-center"
        v-for="employee in listOfEmployees"
        :key="employee.id"
        :id="employee.id"
      >
        <b-col lg="10" md="10" align-self="center">
          <b-card v-bind:style="`background-color:${employee.gate_pass_color}`">
            <b-row v-if="search-employee.length !== null">
              <b-col md="4">
                <b-card-img
                  style="max-width: 50%, max-height: 25%; margin-left: 50px"
                  :src="employee.img_profile_path"
                  alt="Employee"
                  id="employee_img-time-out"
                ></b-card-img>
              </b-col>
              <b-col lg="8" md="8" class="text-center text-stroke-md" align-self="center">
                <b-card-title>
                  <h1>{{employee.name}}</h1>
                </b-card-title>
                <b-card-text>
                  <b>{{employee.employee_id}}</b>
                </b-card-text>
                <b-card-text class="title">{{employee.time}}</b-card-text>
                <b-card-text class>{{employee.gate_pass_type}}</b-card-text>
                <b-card-text class>
                  <h3>{{employee.status}}</h3>
                </b-card-text>
              </b-col>
            </b-row>
          </b-card>
        </b-col>
      </b-row>

      <!-- <b-row
              class="mt-2 justify-center"
              v-for="(employee,i) in filterTimeInGatePass"
              :key="i"
            >
              <b-col lg="12" md="12" align-self="center">
                <b-card v-bind:style="`background-color:${employee.gate_pass_color}`">
                  <b-row>
                    <img
                      :src="employee.img_profile_path"
                      alt="Employee"
                      class="avatar"
                      id="employee_img-time-in"
                    />
                    <b-col lg="12" md="8" class="text-center" align-self="center">
                      <b-card-title>{{employee.name}}</b-card-title>
                      <b-card-text>
                        <b>{{employee.employee_id}}</b>
                      </b-card-text>
                      <b-card-text class>{{employee.gate_pass_type}}</b-card-text>
                      <b-card-text class="title">{{employee.time}}</b-card-text>
                    </b-col>
                  </b-row>

                  <b-button
                    id="time_in"
                    block
                    variant="primary"
                    @click="markTimeInGatePass(employee)"
                    class="card-action-button mt-2 elevation-5"
                  >Time In</b-button>
                </b-card>
              </b-col>
      </b-row>-->
    </b-container>
  </div>
</template>

<script>
import imgUser from "@/assets/user.svg";
import axios from "axios";
import moment from "moment";
import { mapGetters } from "vuex";
import { setInterval, clearInterval } from "timers";
export default {
  middleware: "authMonitor",
  layout: "securityLayout",
  beforeDestroy() {
    clearInterval(this.monitorInterval);
    clearInterval(this.clockInterval);
  },
  data() {
    return {
      monitorInterval: null,
      imgUser: imgUser,
      listOfEmployees: [],
      searchEmployee: "",
      searchNewEmployee: "",
      emptyText: null,
      serverTime: moment().format("hh:mm:ss a"),
      clockInterval: null
    };
  },

  computed: {
    Disabled() {
      return false;
        
    }

  },
  //   /**
  //    * #### Filter Search Found
  //    * @method
  //    * @return {Number} - Returns a number of employees found in the search bar
  //    *
  //    */
  //   filterSearchFound() {
  //     return (
  //       this.listOfEmployees.filter(
  //         employee =>
  //           employee.name
  //             .toLowerCase()
  //             .match(this.searchNewEmployee.toLowerCase()) ||
  //           employee.employee_id.toString().match(this.searchNewEmployee)
  //       ).length ||
  //       this.listOfEmployees.filter(
  //         employee =>
  //           employee.name
  //             .toLowerCase()
  //             .match(this.searchNewEmployee.toLowerCase()) ||
  //           employee.employee_id.toString().match(this.searchNewEmployee)
  //       ).length
  //     );
  //   },

  //   /**
  //    * #### Filter Approved Gate Pass Found
  //    * @method
  //    * @return {(string\|number)} - Returns a string or number of an employees found in the search bar
  //    *
  //    */
  //   filterApprovedGatePass() {
  //     return this.listOfEmployees.filter(employee => {
  //       const result =
  //         employee.name
  //           .toLowerCase()
  //           .match(this.searchNewEmployee.toLowerCase()) ||
  //         employee.employee_id.toString().match(this.searchNewEmployee);
  //       if (!result) {
  //         this.emptyText = `${this.searchNewEmployee} not found`;
  //       }
  //       return result;
  //     });
  //   },
  //   /**
  //    * #### Filter Time In Gate Pass Found
  //    * @method
  //    * @return {(string\|number)} - Returns a string or
  //    * number of an employees found in the search bar
  //    *
  //    */
  //   filterTimeInGatePass() {
  //     return this.listOfEmployees.filter(employee => {
  //       const result =
  //         employee.name
  //           .toLowerCase()
  //           .match(this.searchNewEmployee.toLowerCase()) ||
  //         employee.employee_id.toString().match(this.searchNewEmployee);
  //       if (!result) {
  //         this.emptyText = `${this.searchNewEmployee} not found`;
  //       }
  //       return result;
  //     });
  //   }
  // },
  created() {
    this.getServerTime();
  },
  mounted() {
    this.clockInterval = setInterval(this.getTimeInterval, 1000);
  },

  methods: {
    async Barcode() {
      const employee = JSON.parse(localStorage.employee);

      //function
      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/securityguard/gatepass/put_time`,
        data: {
          id: this.searchNewEmployee,
          employee_id: employee.id,
          modules: employee.modules
        },
        headers: {
          authorization: "Bearer " + localStorage.token
        }
      })
        .then(response => {
          if (typeof response.data === "object") {
            this.listOfEmployees = [];
            this.emptyText = "";
            response.data.gate_passes.forEach(gate_pass => {
              const exist = this.listOfEmployees.find(
                gatepass => gatepass.id === gate_pass.id
              );
              if (!exist) {
                this.listOfEmployees.push({
                  employee_id: gate_pass.employeeId,
                  img_profile_path: response.data.img_profile_path
                    ? `${this.$axios.defaults.baseURL}/${response.data.img_profile_path}`
                    : this.imgUser,
                  gate_pass_id: gate_pass.id,
                  name: `${response.data.first_name} ${response.data.last_name}`,
                  gate_pass_type: gate_pass.request_type.name,
                  gate_pass_color: gate_pass.request_type.color
                    ? gate_pass.request_type.color
                    : "white",
                  time: gate_pass.request_time_in
                    ? moment(`${gate_pass.request_time_out}`, "h:mm a").format(
                        "h:mm a"
                      ) +
                      "-" +
                      moment(`${gate_pass.request_time_in}`, "h:mm a").format(
                        "h:mm a"
                      )
                    : moment(`${gate_pass.request_time_out}`, "h:mm a").format(
                        "h:mm a"
                      ),
                  status: gate_pass.status
                });
              }
            });
          } else {
            this.listOfEmployees = [];
          } 
          this.searchNewEmployee = ""

        })
        .catch(error => {
          this.listOfEmployees = [];
          this.emptyText = error.response.data;
        });

      this.searchNewEmployee = "";
      this.$refs["search-focus-employee"].focus();
    },
    searchFocus() {
      this.$refs["search-focus-employee"].focus();
    },
    async getServerTime() {
      await axios({
        method: "GET",
        url: `${this.$axios.defaults.baseURL}/securityguard/time`
      })
        .then(response => {
          clearInterval(this.clockInterval);
          this.serverTime = moment(response.data.time).format("hh:mm:ss A");
          this.getTimeInterval(moment(response.data.time).format("hh:mm:ss A"));

          this.clockInterval = setInterval(this.getTimeInterval, 1000);
        })
        .catch(error => {
        });
    },
    getTimeInterval() {
      this.serverTime = moment(this.serverTime, "hh:mm:ss A")
        .add(1, "seconds")
        .format("hh:mm:ss A");
    }
    // startMonitor() {
    //   this.monitorInterval = setInterval(
    //     !this.searchNewEmployee
    //       ? () => {
    //           this.searchEmployeeGatePass();
    //         }
    //       : null,
    //     5000
    //   );
    // },
    /**
     * @return {bool} - Shows the `emptyText` if there are no employees
     */
    // noResults() {
    //   return (
    //     this.listOfEmployees.filter(
    //       employee =>
    //         employee.name
    //           .toLowerCase()
    //           .match(this.searchNewEmployee.toLowerCase()) ||
    //         employee.employee_id.toString().match(this.searchNewEmployee)
    //     ).length === 0 &&
    //     this.listOfEmployees.filter(
    //       employee =>
    //         employee.name
    //           .toLowerCase()
    //           .match(this.searchNewEmployee.toLowerCase()) ||
    //         employee.employee_id.toString().match(this.searchNewEmployee)
    //     ).length === 0
    //   );
    // },

    // async getApprovedGatePass() {
    //   this.searchNewEmployee = "";
    //   const employee = JSON.parse(localStorage.employee);
    //   const securityAccess = employee.modules.find(
    //     gatepass => gatepass.description === "Gate Pass"
    //   );
    //   const viewApprovedAccess = securityAccess.actions.find(
    //     viewApproved => viewApproved.description === "View approved gate pass"
    //   );
    //   if (viewApprovedAccess) {
    //     await axios({
    //       method: "POST",
    //       url: `${this.$axios.defaults.baseURL}/securityguard/viewApproved`,
    //       data: {
    //         employee_id: employee.id,
    //         modules: employee.modules
    //       },
    //       headers: {
    //         authorization: "Bearer " + employee.token
    //       }
    //     })
    //       .then(res => {
    //         if (Array.isArray(res.data)) {
    //           this.listOfEmployees = [];
    //           res.data.forEach(emp => {
    //             emp.gate_passes.forEach(gate_pass => {
    //               const exist = this.listOfEmployees.find(
    //                 gatepass => gatepass.id === gate_pass.id
    //               );
    //               if (!exist) {
    //                 this.listOfEmployees.push({
    //                   employee_id: gate_pass.employeeId,
    //                   img_profile_path: emp.img_profile_path
    //                     ? `${this.$axios.defaults.baseURL}/${emp.img_profile_path}`
    //                     : this.imgUser,
    //                   gate_pass_id: gate_pass.id,
    //                   name: `${emp.first_name} ${emp.last_name}`,
    //                   gate_pass_type: gate_pass.request_type.name,
    //                   gate_pass_color: gate_pass.request_type.color
    //                     ? gate_pass.request_type.color
    //                     : "white",
    //                   time: gate_pass.request_time_in
    //                     ? moment(
    //                         `${gate_pass.request_time_out}`,
    //                         "h:mm a"
    //                       ).format("h:mm a") +
    //                       "-" +
    //                       moment(
    //                         `${gate_pass.request_time_in}`,
    //                         "h:mm a"
    //                       ).format("h:mm a")
    //                     : moment(
    //                         `${gate_pass.request_time_out}`,
    //                         "h:mm a"
    //                       ).format("h:mm a")
    //                 });
    //               }
    //             });
    //           });
    //         } else {
    //           this.emptyText = res.data;
    //           this.listOfEmployees = [];
    //         }
    //       })
    //       .catch(e => {
    //         this.emptyText = "No employees found";
    //         if (e.response.status === 403) {
    //           clearInterval(this.monitorInterval);
    //           this.$bvModal
    //             .msgBoxOk("User not found, you must login to use the EGPS", {
    //               title: e.response.data,
    //               headerBgVariant: "danger",
    //               headerBorderVariant: "danger",
    //               okVariant: "danger",
    //               okTitle: "Confirm",
    //               size: "md",
    //               buttonSize: "sm",
    //               centered: true,
    //               noFade: true
    //             })
    //             .then(okBtn => {
    //               localStorage.clear();
    //               this.$router.push("/login");
    //             });
    //         }
    //       });
    //   }
    // },
    // async getTimeInGatePass() {
    //   this.searchNewEmployee = "";
    //   const employee = JSON.parse(localStorage.employee);
    //   const securityAccess = employee.modules.find(
    //     gatepass => gatepass.description === "Gate Pass"
    //   );
    //   const viewTimeIn = securityAccess.actions.find(
    //     timeIn => timeIn.description === "View time out gate pass"
    //   );
    //   if (viewTimeIn) {
    //     await axios({
    //       method: "POST",
    //       url: `${this.$axios.defaults.baseURL}/securityguard/viewTimeOut`,
    //       data: {
    //         employee_id: employee.id,
    //         modules: employee.modules
    //       },
    //       headers: {
    //         authorization: "Bearer " + employee.token
    //       }
    //     })
    //       .then(res => {
    //         if (Array.isArray(res.data)) {
    //           this.listOfEmployees = [];
    //           res.data.forEach(gate_pass => {
    //             const exist = this.listOfEmployees.find(
    //               gatepass => gatepass.id === gate_pass.id
    //             );
    //             if (!exist) {
    //               this.listOfEmployees.push({
    //                 employee_id: gate_pass.employee_id,
    //                 img_profile_path: gate_pass.employee.img_profile_path
    //                   ? `${this.$axios.defaults.baseURL}/${gate_pass.employee.img_profile_path}`
    //                   : this.imgUser,
    //                 gate_pass_id: gate_pass.id,
    //                 name: `${gate_pass.employee.first_name} ${gate_pass.employee.last_name}`,
    //                 gate_pass_type: gate_pass.request_type.name,
    //                 gate_pass_color: gate_pass.request_type.color
    //                   ? gate_pass.request_type.color
    //                   : "white",
    //                 time: gate_pass.request_time_in
    //                   ? moment(
    //                       `${gate_pass.request_time_out}`,
    //                       "h:mm a"
    //                     ).format("h:mm a") +
    //                     "-" +
    //                     moment(`${gate_pass.request_time_in}`, "h:mm a").format(
    //                       "h:mm a"
    //                     )
    //                   : moment(
    //                       `${gate_pass.request_time_out}`,
    //                       "h:mm a"
    //                     ).format("h:mm a")
    //               });
    //             }
    //           });
    //         } else {
    //           this.emptyText = res.data;
    //           this.listOfEmployees = [];
    //         }
    //       })
    //       .catch(e => {
    //         this.emptyText = "No employees found";
    //       });
    //   }
    // },

    // searchEmployeeGatePass: function() {
    //   if (!this.searchNewEmployee) {
    //     this.getApprovedGatePass();
    //     this.getTimeInGatePass();
    //   }
    // },

    // async markTimeOutGatePass(gatepass_id) {
    //   this.searchNewEmployee = "";
    //   const employee = JSON.parse(localStorage.employee);
    //   await axios({
    //     method: "PUT",
    //     url: `${this.$axios.defaults.baseURL}/securityguard/gatepass/time_out`,
    //     data: {
    //       modules: employee.modules,
    //       id: gatepass_id,
    //       status: "Time Out",
    //       employee_id: employee.id,
    //       actual_time_out: moment()
    //     },
    //     headers: {
    //       authorization: "Bearer " + employee.token
    //     }
    //   })
    //     .then(res => {
    //       this.listOfEmployees = this.listOfEmployees.filter(
    //         gatepass => gatepass.id !== gatepass_id
    //       );
    //       this.emptyText = "Loading...";
    //       this.$refs["search-focus-employee"].focus();
    //     })
    //     .catch(e => {});
    // },
    // async markTimeInGatePass(gate_pass) {
    //   this.searchNewEmployee = "";
    //   const employee = JSON.parse(localStorage.employee);
    //   await axios({
    //     method: "PUT",
    //     url: `${this.$axios.defaults.baseURL}/securityguard/gatepass/time_in`,
    //     data: {
    //       modules: employee.modules,
    //       id: gate_pass.gate_pass_id,
    //       status: "Time In",
    //       employee_id: employee.id,
    //       actual_time_in: moment()
    //     },
    //     headers: {
    //       authorization: "Bearer " + employee.token
    //     }
    //   })
    //     .then(res => {
    //       this.listOfEmployees = this.listOfEmployees.filter(
    //         item => item.gate_pass_id !== gate_pass.gate_pass_id
    //       );
    //       this.emptyText = "Loading...";

    //       this.$refs["search-focus-employee"].focus();
    //     })
    //     .catch(e => {});
    // }
  },
  updated() {}
};
</script>

<style scoped>
/* .text-stroke-md{
    color: white;
  
  text-shadow:
    3px 3px 0 #000,
    
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
} */
.body-security {
  background-color: #343a40;
}
html {
  background-color: #343a40;
}
.avatar {
  display: auto;
  width: 7.5rem;
  height: 7.5rem;

  color: #000;
  margin-left: auto;
  margin-right: auto;
}
.avatar-tile {
  border-radius: 0%;
}
b-form-input {
  line-height: 10em;
}

::-webkit-input-placeholder {
  text-align: center;
  font-weight: 500;
}
input[type="search"] {
  text-align: center;
}
.tab-scroll {
  overflow-y: auto;
  height: 65vh;
  scrollbar-color: #d3d3d3;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 6px;
  -webkit-appearance: once;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #b3b3b3;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #b3b3b3;
}
</style>
