<template>
  <div class="mx-2">
    <b-breadcrumb :items="reportPath" id="request-path"></b-breadcrumb>

    <b-card>
      <b-row class="my-2">
        <b-col lg="10" md="6" sm="12">
          <b-button
            variant="primary"
            @click="addRequestTypeModal()"
            id="request-add-button"
            v-if="actions.hasAdd"
          >Add Gate Pass Type</b-button>
        </b-col>
        <b-col lg="2" md="6" sm="12">
          <b-input-group prepend="Items">
            <b-form-select style="z-index:0" v-model="perPage">
              <option v-for="value in values" :key="value" :value="value">{{value}}</option>
            </b-form-select>
          </b-input-group>
        </b-col>

        <b-col lg="12" sm="10" md="10" class="d-flex my-2">
          <b-input-group>
            <b-form-input
              style="z-index:0"
              id="gatepass-search"
              v-model="filter"
              placeholder="Search Gate Pass Type"
            ></b-form-input>
            <b-input-group-append>
              <b-button id="gatepass-clear" :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>

        <b-col lg="2" md="3" sm="3">
          <b-input-group prepend="Items">
            <b-form-select style="z-index:0" v-model="perPage">
              <option v-for="value in values" :key="value" :value="value">{{value}}</option>
            </b-form-select>
          </b-input-group>
        </b-col>
        <b-col lg="3" md="2" sm="2"></b-col>

        <b-col lg="2" md="3" sm="3" class="text-right">
          <b-button
            variant="primary"
            @click="addRequestTypeModal()"
            id="request-add-button"
            v-if="actions.hasAdd"
            style="width:145px"
            class="mb-2"
          >
            <v-icon color="#FFFFFF" small>fa-plus</v-icon>Add New
          </b-button>
        </b-col>
      </b-row>
      <div v-if="filterRequestType.length === 0" class="text-center">
        <b-spinner label="load-gatepass" variant="primary"></b-spinner>
      </div>
      <b-table
        v-if="filterRequestType.length !== 0"
        id="gatepass-table"
        responsive
        :filter="filter"
        show-empty
        :current-page="currentPage"
        :per-page="perPage"
        empty-text="There are no Gate Pass Type to display"
        :empty-filtered-text="`No search for ${filter} `"
        :items="requestTypesData"
        :fields="fields"
        sort-by="name"
      >
        <template slot="name" slot-scope="row">
          <div @click="updateRequestTypeModal(row.item)">{{row.item.name}}</div>
        </template>
        <template slot="time_in" slot-scope="row">
          <div @click="updateRequestTypeModal(row.item)">{{row.item.time_in}}</div>
        </template>
        <template slot="color" slot-scope="row">
          <div
            @click="updateRequestTypeModal(row.item)"
            v-bind:style="`backgroundColor:${row.item.color}`"
          >&#160;</div>
        </template>
        <template slot="status" slot-scope="row">
          <div @click="updateRequestTypeModal(row.item)">{{row.item.status}}</div>
        </template>

        <template slot="action" slot-scope="row">
          <div @click="updateRequestTypeModal(row.item)">
            <b-button title="Edit Request type" size="sm" id="gatepass-edit-button" class="mr-1">
              <v-icon size="15" color="#FFFFFF">fa-edit</v-icon>
            </b-button>
          </div>
        </template>
        <!-- <template slot="action" slot-scope="row">
          <b-button
            size="md"
            id="gatepass-edit-button"
            @click="updateRequestTypeModal(row.item)"
            class="mr-1"
          >Edit</b-button>
        </template>-->
      </b-table>
      <div>
        <b-pagination
          v-if="filterRequestType.length !== 0"
          id="gatepass-pagination"
          align="center"
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          class="my-0"
        ></b-pagination>
      </div>
    </b-card>
    <b-modal
      no-fade
      ref="modal"
      id="gatepass-modal-create"
      v-model="createModal"
      title="Create GatePassType"
      :hide-footer="true"
    >
      <b-form @submit.stop.prevent="createGatePassRequestType" id="request-add-form">
        <b-form-input
          id="gatepass-input-name"
          placeholder="Request Type Name"
          class="my-2"
          v-model="requestTypeFields.name"
          required
        ></b-form-input>
        <b-form-select
          v-model="requestTypeFields.has_time_in"
          id="gatepass-select-request-type"
          required
        >
          <option :value="null" disabled>Time in</option>
          <option :value="true">Enabled</option>
          <option :value="false">Disabled</option>
        </b-form-select>

        <b-form-group id="gatepass-form-color" label="Gate Pass Color:" class="my-1">
          <b-form-input v-model="requestTypeFields.color" type="color"></b-form-input>

          <small>*Use light colors only</small>
        </b-form-group>

        <hr />
        <div align="right">
          <b-button @click="cancel()" id="gatepass-add-cancel-modal">Cancel</b-button>
          <b-button type="submit" variant="primary" id="gatepass-add-ok-modal">Ok</b-button>
        </div>
      </b-form>
      <v-snackbar
        color="red"
        :bottom="true"
        id="gatepass-snackbar-errors"
        :right="true"
        v-model="errorMsg"
      >
        <v-icon color="white" class="mr-3">mdi-error</v-icon>
        <div>{{addingError}}</div>
        <v-icon size="16" @click="errorMsg = false" id="gatepass-error-close">mdi-close-circle</v-icon>
      </v-snackbar>
    </b-modal>
    <b-modal
      no-fade
      id="gatepass-modal-edit"
      ref="editModal"
      v-model="editModal"
      title="Edit Gate Pass Type"
      :hide-footer="true"
    >
      <b-form @submit.stop.prevent="updateGatePassRequestType" id="gatepass-edit-form">
        <label for="gatepass-edit-input-name">Name</label>
        <b-form-input
          id="gatepass-edit-input-name"
          placeholder="Request Type Name"
          class="my-2"
          v-model="requestTypeFields.name"
          required
        ></b-form-input>
        <label for="gatepass-edit-time-in">Time In</label>
        <b-form-select id="gatepass-edit-time-in" v-model="requestTypeFields.has_time_in" required>
          <option :value="null" disabled>Time in</option>
          <option :value="true">Enabled</option>
          <option :value="false">Disabled</option>
        </b-form-select>

        <b-form-group id="gatepass-form-color" label="Gate Pass Color:" class="my-1">
          <b-form-input v-model="requestTypeFields.color" type="color"></b-form-input>
          <small>*Use light colors only</small>
        </b-form-group>

        <b-form-group id="gatepass-form-status" label="Status:">
          <b-form-select v-model="requestTypeFields.status" id="gatepass-edit-status" required>
            <option :value="null" disabled>Select Status</option>
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
          </b-form-select>
        </b-form-group>
        <hr />
        <div align="right">
          <b-button @click="cancel()" id="gatepass-edit-cancel-modal">Cancel</b-button>
          <b-button type="submit" variant="primary" id="gatepass-edit-ok-modal">Ok</b-button>
        </div>
      </b-form>
      <v-snackbar
        color="red"
        id="request-edit-snackbar-error"
        :bottom="true"
        :right="true"
        v-model="errorMsg"
      >
        <v-icon color="white" class="mr-3">mdi-error</v-icon>
        <div>{{addingError}}</div>
        <v-icon
          size="16"
          @click="errorMsg = false"
          id="request-edit-snackbar-close"
        >mdi-close-circle</v-icon>
      </v-snackbar>
    </b-modal>
  </div>
</template>

<script>
import axios from "axios";
import { isArray } from "util";
export default {
  head() {
    return {
      titleTemplate: "%s - GatePassType",
    };
  },
  data() {
    return {
      errorMsg: false,
      perPage: 10,
      currentPage: 1,
      totalRows: 1,
      values: ["5", "10", "25", "50", "100"],
      addingError: null,
      requestTypesData: [],
      requestTypeFields: {
        id: null,
        name: null,
        has_time_in: null,
        color: null,
        status: null,
      },
      actions: { hasAdd: false, hasEdit: false },
      fields: [
        {
          key: "name",
          label: "Gate Pass Type",
        },
        {
          key: "time_in",
          label: "Time in",
        },
        {
          key: "color",
          label: "Color",
        },
        {
          key: "status",
          label: "Status",
        },
        {
          key: "action",
          label: "Action",
        },
      ],
      createModal: false,
      editModal: false,
      filter: null,

      reportPath: [
        {
          text: "Home",
          to: "/dashboard",
        },
        {
          text: "Admin Dashboard",
          to: "/dashboard/admin-dashboard",
        },
        {
          text: "Gate Pass Type",
          to: "/dashboard/admin-dashboard/gate-pass-request",
          active: true,
        },
      ],
    };
  },
  created() {
    this.getRequestType();
    const employeeModules = JSON.parse(localStorage.employee).modules;
    employeeModules.forEach((employeeModule) => {
      if (employeeModule.status.toLowerCase() === "active") {
        employeeModule.actions.forEach((action) => {
          if (action.status.toLowerCase() === "active") {
            if (
              action.description.toLowerCase() === "add gate pass request type"
            ) {
              this.actions.hasAdd = true;
            } else if (
              action.description.toLowerCase() === "edit gate pass request type"
            ) {
              this.actions.hasEdit = true;
            }
          }
        });
      }
    });

    if (!this.actions.hasEdit) {
      const actionFieldIndex = this.fields.findIndex(
        (field) => field.key === "action"
      );
      this.fields.splice(actionFieldIndex, 1);
    }
  },
  computed: {
    filterRequestType() {
      return this.requestTypesData;
    },
  },
  methods: {
    updateRequestTypeModal(requestTypeData) {
      this.requestTypeFields = {
        id: requestTypeData.id,
        name: requestTypeData.name,
        has_time_in: requestTypeData.has_time_in,
        color: requestTypeData.color,
        status: requestTypeData.status,
      };
      this.editModal = true;
    },
    displayToast(action, data) {
      this.$bvToast.toast(`${action} ${data} `, {
        id: "toast-display-gate-pass",
        title: `Successfully ${action}`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "primary",
        toaster: "b-toaster-bottom-right",
        solid: false,
      });
    },
    addRequestTypeModal() {
      this.requestTypeFields = {
        id: null,
        name: null,
        has_time_in: null,
        status: null,
      };
      this.createModal = true;
    },
    clearFormData() {
      this.requestTypeFields = {
        id: null,
        name: null,
        has_time_in: null,
        status: null,
      };
    },
    cancel() {
      this.clearFormData;
      this.editModal = false;
      this.createModal = false;
    },
    async getRequestType(role, employee_id, token) {
      const employeeData = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/request_types`,
        data: {
          employee_id: employeeData.id,
          modules: employeeData.modules,
        },

        headers: {
          authorization: "Bearer " + employeeData.token,
        },
      })
        .then((res) => {
          if (isArray(res.data)) {
            this.requestTypesData = [];
            res.data.map((request_type) =>
              this.requestTypesData.push({
                id: request_type.id,
                name: request_type.name,
                has_time_in: request_type.has_time_in,
                time_in:
                  request_type.has_time_in === true ? "Enabled" : "Disabled",
                color: request_type.color,
                status: request_type.status,
              })
            );
          }
          this.totalRows = this.requestTypesData.length;
        })
        .catch((err) => {});
    },
    createGatePassRequestType() {
      const employeeData = JSON.parse(localStorage.employee);
      axios({
        method: "POST",

        url: `${this.$axios.defaults.baseURL}/admin/request_types/add_request_type`,
        headers: { Authorization: "Bearer " + employeeData.token },
        data: {
          name: this.requestTypeFields.name,
          has_time_in: this.requestTypeFields.has_time_in,
          color: this.requestTypeFields.color,
          created_by: employeeData.id,
          modules: employeeData.modules,
        },
      })
        .then((res) => {
          if (res.status === 201) {
            this.requestTypesData.push({
              ...res.data,
              time_in: res.data.has_time_in === true ? "Enabled" : "Disabled",
            });

            this.clearFormData;
            this.displayToast("Added", res.data.name);
            this.createModal = false;
          }
        })
        .catch((err) => {
          this.addingError = err.response.data;
          this.errorMsg = true;
        });
    },
    updateGatePassRequestType() {
      const employeeData = JSON.parse(localStorage.employee);
      axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/admin/request_types/update_request_type`,
        headers: { Authorization: "Bearer " + employeeData.token },
        data: {
          id: this.requestTypeFields.id,
          name: this.requestTypeFields.name,
          has_time_in: this.requestTypeFields.has_time_in,
          color: this.requestTypeFields.color,
          status: this.requestTypeFields.status,
          updated_by: employeeData.id,
          modules: employeeData.modules,
        },
      })
        .then((res) => {
          if (typeof res.data === "object") {
            const requestTypeIndex = this.requestTypesData.findIndex(
              (requestType) => requestType.id === res.data.id
            );
            this.requestTypesData.splice(requestTypeIndex, 1);
            this.requestTypesData.push({
              ...res.data,
              time_in: res.data.has_time_in === true ? "Enabled" : "Disabled",
            });

            this.displayToast("Updated", res.data.name);
            this.clearFormData();
            this.editModal = false;
          }
        })
        .catch((err) => {
          {
          }
          this.addingError = err.response.data;
          this.errorMsg = true;
        });
    },
  },
};
</script>

<style>
.date_width {
  width: 100%;
  font-size: 1rem;
}
#gatepass-table tbody tr:hover {
  background-color: #e9ecef;
}
</style>
