<template>
  <div>
    <RoleTable />
  </div>
</template>

<script>
import RoleTable from "@/components/AdminDashboard/Roles/RoleTable";
export default {
  middleware: "authAdmin",
  layout: "sidebar",
  components: {
    RoleTable
  }
};
</script>

<style>
</style>
