<template>
  <div class="container">
    <div v-if="!getUser">
      <b-spinner label="spinning"></b-spinner>
    </div>
    <div v-if="getUser">
      <b-row align-h="center">
        <b-card class="profile">
          <b-row>
            <b-col cols="4" align-self="center">
              <b-row align-h="center">
                <img
                  v-if="getImage(getUser.image) != 'noPicture'"
                  id="img-profile"
                  :src="getImage(getUser.image)"
                  alt="defaultavatar"
                  class="avatar rounded-circle"
                />
                <img
                  v-else
                  id="img-profile"
                  src="static/defaultavatar"
                  alt="defaultavatar"
                  class="avatar rounded-circle"
                />
              </b-row>
            </b-col>
            <b-col cols="8">
              <div class="card-body">
                <b-row>
                  <b-col lg="12" md="12" sm="12">
                    <h4>{{getUser.first_name}} {{getUser.middle_name ? getUser.middle_name:""}} {{getUser.last_name}}</h4>
                    <small>{{getPosition(getUser)}}</small>
                    <hr />
                  </b-col>
                </b-row>
                <b-row>
                  <b-col>
                    <div class="form-group row">
                      <div class="col-5">
                        <b for="userid" class="mb-1 col-form-label">ID</b>
                      </div>
                      <div class="col-7">
                        <label for="userid">{{getUser.id}}</label>
                      </div>
                      <div class="col-5">
                        <b for="userid" class="mb-1 col-form-label">TEAM</b>
                      </div>
                      <div class="col-7">
                        <label for="userid">{{getTeam(getUser)}}</label>
                      </div>
                      <div class="col-5">
                        <b for="userid" class="mb-1 col-form-label">DEPARTMENT</b>
                      </div>
                      <div class="col-7">
                        <label for="userid">{{getDepartment(getUser)}}</label>
                      </div>
                    </div>
                  </b-col>
                </b-row>
              </div>
            </b-col>
          </b-row>
          <hr />
          <b-row>
            <b-col cols="12" align-self="center">
              <b-row align-h class="mb-2">
                <b-col>
                  <h5>Approvers</h5>
                </b-col>
              </b-row>
            </b-col>
            <b-col cols="12" align-self="center">
              <b-row v-for="(value,i) in getUser.approverName" v-bind:id="value.id" :key="i">
                <b-col cols="2" align-self="center">
                  <b-row align-h="center">
                    <img
                      v-if="getImage(value.img_profile_path) != 'noPicture'"
                      id="img-profile"
                      :src="getImage(value.img_profile_path)"
                      alt="employee"
                      class="approver_avatar rounded-circle"
                    />
                    <img
                      v-else
                      id="img-profile"
                      src="@/static/defaultavatar.png"
                      alt="defaultavatar"
                      class="approver_avatar rounded-circle"
                    />
                  </b-row>
                </b-col>
                <b-col cols="10" align-self="center">
                  <div class="card-body">
                    <b-row>
                      <b-col cols="7">
                        <h5>{{getName(value)}}</h5>
                        <small>{{getPosition(value)}}</small>
                      </b-col>
                      <b-col cols="5">
                        <b-row>
                          <b-col cols="6">
                            <small>{{getTeam(value)}}</small>
                          </b-col>
                          <b-col cols="6">
                            <small>{{getDepartment(value)}}</small>
                          </b-col>
                        </b-row>
                      </b-col>
                    </b-row>
                  </div>
                </b-col>
              </b-row>
            </b-col>
          </b-row>
        </b-card>
      </b-row>
    </div>
  </div>
</template>


<script>
import defaultavatar from "@/static/defaultavatar.png";

export default {
  layout: "dashboard",
  middleware: "notAuthenticated",
  created() {},

  computed: {
    getUser() {
      const user = JSON.parse(localStorage.employee);
      return user;
    }
  },
  methods: {
    getImage(path) {
      const picture = `${this.$axios.defaults.baseURL}/${path}`;
      if (path) {
        return picture;
      } else {
        return "noPicture";
      }
    },
    getName(value) {
      const employee = value;
      let name = "";
      if (employee.first_name || employee.last_name) {
        name =
          employee.first_name +
          " " +
          (employee.middle_name ? employee.middle_name : "") +
          " " +
          employee.last_name;
      }
      return name;
    },
    getDepartment(value) {
      const employee = value;
      if (!employee.position) {
        return "";
      }
      if (employee.position.team.department.name) {
        return employee.position.team.department.name;
      }
    },
    getTeam(value) {
      const employee = value;
      if (!employee.position) {
        return "";
      }
      if (employee.position.team.name) {
        return employee.position.team.name;
      }
    },
    getPosition(value) {
      const employee = value;
      if (!employee.position) {
        return "";
      }
      if (employee.position.name) {
        return employee.position.name;
      }
    }
  }
};
</script>

<style>
.avatar {
  vertical-align: middle;
  width: 12rem;
  height: 12rem;
}
.approver_avatar {
  vertical-align: middle;
  width: 4rem;
  height: 4rem;
}
.profile {
  width: auto;
  height: auto;
}
</style>
