<template>
  <div class="container">
    <div v-if="!getUser">
      <b-spinner label="spinning"></b-spinner>
    </div>
    <div v-if="getUser">
      <b-row>
        <b-col lg="3" md="3" sm="6" align-self="start">
          <img
            id="img-profile"
            v-if="getUser.img_profile"
            :src="getUser.img_profile "
            alt="employee"
            class="avatar"
          />
          <img
            id="img-placeholder"
            v-if="getUser.img_profile === null"
            src="https://intellihr.com.au/wp-content/uploads/2017/06/avatar_placeholder_temporary.png"
            alt="employee"
            class="avatar"
          />
        </b-col>
        <b-col lg="6" md="9">
          <b-card>
            <div class="card-body">
              <b-row>
                <b-col lg="12" md="12" sm="12">
                  <h4>{{getUser.first_name}} {{getUser.middle_name ? getUser.middle_name:""}} {{getUser.last_name}}</h4>
                  <hr />
                </b-col>
              </b-row>
              <b-row>
                <b-col lg="12" md="12" sm="12">
                  <div class="form-group row">
                    <label for="userid" class="col-4 mb-1 col-form-label">First name:</label>
                    <div class="col-4">
                      <label for="userid">
                        <b>{{getUser.first_name}}</b>
                      </label>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="userid" class="col-4 mb-1 col-form-label">Middle name:</label>
                    <div class="col-4">
                      <label for="userid">
                        <b>{{getUser.middle_name ? getUser.middle_name:""}}</b>
                      </label>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="userid" class="col-4 mb-1 col-form-label">Last name:</label>
                    <div class="col-4">
                      <label for="userid">
                        <b>{{getUser.last_name}}</b>
                      </label>
                    </div>
                  </div>
                  
                </b-col>
              </b-row>
            </div>
          </b-card>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
export default {
  layout: "dashboard",
  middleware: "notAuthenticated",
  created() {},

  computed: {
    getUser() {
      return JSON.parse(localStorage.employee);
    },
    getPosition() {
      const employee = JSON.parse(localStorage.employee);
      if (!employee.position) {
        return "";
      }
      if (employee.position.team.department.name) {
        return employee.position.team.department.name;
      }
      if (employee.position.team.name) {
        return employee.position.team.name;
      }
      if (employee.position.name) {
        return employee.position.name;
      }
    }
  }
};
</script>

<style>
.avatar {
  vertical-align: middle;
  width: 10rem;
  height: 10rem;

  margin-left: 5rem;
}
</style>
