<template>
  <div id="reports-content">
    <ReportHeader />

    <div>
      <b-card>
        <!-- <b-button squared variant="primary" v-for="tab in tabs" :key="tab" @click="selected = tab.component;">{{ tab.name }}</b-button>
        <component :is="selected"></component> -->
        <!-- <b-col lg="4" md="10" sm="12" class="my-4" v-for="(tab,i) in tabs" :key="i">
          <b-link :id="`admin-route-${i}`" :to="tab.to">
            <b-col lg="10" md="6" sm="10">
              <b-card-title>{{tab.title}}</b-card-title>
            </b-col>
          </b-link>
        </b-col>-->
        <b-tabs
          id="reports"
          card
          pills
          fixed
          fill
          active-nav-item-class="font-weight-bold text-uppercase"
        >
          <b-tab
            id="tab-reports"
            v-for="(tab,index) in getReportTab"
            :key="index"
            :title="tab.name"
            @click="selected = tab.component"
        >

        <!-- <b-card-text>
               <component :is="tab.name" class="tab"></component>
        </b-card-text>-->

        <!-- <b-card-text v-if="tab.name==='Personal Report'">
              <PersonalReport />
            </b-card-text>

            <b-card-text v-if="tab.name==='Employees Reports'">
              <ReportTable  />
            </b-card-text>

            <b-card-text v-if="tab.name==='Verified'">
                <VerifiedTable />
                     
            </b-card-text>

            <b-card-text v-if="tab.name==='List of Personal Out'">
              <PersonalOutTable  />
            </b-card-text>-->
          </b-tab>
        </b-tabs>
         <component :is="selected"></component>
      </b-card>
    </div>
  </div>
</template>

<script>
import ReportHeader from "@/components/Reports/ReportHeader";
import ReportTable from "@/components/Reports/ReportTable";
import VerifiedTable from "@/components/Reports/VerifiedTable";
import PersonalOutTable from "@/components/Reports/PersonalOutTable";
import PersonalReport from "@/components/Reports/PersonalReport";

export default {
  layout: "dashboard",
  middleware: "authReports",
  components: {
    ReportHeader,
    ReportTable,
    VerifiedTable,
    PersonalOutTable,
    PersonalReport
  },
  data() {
    return {
      role: null,
      tabReports: [],
      componentKey: 0,
      selected: "PersonalReport"
      // tabs: [
      //   {
      //     title: "Personal Report",
      //     to: "/Reports/Personal_Report"
      //   },
      //   {
      //     title: "Employees Reports",
      //     to: "/Reports/Employees_Report"
      //   },
      //   {
      //     title: "List of Personal Out",
      //     to: "/Reports/List_PersonalOut_Report"
      //   },
      //   {
      //     title: "Verified Reports",
      //     to: "/Reports/Verified_Report"
      //   }
      // ]
    };
  },
  computed: {
    getReportTab() {
      const employee = JSON.parse(localStorage.employee);
      const mapReport = employee.modules.find(
        element => element.description === "Report"
      );
      const mapPersonalReport = mapReport.actions.find(
        action => action.description === "View gate pass report"
      );
      const mapEmployeeReport = mapReport.actions.find(
        action => action.description === "View employees gate pass report"
      );
      const mapPersonalOutReport = mapReport.actions.find(
        action => action.description === "View personal out gate pass"
      );
      const mapVerifiedReport = mapReport.actions.find(
        action => action.description === "View verified gate pass"
      );

      if (mapPersonalReport) {
        this.tabReports.unshift({
          name: "Personal Report",
          component: "PersonalReport"
        });
      }
      if (mapEmployeeReport) {
        this.tabReports.push({
          name: "Employees Reports",
          component: "ReportTable"
        });
      }
      if (mapPersonalOutReport) {
        this.tabReports.push({
          name: "List of Personal Out",
          component: "PersonalOutTable"
        });
      }
      if (mapVerifiedReport) {
        this.tabReports.push({
          name: "Verified",
          component: "VerifiedTable"
        });
      }
      return this.tabReports;
    }
  },
  methods: {
    // forceRerender(){
    //    this.componentKey += 1;

    // },
    getUser() {
      const employee = JSON.parse(localStorage.employee);
      this.role = employee.roleParam
        ? employee.roleParam
        : employee.role.name.substring(0, 2);
    }
  },
  created() {
    this.getUser();
  }
};
</script>

<style>
html {
  background-color: white;
}
</style>
