<template>
  <!-- TODO: Refactor to SFC(Single File Components) -->

  <div class="mr-2 ml-2" id="proxy-view">
    <ProxyHeader />
    <div>
      <b-card>
        <ProxyEmployees />
      </b-card>
      
    </div>
          
  </div>
</template>

<script>
import ProxyEmployees from "@/components/Proxy/ProxyEmployees";
import ProxyHeader from "@/components/Proxy/ProxyHeader";
export default {
  middleware: "authRequest",
  components: {
    ProxyEmployees,
    ProxyHeader

  },
  layout: "dashboard",
  data() {
      return {}
  },
  methods: {
    getUser() {
      const employee = JSON.parse(localStorage.employee);
      this.role = employee.roleParam
        ? employee.roleParam
        : employee.role.name.split("-")[0];
    },

    
  },
  created() {
    this.getUser();
  }
};
</script>

<style scoped>
html {
  background-color: white;
}
</style>
