<template>
  <div v-if="loading" class="loading-page">
    <h1>{{getRandomQuote.title}}</h1>
    <p>{{getRandomQuote.description}}</p>
  </div>
</template>


<script>
export default {
  data() {
    return {
      loading: false,
      randomQuote: [
        {
          title: "Did you know?",
          description: `Your personal out deduction is now based on hourly rate, rather than per minute. So... goodbye 💸💸💸`
        },
        {
          title: "Personal out",
          description:
            "Employees can request many *PERSONAL OUT* as many as they want. It'll be deducted anyways."
        }
      ]
    };
  },
  computed: {
    getRandomQuote() {
      return this.randomQuote[Math.floor(Math.random() * 2 + 1) - 1];
    }
  },
  methods: {
    start() {
      this.loading = true;
    },
    finish() {
      this.loading = false;
    }
  }
};
</script>

<style scoped>
.loading-page {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding-top: 200px;
  font-size: 30px;
  font-family: sans-serif;
}
</style>