<template>
  <div>
    <EmployeeTable />
  </div>
</template>

<script>
import EmployeeTable from "@/components/AdminDashboard/Employees/EmployeeTable";
export default {
  middleware: "authAdmin",
  components: {
    EmployeeTable
  },
  layout: "sidebar"
};
</script>

<style>
</style>
