<template>
  <div id="approved_schedule_out">
    <div v-if="getApprovedSchedule !== null">
      <b-table
        responsive
        :items="getApprovedSchedule"
        ref="scheduleOutTable"
        id="approved-out-table"
        show-empty
        :per-page="perPage"
      ></b-table>

      <div>
        <b-pagination
          align="center"
          id="approve-pagination"
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          class="my-0"
        ></b-pagination>
      </div>
    </div>
    <div v-show="(getApprovedSchedule === 0|| getApprovedSchedule === null)">
      <b-card border-variant="secondary" text-variant="danger" class="text-center">
        <span class="ml-3 schedule-bold">No Approved requests for today</span>

        <ActionButton class="mt-2" />
      </b-card>
    </div>
  </div>
</template>

<script>
import ActionButton from "@/components/Dashboard/ActionButtons";
import axios from "axios";
import moment from "moment";
import vuex, { mapGetters } from "vuex";
export default {
  components: {
    ActionButton
  },
  computed: {
    ...mapGetters({
      getApprovedSchedule: "gatepass/getApproved"
    })
  },
  created() {},
  data() {
    return {
      
      totalRows: 1,
      emptyText: null,
      currentPage: 1,
      perPage: 5,
      currentPage: 1
    };
  }
};
</script>

<style scoped>
.schedule-bold {
  font-weight: bold;
}
</style>
