<template>
  <div class="mx-2">
    <b-breadcrumb :items="reportPath" id="breadcrumb-position"></b-breadcrumb>

    <b-card>
      <b-row>
        <b-col lg="5" sm="3" md="4">
          <b-input-group class="mb-2">
            <b-form-input
              style="z-index:0"
              v-model="filter"
              id="pos-search"
              placeholder="Search Positions"
            ></b-form-input>
            <b-input-group-append>
              <b-button :disabled="!filter" id="pos-clear" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>
        <b-col lg="2" md="2" sm="3">
          <b-input-group prepend="Items" class="mb-2">
            <b-form-select style="z-index:0" v-model="perPage">
              <option v-for="value in values" :key="value" :value="value">{{value}}</option>
            </b-form-select>
          </b-input-group>
        </b-col>

        <b-col sm="3" md="3" lg="3">
          <b-input-group prepend="Sort by" class="mb-2">
            <b-form-select style="z-index:0" v-model="sortBy">
              <option value="name">Name</option>
              <option value="team">Team</option>
              <option value="department">Department</option>
              <option value="status">Status</option>
            </b-form-select>
          </b-input-group>
        </b-col>
        <b-col lg="2" md="3" sm="3" class="text-right">
          <b-button
            variant="primary"
            @click="addModal"
            id="position-add-modal"
            v-if="actions.hasAdd"
            style="width:145px"
            class="mb-3"
          >
            <div style="margin:auto">
              <v-icon size="15" color="#FFFFFF">fa-plus</v-icon>Add Position
            </div>
          </b-button>
        </b-col>
        <b-col lg="3" sm="12" md="12">
          <b-input-group prepend="Departments">
            <b-form-select
              v-model="selectedDepartmentforFilter"
              style="z-index:0"
              id="selected-department"
            >
              <option slot="first" :value="``">All</option>
              <option
                v-for="(department,i) in departmentsData"
                :key="i"
                :value="department.name"
              >{{department.name}}</option>
            </b-form-select>
          </b-input-group>
        </b-col>
        <b-col lg="3" sm="12" md="12">
          <b-input-group prepend="Teams">
            <b-form-select style="z-index:0" v-model="selectedTeamforFilter" id="selected-teams">
              <option slot="first" :value="``">All</option>
              <option v-for="(team,i) in getTeamsData" :key="i" :value="team.name">{{team.name}}</option>
            </b-form-select>
          </b-input-group>
        </b-col>
        <b-col lg="2" md="6" sm="12">
          <b-input-group prepend="Items">
            <b-form-select style="z-index:0" v-model="perPage">
              <option v-for="value in values" :key="value" :value="value">{{value}}</option>
            </b-form-select>
          </b-input-group>
        </b-col>
        <b-col lg="12" sm="10" md="10" class="d-flex my-2">
          <b-input-group>
            <b-form-input
              style="z-index:0"
              v-model="filter"
              id="pos-search"
              placeholder="Search Position"
            ></b-form-input>
            <b-input-group-append>
              <b-button :disabled="!filter" id="pos-clear" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>
      </b-row>
      <div class="text-center" v-if="loadPositions.length ===0">
        <b-spinner variant="primary"></b-spinner>
      </div>
      <b-table
        v-if="loadPositions.length !== 0"
        id="pos-table"
        responsive
        :filter="filter"
        show-empty
        :current-page="currentPage"
        empty-text="There are no position to display"
        :empty-filtered-text="`No search for ${filter} `"
        :items="loadPositions"
        :fields="fields"
        :per-page="perPage"
        sort-by="name"
      >
        <template slot="name" slot-scope="row">
          <div @click="updateModal(row.item)">{{row.item.name}}</div>
        </template>
        <template slot="team" slot-scope="row">
          <div @click="updateModal(row.item)">{{row.item.team}}</div>
        </template>
        <template slot="department" slot-scope="row">
          <div @click="updateModal(row.item)">{{row.item.department}}</div>
        </template>
        <template slot="status" slot-scope="row">
          <div @click="updateModal(row.item)">{{row.item.status}}</div>
        </template>

        <template slot="action" slot-scope="row">
          <div @click="updateModal(row.item)">
            <b-button title="Edit Position" size="sm" id="position-edit-modal" class="mr-1">
              <v-icon size="15" color="#FFFFFF">fa-edit</v-icon>
            </b-button>
          </div>
        </template>
        <!-- <template slot="action" slot-scope="row">
          <b-button size="md" class="mr-1" @click="updateModal(row.item)" id="position-edit-modal">
            <div style="margin:auto">
              <v-icon size="15" color="#FFFFFF">fa-edit</v-icon>Edit
            </div>
          </b-button>
        </template>-->
      </b-table>
      <div>
        <b-pagination
          v-if="departmentsData.length !== 0"
          id="position-pagination"
          align="center"
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          class="my-0"
        ></b-pagination>
      </div>
    </b-card>
    <b-modal
      no-fade
      ref="modal"
      v-model="createModal"
      id="position-add-modal"
      title="Create position"
      :hide-footer="true"
    >
      <b-form @submit.stop.prevent="createPosition" id="position-form-select-team">
        <label for="position-edit-select-department">Department</label>
        <b-form-select
          v-model="selectedDepartment"
          required
          id="position-edit-select-department"
          class="my-2"
        >
          <option :value="null" disabled>Select Department</option>
          <option v-for="(department,i) in departmentsData" :value="i" :key="i">{{department.name}}</option>
        </b-form-select>
        <label for="position-edit-select-team">Team</label>
        <b-form-select v-model="positionFields.team_id" required id="position-edit-select-team">
          <option :value="null" disabled>Select Team</option>
          <option v-for="(team,i) in getTeams" :value="team.id" :key="i">{{team.name}}</option>
        </b-form-select>
        <label for="position-input-name">Position name</label>
        <b-form-input
          id="position-input-name"
          placeholder="Position Name"
          class="my-2"
          v-model="positionFields.name"
          required
        ></b-form-input>
        <hr />
        <div align="right">
          <b-button @click="cancel()">Cancel</b-button>
          <b-button type="submit" variant="primary">Ok</b-button>
        </div>
        <v-snackbar
          id="snackbar-add-error-message"
          color="red"
          :bottom="true"
          :right="true"
          v-model="errorMsg"
        >
          <v-icon color="white" class="mr-3">mdi-error</v-icon>
          <div>{{addingError}}</div>
          <v-icon size="16" @click="errorMsg = false" id="position-add-error-cloes">mdi-close-circle</v-icon>
        </v-snackbar>
      </b-form>
    </b-modal>
    <b-modal
      no-fade
      ref="editModal"
      v-model="editModal"
      id="position-edit-modal"
      title="Edit position"
      :hide-footer="true"
    >
      <b-form @submit.stop.prevent="updatePosition" id="position-edit-form-modal">
        <b-form-group for="team-edit-select-teamhead" label="Select Department:">
          <b-form-select
            v-model="selectedDepartment"
            required
            id="position-edit-select-department"
            class="my-2"
            @change="removeTeam"
          >
            <option :value="null" disabled>Select Department</option>
            <option
              v-for="(department,i) in departmentsData"
              :value="i"
              :key="i"
            >{{department.name}}</option>
          </b-form-select>
        </b-form-group>

        <b-form-group for="team-edit-select-teamhead" label="Select Team:">
          <b-form-select v-model="positionFields.team_id" required id="position-edit-select-team">
            <option :value="null" disabled>Select Team</option>
            <option v-for="(team,i) in teamsData" :value="team.id" :key="i">{{team.name}}</option>
          </b-form-select>
        </b-form-group>

        <b-form-group for="team-edit-select-teamhead" label="Team Name:">
          <b-form-input
            id="position-edit-input-name"
            placeholder="Position Name"
            class="my-2"
            v-model="positionFields.name"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group for="team-edit-select-teamhead" label="Status:">
          <b-form-select v-model="positionFields.status" required id="position-edit-select-status">
            <option :value="null" disabled>Select Status</option>
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
          </b-form-select>
        </b-form-group>

        <hr />
        <div align="right">
          <b-button @click="cancel()" id="position-edit-modal-cancel">Cancel</b-button>
          <b-button type="submit" variant="primary" id="position-edit-modal-ok">Ok</b-button>
        </div>
      </b-form>
      <v-snackbar
        color="red"
        :bottom="true"
        id="position-error-msg"
        :right="true"
        v-model="errorMsg"
      >
        <v-icon color="white" class="mr-3">mdi-error</v-icon>
        <div>{{addingError}}</div>
        <v-icon size="16" @click="errorMsg = false" id="position-error-close">mdi-close-circle</v-icon>
      </v-snackbar>
    </b-modal>
  </div>
</template>

<script>
import axios from "axios";
import { isArray } from "util";
export default {
  head() {
    return {
      titleTemplate: "%s - position",
    };
  },
  data() {
    return {
      perPage: 10,
      currentPage: 1,
      totalRows: 1,
      values: ["5", "10", "25", "50", "100"],
      errorMsg: false,
      addingError: null,
      selectedDepartment: null,
      selectedDepartmentforFilter: "",
      selectedTeamforFilter: "",
      actions: { hasAdd: false, hasEdit: false },
      teamsData: [],
      departmentsData: [],
      positions: [],
      positionFields: {
        id: null,
        name: null,
        team_id: null,
        status: null,
      },
      fields: [
        {
          key: "name",
          label: "Positions",
        },
        {
          key: "team",
          label: "Teams",
        },
        {
          key: "department",
          label: "Department",
        },
        {
          key: "status",
          label: "Status",
        },
        {
          key: "action",
          label: "Action",
        },
      ],
      createModal: false,
      editModal: false,
      filter: "",

      reportPath: [
        {
          text: "Home",
          to: "/dashboard/",
        },
        {
          text: "Admin Dashboard",
          to: "/dashboard/admin-dashboard",
        },
        {
          text: "Position",
          to: "/dashboard/admin-dashboard/position",
          active: true,
        },
      ],
    };
  },
  created() {
    this.getPosition();
    const employeeModules = JSON.parse(localStorage.employee).modules;
    employeeModules.forEach((employeeModule) => {
      if (employeeModule.status.toLowerCase() === "active") {
        employeeModule.actions.forEach((action) => {
          if (action.status.toLowerCase() === "active") {
            if (action.description.toLowerCase() === "add position") {
              this.actions.hasAdd = true;
            } else if (action.description.toLowerCase() === "edit position") {
              this.actions.hasEdit = true;
            }
          }
        });
      }
    });

    if (!this.actions.hasEdit) {
      const actionFieldIndex = this.fields.findIndex(
        (field) => field.key === "action"
      );
      this.fields.splice(actionFieldIndex, 1);
    }
  },
  computed: {
    getTeams() {
      this.selectedTeam = null;
      if (this.selectedDepartment >= 0 && this.selectedDepartment !== null) {
        const activeTeams = this.departmentsData[
          this.selectedDepartment
        ].teams.filter((team) => team.status === "Active");
        return activeTeams;
      } else {
        return;
      }
    },
    getTeamsData() {
      return this.teamsData.filter((team) => {
        const result = team.department.name.match(
          this.selectedDepartmentforFilter
        );

        return result;
      });
    },
    loadPositions() {
      const positions = this.positions.filter((position) => {
        const department = position.department
          ? position.department
          : position.department;

        const team = position.team ? position.team : position.team;

        const result =
          (position.name.match(this.filter) ||
            position.name.toUpperCase().match(this.filter) ||
            position.name.toLowerCase().match(this.filter)) &&
          department.match(this.selectedDepartmentforFilter) &&
          team.match(this.selectedTeamforFilter);

        return result;
      });

      this.totalRows = positions.length;
      return positions;
    },
  },
  methods: {
    removeTeam() {
      this.positionFields.team_id = null;
    },
    displayToast(action, data) {
      this.$bvToast.toast(`${action} ${data} position`, {
        id: "toast-display-position",
        title: `Successfully ${action}`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "primary",
        toaster: "b-toaster-bottom-right",
        solid: false,
      });
    },
    clearFormData() {
      this.positionFields = {
        id: null,
        name: null,
        team_id: null,
        status: null,
      };
    },
    cancel() {
      this.clearFormData();
      this.editModal = false;
      this.createModal = false;
    },
    addModal() {
      this.clearFormData();
      this.createModal = true;
    },
    updateModal(positionData) {
      this.positionFields.id = positionData.id;
      this.positionFields.name = positionData.name;
      this.positionFields.team_id = positionData.team_id;
      this.positionFields.status = positionData.status;

      this.selectedDepartment = positionData.department_id
        ? this.departmentsData.findIndex(
            (department) => department.id === positionData.department_id
          )
        : null;

      this.editModal = true;
    },
    async getPosition(role, employee_id, token) {
      const employeeData = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/positions`,
        data: {
          employee_id: employeeData.id,
          modules: employeeData.modules,
        },

        headers: {
          authorization: "Bearer " + employeeData.token,
        },
      })
        .then((res) => {
          this.positions = [];
          this.teamsData = [];
          this.departmentsData = [];

          if (isArray(res.data.departments)) {
            this.departmentsData = [];
            this.departmentsData = res.data.departments.filter(
              (department) => department.status === "Active"
            );
          }

          if (isArray(res.data.positions)) {
            res.data.positions.map((position) =>
              this.positions.push({
                id: position.id,
                name: position.name,
                team: position.team.name,
                team_id: position.team.id,
                status: position.status,
                department_id: position.team.department.id,
                department: position.team.department.name,
              })
            );
          }
          if (isArray(res.data.teams)) {
            this.teamsData = [];
            this.teamsData = res.data.teams.filter(
              (team) => team.status === "Active"
            );
            function compareTeam(a, b) {
              if (a.name < b.name) {
                return -1;
              }
              if (a.name > b.name) {
                return 1;
              }
              return 0;
            }
            this.teamsData.sort(compareTeam);
          }

          if (isArray(res.data.departments)) {
            this.departmentsData = [];
            this.departmentsData = res.data.departments.filter(
              (department) => department.status === "Active"
            );
            function compareDept(a, b) {
              if (a.name < b.name) {
                return -1;
              }
              if (a.name > b.name) {
                return 1;
              }
              return 0;
            }
            this.departmentsData.sort(compareDept);
          }

          this.totalRows = this.positions.length;
        })
        .catch((err) => {});
    },
    async createPosition() {
      const employeeData = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/positions/add_position`,
        data: {
          name: this.positionFields.name,
          team_id: this.positionFields.team_id,
          modules: employeeData.modules,
          created_by: employeeData.id,
        },
        headers: { Authorization: "Bearer " + employeeData.token },
      })
        .then((res) => {
          if (res.status === 201) {
            const team = this.teamsData.find(
              (team) => team.id === res.data.team_id
            );

            const department = this.departmentsData.find(
              (department) => department.id === team.department_id
            );

            const positionIndex = this.positions.findIndex(
              (position) => position.id === res.data.id
            );

            this.positions.push({
              ...res.data,
              team: team.name,
              team_id: team.id,
              department: department.name,
              department_id: department.id,
            });

            this.clearFormData();
            this.displayToast("Added", res.data.name);
            this.createModal = false;
          }
        })
        .catch((err) => {
          this.addingError = err.response.data;
          this.errorMsg = true;
        });
    },
    updatePosition() {
      const employeeData = JSON.parse(localStorage.employee);

      axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/admin/positions/update_position`,
        data: {
          id: this.positionFields.id,
          name: this.positionFields.name,
          team_id: this.positionFields.team_id,
          status: this.positionFields.status,
          updated_by: employeeData.id,
          modules: employeeData.modules,
        },
        headers: { Authorization: "Bearer " + employeeData.token },
      })
        .then((res) => {
          if (typeof res.data === "object") {
            const team = this.teamsData.find(
              (team) => team.id === res.data.team_id
            );

            const department = this.departmentsData.find(
              (department) => department.id === team.department_id
            );

            const positionIndex = this.positions.findIndex(
              (position) => position.id === res.data.id
            );

            this.positions.splice(positionIndex, 1);
            this.positions.push({
              ...res.data,
              team: team.name,
              team_id: team.id,
              department: department.name,
              department_id: department.id,
            });

            this.clearFormData();
            this.displayToast("Updated", res.data.name);

            this.editModal = false;

            this.totalRows = this.departmentsData.length;
          }
        })
        .catch((err) => {
          this.addingError = err.response.data;
          this.errorMsg = true;
        });
    },
  },
};
</script>

<style>
.date_width {
  width: 100%;
  font-size: 1rem;
}
#pos-table tbody tr:hover {
  background-color: #e9ecef;
}
</style>
