<template>
  <div class="body-pg pd-1"></div>
</template>

<script>
import imgUser from "@/assets/user.svg";
import axios from "axios";
import moment from "moment-timezone";
import { mapGetters } from "vuex";
import { setInterval, clearInterval } from "timers";
import { isArray } from "util";
export default {
  middleware: "authPgMonitor",
  layout: "sidebar",

  data() {
    return {};
  },

  computed: {},
  created() {},

  methods: {}
};
</script>

<style scoped>
.pd-1 {
  padding: 1rem;
}
.body-pg {
  background-color: white;
}
</style>
