<template>
  <div id="schedule_out_body">
    <div v-if="schedule_out !== null 
    ">
      <b-table
        responsive
        selectable
        select-mode="single"
        @row-selected="rowSelected"
        :items="schedule_out"
        :busy.sync="isBusy"
        ref="scheduleOutTable"
        id="schedule-out-table"
        selectedVariant="danger"
        show-empty
        :per-page="perPage"
      ></b-table>

      <div>
        <b-pagination
          id="schedule-pagination"
          align="center"
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          class="my-0"
        ></b-pagination>
      </div>
    </div>
    <div v-show="schedule_out === null">
      <b-card
        border-variant="secondary"
        id="no-request"
        text-variant="danger"
        class="text-center schedule-bold"
      >
        <span class="ml-3">No Schedule request for today</span>
        <div>
          <b-button variant="primary" id="add-request_button" @click="requestModal = true">
            <v-icon color="white" small class="mr-2">fa-plus</v-icon>New Gate Pass
          </b-button>

          <b-modal
            id="request_modal"
            no-fade
            v-model="requestModal"
            hide-footer
            okTitle="Create request"
            cancelTitle="Discard"
            ref="modalRequest"
            @show="resetModal"
            @hidden="resetModal"
          >
            <b-card id="card_requests">
              <b-card-title>New Gate Pass request</b-card-title>
              <form id="form_requests" inline @submit.prevent="addScheduleOut">
                <b-form-group id="form_group_requests">
                  <label class="mb-2 mr-sm-2 mb-sm-0">Request Type:</label>
                  <select
                    class="custom-select"
                    id="request_gate_pass"
                    v-model="selectType"
                    required
                  >
                    <option
                      id="listofRequest"
                      v-for="(request,i) in listOfRequestTypes"
                      :value="request"
                      :key="i"
                    >{{request.name}}</option>
                  </select>
                  <div v-if="selectType.name !== null">
                    <label class="mb-2 mb-sm-1">Time Out:</label>
                    <b-row lg="1">
                      <b-col>
                        <b-form-input
                          required
                          type="time"
                          name="t-out"
                          v-model="request.time_out"
                          id="req-time-out"
                        ></b-form-input>
                      </b-col>
                    </b-row>
                  </div>
                  <div
                    v-if="selectType.name === 'Personal Out' || selectType.name === 'Official Business'"
                  >
                    <label class="mb-2 mb-sm-1">Time in:</label>
                    <b-row lg="1">
                      <b-col sm="12">
                        <b-form-input
                          id="request_time_in"
                          :type="`time`"
                          v-model="request.time_in"
                          :required="selectType.name === 'Personal Out' || selectType.name === 'Official Business'"
                        ></b-form-input>
                      </b-col>
                    </b-row>
                  </div>
                  <div v-if="selectType.name !== null && selectType.name !== 'Lunch Out'">
                    <div v-if="selectType.name !== null">
                      <label class="mb-2 mr-sm-2 mb-sm-0">Date</label>
                      <b-form-input
                        type="date"
                        v-model="request.date"
                        id="request_date"
                        :required=" selectType.name !== null && selectType !== 'Lunch Out'"
                      ></b-form-input>
                    </div>
                  </div>
                  <div v-if="selectType.name !== null && selectType.name !== 'Lunch Out'">
                    <div v-if="selectType.name !== null">
                      <label>Reason</label>
                      <b-form-textarea
                        type="textarea"
                        id="reason"
                        v-model="request.reason"
                        :required=" selectType.name !== null && selectType.name !== 'Lunch Out'"
                      ></b-form-textarea>
                    </div>
                  </div>
                </b-form-group>

                <div v-if="error !== null" class="mx-2" style="color:red" id="error-text">{{error}}</div>
                <b-row>
                  <b-col align-self="end">
                    <b-button id="cancel-request" variant="secondary" @click="closeModal">Discard</b-button>
                    <b-button id="create-request" variant="primary" type="submit">Create Request</b-button>
                  </b-col>
                </b-row>
              </form>
            </b-card>
          </b-modal>
        </div>
      </b-card>
    </div>
    <div>
      <b-button
        id="cancel-pending"
        v-show="selectedItems.length !==0 || selectedItems == null"
        @click="showAbortModal"
      >Cancel Schedule</b-button>
      <b-modal
        no-fade
        id="modal-cancelDialog"
        centered
        title="Cancel Request"
        ok-title="Cancel Request"
        @ok="cancelRequest"
        ref="modal_cancelDialog"
      >
        <p>Do you want to cancel this request?</p>
      </b-modal>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import { mapGetters } from "vuex";
import { isArray } from "util";
export default {
  created() {
    if (isArray(this.schedule_out)) {
      this.totalRows = this.schedule_out.length;
    }
  },
  computed: {
    ...mapGetters({
      schedule_out: "gatepass/getScheduleOut"
    })
  },
  data() {
    return {
      time: "",
      selectType: { id: null, name: null, has_time_in: null },
      listofHours: [],
      listOfMinutes: [],
      listOfSeconds: [],
      request: {
        time_out: "",
        time_in: "",
        date: moment().format("YYYY-MM-DD"),
        reason: ""
      },

      listOfRequestTypes: [{ id: 1, name: "Lunch Out", has_time_in: true }],

      requestModal: false,
      error: null,
      scheduleOut: null,
      isBusy: false,
      totalRows: 1,
      dateRange: {
        request_date_from: moment().format("YYYY-MM-DD"),
        request_date_to: moment().format("YYYY-MM-DD")
      },
      selectedItems: [],
      currentPage: 1,
      perPage: 5
    };
  },
  methods: {
    openModal() {
      this.resetModal();
      this.requestModal = true;
    },
    closeModal() {
      this.resetModal();
      this.$refs["modalRequest"].hide();
    },
    resetModal() {
      this.request.time_out = null;
      this.request.time_in = null;
      this.request.date = moment().format("YYYY-MM-DD");
      this.request.reason = "";
      this.error = null;
    },
    async addScheduleOut() {
      const selectedType = this.listOfRequestTypes.filter(
        type => type.name === this.selectType.name
      )[0];
      let request_time_in = null;
      if (selectedType.name.toLowerCase() === "lunch out") {
        this.request.date = moment().format("YYYY-MM-DD");
        if (parseInt(this.request.time_out.substring(0, 2)) >= 12) {
          request_time_in = moment(
            `${parseInt(
              this.request.time_out.substring(0, 2) - 11
            )}:${this.request.time_out.substring(3, 5)} PM ${this.request.date}`
          ).format("H:mm");
        } else if (this.request.time_out.substring(0, 2) === "00") {
          request_time_in = moment(
            `12:${this.request.time_out.substring(3, 5)} AM ${
              this.request.date
            }`
          ).format("H:mm");
        } else if (this.request.time_out.substring(0, 2) < 12) {
          request_time_in = moment(
            `${parseInt(this.request.time_out.substring(0, 2)) +
              1}:${this.request.time_out.substring(3, 5)} ${this.request.date}`
          ).format("H:mm");
        } else {
          request_time_in = moment(
            `${this.request.time_out} AM ${this.request.date}`
          ).format("H:mm");
        }
        this.request.reason = "Lunch out";
      } else {
        if (selectedType.has_time_in) {
          request_time_in = moment(
            `${this.request.time_in} ${this.request.date}`
          ).format("H:mm");
        }
      }
      const request_date = moment(this.request.date).format("YYYY-MM-DD");
      const request_time_out = moment(
        `${this.request.time_out} ${this.request.date}`
      ).format("H:mm");

      const res = await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/load_test/file_request`,
        data: {
          employee_id: 154151000,
          request_type_id: this.selectType.id,
          request_time_out,
          request_time_in,
          request_date,
          reason: this.request.reason
        }
      })
        .then(res => {
          this.resetModal();
          this.$bvToast.toast("Request created", {
            id: "toast-display-request-added",
            title: `Gatepass Request`,
            variant: "success",
            toaster: "b-toaster-bottom-right",
            solid: false,
            autoHideDelay: 3000
          });
          this.$refs["modalRequest"].hide();
        })
        .catch(e => {
          this.error = e.response.data;
        });
    },

    rowSelected(items) {
      this.selectedItems = items;
    },
    cancelRequest() {},
    showAbortModal() {
      this.$refs["modal_cancelDialog"].show();
    },
    async dateRangeSchedule() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/employees/schedule_out`,
        data: {
          employee_id: employee.id,
          role: employee.role,
          modules: employee.modules
        },
        headers: {
          authorization: "Bearer " + employee.token
        }
      })
        .then(res => {
          if (Array.isArray(res.data)) {
            this.scheduleOut = res.data
              .map(
                item =>
                  (item = {
                    id: item.id,
                    request_type: item.request_type.name,
                    request_time_out: moment(
                      `${item.request_time_out} ${item.request_date}`
                    ).format("hh:mm a"),
                    request_time_in: item.request_time_in
                      ? moment(
                          `${item.request_time_in} ${item.request_date}`
                        ).format("hh:mm a")
                      : null,
                    request_date: item.request_date,
                    status: item.status
                  })
              )
              .filter(
                item =>
                  item.status === "Pending" &&
                  (item.request_date >= this.dateRange.request_date_from &&
                    item.request_date <= this.dateRange.request_date_to)
              );
          } else {
            this.emptyText = res.data;
          }
        })
        .then(e => {
          this.$root.$emit("bv::refresh::table", "schedule-out-table");
        });
    }
  }
};
</script>

<style>
.schedule-bold {
  font-weight: bold;
}
</style>
