<template>
  <GatePassTable />
</template>

<script>
import GatePassTable from "@/components/AdminDashboard/RequestTypes/GatePassTable";
export default {
  middleware: "authAdmin",
  components: {
    GatePassTable
  },
  layout: "sidebar"
};
</script>

<style>
</style>
