<template>
  <b-container>
    <b-row>
      <b-col lg="4" md="10" sm="12" class="my-4" v-for="(item,i) in items" :key="i">
        <b-link :id="`admin-route-${i}`" :to="item.to">
          <b-card no-body style="max-width:36rem">
            <b-row no-gutters>
              <b-col md="6" sm="10" lg="12">
                <b-card-body>
                  <b-row>
                    <b-col lg="2" md="6" sm="10">
                      <v-icon large color="blue darken-3">{{item.icon}}</v-icon>
                    </b-col>
                    <b-col lg="10" md="6" sm="10">
                      <b-card-title>{{item.title}}</b-card-title>
                    </b-col>
                  </b-row>
                </b-card-body>
              </b-col>
            </b-row>
          </b-card>
        </b-link>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  layout: "superAdminLayout",
  data() {
    return {
      items: [
        {
          icon: "fa-cubes",
          title: "Modules",
          to: "/Dashboard/admin-dashboard/modules"
        },
        {
          icon: "fa-tasks",
          title: "Actions and Access",
          to: "/Dashboard/admin-dashboard/actions"
        },
        // {
        //   icon: "fa-fingerprint",
        //   title: "Access Rights",
        //   to: "/Dashboard/admin-dashboard/access-rights"
        // },
        {
          icon: "fa-address-card",
          title: "Roles and Access",
          to: "/Dashboard/admin-dashboard/roles"
        },
        {
          icon: "fa-university",
          title: "Department",
          to: "/Dashboard/admin-dashboard/department"
        },
        {
          icon: "fa-users",
          title: "Teams",
          to: "/Dashboard/admin-dashboard/teams"
        },
        {
          icon: "fa-project-diagram",
          title: "Positions",
          to: "/Dashboard/admin-dashboard/positions"
        },
        {
          icon: "fa-user-tie",
          title: "Employees",
          to: "/Dashboard/admin-dashboard/employees"
        },
        {
          icon: "fa-dungeon",
          title: "Gate Pass Request Types",
          to: "/Dashboard/admin-dashboard/gate-pass-request"
        },
        {
          icon: "fa-clipboard-list",
          title: "Activity Logs",
          to: "/Dashboard/admin-dashboard/activity-logs"
        }
      ]
    };
  }
};
</script>

<style>
.no-text-decoration {
  text-decoration: none;
}
</style>
