<template>
  <div>
    <b-container class="error-display">
      <b-card>
        <h1 v-if="error.statusCode === 500">{{error.message}}</h1>

        <h1 v-if="error.statusCode === 404">{{error.statusCode}} - {{ pageNotFound }}</h1>
        <h1 v-else>{{ otherError }}</h1>
        <b-button id="error-back-page" @click="refreshState()">Go back</b-button>
      </b-card>
    </b-container>
  </div>
</template>

<script>
export default {
  props: {
    error: {
      type: Object,
      default: null
    }
  },
  mounted() {},
  head() {
    const title =
      this.error.statusCode === 404 ? this.pageNotFound : this.otherError;
    return {
      title
    };
  },
  data() {
    return {
      pageNotFound: "The Page you're browsing may have no path.",
      otherError: "An error occurred"
    };
  },
  computed: {
    getUser() {
      return JSON.parse(localStorage.employee);
    }
  },
  methods: {
    refreshState() {
      this.$router.go(-1);
    }
  }
};
</script>

<style scoped>
.error-display {
  text-align: center;
}
body {
}
</style>
