<template>
  <div class="background-sec">
    <b-navbar type="dark" variant="dark">
      <b-navbar-nav class="ml-auto">
         <b-nav-item>
           <b-badge variant="success">
            {{getUser.last_name}}
           </b-badge>
         </b-nav-item>
        <b-nav-item @click="logOutSecurityGuard" right>Sign out</b-nav-item>
      </b-navbar-nav>
    </b-navbar>
    <div>
      <nuxt />
    </div>
  </div>
</template>

<script>
export default {
  computed: {
     getUser() {
      return JSON.parse(localStorage.employee);
    },
  },
  methods: {
    async logOutSecurityGuard() {
      await localStorage.clear();
      this.$destroy();
      this.$router.push("/");
    },
   
  }
};
</script>
<style>
.background-sec {
  
  height: 100vh;
  background-color: #343a40;
}
</style>
