<template >
  <div class="wrapper" v-on:mousemove="resetIdle">
    <b-navbar class="body_color" toggleable="lg" fixed="top" type="dark" variant="primary">
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-brand>
          <div class="logo-image">
            <img src="@/assets/kcc.png" style="width: 46px; height:10%;overflow: hidden;" />
            <!-- <a style="margin-left: 2px">EGPS</a> -->
          </div>
        </b-navbar-brand>
        <b-navbar-nav left>
          <b-nav-item
            :exact="true"
            :id="`${item.title}_${i}`"
            class="mr-2 header_lg"
            tag="h1"
            left-align
            v-for="(item,i) in dashboard"
            :key="i"
            :to="item.to"
          >
            {{item.title}}
            <b-badge
              v-if="getRequestsCount >0 && item.title === 'Request'"
              variant="danger"
            >{{getRequestsCount > 10 ? `10+`:getRequestsCount}}</b-badge>
          </b-nav-item>
        </b-navbar-nav>
        <b-navbar-nav right>
          <b-nav-item>
            <b-button variant="primary" id="notification-sync-button">
              <v-icon color="white" small>fa-bell</v-icon>
              <b-badge
                variant="danger"
                v-show="notificationCounter > 0"
              >{{show === true ? notificationCounter = 0:notificationCounter}}</b-badge>
            </b-button>
          </b-nav-item>
        </b-navbar-nav>
      </b-collapse>
      <b-navbar-nav id="user_account" class="header_lg">
        <b-nav-item>
          <b-button variant="primary" target="_blank" @click="openPdf()">
            <v-icon color="white" small class="mr-2">fa-question-circle</v-icon>User Guide
          </b-button>
        </b-nav-item>
        <b-nav-item>
          <ActionButtons />
        </b-nav-item>
        <b-nav-item-dropdown
          class="mt-1"
          id="user_name"
          :text="`${getUser.last_name}` || 'Guest'"
          right
        >
          <b-dropdown-item router exact :to="`/user/${getUser.id}`" id="user_profile">Profile</b-dropdown-item>
          <b-dropdown-item @click="logOutUser" id="user_logout">Logout</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-navbar>
    <nav id="sidebar" fixed="left">
      <div class="sidebar-header mb-3"></div>
      <ul class="list-unstyled components">
        <b-nav-item
          :id="`${item.title}_${i}`"
          class="sideMenuItem"
          tag="h1"
          left-align
          v-for="(item,i) in sidebarElements"
          :key="i"
          :to="item.to"
          @click="changeTab(item.title)"
        >
          <b-row v-if="item.title == tabActive" style="color: #007bff">
            <b-col cols="1" class="mr-4 ml-2">
              <v-icon style="color: #007bff">{{item.icon}}</v-icon>
            </b-col>
            <b-col class="sidebarItems">{{item.title}}</b-col>
          </b-row>
          <b-row v-else-if="item.title != tabActive">
            <b-col cols="1" class="mr-4 ml-2">
              <v-icon>{{item.icon}}</v-icon>
            </b-col>
            <b-col class="sidebarItems">{{item.title}}</b-col>
          </b-row>
        </b-nav-item>
      </ul>
    </nav>

    <div class="content">
      <nuxt />
    </div>
    <div>
      <b-popover
        id="notification_pop_over"
        :show.sync="show"
        target="notification-sync-button"
        title="Notifications"
        placement="bottomright"
      >
        <div class="card-md card-height-2" v-if="notifications !== null" style="text-align:center;">
          <strong>{{notifications}}</strong>
        </div>
        <div v-if="notifications === null">
          <div v-for="notifs in listOfNotifications" :key="notifs.id">
            <div class="card-md">
              <strong style="font-size:1.2rem">{{notifs.request_type.name}}</strong>

              <div>
                Your request for
                <b>{{notifs.request_type.name}}</b>
                has been {{notifs.status}}
              </div>
              <div v-if="notifs.note">Note:{{notifs.note}}</div>
              <b-row>
                <b-col lg="7" align-self="start">
                  <small>Time: {{notifs.time}}</small>
                </b-col>
                <b-col lg="5" align-self="end">
                  <small>{{notifs.date}}</small>
                </b-col>
              </b-row>
            </div>

            <hr />
          </div>
        </div>
      </b-popover>
    </div>
  </div>
</template>

<script>
import ActionButtons from "@/components/Dashboard/ActionButtons";
import axios from "axios";
import { mapGetters } from "vuex";
import { setInterval, clearInterval } from "timers";
import moment from "moment";
import { isArray } from "util";
import VueCookies from "vue-cookies";

export default {
  head() {
    return {
      titleTemplate:
        this.getRequestsCount > 0
          ? `❗(${this.getRequestsCount}) Requests - %s - ${this.$route.name}`
          : `%s ${this.$route.name}`
    };
  },
  components: {
    ActionButtons,
    VueCookies
  },
  watch: {
    show: function(query) {
      if (!this.show) {
        this.fetchReadNotification();
      }
    }
  },
  data() {
    return {
      // pdfLink : '../assets/manual.pdf',
      notificationInterval: null,
      idleInterval: null,
      notificationCounter: 0,
      listOfNotifications: null,
      notifications: null,
      show: false,

      idleTime: 0,
      items: [],
      tabActive: "Modules",
      sidebarItems: [],
      role: "",
      menus: [
        {
          title: "Settings",
          icon: "cog",
          to: "/settings"
        },
        {
          title: "Accounts",
          icon: "user"
        }
      ],
      title: "Employee Gate Pass System"
    };
  },

  methods: {
    changeTab(title) {
      this.tabActive = title;
    },

    timerIncrement() {
      this.idleTime = this.idleTime + 1;
      //1800
      if (this.idleTime > 30) {
        clearInterval(this.notificationInterval);
        clearInterval(this.idleInterval);
        this.$store.commit("gatepass/CLEAR_SCHEDULE");
        this.$store.commit("requests/CLEAR_REQUESTS");

        localStorage.clear();
        this.$router.push("/login");
      }
    },

    monitorIdle() {
      this.idleInterval = setInterval(this.timerIncrement, 60000);
    },

    resetIdle() {
      console.log("asasd");
      this.idleTime = 0;
    },
    openPdf() {
      if (this.role === `pg` || this.role === `admin`) {
        window.open("/People_Group_Manual_2.pdf");
      } else if (this.role === `th` || this.role === `dh`) {
        window.open("/Managers_Manual_3.pdf");
      } else {
        window.open("/Employee_Manual_2.pdf");
      }
    },

    timerIncrement() {
      this.idleTime = this.idleTime + 1;

      //1800
      if (this.idleTime > 30) {
        clearInterval(this.notificationInterval);
        clearInterval(this.idleInterval);
        this.$store.commit("gatepass/CLEAR_SCHEDULE");
        this.$store.commit("requests/CLEAR_REQUESTS");

        this.$router.push("/login");
      }
    },

    monitorIdle() {
      this.idleInterval = setInterval(this.timerIncrement, 60000);
    },

    resetIdle() {
      this.idleTime = 0;
    },

    monitorNotification() {
      const employee = JSON.parse(localStorage.employee);

      const mapRequest = employee.modules.find(element =>
        element.actions.find(
          requests => requests.description === "View requests"
        )
      );
      this.notificationInterval = setInterval(
        () =>
          this.show === false
            ? (this.fetchNotification(),
              this.$route.name === "Request" || !mapRequest
                ? null
                : this.fetchPendingRequestCount())
            : null,
        10000
      );
    },
    async logOutUser() {
      VueCookies.remove("filter");
      VueCookies.remove("perPage");
      VueCookies.remove("filterActive");
      VueCookies.remove("request_date_from");
      VueCookies.remove("request_date_to");
      clearInterval(this.notificationInterval);
      clearInterval(this.idleInterval);
      this.$store.commit("gatepass/CLEAR_SCHEDULE");
      this.$store.commit("requests/CLEAR_REQUESTS");
      await localStorage.clear();
      await this.$router.push("/");
    },
    fetchPendingRequestCount() {
      this.$store.dispatch("requests/FETCH_PENDING_REQUESTS_COUNT", {
        dateFrom: moment().format("YYYY-MM-DD"),
        dateTo: moment().format("YYYY-MM-DD")
      });
    },

    async fetchNotification() {
      this.listOfNotifications = [];
      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/gatepass/notifications`,
        data: {
          employee_id: employee.id
        },
        headers: {
          authorization: "Bearer " + employee.token
        }
      })
        .then(res => {
          if (res.status === 200) {
            if (isArray(res.data)) {
              const NewNotification = res.data.find(
                notification => notification.id === this.listOfNotifications.id
              );
              if (!NewNotification) {
                this.$store.dispatch("gatepass/GET_SCHEDULE_OUT");
                res.data.map(data =>
                  this.listOfNotifications.unshift({
                    ...data,
                    time: data.request_time_in
                      ? moment(
                          `${data.request_time_out} ${data.request_date}`,
                          "hh:mm a"
                        ).format("hh:mm a") +
                        " - " +
                        moment(
                          `${data.request_time_in} ${data.request_date}`,
                          "hh:mm a"
                        ).format("hh:mm a")
                      : moment(
                          `${data.request_time_out} ${data.request_date}`,
                          "hh:mm a"
                        ).format("hh:mm a"),
                    date: moment(data.updatedAt).calendar()
                  })
                );
              }
              this.notificationCounter = res.data.length;
            }
          }
        })
        .catch(e => {
          if (isArray(e.response)) {
          } else {
            if (e.response.status === 403) {
              clearInterval(this.notificationInterval);
              clearInterval(this.idleInterval);
              this.$bvModal
                .msgBoxOk("Session timeout, please login again.", {
                  title: "Session Timeout",
                  headerBgVariant: "danger",
                  headerBorderVariant: "danger",
                  okVariant: "danger",
                  okTitle: "Confirm",
                  size: "md",
                  buttonSize: "sm",
                  centered: true,
                  noFade: true
                })
                .then(okBtn => {
                  localStorage.clear();
                  this.$store.commit("gatepass/CLEAR_SCHEDULE");
                  this.$router.push("/login");
                });
            } else {
              this.$bvModal
                .msgBoxOk("Session timeout, please login again.", {
                  title: "Session Timeout",
                  headerBgVariant: "danger",
                  headerBorderVariant: "danger",
                  okVariant: "danger",
                  okTitle: "Confirm",
                  size: "md",
                  buttonSize: "sm",
                  centered: true
                })
                .then(okBtn => {
                  localStorage.clear();
                  this.$store.commit("gatepass/CLEAR_SCHEDULE");
                  this.$router.push("/login");
                });
            }
            if (isArray(e)) {
              if (e.response.status === 403) {
                localStorage.clear();
                this.$router.push("/");
              } else {
                this.$bvToast.toast(`${e}`, {
                  title: `Error`,
                  variant: "danger",
                  toaster: "b-toaster-bottom-right",
                  solid: false,
                  autoHideDelay: 5000,
                  noCloseButton: true
                });
              }
            }
          }
        });
    },

    async fetchReadNotification() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/gatepass/notifications/read`,
        data: {
          employee_id: employee.id
        },
        headers: {
          authorization: "Bearer " + employee.token
        }
      })
        .then(res => {})
        .catch(e => {});
    }
  },
  async created() {
    const employee = JSON.parse(localStorage.employee);
    this.role = employee.roleParam;
    // this.monitorNotification();
    // this.fetchPendingRequestCount();
    // this.fetchNotification();
    this.monitorIdle();
  },

  computed: {
    ...mapGetters({
      getRequestsCount: "requests/getPendingCount"
    }),
    getUser() {
      return JSON.parse(localStorage.employee);
    },
    sidebarElements() {
      const employee = JSON.parse(localStorage.employee);

      const adminModule = employee.modules.find(
        element => element.description === "admin"
      );
      const mapModule = adminModule.actions.find(
        element => element.description === "View modules"
      );
      const mapActions = adminModule.actions.find(
        element => element.description === "View actions"
      );
      const mapRoles = adminModule.actions.find(
        element => element.description === "View roles"
      );
      const mapDepartments = adminModule.actions.find(
        element => element.description === "View departments"
      );
      const mapTeam = adminModule.actions.find(
        element => element.description === "View teams"
      );
      const mapPositions = adminModule.actions.find(
        element => element.description === "View positions"
      );
      const mapEmployees = adminModule.actions.find(
        element => element.description === "View employees"
      );
      const mapRequestTypes = adminModule.actions.find(
        element => element.description === "View gate pass request types"
      );
      const mapActivityLogs = adminModule.actions.find(
        element => element.description === "View activity logs"
      );

      if (mapModule) {
        this.sidebarItems.push({
          icon: "fa-cubes",
          title: "Modules",
          to: "/Dashboard/admin-dashboard/modules"
        });
      }
      if (mapActions) {
        this.sidebarItems.push({
          icon: "fa-tasks",
          title: "Actions",
          to: "/Dashboard/admin-dashboard/actions"
        });
      }
      if (mapRoles) {
        this.sidebarItems.push({
          icon: "fa-address-card",
          title: "Roles and Access",
          to: "/Dashboard/admin-dashboard/roles"
        });
      }
      if (mapDepartments) {
        this.sidebarItems.push({
          icon: "fa-university",
          title: "Departments",
          to: "/Dashboard/admin-dashboard/department"
        });
      }
      if (mapTeam) {
        this.sidebarItems.push({
          icon: "fa-users",
          title: "Teams",
          to: "/Dashboard/admin-dashboard/teams"
        });
      }
      if (mapPositions) {
        this.sidebarItems.push({
          icon: "fa-project-diagram",
          title: "Positions",
          to: "/Dashboard/admin-dashboard/positions"
        });
      }
      if (mapEmployees) {
        this.sidebarItems.push({
          icon: "fa-user-tie",
          title: "Employees",
          to: "/Dashboard/admin-dashboard/employees"
        });
      }
      if (mapRequestTypes) {
        this.sidebarItems.push({
          icon: "fa-dungeon",
          title: "Gate Pass Request Types",
          to: "/Dashboard/admin-dashboard/gate-pass-request"
        });
      }
      if (mapActivityLogs) {
        this.sidebarItems.push({
          icon: "fa-clipboard-list",
          title: "Activity Logs",
          to: "/Dashboard/admin-dashboard/activity-logs"
        });
      }
      return this.sidebarItems;
    },
    dashboard() {
      const employee = JSON.parse(localStorage.employee);
      let isPG = false;
      if (employee.roleParam === "pg") {
        isPG = true;
      }
      const mapAdmin = employee.modules.find(
        element => element.description === "admin"
      );
      const mapGatePass = employee.modules.find(
        element => element.description === "Gate Pass"
      );
      const mapRequest = employee.modules.find(element =>
        element.actions.find(
          requests => requests.description === "View requests"
        )
      );
      const mapProxy = employee.modules.find(element =>
        element.actions.find(requests => requests.description === "View Proxy")
      );
      const mapReports = employee.modules.find(
        element => element.description === "Report"
      );
      const mapMonitor = employee.modules.find(element =>
        element.actions.find(
          gatepass => gatepass.description === "View approved gate pass"
        )
      );
      if (mapGatePass) {
        this.items.unshift({
          title: "Home",
          to: "/Dashboard"
        });
      }
      if (mapRequest) {
        this.items.push({
          title: "Request",
          to: "/Request"
        });
      }
      if (mapProxy) {
        this.items.push({
          title: "Proxy",
          to: "/Proxy"
        });
      }
      if (mapMonitor) {
        this.items.push({
          title: "Monitor Employees",
          to: "/monitor-employees"
        });
      }
      if (mapReports) {
        this.items.push({
          title: "Reports",
          to: "/Reports"
        });
      }
      if (mapAdmin) {
        if (isPG) {
          this.items.push({
            title: "PG Dashboard",
            to: "/PG-Dashboard"
          });
        } else {
          // this.items.push({
          //   title: "Admin Dashboard",
          //   to: "/dashboard/admin-dashboard"
          // });
          this.items.push({
            title: "Admin Dashboard",
            to: "/New-Admin-Dashboard"
          });
        }
      }
      return this.items;
    }
  },
  beforeDestroy() {
    clearInterval(this.notificationInterval);
    clearInterval(this.idleInterval);
  }
};
</script>


<style scoped>
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}

/* a[data-toggle="collapse"] {
  position: relative;
  font-size: large;
} */
/* 
.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
} */

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}
.hr {
  background-color: white;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  /* don't forget to add all the previously mentioned styles here too */

  background-color: rgb(255, 255, 255);
  color: #5c5c5c;
  border-right: solid 1px #dfdfdf;

  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  transition: all 0.3s;
  min-width: 265px;
  max-width: 265px;
  min-height: 100vh;
}

.activeClass {
  background-color: #dfdfdf;
}

/* .sideMenuItem {
} */

.sidebarItems {
  margin-bottom: 3px;
  margin-left: 3px;
  font-size: 14px;
  font-weight: 550;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar.active {
  margin-left: -250px;
}
#sidebar .sidebar-header {
  padding: 20px;
  /* background: linear-gradient(-90deg, #aac758, #476e03); */
}

#sidebar ul.components {
  padding: 20px 0;
  font-size: 15px;
}

#sidebar ul p {
  color: rgb(0, 0, 0);
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #000000;
  background: #e9ecef;
}

/* #sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #007bff;
  background: #e9ecef;
} */
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #e9ecef;
}
.content {
  width: 100%;
}
.card-height-2 {
  height: 2.5rem;
}
.card-md {
  width: 17rem;
}
.content {
  width: 100%;
  margin-top: 60px;
}
.header_lg {
  font-size: 1.2em;
  font-weight: 100;
}
.header_md {
  font-size: 1.1em;
}
.header_md:active {
  color: #007bff;
  background-color: #5c5c5c;
}
body {
  font-size: 100%;
}
.h-divider {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 1px;
  width: 100%;
}
.exact {
  background-color: red;
}
</style>