<template>
  <div id="app">
    <b-navbar class="body_color" toggleable="lg" fixed="top" type="dark" variant="primary">
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav left>
          <b-nav-item
            :id="`${item.title}_${i}`"
            class="mr-2 header_lg"
            tag="h1"
            left-align
            v-for="(item,i) in dashboard"
            :key="i"
            :to="item.to"
            active-class="active"
            exact
            keep-alive
          >
            {{item.title}}
            <b-badge
              v-if="getRequestsCount >0 && item.title === 'Request'"
              variant="light"
            >{{getRequestsCount}}</b-badge>
          </b-nav-item>
        </b-navbar-nav>
        <b-navbar-nav right>
          <b-nav-item>
            <b-button variant="primary" id="notification-sync-button">
              Notifications
              <b-badge
                variant="light"
                v-show="notificationCounter > 0"
              >{{show === true ? notificationCounter = 0:notificationCounter}}</b-badge>
            </b-button>
          </b-nav-item>
        </b-navbar-nav>
      </b-collapse>

      <b-navbar-nav id="user_account" class="header_lg">
        <b-nav-item>
          <div>
            <b-button variant="primary" id="add-request_button" @click="requestModal = true">
              <v-icon color="white" small class="mr-2">fa-plus</v-icon>New Gate Pass
            </b-button>

            <b-modal
              id="request_modal"
              no-fade
              v-model="requestModal"
              hide-footer
              okTitle="Create request"
              cancelTitle="Discard"
              ref="modalRequest"
              @show="resetModal"
              @hidden="resetModal"
            >
              <b-card id="card_requests">
                <b-card-title>New Gate Pass request</b-card-title>
                <form id="form_requests" inline @submit.prevent="addScheduleOut">
                  <b-form-group id="form_group_requests">
                    <label class="mb-2 mr-sm-2 mb-sm-0">Request Type:</label>
                    <select
                      class="custom-select"
                      id="request_gate_pass"
                      v-model="selectType"
                      required
                    >
                      <option
                        id="listofRequest"
                        v-for="(request,i) in listOfRequestTypes"
                        :value="request"
                        :key="i"
                      >{{request.name}}</option>
                    </select>
                    <div v-if="selectType.name !== null">
                      <label class="mb-2 mb-sm-1">Time Out:</label>
                      <b-row lg="1">
                        <b-col>
                          <b-form-input
                            required
                            type="time"
                            name="t-out"
                            v-model="request.time_out"
                            id="req-time-out"
                          ></b-form-input>
                        </b-col>
                      </b-row>
                    </div>
                    <div
                      v-if="selectType.name === 'Personal Out' || selectType.name === 'Official Business'"
                    >
                      <label class="mb-2 mb-sm-1">Time in:</label>
                      <b-row lg="1">
                        <b-col sm="12">
                          <b-form-input
                            id="request_time_in"
                            :type="`time`"
                            v-model="request.time_in"
                            :required="selectType.name === 'Personal Out' || selectType.name === 'Official Business'"
                          ></b-form-input>
                        </b-col>
                      </b-row>
                    </div>
                    <div v-if="selectType.name !== null && selectType.name !== 'Lunch Out'">
                      <div v-if="selectType.name !== null">
                        <label class="mb-2 mr-sm-2 mb-sm-0">Date</label>
                        <b-form-input
                          type="date"
                          v-model="request.date"
                          id="request_date"
                          :required=" selectType.name !== null && selectType !== 'Lunch Out'"
                        ></b-form-input>
                      </div>
                    </div>
                    <div v-if="selectType.name !== null && selectType.name !== 'Lunch Out'">
                      <div v-if="selectType.name !== null">
                        <label>Reason</label>
                        <b-form-textarea
                          type="textarea"
                          id="reason"
                          v-model="request.reason"
                          :required=" selectType.name !== null && selectType.name !== 'Lunch Out'"
                        ></b-form-textarea>
                      </div>
                    </div>
                  </b-form-group>

                  <div
                    v-if="error !== null"
                    class="mx-2"
                    style="color:red"
                    id="error-text"
                  >{{error}}</div>
                  <b-row>
                    <b-col align-self="end">
                      <b-button id="cancel-request" variant="secondary" @click="closeModal">Discard</b-button>
                      <b-button id="create-request" variant="primary" type="submit">Create Request</b-button>
                    </b-col>
                  </b-row>
                </form>
              </b-card>
            </b-modal>
          </div>
        </b-nav-item>
        <b-nav-item-dropdown id="user_name" :text="'Guest'" right>
          <b-dropdown-item router exact id="user_profile">Profile</b-dropdown-item>
          <b-dropdown-item @click="logOutUser" id="user_logout">Logout</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-navbar>
    <div class="content">
      <nuxt />
    </div>
    <div>
      <b-popover
        id="notification_pop_over"
        :show.sync="show"
        target="notification-sync-button"
        title="Notifications"
        placement="bottomright"
      >
        <div class="card-md card-height-2" v-if="notifications !== null" style="text-align:center;">
          <strong>{{notifications}}</strong>
        </div>
        <div v-if="notifications === null">
          <div v-for="notifs in listOfNotifications" :key="notifs.id">
            <div class="card-md">
              <strong style="font-size:1.2rem">{{notifs.request_type.name}}</strong>

              <div>
                Your request for
                <b>{{notifs.request_type.name}}</b>
                has been {{notifs.status}}
              </div>
              <div v-if="notifs.note">Note:{{notifs.note}}</div>
              <b-row>
                <b-col lg="7" align-self="start">
                  <small>Time: {{notifs.time}}</small>
                </b-col>
                <b-col lg="5" align-self="end">
                  <small>{{notifs.date}}</small>
                </b-col>
              </b-row>
            </div>

            <hr />
          </div>
        </div>
      </b-popover>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { mapGetters } from "vuex";
import { setInterval, clearInterval } from "timers";
import moment from "moment";
import { isArray } from "util";
export default {
  components: {},
  data() {
    return {
      notificationInterval: null,
      notificationCounter: 0,
      listOfNotifications: null,
      notifications: null,
      show: false,
      items: [
        {
          title: "Home",
          to: "/Dashboard"
        },
        {
          title: "Request",
          to: "/Request"
        },
        {
          title: "Monitor Employees",
          to: "/monitor-employees"
        },
        {
          title: "Reports",
          to: "/Reports"
        },
        {
          title: "Admin Dashboard",
          to: "/dashboard/admin-dashboard"
        }
      ],

      menus: [
        {
          title: "Settings",
          icon: "cog",
          to: "/settings"
        },
        {
          title: "Accounts",
          icon: "user"
        }
      ],
      title: "Employee Gate Pass System",

      time: "",
      selectType: { id: null, name: null, has_time_in: null },
      listofHours: [],
      listOfMinutes: [],
      listOfSeconds: [],
      request: {
        time_out: "",
        time_in: "",
        date: moment().format("YYYY-MM-DD"),
        reason: ""
      },

      listOfRequestTypes: [{ id: 1, name: "Lunch Out", has_time_in: true }],

      requestModal: false,
      error: null
    };
  },
  methods: {
    openModal() {
      this.resetModal();
      this.requestModal = true;
    },
    closeModal() {
      this.resetModal();
      this.$refs["modalRequest"].hide();
    },
    resetModal() {
      this.request.time_out = null;
      this.request.time_in = null;
      this.request.date = moment().format("YYYY-MM-DD");
      this.request.reason = "";
      this.error = null;
    },
    async addScheduleOut() {
      const selectedType = this.listOfRequestTypes.filter(
        type => type.name === this.selectType.name
      )[0];
      let request_time_in = null;
      if (selectedType.name.toLowerCase() === "lunch out") {
        this.request.date = moment().format("YYYY-MM-DD");
        if (parseInt(this.request.time_out.substring(0, 2)) >= 12) {
          request_time_in = moment(
            `${parseInt(
              this.request.time_out.substring(0, 2) - 11
            )}:${this.request.time_out.substring(3, 5)} PM ${this.request.date}`
          ).format("H:mm");
        } else if (this.request.time_out.substring(0, 2) === "00") {
          request_time_in = moment(
            `12:${this.request.time_out.substring(3, 5)} AM ${
              this.request.date
            }`
          ).format("H:mm");
        } else if (this.request.time_out.substring(0, 2) < 12) {
          request_time_in = moment(
            `${parseInt(this.request.time_out.substring(0, 2)) +
              1}:${this.request.time_out.substring(3, 5)} ${this.request.date}`
          ).format("H:mm");
        } else {
          request_time_in = moment(
            `${this.request.time_out} AM ${this.request.date}`
          ).format("H:mm");
        }
        this.request.reason = "Lunch out";
      } else {
        if (selectedType.has_time_in) {
          request_time_in = moment(
            `${this.request.time_in} ${this.request.date}`
          ).format("H:mm");
        }
      }
      const request_date = moment(this.request.date).format("YYYY-MM-DD");
      const request_time_out = moment(
        `${this.request.time_out} ${this.request.date}`
      ).format("H:mm");

      const res = await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/load_test/file_request`,
        data: {
          employee_id: 154151000,
          request_type_id: this.selectType.id,
          request_time_out,
          request_time_in,
          request_date,
          reason: this.request.reason
        }
      })
        .then(res => {
          this.resetModal();
          this.$bvToast.toast("Request created", {
            id: "toast-display-request-added",
            title: `Gatepass Request`,
            variant: "primary",
            toaster: "b-toaster-bottom-right",
            solid: false,
            autoHideDelay: 3000
          });
          this.$refs["modalRequest"].hide();
        })
        .catch(e => {
          this.error = e.response.data;
        });
    },

    async logOutUser() {
      clearInterval(this.notificationInterval);
      this.$store.commit("gatepass/CLEAR_SCHEDULE");
      this.$store.commit("requests/CLEAR_REQUESTS");
      await localStorage.clear();
      await this.$router.push("/");
    },
    fetchPendingRequestCount() {
      this.$store.dispatch("requests/FETCH_PENDING_REQUESTS_COUNT", {
        dateFrom: moment().format("YYYY-MM-DD"),
        dateTo: moment().format("YYYY-MM-DD")
      });
    },

    monitorNotification() {
      this.notificationInterval = setInterval(
        () =>
          this.show === false
            ? (this.fetchNotification(),
              this.$route.name === "Request" || !mapRequest
                ? null
                : this.fetchPendingRequestCount())
            : null,
        5000
      );
    },
    async fetchNotification() {
      this.listOfNotifications = [];
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/load_test/get_notifs`
      })
        .then(res => {
          if (res.status === 200) {
            if (isArray(res.data)) {
              res.data.map(data =>
                this.listOfNotifications.push({
                  ...data,
                  time: data.request_time_in
                    ? moment(
                        `${data.request_time_out} ${data.request_date}`,
                        "hh:mm a"
                      ).format("hh:mm a") +
                      " - " +
                      moment(
                        `${data.request_time_in} ${data.request_date}`,
                        "hh:mm a"
                      ).format("hh:mm a")
                    : moment(
                        `${data.request_time_out} ${data.request_date}`,
                        "hh:mm a"
                      ).format("hh:mm a"),
                  date: moment(data.updatedAt).calendar()
                })
              );

              this.notificationCounter = res.data.length;
            }
          }
        })
        .catch(e => {
          if (isArray(e.response)) {
          } else {
            if (e.response.status === 403) {
              clearInterval(this.notificationInterval);
              this.$bvModal
                .msgBoxOk("Session timeout, please login again.", {
                  title: "Session Timeout",
                  headerBgVariant: "danger",
                  headerBorderVariant: "danger",
                  okVariant: "danger",
                  okTitle: "Confirm",
                  size: "md",
                  buttonSize: "sm",
                  centered: true,
                  noFade: true
                })
                .then(okBtn => {
                  localStorage.clear();
                  this.$store.commit("gatepass/CLEAR_SCHEDULE");
                  this.$router.push("/login");
                });
            } else {
              this.$bvModal
                .msgBoxOk("Session timeout, please login again.", {
                  title: "Session Timeout",
                  headerBgVariant: "danger",
                  headerBorderVariant: "danger",
                  okVariant: "danger",
                  okTitle: "Confirm",
                  size: "md",
                  buttonSize: "sm",
                  centered: true
                })
                .then(okBtn => {
                  localStorage.clear();
                  this.$store.commit("gatepass/CLEAR_SCHEDULE");
                  this.$router.push("/login");
                });
            }
            if (isArray(e)) {
              if (e.response.status === 403) {
                localStorage.clear();
                this.$router.push("/");
              } else {
                this.$bvToast.toast(`${e}`, {
                  title: `Error`,
                  variant: "danger",
                  toaster: "b-toaster-bottom-right",
                  solid: false,
                  autoHideDelay: 5000,
                  noCloseButton: true
                });
              }
            }
          }
        });
    },

    async fetchReadNotification() {
      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/gatepass/notifications/read`,
        data: {
          employee_id: employee.id
        },
        headers: {
          authorization: "Bearer " + employee.token
        }
      })
        .then(res => {})
        .catch(e => {});
    }
  },
  async created() {
    this.monitorNotification();
  },

  computed: {
    ...mapGetters({
      getRequestsCount: "requests/getPendingCount"
    }),
    dashboard() {
      return this.items;
    }
  }
};
</script>

<style scoped>
.card-height-2 {
  height: 2.5rem;
}
.card-md {
  width: 17rem;
}
.content {
  width: 100%;
  margin-top: 60px;
}
.header_lg {
  font-size: 1.2em;
  font-weight: 100;
}
body {
  font-size: 100%;
}
.h-divider {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 1px;
  width: 100%;
  border-top: 1px solid #d3d3d3;
}
</style>
