<template>
  <v-app>
    <div v-on:mousemove="resetIdle">
      <v-navigation-drawer
        :ripple="false"
        tile
        v-model="drawer"
        fixed
        app
        width="270rem"
        :clipped="true"
      >
        <v-list>
          <v-list-tile
            :ripple="false"
            :to="path.to"
            v-for="(path, i) in activePaths"
            :key="i"
            router
            exact
          >
            <v-list-tile-action>
              <v-icon>{{path.icon}}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title v-text="path.title" />
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-navigation-drawer>
      <v-toolbar app :clipped-left="true" fixed flat class="blue darken-1" dense :ripple="false">
        <v-toolbar-side-icon @click="drawer = !drawer" dar :ripple="false" dark />
        <v-toolbar-items>
          <v-btn :ripple="false" dark :to="item.to" v-for="(item,i) in items" :key="i" flat>
            {{item.title}}
            <b-badge
              v-if="getRequestsCount >0 && item.title === 'Request'"
              variant="danger"
            >{{getRequestsCount}}</b-badge>
          </v-btn>
        </v-toolbar-items>
        <v-spacer></v-spacer>
        <b-button id="notification-sync-button" class="blue darken-1">
          <v-icon color="white" small>fa-bell</v-icon>
          <b-badge
            variant="danger"
            v-show="notificationCounter > 0"
          >{{show === true ? notificationCounter = 0:notificationCounter}}</b-badge>
        </b-button>

        <b-dropdown
          class="light user-white-text"
          variant="primary"
          id="user_name"
          style="color:white"
          :text="`${getUser.last_name}` || 'Guest'"
          right
        >
          <b-dropdown-item router exact :to="`/user/${getUser.id}`" id="user_profile">Profile</b-dropdown-item>
          <b-dropdown-item @click="logOutUser" id="user_logout">Logout</b-dropdown-item>
        </b-dropdown>
      </v-toolbar>
      <v-content>
        <nuxt />
      </v-content>
      <div>
        <b-popover
          id="notification_pop_over"
          :show.sync="show"
          target="notification-sync-button"
          title="Notifications"
          placement="bottomright"
        >
          <div
            class="card-md card-height-2"
            v-if="notifications !== null"
            style="text-align:center;"
          >
            <strong>{{notifications}}</strong>
          </div>
          <div v-if="notifications === null">
            <div v-for="notifs in listOfNotifications" :key="notifs.id">
              <div class="card-md">
                <strong style="font-size:1.2rem">{{notifs.request_type.name}}</strong>

                <div class="font-normal-md">
                  Your request for
                  <b>{{notifs.request_type.name}}</b>
                  has been {{notifs.status}}
                </div>
                <div v-if="notifs.note">Note:{{notifs.note}}</div>
                <b-row>
                  <b-col lg="7" align-self="start">
                    <small>Time: {{notifs.time}}</small>
                  </b-col>
                  <b-col lg="5" align-self="end">
                    <small>{{notifs.date}}</small>
                  </b-col>
                </b-row>
              </div>

              <hr />
            </div>
          </div>
        </b-popover>
      </div>
    </div>
  </v-app>
</template>

<script>
import ActionButton from "@/components/Dashboard/ActionButtons";
import axios from "axios";
import { isArray } from "util";
import { mapGetters } from "vuex";
import moment, { locale } from "moment";
import { setInterval, clearInterval } from "timers";
import VueCookies from "vue-cookies";

export default {
  beforeDestroy() {
    clearInterval(this.notificationInterval);
    clearInterval(this.idleInterval);
  },

  components: {
    ActionButton,
    VueCookies
  },
  watch: {
    show: function(query) {
      if (!this.show) {
        this.fetchReadNotification();
      }
    }
  },
  data() {
    return {
      drawer: true,
      idleInterval: null,
      idleTime: 0,
      notificationCounter: 0,
      listOfNotifications: null,
      notifications: null,
      show: false,
      showItem: false,

      account: {
        name: "ADMINISTRATOR"
      },
      paths: [
        {
          icon: "fa-cubes",
          title: "Modules",
          to: "/Dashboard/admin-dashboard/modules",
          action: "view modules"
        },
        {
          icon: "fa-tasks",
          title: "Actions",
          to: "/Dashboard/admin-dashboard/actions",
          action: "view actions"
        },
        {
          icon: "fa-address-card",
          title: "Roles and Access",
          to: "/Dashboard/admin-dashboard/roles",
          action: "view roles"
        },
        // {
        //   icon: "fa-fingerprint",
        //   title: "Access Rights",
        //   to: "/Dashboard/admin-dashboard/access-rights",
        //   action: "view access rights"
        // },
        {
          icon: "fa-university",
          title: "Department",
          to: "/Dashboard/admin-dashboard/department",
          action: "view departments"
        },
        {
          icon: "fa-users",
          title: "Teams",
          to: "/Dashboard/admin-dashboard/teams",
          action: "view teams"
        },
        {
          icon: "fa-project-diagram",
          title: "Positions",
          to: "/Dashboard/admin-dashboard/positions",
          action: "view positions"
        },
        {
          icon: "fa-user-tie",
          title: "Employees",
          to: "/Dashboard/admin-dashboard/employees",
          action: "view employees"
        },
        {
          icon: "fa-dungeon",
          title: "Gate Pass Request Types",
          to: "/Dashboard/admin-dashboard/gate-pass-request",
          action: "view gate pass request types"
        },
        {
          icon: "fa-clipboard-list",
          title: "Activity Logs",
          to: "/Dashboard/admin-dashboard/activity-logs",
          action: "view activity logs"
        }
      ],
      activePaths: [],
      items: [
        {
          title: "Home",
          to: "/Dashboard"
        },
        {
          title: "Request",
          to: "/Request"
        },
        {
          title: "Monitor Employees",
          to: "/monitor-employees"
        },
        {
          title: "Reports",
          to: "/Reports"
        },
        {
          title: "Admin Dashboard",
          to: "/dashboard/admin-dashboard"
        }
      ],
      title: "Employee Gate Pass System",
      notificationInterval: null
    };
  },
  methods: {
    timerIncrement() {
      this.idleTime = this.idleTime + 1;
      console.log(this.idleTime);
      //1800
      if (this.idleTime > 30) {
        clearInterval(this.notificationInterval);
        clearInterval(this.idleInterval);
        this.$store.commit("gatepass/CLEAR_SCHEDULE");
        this.$store.commit("requests/CLEAR_REQUESTS");

        localStorage.clear();
        this.$router.push("/login");
      }
    },

    monitorIdle() {
      this.idleInterval = setInterval(this.timerIncrement, 60000);
    },

    resetIdle() {
      this.idleTime = 0;
    },

    fetchPendingRequestCount() {
      this.$store.dispatch("requests/FETCH_PENDING_REQUESTS_COUNT", {
        dateFrom: moment().format("YYYY-MM-DD"),
        dateTo: moment().format("YYYY-MM-DD")
      });
    },
    startMonitor() {
      this.notificationInterval = setInterval(
        () => (this.show === false ? this.fetchNotification() : null),
        5000
      );
    },
    async logOutUser() {
      VueCookies.remove("filter");
      VueCookies.remove("perPage");
      VueCookies.remove("filterActive");
      VueCookies.remove("request_date_from");
      VueCookies.remove("request_date_to");
      clearInterval(this.notificationInterval);
      clearInterval(this.idleInterval);
      this.$store.commit("gatepass/CLEAR_SCHEDULE");
      this.$store.commit("requests/CLEAR_REQUESTS");
      await localStorage.clear();
      await this.$router.push("/");
    },
    async clearUser() {
      await localStorage.clear();
      await this.$router.push("/");
    },
    async fetchNotification() {
      this.listOfNotifications = [];
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/gatepass/notifications`,
        data: {
          employee_id: employee.id
        },
        headers: {
          authorization: "Bearer " + employee.token
        }
      })
        .then(res => {
          if (res.status === 200) {
            if (isArray(res.data)) {
              res.data.map(data =>
                this.listOfNotifications.push({
                  ...data,
                  time: data.request_time_in
                    ? moment(data.request_time_out, "hh:mm a").format(
                        "hh:mm a"
                      ) +
                      " - " +
                      moment(data.request_time_in, "hh:mm a").format("hh:mm a")
                    : moment(data.request_time_out, "hh:mm a").format(
                        "hh:mm a"
                      ),
                  date: moment(data.updatedAt).calendar()
                })
              );
              this.notificationCounter = res.data.length;
            }
          }
        })
        .catch(e => {
          if (e.response.status === 403) {
            clearInterval(this.notificationInterval);
            clearInterval(this.idleInterval);
            this.$bvModal
              .msgBoxOk("Session timeout, please login again.", {
                title: "Session Timeout",
                headerBgVariant: "danger",
                headerBorderVariant: "danger",
                okVariant: "danger",
                okTitle: "Confirm",
                size: "md",
                buttonSize: "sm",
                centered: true
              })
              .then(okBtn => {
                localStorage.clear();
                this.$store.commit("gatepass/CLEAR_SCHEDULE");
                this.$store.commit("requests/CLEAR_REQUESTS");
                this.$router.push("/login");
              });
          }
        });
    },
    async fetchReadNotification() {
      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/gatepass/notifications/read`,
        data: {
          employee_id: employee.id
        },
        headers: {
          authorization: "Bearer " + employee.token
        }
      })
        .then(res => {})
        .catch(e => {
          if (isArray(e.response)) {
          }
          //  else {
          //   if (typeof e === "object") {
          //     this.$bvToast.toast(`${e}`, {
          //       id: "toast-display-error-web",
          //       title: `Error`,
          //       variant: "danger",
          //       toaster: "b-toaster-bottom-right",
          //       solid: false,
          //       autoHideDelay: 5000
          //     });
          //   }
          // }
        });
    }
  },
  async created() {
    const userRole = JSON.parse(localStorage.employee).role.name.split("-")[0];
    let employeeModules = JSON.parse(localStorage.employee).modules;
    employeeModules = employeeModules.filter(
      employeeModule => employeeModule.description.toLowerCase() === "admin"
    );

    let actions = [];
    if (employeeModules.length > 0) {
      employeeModules.forEach(employeeModule =>
        employeeModule.actions.forEach(action => {
          if (
            action.status.toLowerCase() === "active" &&
            action.description.toLowerCase().startsWith("view")
          ) {
            actions.push(action);
          }
        })
      );
    }

    this.paths.forEach(path => {
      actions.forEach(action => {
        if (action.description.toLowerCase() === path.action.toLowerCase()) {
          this.activePaths.push(path);
        }
      });
    });

    this.getUser;
    this.fetchNotification();
    this.startMonitor();
    this.monitorIdle();
    this.fetchPendingRequestCount();
  },
  computed: {
    ...mapGetters({
      getRequestsCount: "requests/getPendingCount"
    }),
    getUser() {
      return JSON.parse(localStorage.employee);
    },
    dashboard() {
      const employee = JSON.parse(localStorage.employee);
      const mapAdmin = employee.modules.find(
        element => element.description === "admin"
      );
      const mapGatePass = employee.modules.find(
        element => element.description === "Gate Pass"
      );
      const mapRequest = employee.modules.find(element =>
        element.actions.find(
          requests => requests.description === "View requests"
        )
      );
      const mapReports = employee.modules.find(
        element => element.description === "Report"
      );
      const mapMonitor = employee.modules.find(element =>
        element.actions.find(
          gatepass => gatepass.description === "View approved gate pass"
        )
      );

      if (mapAdmin && mapGatePass && mapRequest && mapReports && mapMonitor) {
        return this.items;
      }

      if (!mapAdmin && mapGatePass && mapRequest && mapReports && !mapMonitor) {
        return this.items.filter(
          item =>
            item.title !== "Admin Dashboard" &&
            item.title !== "Monitor Employees"
        );
      }

      if (!mapAdmin && mapGatePass && mapRequest && mapMonitor && mapReports) {
        return this.items.filter(item => item.title !== "Admin Dashboard");
      }

      return this.items.filter(
        item =>
          item.title !== "Request" &&
          item.title !== "Admin Dashboard" &&
          item.title !== "Monitor Employees"
      );
    }
  }
};
</script>

<style scoped>
.user-white-text {
  color: #fff !important;
}
.header_lg {
  font-size: 1.2em;
  font-weight: 100;
}
</style>
