<template>
  <div class="body">
    <main>
      <LoginForm  />
    </main>
  </div>
</template>

<script>
import LoginForm from "@/components/Login/LoginForm";
export default {
  name: "LoginUI",
  layout: "loginLayout",
  middleware:'authenticated',
  components: {
    LoginForm
  },
  data() {
    return {
      currentRoute: window.location.href
    };
  }
};
</script>

<style>
.body {
  background-color: #0052cc;
}
/* 
.body {
  background-image: linear-gradient(dodgerblue, #1c1c1c);
    background-attachment: fixed;
} */
</style>
