<template>
  <div class="mx-2">
    <b-breadcrumb :items="reportPath" id="role-breadcrumb"></b-breadcrumb>

    <b-card>
      <b-row class="my-2">
        <b-col lg="10" md="6" sm="12">
          <b-button
            variant="primary"
            @click="addRoleModal()"
            id="role-add-button"
            v-if="actions.hasAdd"
          >Add roles</b-button>
        </b-col>
        <b-col lg="2" md="6" sm="12">
          <b-input-group prepend="Items">
            <b-form-select style="z-index:0" v-model="perPage">
              <option v-for="value in values" :key="value" :value="value">{{value}}</option>
            </b-form-select>
          </b-input-group>
        </b-col>

        <b-col lg="12" sm="10" md="10" class="d-flex my-2">
          <b-input-group>
            <b-form-input
              style="z-index:0"
              v-model="filter"
              placeholder="Type to search"
              id="role-search"
            ></b-form-input>
            <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''" id="role-clear">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>
      </b-row>

      <div class="text-center" v-if="loadRoles.length === 0">
        <b-spinner variant="primary"></b-spinner>
      </div>
      <b-table
        v-if="loadRoles.length !== 0"
        id="role-table"
        responsive
        :filter="filter"
        show-empty
        :per-page="perPage"
        :current-page="currentPage"
        empty-text="There are no roles to display"
        :empty-filtered-text="`No search for ${filter} `"
        :items="roles"
        :fields="fields"
        sort-by="name"
      >
        <template slot="name" slot-scope="row">
          <div @click="updateRoleModal(row.item)">{{row.item.name}}</div>
        </template>
        <template slot="status" slot-scope="row">
          <div @click="updateRoleModal(row.item)">{{row.item.status}}</div>
        </template>
        <template slot="action" slot-scope="row">
          <div @click="updateRoleModal(row.item)">
            <b-button title="Edit Role" size="sm" class="mr-1" id="role-edit-button">
              <v-icon size="15" color="#FFFFFF">fa-edit</v-icon>
            </b-button>
          </div>
        </template>
      </b-table>
      <div>
        <b-pagination
          v-if="loadRoles.length !== 0"
          id="schedule-pagination"
          align="center"
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          class="my-0"
        ></b-pagination>
      </div>
    </b-card>
    <b-modal
      size="lg"
      id="role-add-modal"
      no-fade
      ref="modal"
      v-model="createModal"
      title="Create Roles"
      :hide-footer="true"
    >
      <b-form @submit.stop.prevent="addRole" id="role-form">
        <b-form-group id="form-edit-role-name" label="Role:" class="mx-3">
          <b-form-row class="mx-1">
            <b-col cols="4">
              <b-form-select
                placeholder="Role Name"
                id="role-prefix-edit-input-name"
                v-model="rolesFields.prefix"
                required
              >
                <option :value="null" disabled>Prefix</option>
                <option value="emp">Employee</option>
                <option value="pg">People Group</option>
                <option value="th">Team Head</option>
                <option value="mng">Manager</option>
                <option value="actng">Accounting</option>
                <option value="sec">Security Guard</option>
                <option value="admin">admin</option>
              </b-form-select>
            </b-col>
            <b-col class="my-1 mx-1" cols="0">
              <strong>&ndash;</strong>
            </b-col>
            <b-col cols="7">
              <b-form-input
                placeholder="Role Name"
                id="role-input-name"
                v-model="rolesFields.name"
                required
              ></b-form-input>
            </b-col>
          </b-form-row>
        </b-form-group>
        <hr />
        <div align="right">
          <b-button @click="cancel()" id="role-add-cancel-modal">Cancel</b-button>
          <b-button type="submit" variant="primary" id="role-add-ok-modal">Ok</b-button>
        </div>
      </b-form>
      <v-snackbar
        color="red"
        :bottom="true"
        :right="true"
        v-model="errorMsg"
        id="role-snackbar-error"
      >
        <v-icon color="white" class="mr-3">mdi-error</v-icon>
        <div>{{addingError}}</div>
        <v-icon size="16" @click="errorMsg = false" id="role-add-error-close">mdi-close-circle</v-icon>
      </v-snackbar>
    </b-modal>
    <b-modal
      size="xl"
      no-fade
      ref="editModal"
      v-model="editModal"
      title="Edit Roles"
      id="role-edit-modal"
      :hide-footer="true"
    >
      <b-form @submit.stop.prevent="updateRoles" id="role-edit-form">
        <b-form-group id="form-edit-role-name" label="Role:" class="mx-3">
          <b-form-row class="mx-1" cols="1">
            <b-col cols="3">
              <b-form-select
                placeholder="Role Prefix"
                id="role-prefix-edit-input-name"
                v-model="rolesFields.prefix"
                required
              >
                <option :value="null" disabled>Prefix</option>
                <option value="emp">Employee</option>
                <option value="pg">People Group</option>
                <option value="th">Team Head</option>
                <option value="mng">Manager</option>
                <option value="actng">Accounting</option>
                <option value="sec">Security Guard</option>
                <option value="admin">admin</option>
              </b-form-select>
            </b-col>
            <b-col class="my-1 mx-1" cols="0">
              <strong>&ndash;</strong>
            </b-col>
            <b-col cols="3">
              <b-form-input
                placeholder="Role Name"
                id="role-input-name"
                v-model="rolesFields.name"
                required
              ></b-form-input>
            </b-col>

            <b-col cols="2">
              <b-form-select v-model="rolesFields.status" id="role-edit-select-status" required>
                <option :value="null" disabled>Select Status</option>
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
              </b-form-select>
            </b-col>
          </b-form-row>
        </b-form-group>

        <b-row v-if="modules.length !== 0">
          <b-col cols="sm-3" v-for="item in modules" :key="item.id">
            <b-form class="mx-3">
              <b-form-group :label="`${item.description} Module:`">
                <b-form-checkbox-group
                  :id="item.description"
                  v-model="selectedActions"
                  :options="item.actions"
                  name="actions"
                  stacked
                  switches
                ></b-form-checkbox-group>
              </b-form-group>
            </b-form>
          </b-col>

          <!-- <b-col cols="sm-3">
            <b-form>
              <b-form-group label="Gatepass Module:">
                <b-form-checkbox-group
                  id="checkbox-actions-gatepass"
                  v-model="selectedActions"
                  :options="actionGroupGatepass"
                  name="actions"
                  stacked
                  switches
                ></b-form-checkbox-group>
              </b-form-group>
            </b-form>
          </b-col>

          <b-col cols="sm-3">
            <b-form>
              <b-form-group label="Request Module:">
                <b-form-checkbox-group
                  id="checkbox-actions-request"
                  v-model="selectedActions"
                  :options="actionGroupRequest"
                  name="actions"
                  stacked
                  switches
                ></b-form-checkbox-group>
              </b-form-group>
            </b-form>
          </b-col>

          <b-col cols="sm-3">
            <b-form>
              <b-form-group label="Report Module:">
                <b-form-checkbox-group
                  id="checkbox-action-report"
                  v-model="selectedActions"
                  :options="actionGroupReport"
                  name="actions"
          
                  stacked
                  switches
                ></b-form-checkbox-group>
              </b-form-group>
            </b-form>
          </b-col>-->
        </b-row>

        <hr />
        <div align="right">
          <b-button @click="cancel()" id="role-edit-cancel-modal">Cancel</b-button>
          <b-button type="submit" variant="primary" id="role-edit-ok-modal">Ok</b-button>
        </div>
      </b-form>
      <v-snackbar
        color="red"
        :bottom="true"
        :right="true"
        id="role-snackbar-edit-error"
        v-model="errorMsg"
      >
        <v-icon color="white" class="mr-3">mdi-error</v-icon>
        <div>{{addingError}}</div>
        <v-icon size="16" @click="errorMsg = false" id="role-error-close">mdi-close-circle</v-icon>
      </v-snackbar>
    </b-modal>
  </div>
</template>

<script>
import axios from "axios";
import { isArray } from "util";
export default {
  head() {
    return {
      titleTemplate: "%s - Roles",
    };
  },
  data() {
    return {
      errorMsg: false,
      addingError: null,
      roles: [],
      selected: [],
      selectedActions: [],
      perPage: 10,
      totalRows: 1,
      currentPage: 1,
      values: ["5", "10", "25", "50", "100"],
      actionGroupAdmin: [],
      actionGroupGatepass: [],
      actionGroupRequest: [],
      actionGroupReport: [],

      modules: [],

      accessRightsData: [],
      rolesFields: {
        id: null,
        name: null,
        status: null,
        prefix: null,
      },
      accessRightsField: {
        id: null,
        role_id: null,
        action_id: null,
        status: null,
      },
      actions: { hasAdd: false, hasEdit: false },
      fields: [
        {
          key: "name",
          label: "Roles",
        },
        {
          key: "status",
          label: "Status",
        },
        {
          key: "action",
          label: "Action",
        },
      ],
      createModal: false,
      editModal: false,
      filter: "",

      reportPath: [
        {
          text: "Home",
          to: "/dashboard",
        },
        {
          text: "Admin Dashboard",
          to: "/dashboard/admin-dashboard",
        },
        {
          text: "roles",
          to: "/dashboard/admin-dashboard/roles",
          active: true,
        },
      ],
    };
  },
  created() {
    this.getAccessRights();
    this.getRoles();
    const employeeModules = JSON.parse(localStorage.employee).modules;
    employeeModules.forEach((employeeModule) => {
      if (employeeModule.status.toLowerCase() === "active") {
        employeeModule.actions.forEach((action) => {
          if (action.status.toLowerCase() === "active") {
            if (action.description.toLowerCase() === "add role") {
              this.actions.hasAdd = true;
            } else if (action.description.toLowerCase() === "edit role") {
              this.actions.hasEdit = true;
            }
          }
        });
      }
    });

    if (!this.actions.hasEdit) {
      const actionFieldIndex = this.fields.findIndex(
        (field) => field.key === "action"
      );
      this.fields.splice(actionFieldIndex, 1);
    }
  },
  computed: {
    loadRoles() {
      const returnRole = this.roles.filter((roleFilter) => {
        const roleName = roleFilter.name;
        const result =
          roleName.toLowerCase().match(this.filter) ||
          roleName.toUpperCase().match(this.filter) ||
          roleName.match(this.filter);
        return result;
      });
      this.totalRows = returnRole.length;
      return returnRole;
    },
  },

  methods: {
    async getAccessRights(role, employee_id, token) {
      const employeeData = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/access_rights`,
        data: {
          employee_id: employeeData.id,
          modules: employeeData.modules,
        },

        headers: {
          authorization: "Bearer " + employeeData.token,
        },
      })
        .then((res) => {
          if (isArray(res.data.access_rights)) {
            this.accessRightsData = [];
            res.data.access_rights.map((access_rights) =>
              this.accessRightsData.push({
                ...access_rights,
                action_description: access_rights.action.description,
                role_name: access_rights.role.name,
              })
            );
          }

          if (isArray(res.data.actions)) {
            this.actionsData = [];
            this.actionsData = res.data.actions.filter(
              (action) => action.status === "Active"
            );
          }
          if (isArray(res.data.roles)) {
            this.rolesData = [];
            this.rolesData = res.data.roles.filter(
              (role) => role.status === "Active"
            );
          }
        })
        .catch((err) => {});
    },
    displayToast(action, data) {
      this.$bvToast.toast(`${action} ${data} role`, {
        id: "toast-display-role",
        title: `Successfully ${action}`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "primary",
        toaster: "b-toaster-bottom-right",
        solid: false,
      });
    },
    clearFormData() {
      this.rolesFields = {
        id: null,
        name: null,
        status: null,
      };
    },
    addRoleModal() {
      this.clearFormData();
      this.createModal = true;
    },
    cancel() {
      this.clearFormData();

      this.editModal = false;
      this.createModal = false;
    },
    async getRoles(role, employee_id, token) {
      const employeeData = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/roles/`,
        data: {
          employee_id: employeeData.id,
          modules: employeeData.modules,
        },

        headers: {
          authorization: "Bearer " + employeeData.token,
        },
      })
        .then((res) => {
          if (isArray(res.data)) {
            this.roles = [];
            res.data.map((role) =>
              this.roles.push({
                id: role.id,
                name: role.name,
                status: role.status,
              })
            );
          }

          this.totalRows = this.roles.length;
        })
        .catch((err) => {});
    },
    async updateRoleModal(roleData) {
      this.actionGroupGatepass = [];
      this.actionGroupRequest = [];
      this.actionGroupReport = [];
      this.actionGroupAdmin = [];
      this.selectedActions = [];
      this.modules = [];
      const employeeData = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/access_rights/${roleData.id}`,
        data: {
          employee_id: employeeData.id,
          modules: employeeData.modules,
        },

        headers: {
          authorization: "Bearer " + employeeData.token,
        },
      })
        .then((res) => {
          for (
            let counter = 0;
            counter < res.data.actionsByRole.length;
            counter++
          ) {
            this.selectedActions.push(
              res.data.actionsByRole[counter].action_id
            );
          }

          for (let index = 0; index < res.data.modules.length; index++) {
            let actions = [];

            for (
              let index2 = 0;
              index2 < res.data.modules[index].actions.length;
              index2++
            ) {
              actions.push({
                text: res.data.modules[index].actions[index2].description,
                value: res.data.modules[index].actions[index2].id,
              });
            }

            this.modules.push({
              id: res.data.modules[index].id,
              description: res.data.modules[index].description,
              actions: actions,
            });
          }

          // for (let index = 0; index < res.data.actions.length; index++) {

          // if (res.data.actions[index].module_id === 1) {
          //   this.actionGroupAdmin.push({
          //     text: res.data.actions[index].description,
          //     value: res.data.actions[index].id
          //   });
          // }
          //   else if (res.data.actions[index].module_id === 2) {
          //     this.actionGroupGatepass.push({
          //       text: res.data.actions[index].description,
          //       value: res.data.actions[index].id
          //     });
          //   } else if (res.data.actions[index].module_id === 3) {
          //     this.actionGroupRequest.push({
          //       text: res.data.actions[index].description,
          //       value: res.data.actions[index].id
          //     });
          //   } else if (res.data.actions[index].module_id === 4) {
          //     this.actionGroupReport.push({
          //       text: res.data.actions[index].description,
          //       value: res.data.actions[index].id
          //     });
          //   }
          // }
        })
        .catch((err) => {});

      const roleName = roleData.name.split("-");
      this.rolesFields = {
        id: roleData.id,
        name: roleName[1] ? roleName[1] : null,
        prefix: roleName[0],
        status: roleData.status,
      };
      this.editModal = true;
    },
    addRole() {
      const employeeData = JSON.parse(localStorage.employee);

      axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/roles/add_role`,
        headers: {
          authorization: "Bearer " + employeeData.token,
        },
        data: {
          name: `${this.rolesFields.prefix}-${this.rolesFields.name}`,
          created_by: employeeData.id,
          modules: employeeData.modules,
        },
      })
        .then((res) => {
          if (res.status === 201) {
            this.roles.push({ ...res.data });

            this.createModal = false;
            this.clearFormData();
            this.displayToast("Added", res.data.name);
          }
        })
        .catch((err) => {
          this.addingError = err.response.data;
          this.errorMsg = true;
        });
    },
    updateRoles() {
      const employeeData = JSON.parse(localStorage.employee);

      axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/admin/roles/update_role`,
        headers: { Authorization: "Bearer " + employeeData.token },
        data: {
          id: this.rolesFields.id,
          name: `${this.rolesFields.prefix}-${this.rolesFields.name}`,
          status: this.rolesFields.status,
          updated_by: employeeData.id,
          modules: employeeData.modules,
          actions: this.selectedActions,
        },
      })
        .then((res) => {
          if (typeof res.data === "object") {
            const roleIndex = this.roles.findIndex(
              (role) => role.id === res.data.id
            );

            this.roles.splice(roleIndex, 1);
            this.roles.push({ ...res.data });

            this.editModal = false;
            this.clearFormData();
            this.displayToast("Updated", res.data.name);
          }
          this.selectedActions = [];
        })
        .catch((err) => {
          this.addingError = err.response.data;
          this.errorMsg = true;
        });
    },
  },
};
</script>

<style>
.date_width {
  width: 100%;
  font-size: 1rem;
}
#role-table tbody tr:hover {
  background-color: #e9ecef;
}
</style>
