<template>
  <div class="mx-2">
    <b-breadcrumb :items="reportPath" id="breadcrumb-path"></b-breadcrumb>
    <b-card>
      <b-row>
        <b-col lg="4" md="10" sm="12">
          <b-button
            variant="primary"
            @click="addEmployeeModal"
            id="employee-add-button"
            v-if="actions.hasAdd"
          >Add Employee</b-button>
        </b-col>
        <b-col lg="3" sm="12" md="12">
          <b-input-group prepend="Departments">
            <b-form-select
              v-model="selectedDepartmentforFilter"
              style="z-index:0"
              id="selected-department"
            >
              <option slot="first" :value="``">All</option>
              <option
                v-for="(department,i) in departmentsData"
                :key="i"
                :value="department.name"
              >{{department.name}}</option>
            </b-form-select>
          </b-input-group>
        </b-col>
        <b-col lg="3" sm="12" md="12">
          <b-input-group prepend="Teams">
            <b-form-select style="z-index:0" v-model="selectedTeamforFilter" id="selected-teams">
              <option slot="first" :value="``">All</option>
              <option v-for="(team,i) in getTeamsData" :key="i" :value="team.name">{{team.name}}</option>
            </b-form-select>
          </b-input-group>
        </b-col>
        <b-col lg="2">
          <b-input-group prepend="Items">
            <b-form-select style="z-index:0" v-model="perPage">
              <option v-for="value in values" :key="value" :value="value">{{value}}</option>
            </b-form-select>
          </b-input-group>
        </b-col>
        <b-col lg="12" sm="10" md="10">
          <b-input-group>
            <b-form-input
              style="z-index:0"
              class="mt-3 mb-2"
              v-model="filter"
              placeholder="Type to search"
              id="employee-search"
            ></b-form-input>
            <b-input-group-append>
              <b-button
                :disabled="!filter"
                @click="filter = ''"
                id="employee-clear"
                class="mt-3 mb-2"
              >Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>
        <b-form-checkbox
          class="mt-2 ml-3"
          @change="selectAll"
          :disabled="loadEmployees.length === 0"
          :checked="selectedItems.length === loadEmployees.length && loadEmployees.length !== 0"
        >Select All</b-form-checkbox>

        <b-col lg="3" md="6" sm="12" v-show="selectedItems.length > 0">
          <b-button variant="secondary" @click="generateMultipleBarcode">
            <div v-if="loading === false">
              <v-icon dark small class="mr-2">fa-barcode</v-icon>Generate
            </div>
            <div v-if="loading===true">
              <b-spinner variant="light" small></b-spinner>
            </div>
          </b-button>
        </b-col>
      </b-row>

      <b-table
        class="mt-2"
        id="employee-table"
        responsive
        :filter="filter"
        show-empty
        empty-text="There are no employees to display"
        :empty-filtered-text="`No search for ${filter} `"
        :items="loadEmployees"
        :fields="fields"
        :per-page="perPage"
        :current-page="currentPage"
        sort-by="first_name"
      >
        <template slot="HEAD_index">
          <b-form-checkbox v-show="employees.length < 0" id="select-all-print"></b-form-checkbox>
        </template>

        <template slot="index" id="select-item" slot-scope="data">
          <b-form-checkbox name="selected-items" v-model="selectedItems" :value="data.item"></b-form-checkbox>
        </template>

        <template slot="actions" slot-scope="row">
          <b-button
            id="employee-edit-btn"
            size="sm"
            @click="updateEmployeeModal(row.item)"
            v-if="actions.hasEdit"
            class="mr-1"
            block
          >Edit</b-button>
          <b-button
            id="employee-edit-btn"
            size="sm"
            class="mr-1 my-1"
            @click="resetEmployeePasswordModal(row.item)"
            v-if="actions.hasReset"
            block
          >Reset Password</b-button>
        </template>
      </b-table>
      <div class="text-center" v-if="loadEmployees.length === 0 ">
        <b-spinner variant="primary"></b-spinner>
      </div>
      <br />
      <b-row align-h="center" v-if="employees.length > 0">
        <b-col lg="5" md="5" align-self="center">
          <b-pagination
            align="center"
            id="employees-pagination"
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            aria-controls="my-table"
          ></b-pagination>
        </b-col>
      </b-row>
    </b-card>
    <b-modal
      no-fade
      ref="modal"
      v-model="createModal"
      title="Create Employee"
      id="employee-add-modal"
      :hide-footer="true"
      size="xl"
    >
      <b-form @submit.stop.prevent="createEmployee" id="employee-add-form">
        <b-row>
          <b-col cols="4">
            <b-form-group id="employee-form-upload-picture" label="Employee Profile">
              <b-form-file
                v-model="employeeImage"
                placeholder="Choose a file..."
                drop-placeholder="Drop file here..."
                @change="onFileChange"
                accept="image/jpg, image/jpeg, image/png"
                id="employee-form-file"
                class="mb-5 rounded-circle"
                ref="file-input"
              ></b-form-file>
              <center>
                <img
                  v-show="itemPreviewImage"
                  :src="itemPreviewImage"
                  id="employee-image-preview"
                  height="200"
                  width="200"
                />
              </center>
            </b-form-group>
          </b-col>
          <b-col cols="8">
            <b-row col="mb-1">
              <b-col cols="3">
                <label for="employee-input-id">ID Number</label>
                <b-form-input
                  id="employee-input-id"
                  placeholder="ID Number"
                  v-model="employeeFields.id"
                  required
                ></b-form-input>
              </b-col>
              <b-col cols="9">
                <b-row>
                  <b-col cols="6">
                    <b-form-group label="Role" id="employee-form-select-role">
                      <b-form-select
                        id="employee-role-selected"
                        v-model="employeeFields.role_id"
                        required
                      >
                        <option :value="``" disabled>Select Employee Role</option>
                        <option
                          v-for="(roles,i) in rolesData"
                          :value="roles.id"
                          :key="i"
                        >{{roles.name}}</option>
                      </b-form-select>
                    </b-form-group>
                  </b-col>
                  <b-col cols="6" v-if="!isAdmin">
                    <b-form-group label="Payroll Group" id="employee-form-select-payroll_group">
                      <b-form-select
                        id="employee-role-selected"
                        v-model="employeeFields.payroll_group"
                        required
                      >
                        <option :value="``" disabled>Select Employee Payroll Group</option>
                        <option value="office_payroll">Office Payroll</option>
                        <option value="manager_payroll">Manager Payroll</option>
                      </b-form-select>
                    </b-form-group>
                  </b-col>
                </b-row>
              </b-col>
            </b-row>
            <b-row class="mb-2">
              <b-col cols="4">
                <label for="employee-input-first-name">First Name</label>
                <b-form-input
                  id="employee-input-first-name"
                  placeholder="First Name"
                  v-model="employeeFields.first_name"
                  required
                ></b-form-input>
              </b-col>
              <b-col cols="4">
                <label for="employee-input-middle-name">Middle Name</label>
                <b-form-input
                  id="employee-input-middle-name"
                  placeholder="Middle Name"
                  v-model="employeeFields.middle_name"
                ></b-form-input>
              </b-col>
              <b-col cols="4">
                <label for="employee-input-last-name">Last Name</label>
                <b-form-input
                  id="employee-input-last-name"
                  placeholder="Last Name"
                  v-model="employeeFields.last_name"
                  required
                ></b-form-input>
              </b-col>
            </b-row>
            <div v-if="isAdmin">
              <label class="mb-2 mr-sm-2 mb-sm-0">E-mail</label>
              <b-form-input
                type="email"
                v-model="employeeFields.email"
                :required="isAdmin"
                id="employee-input-email"
              ></b-form-input>
            </div>
            <b-form-group label="Department" id="employee-form-select-department" v-if="!isAdmin">
              <b-form-select v-model="selectedDepartment" id="employee-select-department">
                <option :value="``" disabled>Select Employee Department</option>
                <option :value="``">None</option>
                <option
                  v-for="(department,i) in departmentsData"
                  :value="i"
                  :key="i"
                >{{department.name}}</option>
              </b-form-select>
            </b-form-group>
            <b-form-group label="Team" id="employee-form-select-team" v-if="!isAdmin">
              <b-form-select v-model="selectedTeam" id="employee-select-team">
                <option :value="``" disabled>Select Employee Team</option>
                <option :value="``">None</option>
                <option v-for="(team,i) in getTeams" :value="i" :key="i">{{team.name}}</option>
              </b-form-select>
            </b-form-group>
            <b-form-group label="Position" id="employee-form-select-position" v-if="!isAdmin">
              <b-form-select v-model="employeeFields.position_id" id="employee-select-position">
                <option :value="``">Select Employee Position</option>
                <option :value="``">None</option>
                <option
                  v-for="(position,i) in getPositions"
                  :key="i"
                  :value="position.id"
                >{{position.name}}</option>
              </b-form-select>
            </b-form-group>
            <b-row v-if="!isAdmin">
              <b-col cols="6">
                <b-form-group id="employee-form-offsite">
                  <b-form-checkbox
                    v-model="employeeFields.is_offsite"
                    id="offsite-checkbox"
                  >Off-site</b-form-checkbox>
                </b-form-group>
              </b-col>
            </b-row>
          </b-col>
        </b-row>

        <hr />

        <div align="right">
          <b-row align-h="end">
            <b-button @click="cancel()" id="employee-cancel-modal" class="mr-2">Cancel</b-button>
            <b-button type="submit" variant="primary" id="employee-ok-modal" class="mr-3">Create</b-button>
          </b-row>
        </div>
      </b-form>
      <v-snackbar
        color="red"
        id="employee-snackbar-error"
        :bottom="true"
        :right="true"
        v-model="errorMsg"
      >
        <v-icon color="white" class="mr-3">mdi-error</v-icon>
        <div>{{addingError}}</div>
        <v-icon size="16" @click="errorMsg = false" id="employee-close-error">mdi-close-circle</v-icon>
      </v-snackbar>
    </b-modal>
    <b-modal
      no-fade
      size="xl"
      ref="editModal"
      v-model="editModal"
      title="Edit Employee"
      :hide-footer="true"
      id="employee-edit-modal"
    >
      <b-form @submit.stop.prevent="updateEmployee" id="employee-edit-form">
        <b-row>
          <b-col cols="4">
            <b-form-group label="Employee Picture (Optional)">
              <b-form-file
                id="employee-select-img"
                v-model="employeeImage"
                placeholder="Choose a file..."
                drop-placeholder="Drop file here..."
                accept="image/jpg, image/jpeg, image/png"
                @change="onFileChange"
                class="mb-5 rounded-circle"
                ref="file-input"
              ></b-form-file>
              <center>
                <img
                  id="employee-edit-img"
                  center
                  v-show="itemPreviewImage"
                  :src="itemPreviewImage"
                  height="200"
                  width="200"
                />
              </center>
            </b-form-group>
          </b-col>
          <b-col cols="8">
            <b-row col="mb-1">
              <b-col cols="3">
                <label for="employee-input-edit-id">ID Number</label>
                <b-form-input
                  placeholder="ID Number"
                  v-model="employeeFields.id"
                  disabled
                  required
                  id="employee-input-edit-id"
                ></b-form-input>
              </b-col>
              <b-col cols="9">
                <b-row>
                  <b-col cols="6">
                    <b-form-group label="Role">
                      <b-form-select
                        v-model="employeeFields.role_id"
                        required
                        id="employee-select-role"
                      >
                        <option :value="``" disabled>Select Employee Role</option>
                        <option
                          v-for="(roles,i) in rolesData"
                          :value="roles.id"
                          :key="i"
                        >{{roles.name}}</option>
                      </b-form-select>
                    </b-form-group>
                  </b-col>
                  <b-col cols="6" v-if="!isAdmin">
                    <b-form-group label="Payroll Group" id="employee-form-select-payroll_group">
                      <b-form-select
                        v-model="employeeFields.payroll_group"
                        id="employee-select-payroll_group"
                        required
                      >
                        <option :value="``" disabled>Select Employee Payroll Group</option>
                        <option value="office_payroll">Office Payroll</option>
                        <option value="manager_payroll">Manager Payroll</option>
                      </b-form-select>
                    </b-form-group>
                  </b-col>
                </b-row>
              </b-col>
            </b-row>
            <b-row class="mb-2">
              <b-col cols="4">
                <label for="employee-input-f-name">First Name</label>
                <b-form-input
                  id="employee-input-f-name"
                  placeholder="First Name"
                  v-model="employeeFields.first_name"
                  required
                ></b-form-input>
              </b-col>
              <b-col cols="4">
                <label for="employee-input-m-name">Middle Name</label>
                <b-form-input
                  id="employee-input-m-name"
                  placeholder="Middle Name"
                  v-model="employeeFields.middle_name"
                ></b-form-input>
              </b-col>
              <b-col cols="4">
                <label for="employee-input-l-name">Last Name</label>
                <b-form-input
                  id="employee-input-l-name"
                  placeholder="Last Name"
                  v-model="employeeFields.last_name"
                  required
                ></b-form-input>
              </b-col>
            </b-row>
            <b-row class="mb-2">
              <b-col>
                <div v-if="isAdmin">
                  <label class="mb-2 mr-sm-2 mb-sm-0">E-mail</label>
                  <b-form-input
                    type="email"
                    v-model="employeeFields.email"
                    :required="isAdmin"
                    id="employee-input-email"
                  ></b-form-input>
                </div>
              </b-col>
            </b-row>
            <b-row v-if="!isAdmin">
              <b-col cols="6">
                <b-form-group label="Department" id="employee-form-select-department">
                  <b-form-select
                    v-model="selectedDepartment"
                    id="employee-select-department"
                    @change="removePosition"
                  >
                    <option :value="``" disabled>Select Employee Department</option>
                    <option :value="``">None</option>
                    <option
                      v-for="(department,i) in departmentsData"
                      :value="i"
                      :key="i"
                    >{{department.name}}</option>
                  </b-form-select>
                </b-form-group>
              </b-col>
              <b-col cols="6">
                <b-form-group label="Team" id="employee-form-select-team">
                  <b-form-select v-model="selectedTeam" id="employee-select-team">
                    <option :value="``" disabled>Select Employee Team</option>
                    <option :value="``">None</option>
                    <option v-for="(team,i) in getTeams" :value="i" :key="i">{{team.name}}</option>
                  </b-form-select>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row v-if="!isAdmin">
              <b-col cols="6">
                <b-form-group label="Position" id="employee-form-select-position">
                  <b-form-select v-model="employeeFields.position_id" id="employee-select-position">
                    <option :value="``">Select Employee Position</option>
                    <option :value="``">None</option>
                    <option
                      v-for="(position,i) in getPositions"
                      :key="i"
                      :value="position.id"
                    >{{position.name}}</option>
                  </b-form-select>
                </b-form-group>
              </b-col>
              <b-col cols="6">
                <b-form-group label="Status">
                  <b-form-select
                    id="employee-select-status"
                    placeholder="Status"
                    v-model="employeeFields.status"
                    :options="statusType"
                    required
                  ></b-form-select>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row v-if="!isAdmin">
              <b-col cols="6">
                <b-form-group id="employee-form-offsite">
                  <b-form-checkbox
                    v-model="employeeFields.is_offsite"
                    id="offsite-checkbox"
                  >Off-site</b-form-checkbox>
                </b-form-group>
              </b-col>
            </b-row>
          </b-col>
        </b-row>

        <hr />
        <div align="right">
          <b-button @click="cancel()" id="employee-edit-cancel-modal">Cancel</b-button>
          <b-button type="submit" variant="primary" id="employee-edit-ok-modal">Ok</b-button>
        </div>
      </b-form>
      <v-snackbar color="red" :bottom="true" :right="true" v-model="errorMsg">
        <v-icon color="white" class="mr-3">mdi-error</v-icon>
        <div>{{addingError}}</div>
        <v-icon size="16" @click="errorMsg = false">mdi-close-circle</v-icon>
      </v-snackbar>
    </b-modal>

    <b-modal
      no-fade
      ref="resetPasswordModal"
      v-model="resetPasswordModal"
      title="Reset Employee Password"
      id="employee-reset-password-modal"
      v-bind="employeeFields"
      @cancel="cancel()"
      @ok="resetEmployeePassword()"
    >
      Are you sure you want to reset
      <strong>{{employeeFields.first_name}} {{employeeFields.middle_name ? employeeFields.middle_name: '' }} {{employeeFields.last_name}}</strong> password?
    </b-modal>
    <b-modal
      no-fade
      ref="generateMultipleBarcodeModal"
      title="Multiple"
      v-bind="employeeFields"
      hide-footer
    >
      <center>
        The {{selectedItems.length === 1 ? `barcode is`:`barcodes are`}} ready to print or download.
        <div>
          <VueBarcode
            v-show="false"
            :key="items.id"
            v-for="items in array"
            class="mx-auto"
            :ref="items.id"
            :id="items.id"
            :value="items.id"
            :options="{ lineColor: 'black', text: items.id}"
          ></VueBarcode>
        </div>
        <br />
        <b-button
          id="download-barcode"
          class="text-center"
          size="sm"
          @click="saveBarCodeImage"
        >Download</b-button>

        <b-button
          id="print-barcode"
          class="text-center"
          size="sm"
          @click="printBarCodeImageSelect"
        >Print</b-button>
      </center>
    </b-modal>
  </div>
</template>

<script>
import axios from "axios";
import { isArray } from "util";
import { locales } from "moment";
import VueBarcode from "@xkeshi/vue-barcode";
export default {
  components: {
    VueBarcode,
  },
  head() {
    return {
      titleTemplate: "%s - Reports",
    };
  },
  data() {
    return {
      sortBy: "first_name",
      perPage: 10,
      totalRows: 1,
      currentPage: 1,
      filterActive: "",
      values: ["5", "10", "25", "50", "100"],
      loading: false,
      errorMsg: false,
      addingError: ``,
      itemPreviewImage: ``,
      employeeImage: ``,
      employees: [],
      employeeFields: {
        id: ``,
        first_name: ``,
        last_name: ``,
        middle_name: ``,
        role_id: ``,
        email: ``,
        payroll_group: ``,
        position_id: ``,
        img_profile_path: ``,
        status: ``,
        is_offsite: false,
      },
      selectedItems: [],
      rolesData: [],
      positionsData: [],
      selectedTeam: ``,
      departmentsData: [],
      selectedDepartmentforFilter: ``,
      selectedTeamforFilter: ``,
      selectedDepartment: ``,
      selectedAll: false,
      actions: {
        hasAdd: false,
        hasEdit: false,
        hasReset: false,
      },
      fields: [
        {
          key: "index",
          label: "",
        },
        {
          key: "id",
          label: "ID",
        },
        {
          key: "first_name",
          label: "First Name",
        },
        {
          key: "middle_name",
          label: "Middle Name",
        },
        {
          key: "last_name",
          label: "Last Name",
        },
        {
          key: "role.name",
          label: "Role",
        },
        {
          key: "payroll_group",
          label: "Payroll Group",
        },
        {
          key: "position.name",
          label: "Position",
        },

        {
          key: "team.name",
          label: "Team",
        },
        {
          key: "department.name",
          label: "Department",
        },
        {
          key: "status",
          label: "Status",
        },
        {
          key: "actions",
          label: "Action",
        },
      ],
      statusType: ["Active", "Inactive"],
      createModal: false,
      editModal: false,
      resetPasswordModal: false,
      generateBarCodeValue: {
        id: 1234124,
        name: "",
      },

      array: [],
      filter: "",

      reportPath: [
        {
          text: "Home",
          to: "/dashboard/",
        },
        {
          text: "Admin Dashboard",
          to: "/dashboard/admin-dashboard",
        },
        {
          text: "Employees",
          to: "/dashboard/admin-dashboard/employees",
          active: true,
        },
      ],
    };
  },
  computed: {
    isAdmin() {
      const role = this.rolesData.find(
        (role) => role.id === this.employeeFields.role_id
      );
      let admin = false;

      if (this.employeeFields.role_id) {
        if (
          role.name.split("-")[0].toLowerCase() === "admin" ||
          role.name.split("-").pop().toLowerCase() === "admin" ||
          role.name.split("-")[0].toLowerCase() === "pg"
        ) {
          admin = true;
        }
      }
      return admin;
    },
    getTeams() {
      this.selectedTeam = ``;
      if (this.selectedDepartment >= 0 && this.selectedDepartment !== ``) {
        const activeTeams = this.departmentsData[
          this.selectedDepartment
        ].teams.filter((team) => team.status === "Active");
        return activeTeams;
      } else {
        return;
      }
    },
    getTeamsData() {
      this.selectedTeamforFilter = ``;
      if (this.selectedDepartmentforFilter !== ``) {
        let chosenDept = this.departmentsData.filter(
          (dept) => dept.name === this.selectedDepartmentforFilter
        );
        let teams = chosenDept[0].teams.filter(
          (team) => team.status === "Active"
        );
        return teams;
      } else {
        return;
      }
    },
    getPositions() {
      if (this.selectedDepartment >= 0 && this.selectedDepartment !== ``) {
        if (this.selectedTeam >= 0 && this.selectedTeam !== ``) {
          const activeTeams = this.departmentsData[
            this.selectedDepartment
          ].teams.filter((team) => team.status === "Active");
          const activePositions = activeTeams[
            this.selectedTeam
          ].positions.filter((position) => position.status === "Active");
          return activePositions;
        }
      }
    },
    loadEmployees() {
      return this.employees.filter((employee) => {
        const department = employee.department.name
          ? employee.department.name
          : employee.department;

        const team = employee.team.name ? employee.team.name : employee.team;

        const name = `${employee.first_name} ${
          employee.middle_name ? employee.middle_name : ``
        } ${employee.last_name}`;
        const result =
          (name.match(this.filter) ||
            name.toUpperCase().match(this.filter) ||
            name.toLowerCase().match(this.filter) ||
            employee.id.toString().match(this.filter)) &&
          department.match(this.selectedDepartmentforFilter) &&
          team.match(this.selectedTeamforFilter);
        return result;
      });
    },
  },
  created() {
    this.getEmployees();
    const employeeModules = JSON.parse(localStorage.employee).modules;
    employeeModules.forEach((employeeModule) => {
      if (employeeModule.status.toLowerCase() === "active") {
        employeeModule.actions.forEach((action) => {
          if (action.status.toLowerCase() === "active") {
            if (action.description.toLowerCase() === "add employee") {
              this.actions.hasAdd = true;
            } else if (action.description.toLowerCase() === "edit employee") {
              this.actions.hasEdit = true;
            } else if (
              action.description.toLowerCase() === "reset employee password"
            ) {
              this.actions.hasReset = true;
            }
          }
        });
      }
    });

    if (!this.actions.hasEdit && !this.actions.hasReset) {
      const actionFieldIndex = this.fields.findIndex(
        (field) => field.key === "action"
      );
      this.fields.splice(actionFieldIndex, 1);
    }
  },
  updated() {
    this.totalRows = this.loadEmployees.length;
  },

  methods: {
    generateMultipleBarcode(employee) {
      this.array = [];
      let tempLink;
      this.selectedItems.forEach((employee) => {
        this.array.push({
          id: employee.id,
          name: `${employee.first_name} ${employee.middle_name} ${employee.last_name}`,
        });
      });
      this.$refs["generateMultipleBarcodeModal"].show();
    },
    printBarCodeImageSelect() {
      let windowContent = "<!DOCTYPE html>";
      windowContent += "<html>";
      windowContent += "<body>";

      this.array.forEach((item) => {
        let tempLink = document.getElementById(item.id);
        let data = tempLink.toDataURL("image/png");
        windowContent +=
          '<img src="' + data + '" style="height: 87px; width:117px">';
      });
      windowContent += "</body>";
      windowContent += "</html>";
      const printWin = window.open(
        "",
        "",
        "width=" + screen.availWidth + ",height=" + screen.availHeight
      );

      printWin.document.open();
      printWin.document.write(windowContent);

      printWin.document.addEventListener(
        "load",
        function () {
          printWin.focus();
          printWin.print();
          printWin.document.close();
          printWin.close();
        },
        true
      );
    },
    saveBarCodeImage() {
      this.array.forEach((item) => {
        let tempLink = document.getElementById(item.id);
        let data = tempLink.toDataURL("image/png");
        let url = document.createElement("a");
        url.href = data;
        url.download = `${item.name}-barcode.png`;
        document.body.appendChild(url);
        url.click();
      });
    },
    selectAll() {
      if (this.selectedItems.length === this.loadEmployees.length) {
        this.selectedItems = [];
        this.selectedAll = false;
      } else {
        // this.$refs.employeeTable.selectAllRows();
        this.$refs.employeeTable.selectedRows = this.$refs.employeeTable.$options.propsData.items;
        this.selectedItems = this.$refs.employeeTable.selectedRows;
        this.selectedAll = true;
      }
    },
    removePosition() {
      this.employeeFields.position_id = ``;
    },
    displayToast(action, data) {
      this.$bvToast.toast(`${action} ${data}`, {
        id: "toast-display-employee",
        title: `Successfully ${action}`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "primary",
        toaster: "b-toaster-bottom-right",
        solid: false,
      });
    },

    displayToastImg(action, data) {
      this.$bvToast.toast(`${action} ${data}`, {
        id: "toast-wrong-image",
        title: `Invalid File Format`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "danger",
        toaster: "b-toaster-bottom-right",
        solid: false,
      });
    },

    addEmployeeModal() {
      this.clearFormData();
      this.createModal = true;
    },
    clearFormData() {
      this.employeeFields = {
        id: ``,
        first_name: ``,
        last_name: ``,
        middle_name: ``,
        role_id: ``,
        email: ``,
        position_id: ``,
        img_profile_path: ``,
        status: ``,
        payroll_group: ``,
      };
      this.selectedTeam = ``;
      this.itemPreviewImage = ``;
    },
    cancel() {
      this.clearFormData();
      this.editModal = false;
      this.createModal = false;
    },

    resetEmployeePassword() {
      const employeeData = JSON.parse(localStorage.employee);
      axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/admin/employees/reset_password`,
        headers: {
          authorization: "Bearer " + employeeData.token,
        },
        data: {
          id: this.employeeFields.id,
          employee_id: employeeData.id,
          modules: employeeData.modules,
        },
      })
        .then((res) => {
          this.clearFormData();
          this.resetPasswordModal = false;
          this.displayToast(
            "Updated",
            `${res.data.first_name} ${res.data.middle_name} ${res.data.last_name}`
          );
        })
        .catch((err) => {});
    },
    resetEmployeePasswordModal(employeeData) {
      this.employeeFields.id = employeeData.id;
      this.employeeFields.first_name = employeeData.first_name;
      this.employeeFields.middle_name = employeeData.middle_name;
      this.employeeFields.last_name = employeeData.last_name;
      this.resetPasswordModal = true;
    },
    onFileChange(evt) {
      const files = evt.target.files || evt.dataTransfer.files;
      if (!files.length) return;
      if (files[0].type === "image/jpeg" || files[0].type === "image/png") {
        this.createImage(files[0]);
      } else {
        this.displayToastImg(`${files[0].name}`, "is not a valid image");
        this.$refs["file-input"].reset();
        this.itemPreviewImage = "";
      }
    },
    createImage(file) {
      const image = new Image();
      const reader = new FileReader();

      reader.onload = (evt) => {
        this.itemPreviewImage = evt.target.result;
      };

      reader.readAsDataURL(file);
    },

    async uploadEmployeeImage(token) {
      const fd = new FormData();
      if (this.employeeImage) {
        fd.append("image", this.employeeImage, this.employeeImage.name);
        await axios
          .post(
            `${this.$axios.defaults.baseURL}/admin/employees/upload_file`,
            fd,
            {
              headers: { Authorization: `Bearer ${token}` },
            }
          )
          .then((res) => {
            this.employeeFields.img_profile_path = res.data.path;
            return;
          })
          .catch((err) => {
            this.addingError = err.response.data;
            this.errorMsg = true;
          });
      }
    },

    async updateEmployee() {
      const employeeData = JSON.parse(localStorage.employee);
      await this.uploadEmployeeImage(employeeData.token);

      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/admin/employees/update_employee`,
        data: {
          id: this.employeeFields.id,
          first_name: this.employeeFields.first_name,
          middle_name: this.employeeFields.middle_name,
          last_name: this.employeeFields.last_name,
          position_id: this.employeeFields.position_id,
          payroll_group: this.employeeFields.payroll_group,
          role_id: this.employeeFields.role_id,
          email: this.employeeFields.email,
          img_profile_path: this.employeeFields.img_profile_path,
          status: this.employeeFields.status,
          is_offsite: this.employeeFields.is_offsite,
          updated_by: employeeData.id,
          modules: employeeData.modules,
        },
        headers: {
          authorization: "Bearer " + employeeData.token,
        },
      })
        .then((res) => {
          if (typeof res.data === "object") {
            const positionName = res.data.position_id
              ? this.positionsData.find(
                  (position) => position.id === res.data.position_id
                )
              : ``;
            const employeeRole = this.rolesData.find(
              (role) => role.id === res.data.role_id
            );

            const teamName = positionName ? positionName.team : ``;
            const departmentName = positionName
              ? positionName.team.department
              : ``;

            const employeeIndex = this.employees.findIndex(
              (employee) => employee.id === res.data.id
            );
            this.employees.splice(employeeIndex, 1);
            this.employees.unshift({
              ...res.data,
              position: positionName ? positionName : "",
              team: teamName ? teamName : "",
              department: departmentName ? departmentName : "",
              role: employeeRole,
            });

            this.clearFormData();
            this.editModal = false;
            this.displayToast(
              "Updated",
              `${res.data.first_name} ${res.data.middle_name} ${res.data.last_name}`
            );
          }
        })
        .catch((err) => {
          this.addingError = err.response.data;
          this.errorMsg = true;
        });
    },
    async updateEmployeeModal(employeeData) {
      this.employeeFields.is_offsite = employeeData.is_offsite;
      this.employeeFields.id = employeeData.id;
      this.employeeFields.first_name = employeeData.first_name;
      this.employeeFields.last_name = employeeData.last_name;
      this.employeeFields.middle_name = employeeData.middle_name;
      this.employeeFields.role_id = employeeData.role_id;
      this.employeeFields.email = employeeData.email;
      this.employeeFields.position_id = employeeData.position_id
        ? employeeData.position_id
        : ``;
      this.employeeFields.payroll_group = employeeData.payroll_group;
      this.employeeFields.status = employeeData.status;
      this.employeeFields.img_profile_path = employeeData.img_profile_path;
      this.itemPreviewImage = `${this.$axios.defaults.baseURL}/${employeeData.img_profile_path}`;
      this.selectedDepartment = employeeData.department
        ? await this.departmentsData.findIndex(
            (department) => department.id === employeeData.department.id
          )
        : ``;
      this.selectedTeam = employeeData.team
        ? await this.departmentsData[this.selectedDepartment].teams
            .filter((team) => team.status === "Active")
            .findIndex((team) => team.id === employeeData.team.id)
        : ``;

      this.editModal = true;
    },

    async getEmployees() {
      const employeeData = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/employees`,
        data: {
          employee_id: employeeData.id,
          modules: employeeData.modules,
        },

        headers: {
          authorization: "Bearer " + employeeData.token,
        },
      })
        .then((res) => {
          if (isArray(res.data.employees)) {
            this.employees = [];
            res.data.employees.map((employee) =>
              this.employees.push({
                id: employee.id,
                first_name: employee.first_name,
                middle_name: employee.middle_name,
                last_name: employee.last_name,
                email: employee.email,
                position: employee.position
                  ? { id: employee.position.id, name: employee.position.name }
                  : ``,
                team: employee.position
                  ? {
                      id: employee.position.team.id,
                      name: employee.position.team.name,
                    }
                  : ``,
                department: employee.position
                  ? {
                      id: employee.position.team.department.id,
                      name: employee.position.team.department.name,
                    }
                  : ``,
                is_offsite: employee.is_offsite,
                payroll_group: employee.payroll_group,
                status: employee.status,
                position_id: employee.position_id,
                role_id: employee.role_id,
                role: { id: employee.role.id, name: employee.role.name },
                img_profile_path: employee.img_profile_path,
              })
            );
          }
          if (isArray(res.data.positions)) {
            this.positionsData = [];
            this.positionsData = res.data.positions.filter(
              (position) => position.status === "Active"
            );
          }

          if (isArray(res.data.roles)) {
            this.rolesData = [];
            this.rolesData = res.data.roles.filter(
              (role) => role.status === "Active"
            );
            function compareRole(a, b) {
              if (a.name < b.name) {
                return -1;
              }
              if (a.name > b.name) {
                return 1;
              }
              return 0;
            }
            this.rolesData.sort(compareRole);
          }

          if (isArray(res.data.departments)) {
            this.departmentsData = [];
            this.departmentsData = res.data.departments.filter(
              (department) => department.status === "Active"
            );
            function compareDept(a, b) {
              if (a.name < b.name) {
                return -1;
              }
              if (a.name > b.name) {
                return 1;
              }
              return 0;
            }
            this.departmentsData.sort(compareDept);
          }
        })
        .catch((err) => {
          this.addingError = err.response.data;
          this.errorMsg = true;
        });
    },

    async createEmployee() {
      const employeeData = JSON.parse(localStorage.employee);
      await this.uploadEmployeeImage(employeeData.token);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/employees/add_employee`,
        data: {
          id: this.employeeFields.id,
          first_name: this.employeeFields.first_name,
          middle_name: this.employeeFields.middle_name,
          last_name: this.employeeFields.last_name,
          position_id: this.employeeFields.position_id,
          payroll_group: this.employeeFields.payroll_group,
          email: this.employeeFields.email,
          role_id: this.employeeFields.role_id,
          img_profile_path: this.employeeFields.img_profile_path,
          is_offsite: this.employeeFields.is_offsite,
          created_by: employeeData.id,
          modules: employeeData.modules,
          adminEmail: employeeData.email,
        },
        headers: {
          authorization: "Bearer " + employeeData.token,
        },
      })
        .then((res) => {
          if (res.status === 201) {
            const positionName = res.data.position_id
              ? this.positionsData.find(
                  (position) => position.id === res.data.position_id
                )
              : ``;

            const employeeRole = this.rolesData.find(
              (role) => role.id === res.data.role_id
            );
            const teamName = positionName ? positionName.team : ``;
            const departmentName = positionName
              ? positionName.team.department
              : ``;

            this.employees.unshift({
              ...res.data,
              position: positionName,
              team: teamName,
              department: departmentName,
              role: employeeRole,
            });

            this.clearFormData();
            this.displayToast(
              "Added",
              `${res.data.first_name} ${res.data.middle_name} ${res.data.last_name}`
            );
            this.createModal = false;
          }
        })
        .catch((err) => {
          this.addingError = err.response.data;
          this.errorMsg = true;
        });
    },

    saveEmployee() {
      const index = this.employees.findIndex(
        (emp) => emp.id === this.employeeFields.id
      );
      if (index !== -1) {
        this.employees.splice(index, 1, this.employeeFields);
      }
      this.employeeFields = [];
    },
  },
};
</script>

<style>
.date_width {
  width: 100%;
  font-size: 1rem;
}
</style>

