<template>
    <div>
        
<b-row class>
        <b-col lg="12" md="12" sm="12" align-self="center">
          <b-input-group size="lg">
            <b-form-input
              id="search-employee"
              autocomplete="off"
              type="search"
              autofocus
              placeholder="Search Employee"
              v-model="searchNewEmployee"
              class="form-control-lg"
            ></b-form-input>
          </b-input-group>
        </b-col>
      </b-row>
      <div
        id="no_results"
        class="text-center display-1 white--text mt-2 overflow-auto"
        v-show="noResults()"
      >{{emptyText}}</div>
      <b-row class v-show="filterSearchFound">
        <b-col lg="6" md="6" sm="12">
          <h1 class="white--text text-center mt-2">Approved Request</h1>
        </b-col>
        <b-col lg="6" md="6" sm="12">
          <h1 class="white--text text-center mt-2">Time In</h1>
        </b-col>
        <b-col lg="6" md="6" sm="12" align-self="start" class="tab-scroll">
          <div id="approved-container">
            <b-row
              class="mt-2 justify-center"
              v-for="employee in filterApprovedGatePass"
              :key="employee.id"
              :id="employee.id"
            >
              <b-col lg="12" md="12" align-self="center">
                <b-card v-bind:style="`background-color:${employee.gate_pass_color}`">
                  <b-row>
                    <img
                      :src="employee.img_profile_path"
                      alt="Employee"
                      class="avatar"
                      id="employee_img-time-out"
                    />
                    <b-col lg="12" md="8" class="text-center text-stroke-md" align-self="center">
                      <b-card-title>{{employee.name}}</b-card-title>
                      <b-card-text>
                        <b>{{employee.employee_id}}</b>
                      </b-card-text>
                      <b-card-text class>{{employee.gate_pass_type}}</b-card-text>
                      <b-card-text class="title">{{employee.time}}</b-card-text>
                    </b-col>
                  </b-row>

                  <b-button
                    id="time_out"
                    block
                    variant="primary"
                    @click="markTimeOutGatePass(employee.gate_pass_id)"
                    class="card-action-button mt-2 elevation-5"
                  >Time Out</b-button>
                </b-card>
              </b-col>
            </b-row>
          </div>
        </b-col>
        <b-col lg="6" md="6" sm="12" align-self="start" class="tab-scroll">
          <div id="timeIn-container">
            <b-row
              class="mt-2 justify-center"
              v-for="(employee,i) in filterTimeInGatePass"
              :key="i"
            >
              <b-col lg="12" md="12" align-self="center">
                <b-card v-bind:style="`background-color:${employee.gate_pass_color}`">
                  <b-row>
                    <img
                      :src="employee.img_profile_path"
                      alt="Employee"
                      class="avatar"
                      id="employee_img-time-in"
                    />
                    <b-col lg="12" md="8" class="text-center" align-self="center">
                      <b-card-title>{{employee.name}}</b-card-title>
                      <b-card-text>
                        <b>{{employee.employee_id}}</b>
                      </b-card-text>
                      <b-card-text class>{{employee.gate_pass_type}}</b-card-text>
                      <b-card-text class="title">{{employee.time}}</b-card-text>
                    </b-col>
                  </b-row>

                  <b-button
                    id="time_in"
                    block
                    variant="primary"
                    @click="markTimeInGatePass(employee)"
                    class="card-action-button mt-2 elevation-5"
                  >Time In</b-button>
                </b-card>
              </b-col>
            </b-row>
          </div>
        </b-col>
      </b-row>
    </div>
</template>

<script>
export default{
  
  props:{
      timeOut:{
          type:[String,Object],
          required:true,

      },
      timeIn:{
          type:[String,Object],
          required:true,
      }
  },
  computed:{    
      /**
     * #### Filter Search Found
     * @method
     * @return {Number} - Returns a number of employees found in the search bar
     *
     */
    filterSearchFound() {
      return (
        this.listOfEmployees.filter(
          employee =>
            employee.name
              .toLowerCase()
              .match(this.searchNewEmployee.toLowerCase()) ||
            employee.employee_id.toString().match(this.searchNewEmployee)
        ).length ||
        this.listOfOutEmployees.filter(
          employee =>
            employee.name
              .toLowerCase()
              .match(this.searchNewEmployee.toLowerCase()) ||
            employee.employee_id.toString().match(this.searchNewEmployee)
        ).length
      );
    },

    /**
     * #### Filter Approved Gate Pass Found
     * @method
     * @return {(string\|number)} - Returns a string or number of an employees found in the search bar
     *
     */
    filterApprovedGatePass() {
      return this.listOfEmployees.filter(employee => {
        const result =
          employee.name
            .toLowerCase()
            .match(this.searchNewEmployee.toLowerCase()) ||
          employee.employee_id.toString().match(this.searchNewEmployee);
        if (!result) {
          this.emptyText = `${this.searchNewEmployee} not found`;
        }
        return result;
      });
    },
    /**
     * #### Filter Time In Gate Pass Found
     * @method
     * @return {(string\|number)} - Returns a string or
     * number of an employees found in the search bar
     *
     */
    filterTimeInGatePass() {
      return this.listOfOutEmployees.filter(employee => {
        const result =
          employee.name
            .toLowerCase()
            .match(this.searchNewEmployee.toLowerCase()) ||
          employee.employee_id.toString().match(this.searchNewEmployee);
        if (!result) {
          this.emptyText = `${this.searchNewEmployee} not found`;
        }
        return result;
      });
    }
  
  },
  methods:{
       noResults() {
      return (
        this.listOfEmployees.filter(
          employee =>
            employee.name
              .toLowerCase()
              .match(this.searchNewEmployee.toLowerCase()) ||
            employee.employee_id.toString().match(this.searchNewEmployee)
        ).length === 0 &&
        this.listOfOutEmployees.filter(
          employee =>
            employee.name
              .toLowerCase()
              .match(this.searchNewEmployee.toLowerCase()) ||
            employee.employee_id.toString().match(this.searchNewEmployee)
        ).length === 0
      );
    },
  }
}

</script>