<template>
  <div class="header" style="width:100%" ref="formCancel">
    <b-row class="mb-3">
      <b-col lg="8" md="8" sm="8" class="mb-1"></b-col>
      <b-col lg="4" md="4" sm="4" class="mb-1">
        <b-input-group>
          <b-form-input id="search" v-model="filter" placeholder="Type to search"></b-form-input>
          <b-input-group-append>
            <b-button id="clear" :disabled="!filter" @click="filter = ''">Clear</b-button>
          </b-input-group-append>
        </b-input-group>
      </b-col>
    </b-row>
    <b-card ref="formEmployees">
      <center>
        <b-table
          style="width: 80%"
          id="employee-table"
          responsive
          borderless
          :filter="filter"
          show-empty
          empty-text="There are no employees to display"
          :empty-filtered-text="`No search for ${filter} `"
          :items="loadEmployees"
          :fields="fields"
          :per-page="perPage"
          :current-page="currentPage"
        >
          <template slot="image" slot-scope="data">
            <img
              :src="getEmpImage(data.item.img_profile_path)"
              alt
              width="50"
              height="50"
              class="rounded-circle"
            />
          </template>

          <template slot="fullname" id="select-item" slot-scope="data">
            <b-row>
              <b-col cols="10">
                <h5 name="name" :value="data.item.fullname" class="mb-0">{{data.item.fullname}}</h5>
                <small name="position" :value="data.item.position.name">{{data.item.position.name}}</small>
              </b-col>
            </b-row>
          </template>

          <template slot="actions" slot-scope="data" v-if="data.item.isHead === true">
            <b-form-checkbox
              @change="addProxy(data.item, $event)"
              size="lg"
              name="check-button"
              switch
              v-model="data.item.isApprover"
            ></b-form-checkbox>
          </template>
        </b-table>
      </center>
      <br />
      <b-row align-h="center" v-if="employees.length > 0">
        <b-col lg="5" md="5" align-self="center">
          <b-pagination
            align="center"
            id="employees-pagination"
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            aria-controls="my-table"
          ></b-pagination>
        </b-col>
      </b-row>
      <v-snackbar color="red" :bottom="true" :right="true" v-model="errorMsg" id="snackbar-error">
        <v-icon color="white" class="mr-3">mdi-error</v-icon>
        <div>{{addingError}}</div>
        <v-icon size="16" @click="errorMsg = false" id="snackbar-close-icon">mdi-close-circle</v-icon>
      </v-snackbar>
    </b-card>
  </div>
</template>

<script>
import axios from "axios";
import { isArray } from "util";
import { locales } from "moment";
import VueBarcode from "@xkeshi/vue-barcode";
export default {
  components: {
    VueBarcode
  },
  head() {
    return {
      titleTemplate: "%s - Reports"
    };
  },
  data() {
    return {
      perPage: 10,
      totalRows: 1,
      currentPage: 1,
      filterActive: "",
      values: ["5", "10", "25", "50", "100"],
      loading: false,
      errorMsg: false,
      addingError: ``,
      itemPreviewImage: ``,
      employeeImage: ``,
      employees: [],
      employeeFields: {
        id: ``,
        first_name: ``,
        last_name: ``,
        middle_name: ``,
        role_id: ``,
        email: ``,
        payroll_group: ``,
        position_id: ``,
        img_profile_path: ``,
        status: ``
      },
      selectedItems: [],
      rolesData: [],
      positionsData: [],
      selectedTeam: ``,
      departmentsData: [],
      selectedDepartmentforFilter: ``,
      selectedTeamforFilter: ``,
      selectedDepartment: ``,

      fields: [
        {
          key: "image",
          label: ""
        },
        {
          key: "fullname",
          label: "Employee"
        },
        {
          key: "actions",
          label: "Set as Proxy Approver"
        }
      ],
      statusType: ["Active", "Inactive"],
      createModal: false,
      editModal: false,
      resetPasswordModal: false,
      generateBarCodeValue: {
        id: 1234124,
        name: ""
      },
      array: [],
      filter: ""
    };
  },
  computed: {
    getTeams() {
      this.selectedTeam = ``;
      if (this.selectedDepartment >= 0 && this.selectedDepartment !== ``) {
        const activeTeams = this.departmentsData[
          this.selectedDepartment
        ].teams.filter(team => team.status === "Active");
        return activeTeams;
      } else {
        return;
      }
    },
    getTeamsData() {
      this.selectedTeamforFilter = ``;
      if (this.selectedDepartmentforFilter !== ``) {
        let chosenDept = this.departmentsData.filter(
          dept => dept.name === this.selectedDepartmentforFilter
        );
        let teams = chosenDept[0].teams.filter(
          team => team.status === "Active"
        );
        return teams;
      } else {
        return;
      }
    },
    getPositions() {
      if (this.selectedDepartment >= 0 && this.selectedDepartment !== ``) {
        if (this.selectedTeam >= 0 && this.selectedTeam !== ``) {
          const activeTeams = this.departmentsData[
            this.selectedDepartment
          ].teams.filter(team => team.status === "Active");
          const activePositions = activeTeams[
            this.selectedTeam
          ].positions.filter(position => position.status === "Active");
          return activePositions;
        }
      }
    },
    loadEmployees() {
      let employees = this.employees.filter(employee => {
        const department = employee.department.name
          ? employee.department.name
          : employee.department;

        const team = employee.team.name ? employee.team.name : employee.team;

        const name = `${employee.fullname}`;

        const result =
          name.toLowerCase().match(this.filter) ||
          name.toUpperCase().match(this.filter) ||
          name.match(this.filter) ||
          (employee.id.toString().match(this.filter) &&
            department.match(this.selectedDepartmentforFilter) &&
            team.match(this.selectedTeamforFilter));

        return result;
      });

      return employees;
    }
  },
  created() {
    this.getEmployees();
  },
  updated() {
    this.totalRows = this.loadEmployees.length;
  },

  methods: {
    getEmpImage(imagePath) {
      // const image = imagePath.split('localhost:3001/')
      return `${this.$axios.defaults.baseURL}/${imagePath}`;
    },
    displayToast(action, data) {
      this.$bvToast.toast(`${action}`, {
        id: "toast-display-employee",
        title: `Successfully ${action}`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "primary",
        toaster: "b-toaster-bottom-right",
        solid: false
      });
    },
    displayToast2(action, data) {
      this.$bvToast.toast(`${action}`, {
        id: "toast-display-employee",
        title: `Successfully ${action}`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "success",
        toaster: "b-toaster-bottom-right",
        solid: false
      });
    },
    async addProxy(item, event) {
      let url, method;
      if (event) {
        url = `${this.$axios.defaults.baseURL}/admin/proxy/add_proxy`;
        method = "POST";
      } else {
        url = `${this.$axios.defaults.baseURL}/admin/proxy/delete_proxy`;
        method = "DELETE";
      }

      const employeeData = JSON.parse(localStorage.employee);
      employeeData.employee_id = item.id;
      employeeData.department_id = item.department.id;
      employeeData.team_id = item.team.id;

      await axios({
        method,
        url,
        data: {
          body: employeeData,
          modules: employeeData.modules
        },

        headers: {
          authorization: "Bearer " + employeeData.token
        }
      })
        .then(res => {
          if (method == "POST") {
            this.displayToast2("Proxy approver set.");
          } else {
            this.displayToast("Proxy approver removed.");
          }
        })
        .catch(err => {
          this.addingError = err.response.data;
          this.errorMsg = true;
        });
    },
    async getEmployees() {
      let loader = this.$loading.show({
        container: this.$refs.formEmployees,

        color: "#0052cc",
        loader: "spinner",
        width: 128,
        height: 128,
        backgroundColor: "#ffffff",
        opacity: 0.5,
        zIndex: 999
      });
      const employeeData = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/employees/proxyemployees`,
        data: {
          employee_id: employeeData.id,
          body: employeeData,
          modules: employeeData.modules
        },

        headers: {
          authorization: "Bearer " + employeeData.token
        }
      })
        .then(res => {
          loader.hide();
          if (isArray(res.data.employees)) {
            this.employees = [];
            for (let ind = 0; ind < res.data.employees[0].length; ind++) {
              const employee = res.data.employees[0][ind];
              this.employees.push({
                id: employee.id,
                fullname:
                  employee.first_name +
                  " " +
                  employee.middle_name +
                  " " +
                  employee.last_name,
                email: employee.email,
                position: employee.position
                  ? { id: employee.position.id, name: employee.position.name }
                  : ``,
                team: employee.position
                  ? {
                      id: employee.position.team.id,
                      name: employee.position.team.name
                    }
                  : ``,
                department: employee.position
                  ? {
                      id: employee.position.team.department.id,
                      name: employee.position.team.department.name
                    }
                  : ``,
                payroll_group: employee.payroll_group,
                status: employee.status,
                position_id: employee.position_id,
                role_id: employee.role_id,
                img_profile_path: employee.img_profile_path,
                isApprover: employee.approver,
                isHead: employee.isHead
              });
            }
          }
        })
        .catch(err => {
          loader.hide();
          this.addingError = err.response.data;
          this.errorMsg = true;
        });
    }
  }
};
</script>

<style>
.schedule-bold {
  font-weight: bold;
}
#modal-timeOutDialog .modal-header {
  background-color: red;
}
.v-icon {
  width: 20px;
}
</style>
