<template>
  <div>
    <b-breadcrumb :items="reportPath"></b-breadcrumb>
  </div>
</template>

<script>
export default {
  data() {
    return {
      reportPath: [
        {
          text: "Home",
          to: "/dashboard"
        },
        {
          text: "Proxy",
          to: "/Proxy",
          active: true
        }
      ],
      
    };
  }
};
</script>
<style>
</style>
