<template>
  <div class="header" style="width:100%" ref="formCancel">
    <b-row class="mb-3">
      <b-col lg="8" md="8" sm="8" class="mb-1">
        <ToggleButton />
      </b-col>
      <b-col lg="4" md="4" sm="4" class="mb-1">
        <b-input-group>
          <b-form-input id="search" v-model="filter" placeholder="Type to search"></b-form-input>
          <b-input-group-append>
            <b-button id="clear" :disabled="!filter" @click="filter = ''">Clear</b-button>
          </b-input-group-append>
        </b-input-group>
      </b-col>
    </b-row>
    <b-table
      responsive
      hover
      selectable
      :filter="filter"
      @row-selected="rowSelected"
      :empty-filtered-text="`No search for ${filter} `"
      :items="schedule_out"
      :busy.sync="isBusy"
      ref="scheduleOutTable"
      id="schedule-out-table"
      show-empty
      :fields="fields"
    >
      <template slot="actions" slot-scope="fields">
        <b-button
          size="sm"
          variant="primary"
          v-if="fields.item.status === 'Pending'"
          @click="showAbortModal(fields)"
          style="color: white"
        >
          <v-icon color="white" small>fa-trash-alt</v-icon>
        </b-button>
        <b-button
          size="sm"
          variant="success"
          v-if="fields.item.status === 'Approved'"
          @click="showApprovedModal(fields)"
        >
          <v-icon color="white" small>fa-check-circle</v-icon>
        </b-button>

        <b-button
          size="sm"
          variant="warning"
          v-if="fields.item.status === 'Pre-Approved'"
          @click="showApprovedModal(fields)"
          style="color: white"
        >
          <v-icon color="white" small>fa-minus-circle</v-icon>
        </b-button>

        <b-button
          size="sm"
          variant="danger"
          v-if="fields.item.status === 'Time Out'"
          @click="showTimeOutModal(fields)"
          style="color: white"
        >
          <v-icon color="white" small>fa-exclamation-triangle</v-icon>
        </b-button>
      </template>
    </b-table>

    <b-modal
      no-fade
      id="modal-cancelDialog"
      centered
      title="Cancel Request"
      ok-title="Cancel Request"
      @ok="cancelRequest"
      ref="modal_cancelDialog"
      @hidden="clearSelected()"
      @close="clearSelected()"
      @cancel="clearSelected()"
    >
      <p>Do you want to cancel this request?</p>
    </b-modal>

    <b-modal
      no-fade
      id="modal-timeOutDialog"
      centered
      title="WARNING: GATEPASS NO TIME IN"
      cancel-title="Back"
      hide-footer
      ref="modal_timeOutDialog"
      @hidden="clearSelected()"
      @close="clearSelected()"
      @cancel="clearSelected()"
    >
      <b-card>
        <b-form>
          <b-form-group label="Request Type:">
            <b-form-input v-model="modalFields.request_type" disabled></b-form-input>
          </b-form-group>

          <b-form-group label="Actual Time Out">
            <b-form-input v-model="modalFields.actual_time_out" disabled></b-form-input>
          </b-form-group>

          <b-form-group label="Actual Time In">
            <b-form-input :type="`time`" disabled></b-form-input>
          </b-form-group>

          <b-form-group label="Status:">
            <b-form-input v-model="modalFields.status" disabled></b-form-input>
          </b-form-group>
        </b-form>
      </b-card>
    </b-modal>

    <b-modal
      no-fade
      id="modal-approveDialog"
      centered
      title="APPROVED"
      cancel-title="Back"
      hide-footer
      ref="modal_aprroveDialog"
      @hidden="clearSelected()"
      @close="clearSelected()"
      @cancel="clearSelected()"
    >
      <b-card>
        <b-form>
          <b-form-group label="Request Type:">
            <b-form-input v-model="modalFields.request_type" disabled></b-form-input>
          </b-form-group>

          <b-form-group label="Approver:">
            <b-form-input v-model="modalFields.updater" disabled></b-form-input>
          </b-form-group>

          <b-form-group label="Approval Time">
            <b-form-input placeholder="Approval Time" v-model="modalFields.approval_time" disabled></b-form-input>
          </b-form-group>

          <b-form-group label="Status:">
            <b-form-input v-model="modalFields.status" disabled></b-form-input>
          </b-form-group>
        </b-form>
      </b-card>
    </b-modal>
  </div>
</template>

<script>
import ToggleButton from "@/components/Dashboard/ToggleButton";
import axios from "axios";
import moment from "moment";
import { mapGetters } from "vuex";
import { isArray } from "util";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
export default {
  components: {
    ToggleButton
  },

  created() {
    // if (isArray(this.schedule_out)) {
    //   this.totalRows = this.schedule_out.length;
    // }
  },
  computed: {
    ...mapGetters({
      // getApprovedSchedule: "gatepass/getApproved",
      schedule_out: "gatepass/getScheduleOut"
    }),

    getRequest() {
      return this.schedule_out.filter(item => {
        const results =
          item.request_type.toLowerCase().match(this.filter) ||
          item.status.toLowerCase().match(this.filter);
        return results;
      });
    }
  },

  data() {
    return {
      emptyText: null,
      fields: [
        {
          key: "request_date",
          label: "Request Date"
        },
        {
          key: "request_type",
          label: "Request Type"
        },

        {
          key: "request_time_out",
          label: "Request Time Out"
        },

        {
          key: "request_time_in",
          label: "Request Time In"
        },
        {
          key: "status",
          label: "Status"
        },
        {
          key: "actions",
          label: ""
        }
      ],
      scheduleOut: null,
      isBusy: false,
      dateRange: {
        request_date_from: moment().format("YYYY-MM-DD"),
        request_date_to: moment().format("YYYY-MM-DD")
      },
      selectedItems: [],
      modalFields: {
        id: null,
        request_type: null,
        updater: "",
        actual_time_out: null,
        approval_time: null,
        status: null
      },
      filter: ""
    };
  },
  methods: {
    // Working On it
    clearSelected() {
      this.$refs.scheduleOutTable.clearSelected();
    },
    rowSelected(items) {
      try {
        this.modalFields.id = items[0].id;
        if (
          items[0].status.toLowerCase() === "approved" ||
          items[0].status.toLowerCase() === "pre-approved"
        ) {
          this.$refs["modal_aprroveDialog"].show();
          this.modalFields.status = items[0].status;
          this.modalFields.updater = items[0].updater;
          this.modalFields.approval_time = items[0].approval_time;
          this.modalFields.request_type = items[0].request_type;
        } else if (items[0].status === "Pending") {
          this.$refs["modal_cancelDialog"].show();
          this.selectedItems = items[0].item;
        } else if (items[0].status === "Time Out") {
          this.$refs["modal_timeOutDialog"].show();
          this.modalFields.status = items[0].status;
          this.modalFields.actual_time_out = items[0].actual_time_out;
          this.modalFields.request_type = items[0].request_type;
        }
      } catch (err) {}
    },
    async cancelRequest() {
      let loader = this.$loading.show({
        // Pass props by their camelCased names
        container: this.$refs.formCancel,

        color: "#0052cc",
        loader: "spinner",
        width: 128,
        height: 128,
        backgroundColor: "#ffffff",
        opacity: 0.5,
        zIndex: 999
      });

      const loginData = JSON.parse(localStorage.employee);
      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/gatepass/cancel_request`,
        data: {
          id: this.modalFields.id,
          status: "Cancelled",
          employee_id: loginData.id,
          modules: loginData.modules
        },
        headers: { Authorization: "Bearer " + loginData.token }
      })
        .then(res => {
          loader.hide();
          this.$store.dispatch("gatepass/GET_SCHEDULE_OUT", loginData);
          this.$bvToast.toast("Request cancelled", {
            id: "toast-display-request-added",
            title: `Gatepass Request`,
            variant: "primary",
            toaster: "b-toaster-bottom-right",
            solid: false,
            autoHideDelay: 3000
          });
        })
        .catch(err => {
          loader.hide();
          if (isArray(err.response)) {
            this.$bvToast.toast(`${err.response.data}`, {
              id: "toast-display-error",
              title: `Error`,
              variant: "danger",
              toaster: "b-toaster-bottom-right",
              solid: false,
              autoHideDelay: 5000
            });
          } else {
            this.$bvToast.toast(`${err}`, {
              id: "toast-display-error-unk",
              title: `Error`,
              variant: "danger",
              toaster: "b-toaster-bottom-right",
              solid: false,
              autoHideDelay: 5000
            });
          }
        });
      this.$store.dispatch("gatepass/GET_SCHEDULE_OUT");
    },
    showAbortModal(row) {
      this.$refs["modal_cancelDialog"].show();
      this.modalFields.id = row.item.id;
      this.selectedItems = row.item;
    },
    showApprovedModal(row) {
      this.$refs["modal_aprroveDialog"].show();
      this.modalFields.status = row.item.status;
      this.modalFields.updater = row.item.updater;
      this.modalFields.approval_time = row.item.approval_time;
      this.modalFields.request_type = row.item.request_type;
    },
    showTimeOutModal(row) {
      this.$refs["modal_timeOutDialog"].show();
      this.modalFields.status = row.item.status;
      this.modalFields.actual_time_out = row.item.actual_time_out;
      this.modalFields.request_type = row.item.request_type;
    }
  },
  beforeCreate() {
    this.$store.dispatch("gatepass/GET_SCHEDULE_OUT");
  }
};
</script>

<style>
.schedule-bold {
  font-weight: bold;
}
#modal-timeOutDialog .modal-header {
  background-color: red;
}
.v-icon {
  width: 20px;
}
</style>
