<template>
  <div class="body" id="dashboard-user">
    <scheduleOutTable />
  </div>
</template>

<script>
import scheduleOutTable from '@/components/SqaDashboard/scheduleOutTable'
import { mapGetters } from "vuex";
export default {
  layout: "sqaDashboard",
  head() {
    return {
      titleTemplate:`%s - Dashboard`
    };
  },
  components: {
    scheduleOutTable
  },
  computed: mapGetters({ getPendingRequests: "requests/getPendingLists" })
};
</script>

<style scoped>
.body {
  background-color: white;
}
</style>
