<template>
  <div class="body" id="dashboard-user">
    <div class="ml-5 mr-5 pt-3">
      <div>
        <b-card id="card_dashboard">
          
                <ScheduleOutTable id="schedule-table-tab" />
          <!-- <b-tabs
            card
            pills
            id="tab-schedule-out"
            fixed
            fill
            active-nav-item-class="text-uppercase"
          >
            <b-tab id="schedule_out" v-for="(tab,index) in tabDashboard" :key="index" :title="tab">
              <b-card-text v-if="tab==='Pending Requests'">
              </b-card-text>

              <b-card-text v-if="tab==='Approved'">
                <ApprovedScheduleOut id="approve-table-tab" />
              </b-card-text>
            </b-tab>
          </b-tabs> -->
        </b-card>
      </div>
    </div>
  </div>
</template>

<script>
import ScheduleOutTable from "@/components/Dashboard/ScheduleOut/ScheduleOutTable";
import ApprovedScheduleOut from "@/components/Dashboard/Approved/ApprovedScheduleTable";
import { mapGetters } from "vuex";

export default {
  layout: "dashboard",
  middleware: "notAuthenticated",
  data() {
    return {
      tabDashboard: ["Pending Requests", "Approved"]
    };
  },
  components: {
    ScheduleOutTable,
    ApprovedScheduleOut
  },
  
};
</script>

<style scoped>
.body {
  background-color: white;
}
</style>
