<template>
  <!-- TODO: Refactor to SFC(Single File Components) -->

  <div id="requests-view">
    <!-- New UI -->
    <div v-if="this.preferedUI === 'new'">
      <b-row style="background-color:#E9ECEF;height:43px">
        <b-col cols="11">
          <RequestHeader />
        </b-col>
        <b-col cols="1">
          <b-button
            class="mt-2 mr-1"
            variant="primary"
            size="sm"
            @click="newUI"
            title="Grid"
            disabled
          >
            <v-icon color="white" small>fa-th</v-icon>
          </b-button>
          <b-button class="mt-2" size="sm" variant="primary" @click="oldUI" title="List">
            <v-icon color="white" small>fa-list</v-icon>
          </b-button>
        </b-col>
      </b-row>
      <Prototype />
    </div>

    <!-- Old UI  -->
    <div v-else-if="this.preferedUI === 'old'">
      <b-row style="background-color:#E9ECEF;height:43px">
        <b-col cols="11">
          <RequestHeader />
        </b-col>
        <b-col cols="1">
          <b-button class="mt-2 mr-1" variant="primary" size="sm" @click="newUI" title="Grid">
            <v-icon color="white" small>fa-th</v-icon>
          </b-button>
          <b-button class="mt-2" size="sm" variant="primary" @click="oldUI" title="List" disabled>
            <v-icon color="white" small>fa-list</v-icon>
          </b-button>
        </b-col>
      </b-row>
      <b-card id="card-requests">
        <b-tabs
          id="tab-requests"
          card
          pills
          fixed
          fill
          active-nav-item-class="font-weight-bold text-uppercase"
        >
          <b-tab
            id="tab-request-content"
            v-for="(tab,index) in tabReports1"
            :key="index"
            :title="tab"
          >
            <div v-if="tab==='Pending'">
              <div v-show="role === 'admin' || role === 'pg'">
                <b-col lg="12" md="12" sm="12" class="mb-3">
                  <b-input-group>
                    <b-form-input
                      maxlength="100"
                      type="search"
                      v-model="filter"
                      placeholder="Search Pending Requests"
                      id="search-pending"
                    ></b-form-input>
                    <b-input-group-append>
                      <b-button :disabled="!filter" @click="filter = ''" id="search-clear">Clear</b-button>
                    </b-input-group-append>
                  </b-input-group>
                </b-col>
              </div>
            </div>

            <div v-if="role === 'th' || role === 'dh' || role === 'pdh'">
              <b-card-text v-if="tab==='Pending'">
                <PendingTable />
              </b-card-text>
            </div>
            <div v-if="role === 'pg' || role === 'admin'">
              <b-card-text v-if="tab==='Pending'">
                <b-tabs
                  id="tab-pending"
                  card
                  pills
                  fixed
                  fill
                  active-nav-item-class="font-weight-bold text-uppercase"
                  v-model="tabIndex"
                >
                  <b-tab
                    id="tab-pending-content"
                    v-for="(tab,index) in tabPendingReports"
                    :key="index"
                    :title="tab"
                  >
                    <b-card-text v-if="tab==='Without Deductions'">
                      <WithoutDeductionsTable :searching="filter" @changeTab="changeTab" />
                    </b-card-text>

                    <b-card-text v-if="tab==='With Deductions'">
                      <WithDeductionsTable :searching="filter" @changeTab="changeTab" />
                    </b-card-text>
                  </b-tab>
                </b-tabs>
              </b-card-text>
            </div>

            <b-card-text v-if="tab==='Approved'">
              <ApprovedTable />
            </b-card-text>

            <b-card-text v-if="tab==='Disapproved'">
              <DisapprovedTable />
            </b-card-text>
          </b-tab>
        </b-tabs>
      </b-card>
    </div>
  </div>
</template>

<script>
import Prototype from "@/components/RequestTable/Prototype";
import PendingTable from "@/components/RequestTable/PendingTable";
import ApprovedTable from "@/components/RequestTable/ApprovedTable";
import DisapprovedTable from "@/components/RequestTable/DisapprovedTable";
import RequestHeader from "@/components/RequestTable/RequestHeader";
import WithoutDeductionsTable from "@/components/RequestTable/WithoutDeductionsTable";
import WithDeductionsTable from "@/components/RequestTable/WithDeductionsTable";
import VueCookies from "vue-cookies";

export default {
  middleware: "authRequest",
  components: {
    PendingTable,
    ApprovedTable,
    DisapprovedTable,
    RequestHeader,
    WithDeductionsTable,
    WithoutDeductionsTable,
    Prototype,
    VueCookies
  },
  layout: "dashboard",
  data() {
    return {
      tabIndex: 0,
      preferedUI: "old",
      currentItem: "tab-Pending",
      tabReports1: ["Pending", "Approved", "Disapproved"],
      tabPendingReports: ["Without Deductions", "With Deductions"],
      filter: "",
      test: [],
      test1: "oldUI"
    };
  },
  methods: {
    oldUI() {
      VueCookies.set("UI", "old");
      this.preferedUI = VueCookies.get("UI");
      // this.test1 = "oldUI";
    },
    newUI() {
      VueCookies.set("UI", "new");
      this.preferedUI = VueCookies.get("UI");
      // this.test1 = "newUI";
    },
    getUser() {
      const employee = JSON.parse(localStorage.employee);
      this.role = employee.roleParam
        ? employee.roleParam
        : employee.role.name.split("-")[0];
    },

    changeTab(value, value2) {
      this.test.push({ value, value2 });

      if (this.test.length === 2) {
        const withindex = this.test.findIndex(x => x.value2 === 2);
        const withoutindex = this.test.findIndex(x => x.value2 === 1);

        if (this.test[withindex] && this.test[withoutindex]) {
          if (
            this.test[withindex].value === 0 &&
            this.test[withoutindex].value !== 0
          ) {
            this.tabIndex = 0;
          } else if (
            this.test[withindex].value !== 0 &&
            this.test[withoutindex].value === 0
          ) {
            this.tabIndex = 1;
          }
        }
        this.test = [];
      }
    }
  },
  created() {
    console.log(VueCookies.get("UI"));
    if (VueCookies.get("UI")) {
      this.preferedUI = VueCookies.get("UI");
    }

    this.getUser();
  }
};
</script>

<style scoped>
html {
  background-color: white;
}
</style>
